[2020-09-22 13:18] mondeja opened #1269 "substantive, adjetive, verbs, prepositions... provider or in lorem?"
It would be awesome if we can retrieve a random word as currently does the `lorem` provider with `faker.providers.lorem::word`, but filtering by word type:

- [ ] substantives
- [ ] adjetive
- [ ] verb
- [ ] preposition

Is this within the reach of `lorem` provider? Only we need to separate `word_list` by word type, but I know that is a lot of work to do because currently there are 16 locales.

An

[2020-09-22 14:29] fcurella commented on #1269
I'm not convinced this is needed often enough that it's worth implementing and maintaining.

Besides, how do we know which words are nouns, verbs etc in the 'Latin' lorem ipsum, since it's not real Latin?

[2020-09-22 14:36] malefice commented on #1269
In addition to what @fcurella has stated, what you are proposing is somewhat Western-centric, and the "constructs" you have in mind do not apply very neatly in other languages. In Mandarin Chinese for example, you can use adjectives as verbs, you can stack verbs, and there are verbs that can be interpreted as prepositions, and the insanity does not end there.

I have had formal education in differ

[2020-09-22 20:22] mondeja commented on #1269
Thanks for your responses, I maybe will implement this in a third party provider. Greetings!

[2020-09-22 20:22] #1269 closed

[2020-09-23 12:04] malefice opened #1271 "Regarding the badges in the README"
@fcurella you mentioned [here](https://github.com/joke2k/faker/projects/1#card-30332078) that it would be nice if the badges can refer to specific tags. I have already looked into this a little, and the TL;DR is that if you really want this, the path of least resistance is to make a branch that points to the release whose build status you want to be showcased, e.g. having a `stable` branch for the

[2020-09-23 12:52] LordGordonQ opened #1272 "VAT for IT provider generates invalid values"
* Faker version: `4.1.3`
* OS: Linux Debian

`company_vat` for `it_IT` providers randomly returns invalid VAT values.

### Expected behavior

As example, `company_vat()` generated the invalid value `IT00472451194`. This value is not valid because the last part of the code, `IT#######119#` is not a valid number for the algorithm that validates the Italian VAT (the [stdnum library](https://github.co

[2020-09-23 14:09] fcurella commented on #1272
Thank you for the report @LordGordonQ :)

Do you have time to work on a Pull Request to fix this?

[2020-09-23 14:11] LordGordonQ commented on #1272
Yes, working on it right now. Also adding some tests that are missing.

[2020-09-24 17:14] n1ngu commented on #490
I'd add: the color provider does not work at all! Try this out
[code]
etc

[2020-09-26 05:21] IgnisDa opened #1275 "Want to add a new feature: fake.post()"
This feature will add ability to generate random posts in Markdown language. They will depend on one of my libraries that I am currently working on, to create the markdown headers, tables etc.

Use case: I would personally be using this in a webapp that lets its users write posts in markdown. Since I can't find any python library that generates random posts in markdown format, I decided to write o

[2020-09-26 07:20] IgnisDa commented on #1275
I have decided to add this feature to my own package and add `faker` as a dependency. Closing this issue.

[2020-09-26 07:20] #1275 closed

[2020-09-28 15:35] #1272 closed

[2020-09-29 00:04] johnbrandborg commented on #1266
I would be happy to tackle this one.  My Wife is Danish, and I can speak some Danish myself.

[2020-09-29 00:07] johnbrandborg commented on #1266
I would be happy to try tackle this one.  Jeg taler også lidt dansk

[2020-09-29 12:10] malefice commented on #1200
This issue can now be closed.

[2020-09-29 14:01] #1200 closed

[2020-09-29 14:02] m-aciek commented on #1200
@iamnotagentleman Thanks!

[2020-09-29 14:24] embooglement opened #1277 "Ranges too small in some state ZIP codes in the en_US locale"
* Faker version: 4.1.2
* OS: MacOS X 10.15.6

It appears that in the `en_US` locale, two states are only associated with a single ZIP code. In particular, Texas will always return 73301, and Maryland will always return 20331. Additionally, Virginia only returns two ZIP codes, 20040 and 20041, and DC only returns 38 possible ZIP codes. While these are all technically valid ZIP codes for the corresp

[2020-09-29 15:28] malefice commented on #1277
@embooglement this is very similar to #1060, and I am not sure why #892 implemented it this way for some states, but feel free to submit a PR. I also think that we should include source(s) for these zip codes, but I am not from the US so I do not know where to find something (semi-)official for this.

[2020-10-01 09:19] molcay opened #1280 "Turkish translation for job provider"
* Faker version:
* OS:

The job provider does not contain Turkish translation. It is using the base job provider.

### Steps to reproduce
[code]

### Expected behavior

`j` will needs to hold a job title in Turkish(e.g: Opera sanatçısı)

### Actual behavior

`j` will hold a job but it will in English(e.g: Investment banker, corporate)

[2020-10-01 09:22] molcay commented on #1280
I will implement the job provider for this (actually, I have). If it is OK with you, I will make a PR.

[2020-10-01 15:06] fcurella commented on #1280
Thank you so much @molcay ! Go for it!

[2020-10-01 18:37] molcay opened #1286 "Turkish translation for Automotive provider"
* Faker version:
* OS:

The job provider does not contain Turkish translation. It is using the base automotive provider (`license_plate`).

### Steps to reproduce

import faker
f = faker.Faker('tr_TR')
lp = f.license_plate()

### Expected behavior

`lp` will needs to hold a license plate sample in Turkish(e.g: `25 MOT 93`)

### Actual behavior

`lp` is holding a license plate in English(e.g: `552

[2020-10-01 18:37] molcay commented on #1286
I will implement the automotive provider for this (actually, I have). If it is OK with you, I will make a PR.

[2020-10-01 19:49] #1277 closed

[2020-10-02 19:40] #1280 closed

[2020-10-03 12:38] frangiz opened #1293 "sv_SE curreny provider missing"
There are currently no provider for sv_SE handeling currencies.

[2020-10-03 18:48] iamnotagentleman opened #1296 "[REQUEST] Hacktoberfest Topic"
can we add the "hacktoberfest" topic, for the participate hacktoberfest event

details: https://hacktoberfest.digitalocean.com/

[2020-10-04 16:13] crd commented on #1161
This feels like a good use case for a new [Community Provider](https://faker.readthedocs.io/en/master/communityproviders.html).

[2020-10-05 11:40] malefice commented on #1296
@fcurella I am for this but with conditions. If we are to participate, I highly suggest that, within the window, we only accept PR's that are actually non-trivial. I checked my stats here, and my average commit size in this repository is around 600+ lines, and my total contribution in terms of number of lines is more or less equal to the repo's number 2 contributor's and is around twice as large a

[2020-10-05 15:56] fcurella commented on #1296
While I do appreciate every single contribution (including one-line typo), I don't want hacktoberfest to put more load on the shoulders of the existing contributors.

Considering that typo fixes are usually the first step for new contributors, I think we need to find a balance between welcoming those PRs, and the workload of current contributors.

I think a good starting point is to have a policy

[2020-10-05 21:30] Tenzer commented on #1296
@fcurella It can be done from https://github.com/joke2k/faker in the sidebar on the left hand side, click the cog:
<img width="333" alt="Screenshot 2020-10-05 at 22 27 04" src="https://user-images.githubusercontent.com/68696/95134045-1d99c580-075a-11eb-8555-9d6972e13959.png">
and then the topic can be added from that screen:
<img width="321" alt="Screenshot 2020-10-05 at 22 27 22" src="https://use

[2020-10-05 21:43] iamnotagentleman commented on #1296
Thanks for the answer 👍 @Tenzer

[2020-10-06 11:15] iamnotagentleman commented on #1296
@fcurella please check the @Tenzer answer

[2020-10-06 11:19] malefice commented on #1296
Nice! I didn't see the updates before I made my post, but this appears to be a much better compromise. We at least maintain some level of control against potential spammers and bad/low quality PR's. With that new info, I am OK with giving (both existing and new) contributors a pass for those "fix typos"/simple PR under the following rules:

1. If the person already made several/non-trivial contrib

[2020-10-06 15:36] fcurella commented on #1296
I don't have any control over the the repo's topic, that would have to be done by @joke2k .

I've created the label, but I can't give @malefice 's triaging permissions. @joke2k could you do that for me?

[2020-10-07 23:39] IgnisDa opened #1299 "I would like to add my community provider to the docs"
I have created a faker-provider that allows one to create markdown formatted posts. For this, I wrote my own markdown generator and then added faker functionality to it. The project is live at https://github.com/IgnisDa/python-random-markdown-generator/.

[2020-10-08 11:17] coiax opened #1301 "⏱️ `date_time_between_dates` ignores microsecond resolution"
* Faker version: 61c6c3ec3921c29cf4e42e902f41b314f7527ed0
* OS: Linux

When using the `date_time_between_dates` method, with dates that include microsecond precision, the basic assertion that the returned datetime is between or equal to the input dates is not always true.

I have noticed this issue in our own test suite, that generates a datetime between two datetimes twenty minutes apart.

Here i

[2020-10-08 11:18] coiax commented on #1301
I spent a couple of hours trying to fix this, but couldn't get to do so in a clean way that doesn't break other code's assumptions. A variety of functions call `date_time_between_dates` with `datetime.date` objects.

[2020-10-08 14:18] #1293 closed

[2020-10-08 14:39] #1286 closed

[2020-10-08 14:43] #1125 closed

[2020-10-08 14:43] #971 closed

[2020-10-08 14:46] fcurella commented on #1299
Closed in #1300

[2020-10-08 14:46] #1299 closed

[2020-10-12 03:23] IgnisDa opened #1305 "[REQUEST] fake.programming_language"
Pretty self explanatory. Faker should allow you to randomly generate valid programming language names. We can use this [Wikipedia list](https://en.m.wikipedia.org/wiki/List_of_programming_languages) to generate them.

This shouldn't be too hard to implement, so I can submit a PR for it soon once it is approved.

[2020-10-12 09:38] ahmetkotan opened #1306 "generate() function params parameter"
* Faker version: 4.9.0
* OS: python:3.8-slim-buster (Docker)

I'm using Faker with Django. I encountered **KeyError: 'locale'** when I'm creating fake password.

![image](https://user-images.githubusercontent.com/6793206/95730614-2c670780-0c87-11eb-96f0-fa30ba17e59d.png)

[code]

[code]

Default value needs to be defined for pop() function. Otherwise, I have to use it this way;
[code]

[2020-10-12 09:41] ahmetkotan commented on #1306
Sorry, issue is in the wrong place.

[2020-10-12 09:41] #1306 closed

[2020-10-12 14:17] fcurella commented on #1305
I don't think this is a common enough case to be included by default. I'd rather see this packaged as a [community provider](https://github.com/joke2k/faker/blob/master/docs/communityproviders.rst).

[2020-10-12 14:20] IgnisDa commented on #1305
I just added a community provider a few days ago #1300
Do you want me to create a new package for it or do I integrate it into the existing one?

I would personally prefer the first.

[2020-10-12 14:24] fcurella commented on #1305
I think a separate provider would be more appropriate

[2020-10-12 14:26] IgnisDa commented on #1305
Alright, you can expect a PR to your documentation soon!

[2020-10-13 14:34] #1196 closed

[2020-10-14 06:33] munichpavel opened #1307 "en_US should implement postcode, not postalcode, see #789"
* Faker version: Faker==4.1.6
* OS:OS X 10.15.6

Brief summary of the issue goes here.

### Steps to reproduce

1. `faker = Faker('en_US')`
1. `faker.postalcode()`, outputs postal code
1. `faker = Faker('de_DE')`
1. `faker.postalcode()`, results in `AttributeError: 'Generator' object has no attribute 'postalcode'`

### Expected behavior

The method convention for postal code should be uniform acro

[2020-10-14 14:51] fcurella commented on #1307
the `en_US` provider already implements [`postcode`](https://github.com/joke2k/faker/blob/master/faker/providers/address/en_US/__init__.py#L368-L369).

It was added in v4.14.0: (see: https://github.com/joke2k/faker/commit/8ad47c0467aa7240f46712b886a296b189157c5c) exactly for the reason you describe.

Try upgrading to at least `4.14.0`, that should fix your issue :)

[2020-10-14 15:13] munichpavel commented on #1307
Hi @fcurella !

Thanks for the feedback. As I mentioned, the issue is about consistency of the api, not missing features. The suggestion was to remove the (idiosyncratic) `postalcode` for locales `en_US` and `en_CA`, but if this would cause backwards compatibility issues or other head-aches, feel free to close.

[2020-10-14 15:40] #1307 closed

[2020-10-26 14:52] Szymon-I opened #1309 "UniquenessException for some functions."
* Faker version: 4.14.0
* OS: KDE Neon 5.20

The new feature unique generator goes into exception faker.exceptions.UniquenessException too fast on some functions.
Probably it will be better to add wrapper unique_if_possible for functions prefix/suffix, which has very limited output.

### Steps to reproduce

1. Generate few suffix through unique generator e.g.
[code]
### Proposition
New generator `

[2020-11-02 11:58] edomora97 opened #1311 "Sometimes generated person names end with a space (in it_IT)"
* Faker version: `Faker==4.14.0`
* OS: `Linux`

Sometimes the names it generates in Italian end with a space (e.g. `'Sig.ra Loretta Pagliaro '`), I suspect it's due to the fact that there are no suffixes defined.

Maybe the regression is introduced by https://github.com/joke2k/faker/pull/1030 (just a claim, it's the first time I use this library):

https://github.com/joke2k/faker/blob/299f6b6bbc18

[2020-11-02 21:26] fcurella commented on #1311
Thank you for the report, @edomora97 !

You are correct, the formats in `formats_male` and `formats_female` should not have any suffixes in them, since they are not defined anywhere in the Provider.

Would you mind submitting a Pull Request?

[2020-11-02 22:45] edomora97 commented on #1311
Sure, tomorrow I'll submit one!

[2020-11-04 15:26] djordjen commented on #457
Hi, not sure if this has been implemented so far?

[2020-11-04 15:57] fcurella commented on #457
Since this would be pretty hard to localize, I'd it would be better implemented as a [Community Provider](https://faker.readthedocs.io/en/stable/communityproviders.html)

[2020-11-04 20:59] #1311 closed

[2020-11-12 10:51] Loucool111 commented on #829
As of Nov 11, 2020, I'm still running into the same issue with Windows 10 2003 with Python 3.9.0 and faker 4.14.2

How do you suggest I fix this in the meantime?

[2020-11-13 22:35] Mattwmaster58 commented on #829
@Loucool111 It's been a while since I've worked with the lib, but maybe play around with my suggestion above and get something that is timezone agnostic.  Once you get that down submit a PR.

[2020-11-16 07:25] guillaume-azarias opened #1315 "Ideas"
* Faker version: 4.14.2
* OS: Not relevant

2 ideas

Great idea. Love it, please follow your effort, it's great.

I would advice to increase the visibility of your repo:
1) Show the different providers/types of item you generate at the top of your Readme file. Most of the reader won't open the extended docs and at best, think that you can only generate name, address, and lorem.
2) Make a password

[2020-11-17 00:51] bact opened #1318 ""latest" label on GitHub may need to update to the actual latest release (4.x.x)"
Currently, the "latest" release tag/label points to v.0.5.6 at https://github.com/joke2k/faker/releases/tag/v0.5.6

### Expected behavior

The label should point to the latest release (4.x.x)

### Actual behavior

The label points to v.0.5.6 release from 7 March 2016.

[2020-11-17 17:37] fcurella commented on #1318
Thank you for bringing this up, @bact !

I've added a GitHub action, so now releases will be created every time we push a release tag to the repo.

[2020-11-17 17:37] #1318 closed

[2020-11-17 18:18] bact commented on #1318
Thank you for prompt response!

[2020-11-17 20:06] Virako opened #1319 "image_url provider lorempixel is down"
* Faker version: all
* OS: all

Provider image_url lorempixel is down

### Steps to reproduce

Enter in lorempixel.com

### Expected behavior

The provider should be online

### Actual behavior

lorempixel.com is down

### Proposal change

I propose changed by http://picsum.photos

[2020-11-17 21:42] fcurella commented on #1319
Hi, thank you for the report @Virako.

https://lorempixel.com is currently working for me. Can you confirm?

[2020-11-18 06:48] Virako commented on #1319
Hi, today is working but is very slow, 90 seconds in load one image (100x100) and other times timeout and error. Yesterday, I was looking for in similar projects and I found this discussion in other similar repositories:
* https://github.com/Marak/faker.js/issues/641
* https://github.com/fzaninotto/Faker/issues/1884

[2020-11-19 14:29] AnjaGer opened #1322 "Spelling errors in city names"
* Faker version: master
* OS:  ---

There are spelling error in the city name in de_DE
https://github.com/joke2k/faker/blob/master/faker/providers/address/de_DE/__init__.py

For example:
line 39 'Büsingenm Hochrhein', correct 'Büsingen am Hochrhein'
lin  77 'Neustadtm Rübenberge' correct 'Neustadt am Rübenberge'
line 87 'Rothenburg oberauber' correct 'Rothenburg ob der Tauber'
line 82 'Pfaffenhofe

[2020-11-19 16:08] fcurella commented on #1322
Thank you for the report, @AnjaGer !

Could you submit a Pull Request with those fixes?

[2020-11-19 22:06] AnjaGer commented on #1322
@fcurella
I think I don't have the permissions to submit a pull request.
Should I send you the file via email?

[2020-11-19 22:37] fcurella commented on #1322
@AnjaGer You don't have permission to push, but you can fork, make your changes, and submit a Pull Request.

If you go to [the file](https://github.com/joke2k/faker/blob/master/faker/providers/address/de_DE/__init__.py) and click "Edit this file", GitHub will create a Fork and prepare the PR for you when you save your changes.

![Screen Shot 2020-11-19 at 4 36 26 PM](https://user-images.githubuser

[2020-11-19 23:10] AnjaGer commented on #1322
@fcurella
Thanks for the description. I did everything as you described. Could you please take over?

[2020-11-20 08:51] EpocDotFr commented on #1319
It's down for me as well.

[2020-11-20 15:48] #1322 closed

[2020-11-21 04:52] jeremywadsack opened #1324 "Russian name transliteration chokes on "тов.", etc."
* Faker version: 4.16
* OS: macOS Catalina 10.15.7

When generating person names, including Russian locale, `faker.providers.person.ru_RU.translit` crashes on names that include ".". These are included in the provided Russian names.

### Steps to reproduce

[code]
### Expected behavior

It should handle the "." character when transliterating them.

### Actual behavior

It crashes with this error:

[2020-11-22 21:08] bact opened #1325 "[Ref] References for postal/address format"
I found these refs can be useful for people who like to do the address provider.
Don't know where to put it, so I just put it here.

- Frank's Compulsive Guide to Postal Addresses: Effective Addressing for International Mail http://www.columbia.edu/~fdc/postal/
- OpenStreetMap's Address format https://wiki.openstreetmap.org/wiki/Name_finder/Address_format

[2020-11-23 09:53] mathrb opened #1326 "date_time provider str format"
* Faker version: 4.17.1
* OS: ubuntu 20.04

Formatting a datetime using %B seems inconsistent. We can generate day and month names based on the localization, but we can't generate a localized datetime.

### Steps to reproduce

[code]

### Expected behavior

According to the source code, d.date("%B") should be Août, since the method [month_name](https://github.com/joke2k/faker/blob/594d34414b137071

[2020-11-23 10:02] mathrb commented on #1326
Sorry about that. Just found out it's because each localized provider overrides month_name and day_of_week.

[2020-11-23 10:02] #1326 closed

[2020-11-25 01:57] prescod opened #1327 "Performance Optimizations"
* Faker version: Master branch

* OS: Mac OS

I am a Performance Engineer at Salesforce.org and I use Faker within my tool Snowfakery to generate hundreds of millions of rows of data. Some teams within my company have avoided Faker because they say it is too slow.

I'm a huge fan of Faker, but it is true that despite the complexity of Snowfakery overall (including writing to a SQL database), Faker

[2020-11-25 15:46] fcurella commented on #1327
Thank you! Nice work!

I agree with you, this is a feature flag worth having.

I agree this should be an initialization argument on the main constructor
class. We could have it as ‘distributions=True’, defaulting to the slower
behavior for backward compatibility.

On Tue, Nov 24, 2020 at 7:57 PM prescod <notifications@github.com> wrote:

[2020-11-25 17:11] bact commented on #1327
Very nice.

[2020-11-26 06:15] prescod commented on #1327
Have you guys seen this error?

[code]

[code]

I can test in tox but that's very slow.

[2020-11-27 09:53] bact commented on #1327
I'm thinking of a case that although there's no need to have a realistic distribution but at the same time would like to avoid rare entities to occur a lot in the data set. So proposed that we could have a one-time easy filter for this.

[code]

[2020-11-27 09:54] bact commented on #1327
How to get into this?
I normally go with tox.

[2020-11-27 17:02] prescod commented on #1327
I just ran "pytest" without tox.

[2020-11-29 19:07] prescod commented on #1327
@bact : I'm not opposed to your suggestion but I also haven't personally seen a use-case for it. Do you have a specific use-case in mind? In my datasets I don't care if "Waldo" appears as often as "John", personally.

[2020-11-30 14:35] MarkJB commented on #484
Was this fixed? I'm not able to create deterministic UUIDs with Faker-4.17.1
[code]
[code]

[2020-11-30 14:50] kevin-brown commented on #484
The tests which were added in #1050 (and closed out this ticket) are still in the repo at

https://github.com/joke2k/faker/blob/594d34414b137071f59b9fc75442206244c234cd/tests/providers/test_misc.py#L68-L75

I don't use Faker anymore, but after looking at the code it looks like it should now work with seeding and properly return v4 UUIDs.

[2020-11-30 15:11] MarkJB commented on #484
`.seed_instance()` was what I was missing.

I followed the link to the commit in #1050 and the tests where using .seed() which was what was thowing me.

[2020-11-30 15:27] fcurella commented on #1324
Thank you for the report, @jeremywadsack ! Could you submit a Pull Request?

[2020-11-30 15:47] fcurella commented on #1327
@prescod feel free to submit a PR whenever you have time :)

[2020-11-30 16:19] ddevault opened #1333 "test_date_pattern fails on 4.18.0"
* Faker version: 4.18.0
* OS: Alpine Linux

Brief summary of the issue goes here.

[code]

[2020-11-30 17:10] prescod commented on #1327
@fcurella Do you have an opinion on:

https://github.com/joke2k/faker/issues/1327#issuecomment-734748785

[2020-11-30 17:37] fcurella commented on #1333
@bact Can you take a look into this?

[2020-11-30 17:39] fcurella commented on #1327
@prescod That sounds too magical. I'd rather keep it simple and shift the responsibility to the user.

[2020-11-30 18:26] nicarl opened #1334 "Add mypy to typecheck the codebase"
* Faker version: master
* OS: all

How about adding mypy (http://mypy-lang.org/) to typecheck the codebase?
One could start to add type annotations and once the codebase is covered activate mypy type checking in the CI.

[2020-12-01 08:28] bact commented on #1333
Thank you. Will look at this.

[2020-12-03 22:51] ddevault commented on #1333
This is reproducible on 5.0.0.

[2020-12-04 05:33] UrielMaD commented on #1334
Hello @nicarl, can I help on typechek the codebase?

[2020-12-04 07:29] nicarl commented on #1334
Hey that would be great! At the moment I am using the following mypy.ini and mypy 0.790:

[code]

I think best is to go file by file. The root folder (containing `config.py`, `cli.py` ...) is a good place to start I think.

Should we check in the mypy config and already add the dependency?

[2020-12-04 19:54] UrielMaD commented on #1334
@nicarl sure! I'm kind of new contributing and I just started to using mypy, I saw that you just merged some files, so, could I start right into the root folder?

[2020-12-05 09:36] nicarl commented on #1334
Yes you can start in the root folder. You can just ping me if you get stuck.

[2020-12-05 17:40] bact commented on #1333
This is due to the difference on how `musl` and `glibc` handle unsupported directive for `strftime`.

For glibc, it will return the character part of the unsupported directive. So "%Q" will be "Q".
For musl, if it is an unsupported directive, it will just return "" (empty string).

I should probably remove that specific test, because the behavior of this unsupported directive handling is actually

[2020-12-05 20:07] bact commented on #1333
#1337 also got proposed to have an Alpine test environment on Travis.

[2020-12-06 18:20] #1333 closed

[2020-12-06 19:54] nicarl commented on #1175
Should we create one big pull request or go folder by folder and create several pull requests?

[2020-12-06 20:02] eumiro commented on #1175
If @joke2k agrees on this, then I believe a single PR with all automatic mechanisms would themselves enforce all the rules for the current code.

[2020-12-07 13:32] ddevault commented on #1333
Thanks @bact!

[2020-12-08 04:52] UrielMaD commented on #1334
@nicarl Hello again Nicarl, I just did a little implementation of type checking in the cli.py file, but I realize that this topic is deeper than I thought, I'm very interested on dive into this and I was wondering that I could need a little guidence on this

[2020-12-13 20:43] thijstriemstra opened #1346 "Travis badge in readme"
Even though it looks like travis is not used anymore.

[2020-12-14 09:55] bact commented on #1327
Agree to keep it simple.

[2020-12-14 15:22] #1346 closed

[2020-12-14 15:24] fcurella commented on #1346
Thank you for the report, I've updated the badge to use GH Actions

[2020-12-15 09:44] TheoSinnige opened #1347 "Can `Jasperdr.` be deleted from `person/nl_NL`"
* Faker version: v0.4.1
* OS: any

The surname 'Jasperdr.' should be removed from the nl_NL locale. It looks like its a combination of the Dutch first name 'Jasper' and the abbreviation 'dr.' (meaning Doctor, holder of an academic degree).

I'm willing to provide a pull request for this.

[2020-12-15 18:09] fcurella commented on #1347
Thank you for the report! Feel free to submit your Pull Request whenever you have time :)

[2020-12-15 21:16] #1347 closed

[2020-12-22 23:45] JoseNavy commented on #1151
Is this issue still active? I didn't find any provider for `dk_DK` and would like to help!

[2020-12-28 01:07] JoseNavy opened #1352 "Missing tests in various address providers"
* Faker version: 5.0.2
* OS: Mac OS Big Sur

While creating another provider for a PR and doing it's necessary tests, I noticed that there are some address providers that don't have tests. I think that every provider should have it's test for uniformity and assurance that the provider works, but I don't know if they are really necessary. The list of address providers without tests are:

- [ ] en_N

[2020-12-29 05:10] fcurella commented on #1352
Thank you for looking into thism @JoseNavy !

Yes, we should have tests for those providers. A Pull Request would be very much appreciated :)

[2020-12-30 09:02] joojis opened #1356 "A wrong ssn format for ko_KR"
https://github.com/joke2k/faker/blob/2253262531ece32ae9586efd5c46376e0c9c9d06/faker/providers/ssn/ko_KR/__init__.py#L5

### Expected behavior

The format of the first 6 digits is `yymmdd`(birthdate). So the `mm` part must be a number between `1` and `12`.

### Actual behavior

With the given formats, `mm` can be `00` which is invalid.

[2020-12-30 15:53] fcurella commented on #1356
Thank you for the report! Do you mind submitting a Pull Request?

[2021-01-02 16:10] mrshu commented on #829
This is a wild guess, but having ran into this issue while debugging an unrelated project [0], I am wondering whether the culprit may be some characters that are not permitted as Windows filenames (such as say colons). Here is the (potentially) relevant StackOverflow answer: https://stackoverflow.com/questions/43196750/python-oserror-errno-22-invalid-argument

Cheers!

[0] https://github.com/RoboC

[2021-01-06 05:10] joojis commented on #1356
Sorry for the late reply. I think I can send a PR this weekend.

[2021-01-07 15:23] #1151 closed

[2021-01-08 14:19] x-yuri opened #1359 "Reproducible randomness can't be achieved on Python < 3.6"
* Faker version: 5.0.0
* OS: Alpine Linux

One would expect `faker` to produce identical results given that the seed doesn't change. With some providers that is not the case.

This was already [reported][1] before. But since [then][2] [more `dicts`][3] were introduced.

I'm reporting it since I ran into it recently. But considering that Python 3.5 is no longer supported, I'm not sure if it makes s

[2021-01-08 16:36] fcurella commented on #1359
Hi @x-yuri !

As you noted, Python 3.5 is not supported. We stated it in the [README](https://github.com/joke2k/faker#compatibility) and fixed our [`setup.py`](https://github.com/joke2k/faker/blob/master/setup.py#L64) in 5.0.1 to prevent installation.

We simply don't have resources to spend addressing issues with an [EOL'd Python version](https://www.python.org/dev/peps/pep-0478/).

I appreciate

[2021-01-08 16:36] #1359 closed

[2021-01-08 23:54] prescod opened #1361 "Arabic names are sometimes empty"
* Faker version: 5.4.0
* OS: Mac, Linux, Windows

My pull request fails when ar_PS or one of the other Arabic generators generates the empty string. I don't know what about my branch triggers this bug but the bug seems to exist on master.

### Steps to reproduce

Run this program:

https://repl.it/talk/share/Faker-bug-relating-to-arabic/113973

[code]

### Expected behavior

The program should pri

[2021-01-09 06:49] prescod commented on #1361
I can reproduce the issue in pytest on master with a carefully crafted test case. I'm not sure why it shows up more often on my optimization branch however.

https://github.com/joke2k/faker/pull/1362/commits/badd77b5156cfeff3649ea9e70176e2f415ce3c0

[2021-01-11 16:08] fcurella commented on #1361
Thank you so much for your work, @prescod! It's been very helpful.

There is an empty in string in the [`first_names_female` of the `ar_AA` Person provider](https://github.com/joke2k/faker/blob/master/faker/providers/person/ar_AA/__init__.py#L38). I swear I've look at that file at least a dozen times before, and couldn't find it.

I'm going to remove the empty string, and you can rebase your branc

[2021-01-11 20:23] #1327 closed

[2021-01-11 22:07] DanielHarrisSeequent opened #1367 "Random sentence of length 1 fails"
* Faker version: 5.5.0
* OS: Ubuntu 20.04.1

Creating a random sentence of length 1 fails because it attempts to titleize the first word of the sentence, but `random_choices`  is returning a tuple which is immutable.

This also occurs sometimes with 2 or 3 length sentences, although I presume that under the hood they are randomly selecting sentences of length 1.

This works as expected in Faker ve

[2021-01-11 22:49] fcurella commented on #1367
Hi, Thank you for the report @DanielHarrisSeequent !

I've made a Pull Request with a fix. It should be released today, pending CI :)

[2021-01-11 22:52] DanielHarrisSeequent commented on #1367
Cheers

[2021-01-12 02:06] lewis-grimmett commented on #1367
@fcurella Hi I was just about to report this and a fix - FWIW I think the real issue is here: https://github.com/joke2k/faker/blob/acdfc155099722414be5e46103ad09c3bf19c58b/faker/utils/distribution.py#L64 where a tuple is returned erroneously

[2021-01-12 02:53] couyang24 opened #1369 "Documentation mistype"
* Faker version:5.5.0
* OS: NA

In [Multiple Locale Mode](https://faker.readthedocs.io/en/stable/fakerclass.html#multiple-locale-mode) session
[code]

### Should be changed to

[code]

[2021-01-12 17:01] aimestereo opened #1371 "v5.5.0 broke sentence provider"
* Faker version: v5.5.0
* OS: macOS Big Sur

I estimate, that this PR broke it: https://github.com/joke2k/faker/pull/1348#pullrequestreview-566475654
and I left review on lines that I highly suspect

### Steps to reproduce

[code]

### Expected behavior

2 word sentence

### Actual behavior

[code]

Another test:

[code]

[code]

[2021-01-12 17:35] prescod commented on #1371
It looks like @fcurella already discovered the problem:

https://github.com/joke2k/faker/pull/1368

[2021-01-12 17:57] aimestereo commented on #1371
clone of https://github.com/joke2k/faker/issues/1367

[2021-01-12 17:57] #1371 closed

[2021-01-12 20:00] #1367 closed

[2021-01-12 22:16] #1369 closed

[2021-01-15 15:55] #1324 closed

[2021-01-26 18:17] Pomax opened #1385 "Add the old docs?"
I'm trying to find the docs for v2 and v3 because I have an old codebase that I need to uplift, but the readthedocs site only has "master", which isn't super useful =(

Is it possible to add the docs for all the old versions, too, so that folks can read the docs rather than having to mine github? A good example of this is Wagtail, where the docs for each previous version are kept available for fol

[2021-01-27 01:40] #1361 closed

[2021-01-27 06:33] prescod opened #1386 "Synchronize states and countries?"
Brief summary of the issue goes here.

People often use my Snowfakery tool to write programs that randomly choose a locale and generate an address for the locale. There are two challenges that I'd like to ask for advice on.

1. The name for the field bigger than city but smaller than country varies from place. State, province, prefecture, ... A lot of databases have a single field for this concept

[2021-01-27 16:13] fcurella commented on #1386
We have done that for `postcode`, (eg 3d5f440308499db2c198f5b69232656ad0e70a30, 75545664912ea4262cd2130249bdca868c2c28e9).

Some locales used to have `zipcode` and some had `postcode`. We made sure all had `postcode`, and aliased the "localized method" to it. We could the same for `administrative_area`.

There currently isn't anything like that, but it wouldn't be too hard to add ``current_country

[2021-01-27 22:04] sciencectn opened #1387 "pyfloat provider with positive=True sometimes returns zero"
* Faker version: 5.8.0
* OS: macOS 11.1

Call pyfloat with positive=True, and it will sometimes return a zero.

### Steps to reproduce

Here's an example:

[code]

### Expected behavior

It should always print `False` always.

### Actual behavior

Sometimes it's `True` with f.pyfloat() returning zero.

[2021-01-28 01:35] prescod commented on #1386
With respect to `current_country()` : Do I have to manually add it to every Provider or is there a way to infer from the locale what the country is (in the locale language!).

With respect to `administrative_area`? What do you think about having both that name and also `state` as a short alias for it?

Should administrative_area raise or return empty string when a country has none?

Possible prece

[2021-01-28 11:04] ftisiot opened #1388 "command line doesn't work with misc.json provider"
* Faker version: 5.8.0
* OS: MAC

There is no way of passing parameters from command line to
`faker json`
since anything tried so far breaks with error
`TypeError: Invalid data_columns type. Must be a dictionary or list`

### Steps to reproduce

1. install Faker
2. execute `faker json '{"employee_name":"name"}'`

### Expected behavior

I should be able to pass the expected JSON structure as string

[2021-02-01 05:11] prescod commented on #1386
@fcurella what are your thoughts on this? ^

[2021-02-01 15:11] fcurella commented on #1387
Thank you for the rpeort, @sciencectn !

Would you mind submit a Pull Request?

[2021-02-01 15:29] fcurella commented on #1386
I think we can find a way to infer `current_country` and just implement it in the Base Provider class.

If all we need is the current country _code_, then all we have to do is something like `current_locale.split('_')[1]`. If we want the name, we'll have to map that code to a localized name somewhere.

re `administrative_area`: I would expect the behavior to be exactly the same as with `postcode`.

[2021-02-01 16:10] Tenzer opened #1390 "pyfloat requires a range of at least 1"
* Faker version: 5.7.0
* OS: Linux (Docker container)

pyfloat cannot work with ranges less than 1 apart.

### Steps to reproduce

[code]

### Expected behavior

An float with a value between 0.0 and 0.1 should be generated.

### Actual behavior

I get this exception:
[code]

[2021-02-01 18:59] prescod commented on #1386
It's that mapping of (current_locale, country_code) -> string that I'm looking for. We have *lists* of countries for each locale, but the lists are probably not in a reliable order and I don't think they are indexed by country code.

I guess I could implement it for English and then let every language implementer override it when they get a chance?

[2021-02-03 00:28] dgajendr opened #1392 "Faker changes data for same seed"
* Faker version:4.17.1
* OS:mac OS Catalina

Brief summary of the issue goes here.

### Steps to reproduce

1. Initialize faker based on a constant: Faker.seed(int(constant_string))
2. Generate data such as faker.ssn(), faker.first_name() etc
3.

### Expected behavior

The generated data should never change anytime based on a constant seed.

### Actual behavior

After a period of time, not sure wh

[2021-02-03 03:33] sciencectn commented on #1387
Sure, I'll give it a shot.

[2021-02-03 04:39] sciencectn commented on #1390
See #1068

[2021-02-03 04:41] sciencectn commented on #1387
Let me know what you think: #1393

[2021-02-03 10:28] Tenzer commented on #1390
Ah, you're right. It's the same issue. I'll close this one then.

[2021-02-03 10:28] #1390 closed

[2021-02-03 16:08] #1387 closed

[2021-02-03 18:06] kingfei521 opened #1394 "py2app package faker AttributeError: Invalid configuration for faker locale `xx_XX`"
* Faker version: 5.8.0
* OS:Mac 11.1

when I packageing text.py with py2app,

test.py
`
    from faker import Faker
    lan = 'zh_CN'

    def out():

    fake = Faker(locale=lan)
        for _ in range(10):
            logger.info(fake.name())

    if __name__ == '__main__':
        out()
`

### Steps to reproduce

1. py2applet --make-setup test.py
2. config setup.py
`
    from setuptools import

[2021-02-05 22:57] sciencectn commented on #1068
Looks like we just went to 6.0.0, does this mean we can change the signature of this function and break compatibility?

I think @fcurella's proposal to drop `left_digits` and change `right_digits` to `precision` makes the most sense. Then allow `min_value` and `max_value` to be floats.

I can do the PR if you don't have anything in the works yet, let me know.

[2021-02-17 12:50] matusvalo opened #1397 "Faker is missing sk_SK locale for Automotive provider"
* Faker version: 6.1.1
* OS: GNU/Linux

Brief summary of the issue goes here.

Faker is missing license plates for sk_SK locale

### Steps to reproduce
[code]
### Expected behavior
Based on wikipedia: https://en.wikipedia.org/wiki/Vehicle_registration_plates_of_Slovakia
[code]
### Actual behavior
[code]

[2021-02-17 15:07] #1386 closed

[2021-02-17 15:29] #1397 closed

[2021-02-19 08:19] michjnich opened #1400 "Generate specific Swedish MSISDNs"
* Faker version: 6.3.0
* OS: Any

No ability to generate a Swedish mobile number.

### Steps to reproduce
1. Run `Faker().msisdn()` when locale set to `sv_SE`

### Expected behavior
X should be a random msisdn in the Swedish format

### Actual behavior
X is random global MSISDN

Swedish MSISDNs start with `07` (or 00467, or +467), and are of the form +467ssnnnnnn, where 07ss is the number series,

[2021-02-19 15:43] fcurella commented on #1400
[`pt_BR`](https://github.com/joke2k/faker/blob/66e29ce5838720906a74b6a86ab3b73234201def/faker/providers/phone_number/pt_BR/__init__.py) simply overrides the `msisdn_formats` and always returns local MSISDNs. I think the `sv_SE` provider should do the same.

The expectation is that if a localized provider is missing a method, it would fall back to what's in the `en_US` provider. If anything, the bu

[2021-02-21 11:10] michjnich commented on #1400
That makes sense. I guess really there should be a "global" method that `en_US` inherits from and overrides in the same way.

Adding the `global` and defaulting to `False` would change behavior for existing Swedish implementations. It woul dhave to default to `True` for it not to make a difference, but I think you're right in that `False` should be the default.

I can sort this during the week pro

[2021-02-22 21:00] chitopunk commented on #1392
@dgajendr have you found a workaround for this?

[2021-02-22 23:43] dgajendr commented on #1392
@chitopunk No, I am still looking for a solution. Do you know the root cause of this?

[2021-02-23 22:42] tomage opened #1402 "Calling pyfloat with `right_digits` and `positive` set can yield much smaller number (sys.float_info.epsilon)"
* Faker version: 6.4.1 (latest as of submitting this issue)
* OS: OSX 10.14.6

Calling pyfloat with `left_digits=0`, `right_digits=N` and `positive=True` can yield a value with way more right digits than `N`.

### Steps to reproduce

This _can_ happen (if you're "lucky"):
[code]

A more surefire way to reproduce this is to run in a for-loop, i.e.:
[code]

Out of the 1000 calls, about 10 should pri

[2021-02-23 22:45] tomage commented on #1402
Note: I'm def. not suggesting my approach to solving it is the way to go (the while-loop until you get a valid value) :)
But that seemed the neatest way in my code to fix this temporarily.
Not sure how best to fix this in the code - didn't wanna dive that deep unless you wanted me to suggest a PR/patch.

[2021-02-24 15:54] fcurella commented on #1402
Thank you so much for your very detailed analysis, @tomage ! Really great work!

I'll be happy to review your PRs if you have time to work on it. I'd just ask if we could have 2 PRs: one for the "side problem" you mentioned (the "concatenating 10" problem), and the one for `float_info.epsilon`

[2021-02-25 08:11] tomage commented on #1402
Well, I'll be happy to contribute @fcurella !
And yeah - would definitely write up in two separate PRs (I'm a stickler about keeping gits and PRs atomic!).

I'll follow the contribution guidelines and hopefully come up with a patch in a day or two.

[2021-03-08 20:53] tomage commented on #1402
Taking the liberty to close this issue (CC @fcurella  - not sure if the policy is to keep these open until whatever fix goes out into a release..? But feel free to re-open if that is the case).

[2021-03-08 20:53] #1402 closed

[2021-03-15 06:43] EricOuma opened #1409 "Feature Request: Fake JWT Tokens"
From the reading I have done, I believe this feature does not exist.

Could we have a feature for generating fake access and refresh tokens:
[code]

Sort of what happens here [https://django-rest-framework-simplejwt.readthedocs.io/en/latest/creating_tokens_manually.html](https://django-rest-framework-simplejwt.readthedocs.io/en/latest/creating_tokens_manually.html)

[2021-03-15 22:37] tomage opened #1410 "Limit interface for pyfloat"
This is more of an observation of an interface to one of the faker methods, hope it's alright I didn't follow the issue-reporting format, and that my feedback here is useful :)

### A possible problem

I recently did some work on the `pyfloat` method of the Python provider class. But I was having some trouble finding the next place to take it.

It is namely quite a bit less trivial than I thought

[2021-03-16 15:49] fcurella commented on #1409
This sounds like a useful feature, but I'm not sure how we could implement it in a way that's easy to use _and_ still be useful.

* How would the payload to be encoded look like?
* How long should the token last?
* How much  customization should we allow? Are we going to end up with a method accepting [all these arguments](https://django-rest-framework-simplejwt.readthedocs.io/en/latest/settings.h

[2021-03-21 09:58] EricOuma commented on #1409
I thought of this as I was writing tests for my DRF API and I needed to test that invalid tokens can't be used. I found a way around this. Thank you.

[2021-03-21 09:58] #1409 closed

[2021-03-23 00:08] l33tr4n555 opened #1412 "Idea: Generating Australian Business Number (ABN)"
### Faker ABN:

Here is the python code I used in my test to generate ABN
Please add it to the faker if possible.
Thanks,

[code]

[2021-03-23 14:11] fcurella commented on #1412
Hi @l33tr4n555 !

Feel free to submit a Pull Request, I'll be happy to review it :)

[2021-03-23 20:45] l33tr4n555 commented on #1412
I tried to create a branch fix/master/1412-ABN from this repo, I can't push it back

I tried to fork this repo and then create a branch branch fix/master/1412-ABN. I can't push it back.

Any permission need to change here?

[2021-03-23 20:56] fcurella commented on #1412
@l33tr4n555 are you sure you're pushing the new branch to your fork? GitHub has a good [guide about making Pull Requests from a fork](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork).

[2021-03-23 20:58] l33tr4n555 commented on #1412
my bad authorization is out dated. I synced up again ... All good now

[2021-03-24 02:56] cbogithub opened #1414 "create radom credit card win bin"
* Faker version:
* OS:

Brief summary of the issue goes here.

### Steps to reproduce
hi, fake can have feature create random credit card same https://namso-gen.com/

[2021-03-24 10:04] rossjones opened #1415 "pytuple can occassionally return fewer than expected elements"
* Faker version: 6.1.1
* OS: Mac OSX 10.15.5

Sporadically using pytuple may result in the tuple having less than the requested elements (`nb_elements`) even when `variable_nb_elements` is set to False.

This happens because pytuple relies on pyset, returning `tuple(self.pyset(...))`. Because it delegates to a set rather than a list, any duplicate numbers generated will result in the set, and foll

[2021-03-24 19:10] fcurella commented on #1414
Hi @cbogithub

We already have a [credit card number generator](https://faker.readthedocs.io/en/master/providers/faker.providers.credit_card.html). Is there any specific feature you're missing?

[2021-03-25 02:57] cbogithub commented on #1414
hi @fcurella , can i create fake credit card with format : 453590xxxxxxxxxx  ?
, it's mean if give 453590 will create
4535902177714238, 4535901004503681,4535907668266846 ,....453590xxxxxxxxxx

[2021-03-25 19:23] efung opened #1417 "gmail.co.uk isn't a valid free email domain in the UK"
* Faker version: 6.6.2
* OS: macOS 11.2.3

When generating a free email address, I got a result with the domain `gmail.co.uk`. From the source code, this list of free UK email domains was copied from the PHP version of Faker, which is now archived.

According to [this Google support thread](https://support.google.com/mail/thread/4572636?hl=en) (albeit not necessarily from someone with the authorit

[2021-03-25 19:27] #1415 closed

[2021-03-25 21:52] rossjones opened #1418 "Allow partials as value_type?"
* Faker version: 6.1.1
* OS: OSX 10.15.5

I'd like to use pytuple, but instead of just providing 'int' as
a value type, I'd like to have a bounded integer, with perhaps
a maximum or a minimum value.

My app requires integers used for a specific values are
non-zero to pass validation, but currently I cannot enforce
this when using pytuple.

Could I submit a PR to achieve this?

### Steps to reprodu

[2021-03-26 14:40] efung opened #1419 "Provide API to return address parts that are all from the same locale"
* Faker version: 6.6.2
* OS: macOS 11.2.3

When generating addresses, there may be times when you do not want to replace a full mailing address, with the street address, city, state/province/region, country, post code.  You might only want to replace a city and state, or a city and post code.

Currently, if Faker is configured with multiple locales, calling `fake.city()` and `fake.state()` might r

[2021-03-28 16:38] prescod commented on #1419
Yes I've been thinking about how to add this feature to Snowfakery (which is built on Faker) as well.

https://github.com/SFDO-Tooling/Snowfakery/issues/233

[2021-03-28 17:34] prescod commented on #1392
Your faker version is very old.

Please install the latest and see if this test program breaks for you.

[code]

[2021-03-28 17:35] prescod commented on #1392
(actually I don't know for sure that my values will work on your computer so you may need to adjust them)

[2021-03-28 18:48] lucazav opened #1420 "Generate a fake email that is consistent with a fake name"
Hi all,

is it possible to generate a fake email that is consistent with a fake name? For example, if a name is "John Smith", I expect to have an email like "johnsmith@example.com".
Simply put, is there a way to use the `safe_email()` (or the `email()`) function like this:

[code]

Thank you.

[2021-03-29 07:23] mgorny opened #1421 "Faker adds path objects to sys.path_importer_cache, breaking other packages"
* Faker version: 6.6.3
* OS: Gentoo Linux

After importing `faker`, entries with `PosixPath` objects are added as keys to `sys.path_importer_cache`. However, the keys are supposed to be regular `str`s there, and the wrong type breaks software relying on `str` methods being available, e.g. astroid:

[code]

Note that since Faker installs a pytest plugin, it is autoloaded by default in all programs'

[2021-03-29 14:16] fcurella commented on #1421
Thank you for the repot @mgorny ! Would you mind submitting a Pull Request?

[2021-03-29 14:18] #1296 closed

[2021-03-29 14:32] mgorny commented on #1421
I actually hoped you know the code better and know where these paths are added. If you can tell me that, I can try. However, I'm really short on time these days.

[2021-03-29 14:38] fcurella commented on #1421
@mgorny

I think the root of the problem is [this line](https://github.com/joke2k/faker/blob/master/faker/utils/loading.py#L25), where we're returning a `Path` objects instead of a string.

I can write the Pull Request, but I'd like for you to try my changes to see if they fix your issue.

[2021-03-29 18:25] #1421 closed

[2021-04-05 12:13] vicodeveloper commented on #1319
https://lorempixel.com is down :(

[2021-04-05 13:18] nickjj opened #1424 "Add new optional argument to the hex color functions to skip adding the leading #"
* Faker version: 7.0.1
* OS: Ubuntu

Currently we have these 3 functions to generate a random hex color:

[code]

[code]

[code]

It would be nice if we had an optional argument to skip outputting the leading `#` so it only returns the hex color itself. That could be done by adjusting the return value to have `[1:]` applied if it's set.

As for the argument name, that's up to you. Maybe it could b

[2021-04-06 08:44] pudo opened #1425 "What is the semantics of faker major versions?"
In general [semver](https://semver.org/) parlance, a major version upgrade indicates that a package has made significant, breaking changes to its API. This seems to occur with `faker` about every month or so in the last while, making it by far the fastest moving dependency among the 100 or so Python packages we depend on. Yet I've noticed that none of these major API versions really broke the API

[2021-04-06 13:20] fcurella commented on #1425
We upgrade the Major version every time a change could break compatibility
with _any_ of users. So the last breaking change may not have broken
anything for you, but broke for other people that use Faker in
different ways than yours (in this specific case, using the CLI).

I do agree the pace can be too much. Maybe we can have a policy where we
delay breaking changes so we don’t have more than one

[2021-04-14 05:52] prescod opened #1427 "How to make a provider which is locale aware?"
* Faker version: 8.1.0
* OS: All

I cannot infer from the docs how I make a custom Faker provider which supports multiple languages.

[2021-04-14 07:22] pudo commented on #1425
Thanks very much for your response. If there could be some bundling of breaking changes that makes major version releases a bit less frequent, it would indeed make adopting the library a bit less involved :) Appreciate your thoughts.

[2021-04-14 07:22] #1425 closed

[2021-04-15 05:30] Asifkrishaweb commented on #753
(env) asif@asif:/var/www/spid-testenv2$ python spid-testenv.py
DEBUG:faker.factory:Not in REPL -> leaving logger event level as is.
DEBUG:faker.factory:Looking for locale `it_IT` in provider `faker.providers.address`.
DEBUG:faker.factory:Provider `faker.providers.address` has been localized to `it_IT`.
DEBUG:faker.factory:Looking for locale `it_IT` in provider `faker.providers.automotive`.
DEBUG:f

[2021-04-15 14:18] fcurella commented on #1427
Hi @prescod ,

In order to localize a Provider, you'll have to create a Python package containing modules for each of the supported locales, and each locale will have its own Python class. You can take a look at any of our localized provider (eg: [`address`](https://github.com/joke2k/faker/tree/master/faker/providers/address), or [`lorem`](https://github.com/joke2k/faker/tree/master/faker/provider

[2021-04-16 12:55] jaraco commented on #753
@Asifkrishaweb, it appears you're running your flask app in debug mode, so it's no surprise that you're seeing debug statements from faker. You can ignore those or you can filter out the debug messages by setting the faker log level as indicated above. Your server appears to have been started and I don't see any errors. Everything is working as intended.

[2021-04-19 15:39] dkotschessa opened #1430 "Update readthedocs with latest providers"
I am very grateful that my community provider has been added to the list of community providers in the documentation:
https://github.com/joke2k/faker/blob/master/docs/communityproviders.rst

However - and perhaps I am being too impatient - it has been 4 days - the documentation has not been refreshed here:
https://faker.readthedocs.io/en/master/communityproviders.html

Please let me know if it wil

[2021-04-19 15:46] dkotschessa commented on #1161
@airstrike I a,m looking for contributions to make to this project.  I have recently created a community provider and was looking for another issue to work on.  Has this been initiated in any way?  It looks like a good one to work on.

[2021-04-19 16:25] fcurella commented on #1430
Hi @dkotschessa

the docs are spposed to built automatically every time there's a commit to master, but the build is broken.

I'm in the process of fixing it. I'll keep you posted!

[2021-04-19 16:26] fcurella commented on #1430
The docs build is now fixed. Thanks for your patience!

[2021-04-19 16:26] #1430 closed

[2021-04-19 16:49] dkotschessa commented on #1430
@fcurella great! thanks!

[2021-04-20 05:47] Asifkrishaweb commented on #753
spid/acs post url  not worked [image: Screenshot from 2021-04-20
10-28-26.png]
[image: Screenshot from 2021-04-20 11-16-09.png]

may you please help for the same

thank you

On Fri, Apr 16, 2021 at 6:25 PM Jason R. Coombs ***@***.***>
wrote:

[2021-04-20 22:59] airstrike commented on #1161
Great to hear! I have not started on this at all, so I'm sorry to report I don't have anything to provide off-the-shelf to help jump start this exercise, but if there's anything I can help with, please let me know

[2021-04-21 14:43] dkotschessa commented on #1161
@airstrike Meet me over in https://github.com/dkotschessa/faker_codename/issues

I used my last provider as a template repository, but haven't done anything yet.  There's plenty you can do depending on how involved you want to be.  For a start you could edit the README to demonstrate what this might look like in practice.   If you stop there, cool, I'll take off with it, though maybe some lists wo

[2021-04-22 12:17] 2000prath commented on #1420
This will help
you can add as many email provider name in `mails` list
[code]

[2021-04-22 12:26] 2000prath commented on #1424
add one positional argument in function to `skip_hash `
[code]

[2021-04-23 04:35] bact commented on #1417
@efung please see the proposal in #1432 - removing gmail.co.uk in en_GB

[2021-04-23 14:27] #1417 closed

[2021-04-29 14:19] fcurella commented on #1424
Couldn't you apply the slicing to the returned value in your code?

[code]

Seems to be like adding arguments to the signature would more complex than just having users converting the results to their more specific use-case. What if you need uppercase and no hash (eg `CC5500`)? Should we also add an `uppercase=False` argument?

[2021-04-29 20:56] nickjj commented on #1424
Sure, I've ended up creating my own local "faker" module which then calls yours which strips the prefix. I didn't want to inline parse the return value where I called it directly because it doesn't feel like the right abstraction.

At some point you need to draw the line I suppose.

In my case with the `#` this is a difference of storing 6 characters or 7 characters in a database for around 175,00

[2021-04-29 22:19] warvolin opened #1435 "faker CLI - outputting multiple columns at once"
* Faker version: latest
* OS: OSX

I was trying to use the CLI feature of faker to create a quick sample file, but I could not figure out how to get it to output more than one column at a time. Is this even possible?

### Steps to reproduce

`faker -s"," uuid4` works
`faker -s"," user_agent` works
`faker -s"," uuid4 user_agent` --> Error `TypeError: 'str' object is not callable`

### Expected beha

[2021-05-05 07:29] levrik commented on #1421
@fcurella We've started seeing this issue today the first time without any code changes or upgrades on Faker.
The only change was the upgrade from Python 3.8.9 to 3.8.10 after which this issue started to happen.

[2021-05-05 13:43] mstellon opened #1437 "Adding ABA Routing Number to Bank Provider"
* Faker version:8.1.2

Is there any interest in adding ABA routing numbers to the Bank provider? https://en.wikipedia.org/wiki/ABA_routing_transit_number

This would be helpful for my use case and have code to generate but wanted to check before putting more effort in.

[2021-05-06 09:32] viktor-zinchenko opened #1438 "Faker issue after python update to 3.8.10"
* Faker version: 6.6.3
* OS: MacOs 10.15.4
* Python version: 3.8.10

After python from update from 3.8.9 to 3.8.10 got and issue with faker.

### Steps to reproduce

1. Install Faker and pytest as a project dependencies.
2. Run: `pytest`

Traceback:

[code]

### Expected behavior

pytest should work

### Actual behavior

`AttributeError: 'PosixPath' object has no attribute 'startswith'`

p.s. Coul

[2021-05-06 09:57] jaspalpuri-zopa commented on #1438
I had the same issue this morning. Upgrading to faker==8.1.2 resolved it for me, however.

[2021-05-06 10:02] CheesyFeet commented on #1421
Can confirm pinning Python to 3.8.9 was a workaround for us too

[2021-05-06 10:17] CheesyFeet commented on #1421
After looking into it, we were running Faker 6.6.3 which didn't include the patch referenced by this issue. Pinning Faker to 8.1.2 fixed this for us on Python 3.8.10 (previously we didn't have Faker pinned as we're using it as a peer dependency of [Factory Boy](https://github.com/FactoryBoy/factory_boy))

[2021-05-07 07:11] The-Compiler commented on #1438
According to the [changelog](https://github.com/joke2k/faker/blob/master/CHANGELOG.md#v701---2021-03-29) this was fixed in faker v7.0.1 - so this seems like a duplicate of #1421 and fixed by #1423.

[2021-05-07 14:28] fcurella commented on #1438
Closing as duplicate

[2021-05-07 14:28] #1438 closed

[2021-05-08 00:04] davepeck opened #1439 "Change in Python 3.9.5 (and 3.8.10) causes Faker's load_modules() to fail"
* Faker version: 8.1.2
* OS: macOS 11.3.1

A recent [regression in Python 3.9.5](https://bugs.python.org/issue44061) breaks Faker, specifically [this line of code](https://github.com/joke2k/faker/blob/master/faker/utils/loading.py#L35) that calls `pkgutil.iter_modules([path])`.

It's not clear to me from the discussion in that python bug report exactly how they intend to resolve the issue, but I t

[2021-05-09 21:39] bobvdvelde commented on #1439
just to add my 2-cents, we are seeing this issue pop-up in automated `latest` build workflows that use Faker as a dependency. For now, we are pinning workflow python execution to `3.8.6`. A fix would be greatly appreciated to avoid less tech-savvy users from unwittingly running into this issue with fresh python installs.

[2021-05-10 14:59] fcurella commented on #1439
ref https://github.com/FactoryBoy/factory_boy/issues/855

[2021-05-13 15:08] #829 closed

[2021-05-13 17:27] bobvdvelde commented on #1439
Super, thanks for the quick fix, it seems to work perfectly

[2021-05-17 18:52] jarcoal opened #1444 "AttributeError: 'PosixPath' object has no attribute 'startswith'"
* Faker version: 8.1.3 and 8.1.4
* OS: MacOS 11.2.3

After updating from 8.1.2 -> 8.1.3 I'm seeing the following exception:

[code]

I'm guessing that it's related to this commit: https://github.com/joke2k/faker/commit/c440ac1d742dd26fe771e8a3de2b0453d279dde4

[2021-05-17 20:09] fcurella commented on #1444
Thanks for the report @jarcoal! Could you paste the full stacktrace?

[2021-05-17 20:42] jarcoal commented on #1444
And just like that, I can't repro it. ✨  🎩

Closing and will re-open if I encounter it again.  Thanks for your quick reply @fcurella .

[2021-05-17 20:42] #1444 closed

[2021-05-18 12:10] lukaszbanasiak commented on #1444
I have the same issue when running tests in Github Actions, therefore I have access to traceback.

[code]

[2021-05-18 14:20] fcurella commented on #1444
@lukaszbanasiak This bug fixed in v8.1.3. Looks like you're using an older version

[2021-05-19 08:42] lukaszbanasiak commented on #1444
Exactly. I'm using `factory_boy` and depends on `faker`. A new version of `factory_boy` is not updating `faker` but I managed this myself and it's now working fine. Thanks.

[2021-05-19 12:12] cestlacata opened #1445 "Locale fr_FR : siren() and siret() methods generate invalid values"
* Faker version: 8.1.2
* OS: Windows 10

For locale fr_FR siren() and siret() methods generate incorrect values.
https://faker.readthedocs.io/en/master/locales/fr_FR.html#faker.providers.company.fr_FR.Provider.siren
https://faker.readthedocs.io/en/master/locales/fr_FR.html#faker.providers.company.fr_FR.Provider.siret

A valid SIREN has 9 digits = 8 digits + 1 Luhn Key
A valid SIRET has 14 digits =

[2021-05-19 14:05] fcurella commented on #1445
Thank you for the report @cestlacata ! Do you mind submitting a Pull Request?

[2021-05-19 14:24] cestlacata commented on #1445
No sorry

[2021-05-19 14:34] fcurella commented on #1445
No worries. I don't have time to work on it, so I'm adding the 'good first issue' label for  increasedvisibility. Maybe we'll find someone available to fix it.

[2021-05-20 15:57] batben opened #1447 "faker factory - same fake emails based on the same input and seed number"
* Faker version: Faker 7.0.1
* OS: Windows

I was trying to use to faker module to fake some data based on the input. I expected that the output would always be the same as long as the seed number and the input is the same. But that seems not the case.

### Steps to reproduce

1. Step
fake = Factory.create('de_DE')
fake.seed(1)
emails = defaultdict(fake.ascii_safe_email)
print(emails['abc@web.de']

[2021-05-20 19:00] batben commented on #1447
If you are also looking for a solution, just look here https://github.com/joke2k/faker/issues/653

[2021-05-20 19:00] #1447 closed

[2021-05-21 07:36] axychavan opened #1449 "OSError: [Errno 22] Invalid argument"
[code]

Please help me resolve this issue.

[2021-05-21 14:09] fcurella commented on #1449
Hello @axychavan ,

I'm sorry, but I'm not seeing anything in your Traceback that relates  to this library. All I'm seeing is references to `flask`

[2021-05-21 14:50] axychavan commented on #1449
what should I share. I am sorry I am a newbie. please suggest

[2021-05-21 15:12] fcurella commented on #1449
If you're using Faker, can I see how you're calling it?

[2021-05-22 04:32] axychavan commented on #1449
can you send me your mail id I'll share the full project code

[2021-05-22 15:55] ELC commented on #1392
I can confirm the seed configuration is not working if using multiple locales

[2021-05-26 13:55] fcurella commented on #1449
@axychavan if you have a repository published, I could try to take a quick look.

[2021-05-26 13:57] axychavan commented on #1449
bro error got solved. thanks

[2021-05-26 14:08] fcurella commented on #1392
This is partially incorrect. The [expected behavior for seeding](https://github.com/joke2k/faker#seeding-the-generator) is that data should be constant within the same version (not _anytime_):

Keeping the datasets constant would mean we can't ever update or fix them. In order to find a balance between stability and moving the project forward, what we do is increment the patch version for _every c

[2021-05-26 14:09] #1449 closed

[2021-06-01 17:25] thacoon opened #1452 "Raises RecursionError under certain conditions"
* Faker version: 8.4.0
* OS: Arch Linux with kernel 5.12.6

Certain conditions can trigger a `RecursionError: maximum recursion depth exceeded`. I encountered this error in a django project, see below the steps to reproduce this error.

### Steps to reproduce

1. `pip install django faker`
1. `django-admin startproject mysite`
1. In the app mysite create a file called _test_example.py_, the source

[2021-06-02 15:08] fcurella commented on #1452
Thank you for the nice report, @thacoon !

After some investigation, it looks like `copy.deepcopy` (which Django uses) fails on Faker objects because of all the magic attribute lookup that's going on.

I've created https://github.com/joke2k/faker/pull/1453 with a possible fix. Could you give it a try?

[2021-06-03 10:25] kloczek opened #1454 "8.4.0: test suite uses random2"
Looks like pytest based tewst suite is trying to use random2 which is not maintained since 2013.
[code]

[2021-06-03 10:32] kloczek opened #1455 "8.4.0: pytest warnings"
I've sdded `--ignore tests/providers/test_ssn.py` because that file is using `random2`
I'll try to add necessary local to build env but except there are some bits ..
[code]

[2021-06-03 10:35] kloczek opened #1456 "8.4.0: sphinx watnings"
[code]

[2021-06-03 14:05] fcurella commented on #1454
@kloczek That is correct and expected. We had to use `random2` when we were supporting both Python 2 and Python 3.

In order to remove `random2`, we'll have to update a lot of test cases in the suite. It's doable, but it's very tedious.

[2021-06-03 17:13] thacoon commented on #1452
Thanks for the quick fix and your time, @fcurella .

I can confirm that the fix works, I have tested it on the django project where I have encountered the issue.

[2021-06-03 18:53] #1452 closed

[2021-06-03 20:47] kloczek commented on #1454
python 2 is already 1.5 year EOSed https://www.python.org/doc/sunset-python-2/

On python 3.8.9 only that one unit is failing.

[2021-06-03 20:53] fcurella commented on #1454
@kloczek Feel free to send a Pull Request, I'll be happy to review and remove the dependency :)

[2021-06-04 19:06] #1437 closed

[2021-06-09 10:05] cocoonkid opened #1457 "Faker produces double the amount of requested fake.data"
* Faker version: faker (8.6.0)
* OS: Linux Arch  and MacOS Big Sour 11.14

Flask 2.x

fake = Faker()
fake.add_provider(internet)

### Steps to reproduce

[code]
[code]

### Expected behavior
[code]

### Actual behavior
[code]

EDIT:
The database fields have constraints and these are kept e.g. the database as cause can be excluded.
It's a one table sqlite for what it's worth.
![image](https://user-

[2021-06-09 13:52] fcurella commented on #1457
Hi @cocoonkid

Could you try to move the `db.session.commit()` out of the loop (IE: could you de-dent it 1 level back?)

[2021-06-09 14:01] fcurella commented on #1455
Thank you for the report @kloczek. The warnings are expected. Are they causing any problem?

[2021-06-09 14:05] fcurella commented on #1400
sorry for the late response.

Let's add `global`, defaulting it `False`, and we can schedule this to go out on our next MAJOR version.

[2021-06-09 14:50] kloczek commented on #1455
No at all.
I'm running pytest with buch of extensions so I've been thinking that you may not seen those warnings (minus thoseabout missing locale definitions).
If you are thinking that it is nothing to do feel free close this ticket.😊
Thx.

[2021-06-09 14:57] #1455 closed

[2021-06-09 15:07] cocoonkid commented on #1457
I de-dented once to the end of the loop, and once to the end of the function but both cases still generate 6.
I was surprised though that it didn't throw an error.

[2021-06-09 15:18] fcurella commented on #1457
I don't see how `Faker` could be generating 6 entries, since you're SQLAlchemy to commit the entries to the database.

I would add a [`pdb.set_trace()`](https://docs.python.org/3/library/pdb.html) right above the `for` loop and see if `generate_dummy_data` gets called twice for some reason.

[2021-06-09 16:00] cocoonkid commented on #1457
I just went through it step by step with the vscode debugger.
It correctly sets amount to 3 and stops after i <= 2.

This is quite a curious issue.

[2021-06-11 06:49] LKajan opened #1458 "Finnish states uses old regional division"
* Faker version: 8.6.0
* OS: all

Finnish localized Address provider uses old provinces (Lääni) as states which were abolished in 2009. In Finland current division should use regions (Maakunta). https://www.stat.fi/fi/luokitukset/maakunta/maakunta_1_20210101/

### Steps to reproduce

[code]

### Expected behavior

`fake.state()` should return a random Region

### Actual behavior

`fake.state()` re

[2021-06-11 12:03] OJFord opened #1460 "pydecimal left_digits ignored if min_value or max_value is specified"
`max_value` should be set to `10 ** (left_digits -1) - epsilon` before this:

https://github.com/joke2k/faker/blob/d9f4b00b9134e6dfbb09cc1caa81c912b79c3c7c/faker/providers/python/__init__.py#L92-L102

Use cases for using both include:

- `min_value=0`, since `positive=True` disallows `0` (a bug in itself IMO, but that's an age old debate!)
- `min_value` at all actually? As in, 4 left digits, but n

[2021-06-11 12:04] OJFord commented on #1460
Oops, #1410 looks like the same.

[2021-06-11 14:24] OJFord opened #1462 "pydecimal unnecessarily limited by float's max digits"
* Faker version: master at time of writing https://github.com/joke2k/faker/commit/d9f4b00b9134e6dfbb09cc1caa81c912b79c3c7c
* OS: Linux

Python's `Decimal` can be arbitrarily many digits; with default precision 28. Faker's `pydecimal` uses `pyfloat`, and so gets limited to `sys.float_info.dig`, which is appropriate for `pyfloat` but not really relevant for `pydecimal`. (The Decimal context could ev

[2021-06-11 15:58] babastienne commented on #1445
I dettected the same bug today.
I found a way to generate valid SIRET and SIREN numbers.

I will submit a pull request soon to fix this bug.

[2021-06-12 04:56] kloczek opened #1463 "8.7.0: pytest is failing"
* Faker version: 8.7.0
* OS: Linux/x86_64

Brief summary of the issue goes here.

### Steps to reproduce

- "python setup.py build"
- "python setup.py install --root </install/prefix>"
- "/usr/bin/pytest" wyth PYTHONPATH pointing to sitearch and sitelib inside </install/prefix>
[code]
pytest is executed with `--ignore tests/providers/test_ssn.py` because https://github.com/joke2k/faker/issues/1454

[2021-06-12 04:58] kloczek commented on #1463
And indeed in </install/prefix> there is no `faker.sphinx`
[code]

[2021-06-12 21:43] babastienne commented on #1445
The pull request https://github.com/joke2k/faker/pull/1465 fix the problem reported in this issue.

[2021-06-14 13:01] fcurella commented on #1463
Thank you for reporting this, @kloczek!

`sphinx` is not required for installing and using the library, but it is required by some tests. We could add it to `test_requires`, or we could put the test dependencies in a requirements file that you could install separately. Any other ideas?

[2021-06-14 14:57] kloczek commented on #1463
However this is not a problem of lack of dependencies.
This issue is related to the fact that `faker/sphinx/` directory is build and than installed.
Just execute please `setup.py build` and look inside build/lib where is not possible to find `faker/sphinx/` disrecory.

[2021-06-14 15:03] kloczek commented on #1463
BTW tox is failing as well.
[code]

[2021-06-14 15:14] kloczek commented on #1463
pytest output with ignoring 3 files:
[code]

[2021-06-16 13:49] #1460 closed

[2021-06-17 10:19] OJFord commented on #1420
You could construct the email yourself from a fake name + fake domain, i.e. something like:
[code]

[2021-06-18 14:02] iamkeyur opened #1466 "Bug in `mac_platform_token`"
* Faker version: Latest
* OS: Any

`mac_platform_token` generates a MacOS platform token used in user agent strings. However, during https://github.com/joke2k/faker/commit/da1ae11a06a8f64bd4b0f7d1391d7661521e4caf#diff-7d7f34af58b0ae686b413e6ed3463229243aacfb0891fbc544cb951224c5af97L220, looks like it got missing underscore. Now, it generates `Macintosh; PPC Mac OS X 10 6_5` where as it should be `

[2021-06-21 15:24] fcurella commented on #1466
Thank you for the report @iamkeyur ! Do you have time to submit a Pull Request?

[2021-06-21 15:33] iamkeyur commented on #1466
Sure, I will do that.

[2021-06-23 06:40] michjnich commented on #1400
Hi, no problem. I'd actually totally forgotten about this too - a couple of days after writing that last message I got covid - not seriously, but the symptoms lingered for about 10 weeks after and I confess to not doing much at all during that time!

I'll see if I can find some time to pick this up again - pretty sure I can make use of this functionality in the future at some point :)

[2021-06-23 15:10] #1130 closed

[2021-06-24 02:22] kloczek commented on #1463
pytest with 8.8.2 is still failing
[code]

[2021-06-24 14:17] sevdimali opened #1469 "New Locale issue"
* Faker version: 8.8.2
* OS: Windows

Brief summary of the issue goes here.

I want to add az_AZ locale support to faker. I just created a new lorem provider with az_AZ. But when trying to test it. It gave an error like the below:
[code]
Do I miss something?

[2021-06-24 14:18] fcurella commented on #1463
I'm a little bit confused. The tests in the CI are passing and they don't run anything to build this directory. They just install sphinx.

[2021-06-24 18:13] kloczek commented on #1463
That is because you are using `tox` to in your CI which is using `pytest -m pytest` which automatically adds current directory to `sys.path`
On building my rpm packages with python modules I'm trying to use pytest only because I can run module test suite with additional `pytest` extensions to perform extended set of checks with those extensions.
If you will look on top of the ticket where are step

[2021-06-24 20:06] prescod commented on #1469
Perhaps you should make a Pull Request so we can see your code.

[2021-06-24 20:07] #1427 closed

[2021-06-24 20:11] prescod opened #1470 "Arabic Issues"
* Faker version:8.8.2
* OS: All

Brief summary of the issue goes here.

### Steps to reproduce

Issue 1. Egyptian Arabic has very few providers:

'Johnny'

Issue 2: What is ar_AA ? There is no country code for "AA".

Questions:

Is ar_AA some kind of generic arabic locale?

Should ar_EG inherit from ar_AA?

Should direct instantiation of ar_AA be discouraged?

[2021-06-24 21:07] sevdimali commented on #1469
it solved thanks.

[2021-06-24 21:07] #1469 closed

[2021-06-25 13:55] fcurella commented on #1470
Correct. It was introduced in https://github.com/joke2k/faker/commit/420ae236d0c1eb63d278778e6e67de52ba77ab4f as a base class for Arabic locales

While there is no Country code for `AA`, `ar_AA` is a valid _locale_ code:

[code]

If it's appropriate for the provider (ie: how much code duplication it saves). I don't know enough Arabic languages and locales to be able to make that call.

I don't thi

[2021-06-25 16:19] prescod commented on #1470
I'm not an Arabic speaker either, but its hard for me to imagine that this:

[code]

Is better than whatever we'd get if we inherited from aa_AA.

Or to put it another way: if aa_AA is intended as a base-class for arabic languages, then every arabic language should inherit from it and either override the inappropriate stuff or remove that particular dataset from ar_AA altogether.

What do you thin

[2021-06-25 16:27] fcurella commented on #1470
@prescod I would think so too. Ideally we'd have someone from Egypt to make a more informed decision than I ever could.

[2021-06-25 17:00] ahmedaljazzar commented on #1470
@prescod It's been a long time since I've worked with Arabic locales, but here's what I think

Faker("ar_EG").first_name()
'Johnny'

That's correct, I only wanted to introduce a minimum functionality that I needed and I left the rest for the community to contribute as needed.

💯I've had the same question when I saw this first, but after some digging I reached out to the following conclusions:
- It

[2021-06-25 17:58] prescod commented on #1470
Thanks so much @ahmedaljazzar. I guess the central question is whether there is any "harm" in changing every aa_XX locale from inheriting from aa_AA so that at the very least the names etc. will tend to be Arabic and not English.

Should we just do that?

[2021-06-25 18:16] CodeCox opened #1471 "fake email data does not have '@' char when using 'fake.csv()'"
* Faker version: 8.8.2
* OS: Windows

fake email data does not have `@` char when using `fake.csv()`

### Steps to reproduce
[code]
### Expected behavior
[code]

### Actual behavior
the `2` should be `@``
[code]

___

FYI The issue seems to be specific to `fake.csv()` since the ffg. :
[code]
works as expected
[code]

[2021-06-25 18:30] ahmedaljazzar commented on #1470
@prescod I second that. I believe all `aa_` locale should inherit from `aa_AA`. Some outliers like license plate number and phone numbers might not apply here, but in general this is a great idea.

[2021-06-28 09:15] haplo commented on #1175
Ideally all formatting would be done in a single commit, that way it can be ignored for `git blame`: https://akrabat.com/ignoring-revisions-with-git-blame/

[2021-06-29 03:15] johncarter-phntm opened #1474 "faker command line fails with "faker.exceptions.UnsupportedFeature: `image` requires the `Pillow` python library.""
* Faker version: 8.8.2
* OS: Ubuntu

It looks like the image faker added in #1254 / 8.5.0 broke the faker command line?

is the fix to catch `UnsupportedFeature` in cli.py, and maybe print a warning?

### Steps to reproduce

1. Install faker in a virtualenv
1. run in the terminal `faker`

### Expected behavior

cli should output fake data

### Actual behavior

Fails with exception:

faker.exceptio

[2021-07-02 13:55] #1474 closed

[2021-07-09 12:29] OlegBEZb opened #1479 "RecursionError with spark udf"
* Faker version: 8.10.0
* OS: Ubuntu 18.04.5 LTS

I have covered the [issue in presidio library](https://github.com/microsoft/presidio/issues/741) but some time later I realized that the problem may lay here. I am trying to use the Faker inside the function which is converted to pyspark udf. After replacing the Faker part of the function everything works. And according to the stacktrace, the probl

[2021-07-09 15:55] fcurella commented on #1479
Thank you for reporting!

Looks like an issue with the `pickle` module:

[code]

You are correct, it's pretty much the same issue but with `pickle` instead of `deepcopy`.

I've created https://github.com/joke2k/faker/pull/1480 to fix this issue. Once the tests pass, I'll get it merged in.

[2021-07-09 22:49] #1232 closed

[2021-07-10 07:37] rudrashisgorai opened #1481 "Feature Request : Random payment amount/Pricetag in Words"
Generating a random price tag in numbers is easy using the pricetag function.
But  I needed a function for generating the pricetag or payment amount in words. ( Usecase - Cheques ) .
(For instance - _eight million, eight hundred and fifty thousand, nine hundred and ninety-eight dollars, eighty-nine cents_ )

Using _num2words_ package and  _faker_   package I can achieve this.

[code]

It would be

[2021-07-12 10:17] OlegBEZb commented on #1479
Dear @fcurella! Thank you very much for such a quick response and help!

[2021-07-12 14:17] #1479 closed

[2021-07-12 20:49] therefromhere opened #1482 "BrokenPipeError when interupting cli output"
* Faker version: 8.10.1
* OS: Ubuntu 20.04

Brief summary of the issue goes here.

Stopping the faker cli produces a BrokenPipeError, which is a bit untidy.

I think this could be fixed by catching the BrokenPipeError as per https://docs.python.org/3/library/signal.html#note-on-sigpipe (via https://stackoverflow.com/a/58517082/8331 ) ?

### Steps to reproduce

In terminal

`faker | head`

### Expe

[2021-07-14 11:46] mdantonio commented on #1334
Hello,
just as information: mypy ignores type hints from packages that do not include a py.typed marker

https://www.python.org/dev/peps/pep-0561/#packaging-type-information

_Package maintainers who wish to support type checking of their code MUST add a marker file named py.typed to their package supporting typing._

If some type hints have been added (even if very partial), would be useful to in

[2021-07-14 14:25] fcurella commented on #1334
Thank you @mdantonio , I've added the `py.typed` file in https://github.com/joke2k/faker/commit/52e5018e3fcf5d2b176d2031672c56bc2140ebc9

[2021-07-14 14:27] fcurella commented on #1482
Thank you for reporting this @therefromhere ! Do you have time to work on a Pull Request?

[2021-07-14 16:35] mdantonio commented on #1334
Great, I will test it as soon as a new version will be released

[2021-07-14 17:14] Partum-Ingenii opened #1483 "pyint "step" paramater description not available"
* Faker version: 8.10.1

### Steps to reproduce

1. Open the doc (https://faker.readthedocs.io/en/latest/providers/faker.providers.python.html?highlight=pyint#faker.providers.python.Provider.pyint)
2. Read the fake.pyint() example

### Expected behavior

Description for parameter "step" is available in the documentation

### Actual behavior

No description/details about the parameter "step"

[2021-07-20 09:45] cocoonkid commented on #1457
I am happy to report that I found the root cause of this issue. I haven't confirmed it yet but will do soon.

https://stackoverflow.com/questions/14874782/apscheduler-in-flask-executes-twice
[code]

I will report back as soon as I have confirmed. I recommend adding this information as a hint to the docs.

[2021-07-22 08:25] svisser opened #1484 "Return value of `random_letters` is not always a list"
* Faker version: 8.10.1
* OS: Ubuntu 20.04

The return type of `random_letters` is not always a list as indicated in the docstring:

https://github.com/joke2k/faker/blob/2dac486e6d3b5f018feb524f6fa19917ec10299e/faker/providers/__init__.py#L194-L195

### Steps to reproduce

[code]

### Expected behavior

`type(f.random_letters(length=n))` should be list when `n=1`

### Actual behavior

`type(f.rand

[2021-07-22 16:30] fcurella commented on #1484
Thank you for the report @svisser ! Do you have time to submit a Pull Request?

[2021-07-22 21:45] svisser commented on #1484
Thanks for merging in the PR :ok_hand: I'm happy for this issue to be closed but I'll leave it open in case there is anything related to docs / changelog / release management that is left to do here.

[2021-07-26 14:44] lordgordon opened #1486 "it_IT: concerning surname may cause hassle when showing faker results"
Removing 'Mussolini' from the list of italian surnames to avoid any concerns when results are exposed to public.

This is a similar situation to PR #379 and it's main intention is to make it safe for developers to use the results of this library in a publicly facing context.

[2021-07-26 15:05] #1486 closed

[2021-07-27 11:26] jd-0001 opened #1489 "[Feature Request] Add Type Hints (stubs)"
As people are preferring Type Hints and mypy is getting more popularity and as a developer, I also like Type hints. So, if there's will be type hinted library like this. It will be awesome 🤩

Current situation:
![image](https://user-images.githubusercontent.com/47495003/127146090-413a4da8-19f3-4c53-8d2e-56532b1c4c1e.png)

[2021-07-28 08:55] jml commented on #1489
I endorse this request. Also, I was surprised to see faker is [explicitly marked as typed](https://github.com/joke2k/faker/commit/52e5018e3fcf5d2b176d2031672c56bc2140ebc9) even though it doesn't have very many type annotations.

[2021-07-28 14:02] fcurella commented on #1489
I wold love for `Faker` to have type hints, but I don't have time to dedicate to it.

If anybody can work on a Pull Request, I'll be happy to review it :)

[2021-08-04 12:17] sirxbiff commented on #1334
Now the `py.typed` file is in there mypy complains about `error: Call to untyped function "Faker" in typed context` for a simple line like:
[code]
Adding type annotations to the line doesn't help. Removing the `py.typed` file manually from the package does fix the issue.

I think `py.typed` should only be added after more type annotations have been added.

[2021-08-05 10:52] nicarl commented on #1334
I started to add type annotations some time ago and still have a branch with more type annotations lying around. I will try to rebase it and contribute what I have at the moment.
Any help with adding type annotations even for small parts of the code is highly appreciated

[2021-08-05 11:11] nicarl commented on #1334
My current branch can be found here: https://github.com/nicarl/faker/tree/add_type_annotations_for_providers

[2021-08-05 11:12] nicarl commented on #1489
I started adding typing annotations some time ago. I have a WIP on my fork: https://github.com/nicarl/faker/tree/add_type_annotations_for_providers
Any help and input to push this forward is appreciated :-)

[2021-08-12 07:42] madelonhulsebos opened #1494 "Citation information"
* Faker version: latest
* OS:  any

I would like to be able to cite the Faker library in my research, as intended by its authors.

### Steps to reproduce

Steps to create a citation file: [citation file format site](https://citation-file-format.github.io/).

### Expected behavior

The Faker repository provides the information to cite it, e.g. in APA and BibTex format, as below.

![Screenshot 2021-

[2021-08-12 16:51] #1494 closed

[2021-08-12 16:51] fcurella commented on #1494
Added in 39dcb4021bd2c2721a7fca107132e868d70f65c2. Thank you!

[2021-08-20 16:38] mchmutov opened #1500 "Adding a custom provider causes random_element to ignore specified sampling probabilities"
* Faker version: 8.11.0
* OS: Debian GNU/Linux 10 (buster)

It appears that adding a custom provider to a fake causes the random_element method to start ignoring specified sampling probabilities and instead do uniform sampling.

### Steps to reproduce

![image](https://user-images.githubusercontent.com/37190799/130263889-469a6462-e295-42e6-92c9-d26ede531948.png)

### Expected behavior

I expected

[2021-08-20 18:12] fcurella commented on #1500
Thank you for the report!

I'm not sure when I'll what time to look into this. Probably sometime next week. In the meantime, feel free to submit a Pull Request and I'll be happy to review it :)

[2021-08-24 14:46] NikolayCherniy opened #1502 "bic generation logic (ru_RU)"
* Faker version: 8.12 (any)
* OS: OS X (any)

Incorrect [bic generation logic](https://github.com/joke2k/faker/blob/f6d09b596862f59cc125c47217e08fecd3062cef/faker/providers/bank/ru_RU/__init__.py#L125). (bank, ru_RU provider)
[bic length should be exactly 9 digits.](https://ru.wikipedia.org/wiki/Банковский_идентификационный_код)
For the first part of the bic code function takes region code, but th

[2021-08-24 17:02] kloczek commented on #1456
Updated for 8.12.1
[code]

[2021-09-04 20:15] david-xander commented on #1500
@fcurella I've been working on the problem and I know now exactly what the issue is about... It has to do with the use_weighting disabled by default by the BaseProvider class, but not by the Factory class in the provider definition. The 2 cases are then:

- The provider created in the Factory class with use_weighting = True. That's the reasson the probability option works as expected.
- The BasePr

[2021-09-07 16:44] fcurella commented on #1500
Thank you for looking into this @david-xander !

To give some context, the reason we have `use_weighting` is that when it's set to `False`, we do some optimizations (ie: we skip some computation) in order to make the provider faster.

Setting it as `True` by default would slow down lots of providers. I'm tempted to treat this as a documentation fix, and make sure our docs explain the flag prominen

[2021-09-07 19:37] david-xander commented on #1500
Thank you for you reply. Now I understand better the issue. More or less, I knew that there were a reasson, and that clarifies it. The tests talked again :)

Although, in my opinion (and I could be wrong), at least we should raise and **Exception** only in the use case that the **use_weight** is set to **False** by default and you are using the **probabilities option**. As there's no way you can u

[2021-09-07 20:43] fcurella commented on #1500
@david-xander how would you detect if we're using probabilities? Are you thinking about checking for `if isinstance(OrderedDict)`?

[2021-09-07 21:47] david-xander commented on #1500
It's not that easy because the **test_weighting_disabled_multiple_locales** won't pass as it uses `OrderedDict` as input for the `opts` in the BaseClass if I remember that well. It's solution must be something very simple in the right place. But the two use cases that I've mentioned are clearly this two:

- I want to use an specific faker.provider and I want to use sampling probabilities. Faker sh

[2021-09-09 01:44] raviriley opened #1506 "Feature request: length kwarg for all providers to limit the number of characters in the output"
* Faker version: Latest
* OS:

Brief summary of the issue goes here.

### Expected behavior

For example, `faker.job(max_length=30)` would behave as normal but produce no output that is longer than 30 characters long.

[2021-09-09 19:38] stephengruppetta opened #1507 "Titles of people names in British English should not have periods/fullstops"
* Faker version: 8.12.1
* OS: macOS 11.5.2

In the `en_UK` locale, names with titles such as Dr, Mr and Ms shouldn't have a period/fullstop as in the American version, as in British English these are considered contractions which therefore don't take a period/fullstop

### Steps to reproduce

1. `fake = faker.Faker(locale="en_UK")`
2. `fake.name()  # For those names with titles`

### Expected beha

[2021-09-09 20:23] fcurella commented on #1507
Thank. you for the report, @stephengruppetta !

Do you have time to submit a Pull Request?

[2021-09-10 06:50] david-xander commented on #1500
I've been thinking a bit of it, and all the options that I thoght would be possible to apply are not. So the problem is that defining any weighting when use `weighting = False` should rise a descriptive exception, as the fact that the computation will never be done with the probabilities defined and that maybe faker should be transparent to the user in that case instead of just ignore it (I'm usin

[2021-09-13 05:48] david-xander commented on #1482
- Faker version 8.12.1
- Mac OS X

@fcurella I've been replicating this issue... I've found that when you type in terminal `faker name | head` or `faker address | more` there's no broken pipe error. The issue here is when you type just `faker`. In that case the cli.py prints something like this:
![Screenshot 2021-09-13 at 07 24 14](https://user-images.githubusercontent.com/47969361/133028477-1e875

[2021-09-13 18:02] amekkaoui opened #1510 "Fake French SSN"
New funcionality to be added

[2021-09-14 09:02] Arslanthought opened #1511 "how we can generate name in Pakistan counter in name fields"
* Faker version:
* OS:

Brief summary of the issue goes here.

### Steps to reproduce

1. step 1
1. step 2
1. step 3

### Expected behavior

X should be ...

### Actual behavior

X is ...

[2021-09-15 09:07] yuenking opened #1512 "Inconsistent data between date"
* Faker version: 8.0.0
* OS: macOS 10.15.7

Data generated changed from 2021-09-05 to 2021-09-06. Replicated with `freezegun`.

### Steps to reproduce

[code]

### Expected behavior

This should pass, i.e. `newer == older`.

### Actual behavior

The 2 lists are identical up for the first 20+ entries. And interestingly, if the line `"word_choice2": fake.word(("true", "false")),` is uncommented out,

[2021-09-15 12:56] fcurella commented on #1510
Thank you! I'm not familiar with French SSNs, so I'll need a Pull Request by someone who is. Do you have any time for writing one?

[2021-09-15 13:01] fcurella commented on #1482
Thank you for looking into it, @david-xander !

I'd rather break this down into separate PRs. Let's get the easy fix merged first, and then we can tackle the bigger issue.

[2021-09-15 13:05] amekkaoui commented on #1510
Hello, Sadly I am new to python I don't think my skills are sharp enough to create one, I would love do some pair with you or someone who'd like to work on this topic :)))

[2021-09-15 13:18] fcurella commented on #1511
Assuming you mean to people names, we'll need to create a [`person` provider](https://github.com/joke2k/faker/tree/master/faker/providers/person) for Pakistan.

According to [Wikipedia](https://en.wikipedia.org/wiki/Pakistan), Pakistan has [2 official languages](). We'll need a provider for each language we want to support

[2021-09-15 16:17] fcurella commented on #1510
I'll be happy to review any Pull Requests :)

You can start by looking at some of the, already existing SSN providers, eg [`it_IT`](https://github.com/joke2k/faker/blob/master/faker/providers/ssn/it_IT/__init__.py#L31).

You would add your code to the already existing [`fr_FR` module](https://github.com/joke2k/faker/blob/master/faker/providers/ssn/fr_FR/__init__.py).

FYI We already have [a list o

[2021-09-15 16:45] #1466 closed

[2021-09-15 16:49] fcurella commented on #1500
I think the underlying issue is that  the default defined in `__use_weighting__` is defined per-provider, when it should really be per-method or per-dataset/options.

I'm wondering if we should define a custom `WeightedElements` class, and check against that:

[code]

But the problem with this approach is that we'll have to go through all of the existing providers and update them.

[2021-09-15 16:57] fcurella commented on #1512
The date inconsistency bakes sense to me.

Both `fake.date()` and `fake.date_time()` return a random date/datetime between January 1, 1970 and now. In other words, they are time dependent. By changing when "now" is, it's picking between different boundaries. Basically,  `freeze_time("2021-09-06")` may pick September 6th, where `freeze_time("2021-09-05")` never will.

This should probably documente

[2021-09-15 17:07] #1458 closed

[2021-09-15 17:19] yuenking commented on #1512
Thanks for your response.

Perhaps I should have elaborated more on the initial post. The differences is not only in the `date` field, but in all of them (e.g. `sentence`, `paragraph`, etc). It also works if I put the dates "2021-09-06" and dates after that OR "2021-09-05" and dates before that. The 5th and the 6th just happened to be the "boundary" that causes the error.

I'm using python 3.8.

[2021-09-16 10:21] 1oglop1 commented on #1502
@fcurella I just ran into a similar issue.
I noticed that #647 introduced `IBAN` however issue #643 was also about BIC however I did not find any function that would provide BIC. I came across the SEPA Payment Initiation file XSD showing this where BIC was validated using this `[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}`

However later on I found on Wikipedia that BIC is not needed since 20

[2021-09-17 12:34] amekkaoui commented on #1510
I am a littel far behind to code a new functionality but I'll see what I can do, any help is welcome :)

[2021-09-17 20:02] david-xander opened #1514 "Using faker CLI with non-existing provider or command argument"
* Faker version 8.12.1
* Mac OS X

As explained on issue #1482 and in order to document the agreed PR.
Using faker CLI, when the faker command is not found, like `faker name2`, it prints out this:

![133030216-6f2f5b5b-c682-4e0a-a2d8-b70f9939c74c](https://user-images.githubusercontent.com/47969361/133846136-021ae3c5-a3bf-471e-9bc1-16cd9a504f8c.png)

### Steps to reproduce

- Typing in terminal: `f

[2021-09-17 20:15] david-xander commented on #1500
That's what I thouht initially but discarded for invasiveness... But if you consider it OK, I could make the change and PR it. But it should be a fast PR aproval in order to avoid any missaligment with any other PR that affects any of the whole thing that's going to be easily fixed and tested after. Because the probs of this affecting any PR that toucher any provider must be taking into account.

[2021-09-22 07:34] zerbusdetroy opened #1516 "Locale fr_FR : phone_number generate invalid values"
* Faker version: 8.12.1
* OS: Mac OS

The phone_number default provider generate random numbers after the first 2 digits (01 ## ## ## ##, etc.).
A lot of combinaisons are not possible for the digits 3 and 4 depending of the first 2. The complete list is available [here](https://fr.wikipedia.org/wiki/Liste_des_indicatifs_t%C3%A9l%C3%A9phoniques_en_France
).

For example 0415919107 is valid while 04

[2021-09-22 15:49] jabertuhin opened #1517 "Add DateTimeProvider for Bangladesh(bangla)"
I want to add DateTimeProvider for Bengali week and month names.

[2021-09-23 10:43] fcurella commented on #1517
Thank you interest, @jabertuhin !

You can use any of the existing DateTimeProvider as a starting point. For example, you could copy the [Indian provider](https://github.com/joke2k/faker/blob/master/faker/providers/date_time/hi_IN/__init__.py) into `faker/providers/date_time/bn_BD/__init__.py` and modify it from there.

[2021-09-23 10:45] fcurella commented on #1516
Thank you for the report, @zerbusdetroy !

Do you have time to work on a Pull Request?

[2021-09-23 17:23] zerbusdetroy commented on #1516
Yes I can. I do it next week :) 
-------- Message d'origine --------De : Flavio Curella ***@***.***> Date : 23/09/2021  12:45  (GMT+01:00) À : joke2k/faker ***@***.***> Cc : Zerbus ***@***.***>, Mention ***@***.***> Objet : Re: [joke2k/faker] Locale fr_FR : phone_number generate invalid values  (#1516)
Thank you for the report, @zerbusdetroy !
Do you have time to work on a Pull Request?

—You are

[2021-09-24 16:17] #1517 closed

[2021-09-24 16:41] jabertuhin opened #1519 "Add LoremProvider for Bengali(Bangladesh)"
I want to add LoremProvider for bn_BD.

### Steps to reproduce
N/A

### Expected behavior
N/A

### Actual behavior
N/A

[2021-09-29 21:20] fernandovmacedo commented on #779
I've spent hours trying all sorts of things to "fix" my VS Code autocomplete, thinking it was an intellisense bug on pylance. Just for reference for others searching on Google for a solution for this problem in the future. If your autocomplete is "incomplete" using faker and show "no suggestions" when you type the first letters of the methods, it is because of the dynamic generator class of the pa

[2021-09-30 06:14] omri374 opened #1522 "Missing docstrings for the Faker and BaseProvider classes"
Hi, first of all, thanks for all the work on this amazing package!

I'm working on an extension to Faker (could be added as a contribution if you're interested) so I had to go deeper into the Faker code. While the code is very well written and performant, I found it difficult to understand the interfaces of the different objects.
For example, the `Faker` class receives a list of objects which aren

[2021-09-30 15:20] fcurella commented on #1522
Thank you @omri374 ! I would really appreciate PRs about docs and type hints (where they are possible)

[2021-09-30 15:58] omri374 commented on #1522
Sure, could you please provide a high level description of these parameters here? I will turn those into docstrings or type hints.

[2021-10-01 09:05] errbufferoverfl opened #1523 "Default to Safe Email Addresses"
By default `faker.email()` will generate email addresses that are potentially valid, especially considering `@gmail.com`, `@yahoo.com` and other free providers are included in the data.

This can be problematic considering there are a few potential outcomes that can come of this that can affect the developers using `faker` or the people who have unwittingly had their emails generated as part of a

[2021-10-01 14:27] fcurella commented on #1523
Thank you @errbufferoverfl !

I think that's a good idea. The only thing I'm not sure about is the argument name. I wonder is using `safe=True` as default would be more intuitive.

[2021-10-01 14:56] #1462 closed

[2021-10-02 02:31] dzcode opened #1525 "Default to fake phone numbers (en_US)"
Inspired by https://github.com/joke2k/faker/issues/1523, it would be helpful if phone numbers by default used [unallocated area codes](https://www.areacodehelp.com/where/unassigned-area-codes.shtml), since generating potentially real numbers is problematic for the same reasons outlined in  https://github.com/joke2k/faker/issues/1523.

### Expected behavior

Since this would be specific to the US,

[2021-10-02 04:24] errbufferoverfl commented on #1523
@fcurella using `safe=True` is a lot more intuitive, I'll put together a PR this week and we can go from there.

[2021-10-04 10:07] 09F911029D74E35BD84156C5635688C0 opened #1530 "Decimals returning min value too often, and wrong data type."
* Faker version: 8.14.1

Since latest release this statement produces min value way too often, and it uses min val directly.

8.14.1:
[code]

8.14.0
[code]

It hits the min too often, and when it does it returns the passed in value. Instead if you're going to do that, wrap it in a decimal so it works as before. Most people are probably too lazy to use whole decimal class just to pass in a single n

[2021-10-04 15:09] fcurella commented on #1525
Yeah it makes sense :) I would like to be consistent, and do it the same way as we do with emails.

[2021-10-04 15:23] fcurella commented on #1530
The return type has been fixed in https://github.com/joke2k/faker/pull/1529.

[2021-10-04 19:59] ktdreyer commented on #1454
I looked into this issue today.

`tests/providers/test_ssn.py`  is the only test code that uses `random2`. I naively tried changing all `random2` references to `random` in that file, like so:

[code]

However, two tests fail with this change.

In `TestEnUS::test_invalid_ssn`, the

[code]

and in `TestEtEE::test_ssn`:
[code]

I don't know the faker project well enough to know how to resolve this. I

[2021-10-05 18:19] omri374 commented on #1522
Hi @fcurella I'm on it.
My only question is about `includes`, which is an input for both the `Faker` class and the `Factory` class. These `includes` are added to the list of providers. How are they different from providers?

[2021-10-05 18:51] omri374 commented on #1522
Not sure if that's a local bug, but passing providers as arguments doesn't work:

[code]

Results in:

[code]

[2021-10-06 13:44] #1523 closed

[2021-10-07 15:27] #1530 closed

[2021-10-07 15:40] fcurella commented on #1507
Fixed in https://github.com/joke2k/faker/pull/1508

[2021-10-07 15:40] #1507 closed

[2021-10-08 03:04] healarconr opened #1537 "Add localized provider for es_CO"
Add a localized provider for es_CO (Spanish Colombia). The following providers would be helpful:

- `address`
- `automotive`
- `ssn`
- `phone_number`

I would like to implement it and create a pull request.

[2021-10-08 10:19] 0xffea opened #1538 "randrange complains about non-integer value when calling pyfloat."
* Faker version: 9.2.0
* OS: Debian

randrange complains about non-integer value when calling pyfloat.

https://docs.python.org/3.10/whatsnew/3.10.html

### Steps to reproduce
[code]
### Expected behavior

pyfloat returns a random float >0.1

### Actual behavior

[code]

[2021-10-09 20:08] allisonletts opened #1539 "Make en_US first names less white-sounding"
The dataset used to generate first names in en_US is based on the Social Security Administration's top 200 baby names. Because of the racial makeup of the country and our overall naming patterns, there are orders of magnitude more white-sounding names than names that sound like they belong to people of color. I'd love to see an option like `diverse=true` that could be used with at least first name

[2021-10-10 00:05] allisonletts commented on #1525
I did something like this [here](https://github.com/allisonletts/faker_highered/blob/main/config.py) -- feel free to use for inspiration, or anything else that might be valuable. I'm positive that my code is not up to par for inclusion here, but I did do some research about the concept 😄 . Particularly, I separated out the area code, exchange, and last four, and used the North American Numbering P

[2021-10-11 04:12] deboraelkin2 opened #1546 "Addresses in en_AU locale have incorrect format when a secondary_street_address prefix is added"
* Faker version: 9.0.0
* OS:  Any

When using en_AU locale, if the generated street address includes an optional prefix to denote flat, apt or unit, it is done on a separate line from the rest of the street address, and the second line has an additional whitespace at the beginning

I have created Pull Request https://github.com/joke2k/faker/pull/1545 to fix this issue

### Steps to reproduce

1. G

[2021-10-11 08:09] priyaaa705 opened #1547 "Insecure randomness with faker.random.randint"
* OS: Windows

faker.random.randint gives security issue wherein the cryptographic PRNG is not supported along with this library.

os.urandom does not work along with faker.

[2021-10-11 10:58] nicarl commented on #1510
I think this could be helpful: https://www.ameli.fr/sites/default/files/thumbnails/image/infographie_assures-regle-identification-assures.gif
@amekkaoui Do you think you can find some additional information (in French is fine for me), e.g. if the clé dé sécurité can be calculated?

[2021-10-11 16:41] antonioIrizar opened #1549 "pydecimal is not working really well when use max_value with low number"
* Faker version: 9.2.0
* OS: python:3.8.8-slim (Docker)

Brief summary of the issue goes here.
pydecimal is not working really well when use max_value with low number and use positive option or min_value with a close value to max_value. When you use this combination you usually get the max_value all the time. Because you always have set `max_random_digits =100` https://github.com/joke2k/faker/blob

[2021-10-11 18:28] fcurella commented on #1549
Thank you @antonioIrizar ! Do you have time to submit a Pull Request?

[2021-10-11 20:56] #1546 closed, assigned to nobody

[2021-10-12 14:17] kloczek commented on #1463
FInal build I'm doing in build env with consisting from base packages set + what is listed in rpm BuildRequires however in many cases by running pytest in my working env where I have installed Everuthing™️ allowed me to find many bugs in pytest, pytest extensions or test suites .. especially when `pytest-randomly` is used which esxposes some dependencies between usinits.
I woud say that unsing tha

[2021-10-14 10:48] libcthorne commented on #1068
I've hit a similar issue when trying to declare two floats where one should always be greater than the other:
[code]

[2021-10-14 13:59] fcurella commented on #1068
@sciencectn A Pul Request will be most welcome! thank you!

[2021-10-17 11:38] madtyn opened #1554 "Adding some fake data and Provider for items in stores"
* Faker version: 9.3.1 (forked just 24h ago)
* OS: Linux

Hello, this is my very first attempt at contributing in a github project, so please be comprehensive with my mistakes.

I was interested about using FactoryBoy and generate some fake data at my database through the faker library, but I noticed that I needed fake titles for items in a store, so I thought it would be positive to add them myse

[2021-10-20 17:07] SzySteve opened #1556 "Python 3.7.9 ImportError/ModuelNotFoundError"
* Faker version:
9.5.0

* OS:
MacOS Big Sur 11.6
Python 3.7.9

https://github.com/joke2k/faker/blob/9a382ed237ef6ac40eb272703eb3b6ce0546ad0f/faker/typing.py#L5
This try/except block doesnt resolve for python 3.7.9 and breaks builds. `Literal` is not defined in the stdlib `typing` module, and Faker does not specify `typing_extensions` as a dependency

### Steps to reproduce

1. Fire up a fresh pyth

[2021-10-20 19:12] fcurella commented on #1556
fixed in https://github.com/joke2k/faker/pull/1557

[2021-10-20 19:12] #1556 closed, assigned to nobody

[2021-11-01 16:04] Unungentium opened #1563 "Import issues"
* Faker version:9.7.1
* OS:Ubuntu
Importing factory from shell causes the errors

### Steps to reproduce

1. ```$ python3.7```
2. ```import faker```

### Expected Behaviour

There should be no errors or messages

### Actual behaviour

There is an import error which doesn't allow for the importing of faker

[2021-11-01 17:28] fcurella commented on #1563
Thank you for the report @Unungentium !

I've jut tried importing on a brand new virtualenv on 3.7.11, and it's working for me:

[code]

[2021-11-02 19:55] #1537 closed

[2021-11-03 11:36] Unungentium commented on #1563
I am using python3.7.9. I believe that this might be causing the issue.

[2021-11-03 14:36] fcurella commented on #1563
I just tested on 3.7.9, and it's still working for me:
[code]

[2021-11-03 14:41] nicarl commented on #1563
I also tested and it works for me
[code]
[code]

[2021-11-08 11:10] OJFord opened #1565 "`ElementsType` requires `Sequence[T]`, not just `Iterable[T]`?"
The definition for `ElementsType` currently requires a sequence, or dict keys:

https://github.com/joke2k/faker/blob/7093e5ab9b5e894e04807130b75dc940c7a9d53a/faker/providers/__init__.py#L18

I can't see why it needs to be a _sequence_ though, i.e. having any order - wouldn't `Iterable[T]` suffice?

I hit this by using `random_element(elements)`, where `elements: Set[str]`. I can work around it for

[2021-11-08 15:27] fcurella commented on #1565
Thank you for the report @OJFord ! Do yu have time to submit a Pull Request?

[2021-11-08 15:59] nicarl commented on #1565
I had a look and the issue with `Iterable` is that it does not have the magic method `__len__`. However, the code currently relies on the length of `ElementsType`, that is why `Sequence` was chosen instead of `Iterable`.
If you want to use sets `Collection` seems to be the appropriate abstract base class.
`collections` has a very neat table covering this topic: https://docs.python.org/3.9/library/

[2021-11-09 11:44] OJFord commented on #1565
Thanks both - I could certainly submit a PR, but seems a little sneaky now to jump @nicarl on it after he's identified the correct fix. 🙂

I'd just add that `Sequence` inherits `Collection`, so no need for both. So does `KeysView` (via `Set`) for that matter. `Dict` does too (via `Mapping`, via `MutableMapping`) - but I'm a little fuzzy on whether it's necessary here, it seems to be a `Collection[

[2021-11-12 02:01] thang080920 commented on #1015
@fcurella Is this ready for the new version sir?

[2021-11-12 11:28] OJFord commented on #1565
Ok here's a test:
[code]

which passes `mypy --strict` (mypy 0.910).

[2021-11-12 17:53] fcurella commented on #1015
Hi @thang080920

The wroks is being done in https://github.com/joke2k/faker/pull/1020, but we're still waiting on the last finishing touches by the author.

[2021-11-15 07:27] nicarl commented on #1565
@OJFord thanks for taking care of this, I was a bit busy the last week. I will have a look at the PR :eyes:

[2021-11-15 20:35] #1565 closed

[2021-11-16 20:44] omri374 commented on #1506
If you have a predefined list of elements, you can overwrite the existing functionality and get Faker to return only elements from your list. These can be achieved using a custom provider or a dynamic provider.

Example:

[code]
'doctor'

Doing this across the board would either be inefficient (Faker would have to keep sampling until it finds an element of size < X) or very complex (as Faker creat

[2021-11-19 13:03] dziczyzna opened #1568 "too long iban generated for pl-PL locale"
* Faker version: 9.8.2
* OS: MacOs 12.0.1

IBANs generated for pl_PL locales are 30 characters long. This is too many. Valid PL IBAN should have 28 characters (including country code).

### Steps to reproduce
Generate a Polish IBAN with:
[code]
Copy paste generated string into IBAN Validator at https://www.ibancalculator.com/
### Expected behavior

IBAN should have the correct length and checksum

[2021-11-19 15:12] fcurella commented on #1568
Thank you for the report @dziczyzna ! Would you have time to submit a Pull Request?

[2021-11-19 18:39] timkeeler commented on #690
That's a helpful workaround, however it poses a challenge when generating unique full names - using `fake.unique.name()`. I think the default behavior should be to omit prefix/suffix from the names.

[2021-11-21 17:04] ozeranskiy commented on #1538
If we want `fake.pyfloat(min_value=0.1)` to return a random `float >0.1`, then conversion to int will not return the expected value.

[2021-11-22 09:32] dziczyzna commented on #1568
Hi @fcurella I'm afraid I wouldn't.

[2021-11-22 23:02] #1568 closed

[2021-11-25 08:30] fx99-D opened #1570 "fake.address does not work properly for 'de-CH'"
* Faker version: 9.8.3             build: pyhd8ed1ab_0    from: conda-forge
* OS: Windows 10 / anaconda

    fake = Faker('de_CH')
    fake.address()

does not work properly.
Instead of producing a city/village, it produces a Canton
### Steps to reproduce

from faker import Faker
fake = Faker('de_CH')
print(fake.address())

### Expected behavior

Output should be:
street housenumber
zip_code villa

[2021-11-25 18:18] Ledorub opened #1571 "faker.date_between doesn't support absolute date."
* Faker version: 9.8.2
* OS: W10 19043.1348

`faker.date_between` fails on absolute date.

`_parse_date` assumes here that date is relative if it's of type `str`
https://github.com/joke2k/faker/blob/4eff2c913973ac9d5c29fc9ef1ef687b6cbd816a/faker/providers/date_time/__init__.py#L1991-L1995
### Steps to reproduce

[code]

### Expected behavior

`datetime.date` object with date between 2021-12-27 and

[2021-11-26 10:17] mykhailoleskiv commented on #1570
Provider for `de_CH` locale is not fully filled. There's no streets or cities, only cantons list.

[2021-11-26 10:51] fx99-D commented on #1570
Streets + housenumber work fine. Ca I helf to fill de_CH ?

[2021-11-28 04:44] micahstrube commented on #1571
Why not use:
`faker.date_between(datetime.date(2021, 12, 27), datetime.date(2022, 4, 15))`

It appears that the only `str` that is supported here is 'today', 'now', or something like '-30d', '+30d', etc., which I think makes sense. If you have an absolute date in mind, it seems you should just use `datetime.date()`.

[2021-11-29 11:48] Ledorub commented on #1571
Yeah, it will work, but it doesn't look clean, at least to me.
It seems that `timedelta_pattern` expect `+` or `-` sign before actual value:
https://github.com/joke2k/faker/blob/4eff2c913973ac9d5c29fc9ef1ef687b6cbd816a/faker/providers/date_time/__init__.py#L61-L71
Maybe check whether value starts with `+` or `-`, if so parse it as relative, otherwise as absolute.

[2021-11-29 15:16] fcurella commented on #1570
Feel free to submit a Pull Request with the data :)

[2021-12-06 20:26] riconnon opened #1574 "Breaking change in 9.9.0?"
* Faker version: 9.9.0
* OS: Linux

The following call worked in 9.8.3:
[code]
and gives the following error in 9.9.0:
[code]

### Steps to reproduce

1. Use the above code

### Expected behavior

Should produce a dict with 10 elements.

### Actual behavior

The above exception.

[2021-12-07 15:54] fcurella commented on #1574
Yes, that should've been a MAJOR increment on the version. The automated versioning got it wrong because the PR was mislabeled. I can revert the change, release `9.9.1`, the reapply the change to `10.0.0.`

[2021-12-07 16:02] fcurella commented on #1574
@riconnon I've reverted the change on `v9.9.1`

[2021-12-07 16:02] #1574 closed

[2021-12-07 17:34] kloczek commented on #1463
Any update?
I just tested 10.0.0 and pytest still is failing with exactly the same message that it cannot find `tests` module (which seems is in project root).

[2021-12-07 20:32] fcurella commented on #1463
@kloczek can't you just run `pytest` from a virtual environment?

[2021-12-08 02:47] kloczek commented on #1463
Is it only way to have correctly preloaded that local module?
Maybe it is possible to add something to pytest.ini file?

[2021-12-11 09:25] ffeldhaus commented on #1506
Having the ability to restrict the length of the output for all providers is an important feature for many tests where the input also requires a specific length or where edge cases should be tested.

In my opinion all providers should have the ability to specify `max_length` and `min_length`.

I understand that this is a difficult problem and in my opinion a workaround to create samples until I ha

[2021-12-13 03:47] chanduthedev opened #1575 "Recursive dependency involving fixture 'faker' detected when running test cases using pytest"
* Faker version:10.0.0
* OS: MacOS Big Sur 11.4

I am getting below error when I run `pytest providers/test_profile.py`. Getting this error for almost all test cases in provider folder.
### Steps to reproduce

1. Git clone faker git repository
2. Run this command `pytest providers/test_profile.py`

### Expected behavior

Should pass all test cases.

### Actual behavior

<img width="1755" alt="fake

[2021-12-13 13:38] alexei opened #1576 "`future_date` doesn't seem to be using the `tzinfo` argument"
* Faker version: 9.9.0
* OS: macOS

`future_date` doesn't seem to be using the `tzinfo` argument. From the [source code](https://github.com/joke2k/faker/blob/e2ee6af810124da6f27e51942484bd7570322f7e/faker/providers/date_time/__init__.py#L2055-L2066):

[code]

This was [mentioned before](https://github.com/joke2k/faker/issues/1214), but the same author [closed the fix](https://github.com/joke2k/fak

[2021-12-13 17:48] alexei opened #1578 "ro_RO"
* Faker version: 9.9.0
* OS: macOS

The ro_RO address provider offers the `state` and `state_abbr` which return counties and county codes respectively. The method names are misleading in that [Romania is organised into counties](https://en.wikipedia.org/wiki/Counties_of_Romania), not states.

I can make the required changes: add the new methods, deprecate the old ones etc. However, this might brea

[2021-12-13 18:11] fcurella commented on #1506
I'm definitely open to ideas!

[2021-12-13 18:15] fcurella commented on #1575
I just tried this and it's working on my machine. What version of `pytest` are you using?

[code]

[2021-12-13 19:27] fcurella commented on #1563
Closing as invalid

[2021-12-13 19:27] #1563 closed

[2021-12-13 19:34] fcurella commented on #1463
I'm not familiar with the way `rpmbuild` works. Have you tried adding the checkout directory to the `PYTHONPATH`?

[2021-12-13 20:12] fcurella commented on #1463
@kloczek this sdoesn't really answer my question: Can you try what you did in https://github.com/joke2k/faker/issues/1463#issuecomment-941061574 , but with also adding the project directory to the `PYTHONPATH`?

[code]

I'm not familiar with `build` or what it does. Could you expand on that?

[2021-12-19 12:58] chaimt opened #1579 "License"
* Faker version:
* OS:
MAC
Brief summary of the issue goes here.

Your license is MIT, but you use a libarary (text-unidecode) that is GPL licenese????

[2021-12-19 17:42] fcurella commented on #1579
See also #727

`text-unidecode` is [licensed](https://github.com/kmike/text-unidecode#text-unidecode), under Artistic License, GPL, _or_ GPLv3.

Is any of these licenses acceptable for you?
If not, what would you suggest?

[2021-12-27 17:46] #1319 closed

[2021-12-27 19:54] kloczek opened #1581 "Q: is it possible to replace use `random2` by something else?🤔"
Looks like `faker` in test suite is using `random2` which is no longer maintained since 2012.
[code]
Just humble question: is it possible to replace that module by something a bit modern? :)
I'm asking because I'm packaging python modules as rpm and Solaris IPS packages and on packaging I'm trying obligatory to execute included test suite. Looks like `random2` is used only by `faker` :P

[2021-12-27 20:07] kloczek opened #1582 "11.0.0: issue with `faker.sphinx` module"
* Faker version: 11.0.0
* OS: Linux/x86/64

I'm trying to package your module as an rpm package. So I'm using the typical PEP517 based build, install and test cycle used on building packages from non-root account.
- `python3 -sBm build -w`
- install .whl file in </install/prefix>
- run pytest with PYTHONPATH pointing to sitearch and sitelib inside </install/prefix>

During that process using above

[2021-12-27 20:07] fcurella commented on #1581
We'll have to update a bunch of tests, and release a new MAJOR version, since it's going to be a breaking change for lots of people. Do you have time to contribute a Pull Request?

[2021-12-27 20:11] fcurella commented on #1582
I'm tempted to just include the module. I don't think it's going to cause any problem.

[2021-12-27 20:16] kloczek commented on #1581
My python developer skills are probably a bit to weak. My strongest skills are around packaging stuff. So from that point of view you may count definitely on me if you would like to test something on scale large possible cases to test some PRs before actual merge (I have such automation which is able to test temporary created new version of the module with other packages build processes which uses

[2021-12-27 20:21] kloczek opened #1583 "11.0.0: pytest warnings"
* Faker version: 11.0.0
* OS: Linux x86/64

After ignore units which are using `random2` and `faker.sphinx` mentioned in https://github.com/joke2k/faker/issues/1581 and https://github.com/joke2k/faker/issues/1582 finally I've been able to fully running pytest. however in pytest output I see bunch of warnings.
Here is pytest output:
[code]

[2021-12-27 20:24] kloczek commented on #1463
I think that this ticket can be now closed as IMO https://github.com/joke2k/faker/issues/1582 better addresses the issue.

[2021-12-27 20:34] kloczek commented on #1581
Duplicate of #1454

[2021-12-27 20:35] #1581 closed

[2021-12-27 20:37] kloczek commented on #1454
I've updated that patch against 11.0.0
[code]
However as same as in your case pytaest fails with that patch
[code]

[2022-01-02 23:42] FrancYescO opened #1585 "postal zip code not correctly related to address"
When generating an address, zip codes seems are totally unrelated to the generated address/country

i'm just taking it_IT as example (maybe a difficult one...), ZIP = CAP

The zip code in the most case is 1:1 with a city, but there are some cases of 1:n (i.e. big cities have multiple zip, based on the specific street) and some rare case of n:1 (same zip for multiple cities)
here is a good feed for

[2022-01-03 00:01] FrancYescO opened #1586 "invalid phone numbers for it_IT"
The phone numbers for italy are too much random:
https://en.wikipedia.org/wiki/Telephone_numbers_in_Italy#Historical_number_formats

For landline, starting with one of these prefix and with a total of 10 digits
https://en.wikipedia.org/wiki/List_of_dialling_codes_in_Italy

For mobile, starting with one of these prefix and with a total of 10 digits (some of 9 exists..)
https://it.wikipedia.org/wiki

[2022-01-03 14:55] fcurella commented on #1585
It's always a trade-off between how realistic we want the data to be, the complexity of the code, and the ease of maintenance.

I'm also wary of using the specific feed you mention, because their license is a little murky. I don't blame the author – they did the best under the circumstances. My worry is that distro packagers will have an issue with it.

If you have time to work an Pull Request tha

[2022-01-03 14:57] fcurella commented on #1586
Thank you for the report @FrancYescO ! Do you have time to work on a Pull Request? I'll be happy to review it.

[2022-01-03 20:16] nicarl commented on #1586
You can have a look at the provider for France, where I added something similar:
https://github.com/joke2k/faker/blob/master/faker/providers/phone_number/fr_FR/__init__.py

[2022-01-03 20:56] FrancYescO commented on #1585
for the first point, i think at least when using the full address func, we should find a way to have a realistic address, as most application are checking the `ZIP - City` relation, or at lest `ZIP - Country`..

for an italy dataset i'll try to find something with a clear license... but as the source is from a gov entity i don't think using the dataset posted above can be an issue..

[2022-01-03 22:24] fcurella commented on #1585
I dont _think_ so either. The problem is in that ambiguity. What I'm supposed to tell a distro maintainer raising (legitimate) questions?

I would prefer to tradeoff accuracy and completeness for a clear license, in this case. If that's possible.

[2022-01-03 22:28] FrancYescO opened #1588 "E.164 phone format"
I don't know if it can be easily implemented with all phone numbers generated, but generating a phone number in a global valid format can be useful... something configurable like `.phone_number(e164=True)`

[2022-01-04 10:25] FrancYescO commented on #1585
For italy dataset..
https://github.com/Samurai016/Comuni-ITA
https://comuni-ita.herokuapp.com/api/comuni
https://comuni-ita.herokuapp.com/api/province
or
https://github.com/italia/anpr/blob/master/src/_static/xlsx/tab_comuni.xlsx (no way to link to a zip code)

For a more general zip-country-city relation... i think we can find various feeds around, just need to know if is in the interest of the p

[2022-01-04 16:52] fcurella commented on #1585
I think it would be ok to take the `xlsx` from ANPR and convert it to CSV, and have python load that. As long as we put a comment with attribution as per [CC-BY](https://github.com/italia/anpr/blob/master/LICENSE). It won't be as complete as `matteocontrini/comuni-json/`, but I'm ok with that.

[2022-01-04 23:33] FrancYescO commented on #1585
Just found another datasource, more complete (the ANPR one have all cities uppercased and no zip codes..) and that can be used for all the world: https://download.geonames.org/export/zip/

license is the same CC 4.0 ... let me know if it's okay to embed somehow this db

[2022-01-05 02:24] cz973409335 opened #1590 "faker打包成exe执行报错"
* Faker version: 8.9.1
* OS:

![image](https://user-images.githubusercontent.com/26372901/148150821-1fcebda0-623b-428d-86e6-8496e8ac3b3a.png)

[2022-01-05 15:47] fcurella commented on #1585
@FrancYescO geonames looks good 👍🏼

[2022-01-05 15:48] fcurella commented on #1590
Thanks for the report @cz973409335 ! Could you try with a more recent version of Faker? We're currently on v11.2.0.

[2022-01-05 16:37] kloczek commented on #1582
Just tested new 11.2.0 and looks like decision still has not been made :P

[2022-01-05 16:45] kloczek commented on #1456
Just FTR .. looks like number of sphinx warnings is growing :P
[code]

[2022-01-05 16:50] fcurella commented on #1456
I understand how this can be noisy and annoying, but is it breaking aything for you?

[2022-01-05 17:01] kloczek commented on #1456
Those are only warnings so documentation is generated.
To be hones I've not been checking what could be the impact on actual rendered documentation on cleaning for example single warning. So ..

Just please dont't get me wrong. I'm not trying to nag you to clean those warning.
Simple as I'm using latest sphins and I'm not sure which one version you are using we may see different list of thsoe warn

[2022-01-05 17:49] fcurella commented on #1456
I removed some of them, hope that helps!

[2022-01-05 23:22] cz973409335 commented on #1590
最新版本存在同样的问题

---原始邮件---
发件人: "Flavio ***@***.***&gt;
发送时间: 2022年1月5日(周三) 晚上11:48
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [joke2k/faker] faker打包成exe执行报错 (Issue #1590)

Thanks for the report @cz973409335 ! Could you try with a more recent version of Faker? We're currently on v11.2.0.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the

[2022-01-06 22:57] alexei opened #1591 "Refactor the `date_time` provider"
As pointed out in https://github.com/joke2k/faker/pull/1577, I find the `date_time` provider confusing, both due to the methods' interfaces, and their implementations.

I think refactoring the provider would break other people's code, though I guess it's doable with the proper warnings etc. so here it goes:

## `unix_time`

The exceptional method that returns integers: I'd rename it to `unix_times

[2022-01-07 15:54] fcurella commented on #1591
Thank you for looking into this @alexei !

I like this API much better than the current one. But I'd like a clearly defined transition strategy. I'd also like to reduce the API surface a little bit. Here's what I'm thinking:

### on MINOR release:
* Add `unix_timestamp`
  * Add `PendingDeprecation` warning to `unix_time`, directing users to use `unix_timestamp`
* Add  a new `datetime` (no undersco

[2022-01-07 22:48] #1586 closed

[2022-01-09 18:20] alexei commented on #1591
I'd like to clear up a couple more things before we prepare a plan and proceed with the implementation.

## AD vs Unix epoch

I checked the code again today and found I was wrong in my previous assessment about `date_time`, `date_time_between` and `date_time_between_dates`. Based on my visually inspecting the code, I thought they were the same, but that's not the case: it appears `date_time` retur

[2022-01-17 05:06] #1192 closed

[2022-01-17 09:08] greno4ka commented on #1575
I have the same problem

[code]

[2022-01-19 19:49] timschwab commented on #363
Today I was informed by the error message that the `random_element` provider does not accept a dict as an argument but instead requires an OrderedDict. That message sent me here, which is why I'm deciding to resurrect a long dead issue to ask if this constraint is still needed. As of Python 3.7, iteration over a dict is guaranteed to be in insertion order. This makes the two objects [nearly identi

[2022-01-19 22:30] fcurella commented on #363
@timschwab Thanks for pointing that out. Being able to use `dict` instead of `OrderedDict` sure sounds nice! Feel free to submit your PR!

[2022-01-21 14:21] interDist opened #1595 "Incorrect language set on Provider during locale fallback"
* Faker version: 11.3.0

When faker is initialised with a locale not implemented by some of the built-in providers, it falls back to the DEFAULT_LOCALE for these providers. However, the language set on the provider’s instance in `__lang__` is still the requested locale and not the locale in effect.

This is due to `Factory._find_provider_class` not returning the locale it chose, in: https://github

[2022-01-21 15:42] fcurella commented on #1595
Thank you for the report @interDist ! Do you have time to prepare a Pul Request ?

[2022-01-21 16:38] interDist commented on #1595
I will try, this will probably happen in beginning of February.

[2022-01-25 15:42] Pijuli opened #1596 "es_ES postalcode is not generating valid codes"
* Faker version: 11.3
* OS: Any

When using postcode for es_ES and using it with a field that requires a valid Postal Code, it fails sometimes.
I will assume that there is no logic with postal code generation for Spain.

### Steps to reproduce

Generate postal codes

### Expected behavior

Get a valid Spain postal code

### Actual behavior

Unexpected. Many are wrong

----

I'll dig now into the c

[2022-01-25 23:24] hntd187 commented on #753
This also affects me and is very annoying, I cannot get faker to stop spamming logs on providers. I am also not running a flask app and I've disabled all logs, but the stderr logs still show up.

[2022-01-26 19:16] interDist commented on #1595
@fcurella I started working on the PR, but I am confused by line 74 (and later) in `factory.py`
https://github.com/joke2k/faker/blob/001ddee39c33b6b82196fe6a5ecc131bca3b964c/faker/factory.py#L74-L78
I cannot see an execution path that would reach this line. The test coverage also seems to confirm this (lines 74 until 86 are not covered by tests). Maybe there is some legacy to `_get_provider_class`

[2022-01-27 15:36] fcurella commented on #1595
@interDist I've looked into this and there's definitely a bug.

I can see we already handle the fallback in `_find_provider_class`:

https://github.com/joke2k/faker/blob/001ddee39c33b6b82196fe6a5ecc131bca3b964c/faker/factory.py#L102-L112

 and we return the correct provider:

https://github.com/joke2k/faker/blob/001ddee39c33b6b82196fe6a5ecc131bca3b964c/faker/factory.py#L133-L136

So yeah, I think

[2022-01-28 19:36] jimleroyer commented on #727
It does not seem [that text-unidecode is using the version 2](https://github.com/kmike/text-unidecode/issues/9) of the artistic license which makes it compatible with other licenses such as MIT, but rather switched to the initial non-compat version 1. I wanted for the [open source GCNotify project](https://github.com/cds-snc/notification-api) to use faker but from what I learned, artistic v1 will

[2022-01-29 00:28] alfawal opened #1597 "Wrong stuff in person/ar_AA"
* Faker version: 11.3.0
* OS: Ubuntu

Male Arabic names in the female names list, non-name strings, duplicates, etc.

### Steps to reproduce

1. Writing tests or something to assert that no duplicates are being passed through commits.
1. Not letting the commits pass without manual checking.
2. Providing sorted tuples only (easier for manual checking).

### Expected behavior

Female first name shou

[2022-01-31 23:25] fcurella commented on #727
@jimleroyer I've replaced `text-unidecode` with my own implementation and removed the dependency.

[2022-02-01 09:32] pixie79 commented on #1185
Agreed this is silly behaviour, when validating data 99% of the time it is better if things agree rather than an email that is nothing like the person.

[2022-02-01 13:44] jimleroyer commented on #727
Honestly impressed, what an amazing support. If I can help in the future with an issue, I will take a deeper look.

[2022-02-01 15:26] fcurella commented on #1596
yeah, the definition of [postal codes for `es_ES`](https://github.com/joke2k/faker/blob/master/faker/providers/address/es_ES/__init__.py#L27) is currently simply "5 random digits", so there's no real actual logic behind it.

[2022-02-01 16:43] georgidimitrov-hs opened #1602 "Empty string in Korean jobs"
* Faker version: 11.4
* OS: Any

The problem is that the Korean job provider provides empty string once a 400 times, because there is empty element in the jobs list.

### Expected behavior

Korean job should be a string with length > 0.

### Actual behavior

Once per 400 times the string is empty.

[2022-02-01 17:23] fcurella commented on #1602
Thank you for the report @georgidimitrov-hs ! Do you have time to submit a Pul Request with the fix?

[2022-02-03 20:46] CelestialGuru opened #1604 "Tab completion in interactive shell not working since Python version 3.8"
Tab autocomplete in python interactive shell unavailable when using Python versions 3.9, 3.10 or 3.11.

Python documents this feature: https://docs.python.org/3.11/tutorial/interactive.html#tab-completion-and-history-editing. (Docs here are the same in all versions of Python)

## Setup

* Faker version: 17.3.0
* OS: Debian GNU/Linux 11 (bullseye)
<details>
<summary>OS versions</summary>

    PS C:

[2022-02-03 20:55] CelestialGuru commented on #1604
I've noticed that if I start typing a letter or two, autocomplete will start to work:
[code]

So a workaround would be to just start typing a single letter before before hitting TAB, but I just want to see ALL attributes available at once.

[2022-02-04 15:47] fcurella commented on #1604
Could it possibly be an issue o Python 38 that got fixed in 3.9?

Either way, I'm not sure what we could do to fix this. I'm open to any ideas.

[2022-02-04 16:05] fcurella commented on #1578
Thank you for the report @alexei !

The way we handle this is that we create an `administrative_unit()` method, and then alias the correct name to that method.

For example, Canada has ["provinces"](https://github.com/joke2k/faker/blob/master/faker/providers/address/en_CA/__init__.py#L357-L361). You would do the same, but with `county = administrative_unit`

[2022-02-04 16:55] fcurella commented on #1602
Closed by #1603

[2022-02-04 16:55] #1602 closed

[2022-02-04 16:56] fcurella commented on #1585
Closed by #1593

[2022-02-04 16:56] #1585 closed

[2022-02-04 16:56] fcurella commented on #1579
Closed by https://github.com/joke2k/faker/pull/1601

[2022-02-04 16:56] #1579 closed

[2022-02-04 16:58] fcurella commented on #1547
closing for inactivity

[2022-02-04 16:58] #1547 closed

[2022-02-04 16:59] fcurella commented on #1356
Closing for inactivity. Feel free to reopen.

[2022-02-04 16:59] #1356 closed

[2022-02-04 17:00] #1484 closed

[2022-02-04 17:01] fcurella commented on #25
closing for inactivity. Feel free to reopen

[2022-02-04 17:01] #25 closed

[2022-02-04 17:02] fcurella commented on #82
Closing for inactivity. Feel free to reopen.

[2022-02-04 17:02] #82 closed

[2022-02-04 17:22] FrancYescO commented on #1596
if you want you can do the same i've done for IT...
https://github.com/joke2k/faker/pull/1593

[2022-02-04 17:29] FrancYescO commented on #1113
also here, this strategy can be applied https://github.com/joke2k/faker/pull/1593

[2022-02-04 19:17] #1595 closed

[2022-02-04 19:18] fcurella commented on #1519
Hi, sorry about the late response!

Feel free to submit a Pull Request. You can just copy one of the existing providers and make your changes.

[2022-02-08 23:17] #1570 closed

[2022-02-09 01:26] CelestialGuru commented on #1604
I thought that if an object had too many attributes, that new versions of Python would not show all those attributes when you hit tab. Below I show that an object with ~17k attributes, in new version of Python, will still work as expected when you hit tab.
[code]

So why then, does tab completion not work?

[2022-02-09 01:27] CelestialGuru commented on #1604
Can anyone else replicate this?

I showed you how to run this in docker, so hopefully it should be easy enough to duplicate. (The issue can be demonstrated outside of docker btw)

[2022-02-09 15:33] mondeja commented on #1604
In Ubuntu 20.04 I can't replicate it with Python3.9 installed with APT from default repositories but Python3.10 installed from deadsnakes PPA has this problem.

[2022-02-09 16:28] MarcoMatarazzo opened #1611 "it_IT ssn() (Codice Fiscale) produces wrong codes"
* Faker version: 12.1.0
* OS: all

It_IT ssn() (codice fiscale) does not produce correct strings, according to the official algorythm.

### Steps to reproduce

1. Generate an SSN
[code]
2. Verify validity of resulting code, for example using http://www.codicefiscaleonline.com/codice_inverso.php

### Expected behavior

Code should be valid.

### Actual behavior

Code is often NOT valid. This will h

[2022-02-09 16:47] MarcoMatarazzo commented on #1611
Fix in https://github.com/joke2k/faker/pull/1612

[2022-02-10 10:22] w0rmr1d3r opened #1613 "Release text to be a link instead of plain text."
* Faker version: every new one
* OS: doesn't apply

Everytime a new release is published on GitHub, such as [v12.2.0](https://github.com/joke2k/faker/releases/tag/v12.2.0), the release notes just say `See CHANGELOG.md`, can we have that to be a link to the CHANGELOG.md file directly?
It would be easier when a notification is received that a new release has been published and have a link directly t

[2022-02-10 16:59] #1613 closed

[2022-02-11 18:22] fcurella commented on #1538
Closed in https://github.com/joke2k/faker/pull/1614

[2022-02-11 18:22] #1538 closed

[2022-02-14 16:42] #1596 closed

[2022-02-14 18:39] chenrui333 opened #1617 "no keyword with name 'FakerLibrary.Word' found issue"
* Faker version: 12.3.3
* OS: macOS

I am using faker along with robotframework-faker (5.0.0) to run selenium e2e tests, but run into some keyword not found issue (like `no keyword with name 'FakerLibrary.Word' found` (or `Fakerlibrary.User Name`))

### Steps to reproduce

TBD

### Expected behavior

keyword should still work with robotframework-faker 5.0.0

### Actual behavior

X is ...

----

Af

[2022-02-15 14:56] fcurella commented on #1617
I don't really know what `robotframework-faker` is and how it works. Have you tried opening an issue on that project?

[2022-02-16 13:27] didac-94 opened #1618 "Firefox user agents with fixed seed are non-deterministic"
* Faker version: tested on 8.14.1
* OS: MacOS

Seeded calls to `user_agent.firefox()` do not produce deterministic results, dependening on *when* the code is executed.

### Steps to reproduce

1. Run
[code]
2. *Wait a few an unspecified amount of time* (alternatively, set your computer's date to something else far enough from current date).
3. Run step 1 again. The result is different.

### Expect

[2022-02-17 15:20] #936 closed

[2022-02-22 15:43] fcurella commented on #1618
I agree that this is a bug. If the instance is seeded, then the generated data must be deterministic: that's the requirement of `seed` and `seed_instance`.

I'm ok with setting the timestamp to an arbitrary date. Do you have time to work on a Pull Request?

[2022-02-25 15:08] bfeister opened #1622 "US Addresses with Apostrophe's"
* Faker version: 4.1.0
* OS: Mac OS Big Sur

Brief summary of the issue goes here.

### Steps to reproduce

1. faker.address()

### Expected behavior

In the US, no apostrophe's

### Actual behavior

US addresses via `faker.address()` yield apostrophe's

### Discussion

So, I'm finding conflicting information - it seems that the US Postal Service forbids special characters, however, Google says

h

[2022-02-25 17:27] fcurella commented on #1622
I would say let's go with the rule rather than the exception, and remove apostrophes

[2022-02-25 23:56] praveencqr opened #1623 "How can I get the address from the specific state of a country?"
I would like to get the list of all states of a country and generate the state-specific addresses. There is an option to generate the desired fake credit card from various providers such as visa, mastercard, etc. I need such options to generate addresses from specific regions. Is it already available?

[2022-02-26 05:02] arminshoughi commented on #1623
that's a good idea, I'd work on it.

[2022-03-03 20:07] allisonletts opened #1624 "Update first_names_nonbinary with more androgynous names"
https://github.com/joke2k/faker/blob/e2d255a942719c756426c995bb350ae5b23f119e/faker/providers/person/en_US/__init__.py#L770-L771

The existing implementation of nonbinary first names in en_US is just a copy of all of the female names and all of the male names.
I'd like this list to be a subset of the more androgynous names, in the spirit of the original issue (#1205).

## Proposal
Filter the exist

[2022-03-03 22:28] fcurella commented on #1624
Sounds like a good idea. Do you have time to prepare a Pull Request?

[2022-03-03 22:35] allisonletts commented on #1624
Not right away, but yup!

[2022-03-07 14:59] alexei opened #1627 "Invalid configuration for faker locale `az_AZ`"
* Faker version: 9.9.0
* Python version: 3.9
* OS: OSX

Unable to load the `az_AZ` provider.

### Steps to reproduce

[code]

### Expected behavior

It should load the provider e.g.

[code]

### Actual behavior

It raises an exception:

[code]

[2022-03-07 17:20] alexei commented on #1627
Oh, yeah, I can confirm it works in 13.3.0. I'm using faker through factory-boy and I assumed it was the latest version, but I see now they have very different release schedules. My bad, sorry! I'll pin faker in my requirements file so it gets tracked independently.

[2022-03-07 17:23] fcurella commented on #1627
No worries!

[2022-03-07 17:23] #1627 closed

[2022-03-08 08:55] Dragon1573 commented on #1604
## Summary

1. **IntelliCode** and **Kite-AI Auto-completion** not working in VSCode.

   <details>
   <summary>Screenshot (Click to expand)</summary>
   <img src="https://user-images.githubusercontent.com/49941141/157201360-f572a6c2-d929-4131-acfe-e08655cd7aa7.png" />
   </details>

2. Python Docs unavailable both in **VSCode IntelliCode** and **Kite Copilot**.

   <details>
     <summary>Screens

[2022-03-08 09:22] Dragon1573 commented on #1604
I'm using **Docker Desktop for Windows** with WSL2 backend. I followed the steps as what @CelestialGuru did before. When I type in a few characters it CAN auto-complete for me, but if I left it empty and invoke `Tab` just after the dot, nothing pop up.

<details>
<summary>Console Logs (too long, click to expand)</summary>

[code]

</details>

[2022-03-10 18:04] 1Mark opened #1628 "Support for RFC 3339"
Add support for RFC 3339

https://stackoverflow.com/questions/522251/whats-the-difference-between-iso-8601-and-rfc-3339-date-formats

[2022-03-12 06:37] XHG78999 commented on #1159
Like as...... an article mode? we can generate it by other functions we have now.

[2022-03-12 16:47] Pomax commented on #1385
@joke2k ?

[2022-03-14 15:40] #150 closed

[2022-03-23 11:01] princelySid commented on #1392
Me too.
[code]
Will produce different names each time but if you use only one locale it works.

Current work around:
[code]
Not sure why, but both **random.seed** and **Faker.seed** need to be there

[2022-03-23 18:47] #1392 closed

[2022-03-26 02:00] #1571 closed

[2022-03-26 02:00] #1554 closed

[2022-03-26 02:00] #1525 closed

[2022-03-26 02:00] #1514 closed

[2022-03-26 02:00] #1512 closed

[2022-03-26 02:00] #1511 closed

[2022-03-27 02:01] #1502 closed

[2022-03-27 02:01] #1500 closed

[2022-03-27 02:01] #1483 closed

[2022-03-27 02:01] #1482 closed

[2022-03-27 02:01] #1481 closed

[2022-03-28 02:05] #1576 closed

[2022-03-28 02:05] #1506 closed

[2022-03-28 02:05] #1471 closed

[2022-03-28 02:05] #1470 closed

[2022-03-29 02:05] #1457 closed

[2022-03-29 02:05] #1435 closed

[2022-03-30 02:45] #1424 closed

[2022-03-30 02:45] #1420 closed

[2022-03-30 02:45] #1419 closed

[2022-03-30 02:45] #1418 closed

[2022-03-31 02:42] #1412 closed

[2022-03-31 02:42] #1410 closed

[2022-03-31 02:43] #1400 closed

[2022-03-31 02:43] #1394 closed

[2022-03-31 02:43] #1388 closed

[2022-04-01 03:05] #1325 closed

[2022-04-01 03:05] #1315 closed

[2022-04-01 03:05] #1309 closed

[2022-04-02 02:04] #1305 closed

[2022-04-02 02:04] #1301 closed

[2022-04-03 02:05] #1271 closed

[2022-04-03 02:05] #1266 closed

[2022-04-04 02:07] #1260 closed

[2022-04-05 02:04] #1238 closed

[2022-04-07 06:51] javierjuan commented on #1427
Hi @fcurella

I am trying to create a custom provider that behaves the same in all languages. Should I create a module for each language? Is it not possible to create just one module/class for all languages?

And in any case, how should I have to add the custom provider in multiple locale mode? The method `add_provider` throws the following exception:

`NotImplementedError: Proxying calls to add_p

[2022-04-09 13:10] jhbuhrman commented on #1618
A small team from Ordina Pythoneers has picked this one up. Solution is known and a test has been made to demonstrate the bug.

[2022-04-11 02:08] #1583 closed

[2022-04-12 02:05] #1463 closed

[2022-04-12 02:05] #1454 closed

[2022-04-13 02:08] #1227 closed

[2022-04-13 02:08] #1222 closed

[2022-04-14 02:09] #1211 closed

[2022-04-14 02:09] #1210 closed

[2022-04-15 02:10] #1202 closed

[2022-04-15 02:10] #1198 closed

[2022-04-17 02:05] #1191 closed

[2022-04-17 02:05] #1187 closed

[2022-04-18 02:11] #1588 closed

[2022-04-18 02:11] #1184 closed

[2022-04-18 02:11] #1172 closed

[2022-04-19 02:12] #1162 closed

[2022-04-19 02:12] #1161 closed

[2022-04-19 02:12] #1152 closed

[2022-04-19 05:24] Giorgionocera opened #1633 "Add AutomotiveProvider for it_IT"
* Faker version:
* OS: All

I want to add the Automotive provider for it_IT language. It should provide the license_formats for the Italian plates in order to generate an Italian license plate.

### Steps to reproduce

1. Set it_IT as locale
``` fake = Faker('it_IT') ```

2. Generate a new license plate
``` plate = fake.license_plate()```

3. Print the result
``` print(plate()) ```

### Expected b

[2022-04-20 02:13] #1590 closed

[2022-04-20 02:13] #1582 closed

[2022-04-20 02:13] #1456 closed

[2022-04-20 02:13] #1142 closed

[2022-04-20 02:13] #1139 closed

[2022-04-20 02:13] #1100 closed

[2022-04-20 14:46] kloczek commented on #1456
Just tested 13.3.5 and iIndeed number of warnings reduced dramatically 😄
Thank you 😃
However it is another small issue.
In my build procedures I've moved away from using `setyp.py build_sphinx` to use straight `sphinx-build` (soon `build_sphinx` command will be removed and it is already marked as deprecated).
Here is the result
[code]
This can be fixed by patch:
[code]
In initially copied from exa

[2022-04-20 15:07] kloczek opened #1635 "13.3.5: pytest is failing because it uses no longer maintained `random2` module"
* Faker version: 13.3.5
* OS: Linux x86/64

### Brief summary of the issue
Looks like pytest is failing because test suite still is using outdated `random2` module which was never updated for python 3.x).

### Steps to reproduce
I'm trying to package your module as an rpm package. So I'm using the typical PEP517 based build, install and test cycle used on building packages from non-root account.
-

[2022-04-20 15:08] kloczek commented on #1635
Jus tchecked and I've alredy reported that https://github.com/joke2k/faker/issues/1454.
Ticket has been closed without fixing the issue 😞

[2022-04-20 18:03] fcurella commented on #1635
@kloczek would adding `random2` to `tests_require` in `setup.py` fix your issue?

[2022-04-20 18:14] kloczek commented on #1635
I'm not using setu.py. As I wrote on top of the ticket I'm using pep517 build procedure.
Using already setup py is marked in `setuptools` as deprecated. You should move to pyproject.toml + setup.cfg.
And no .. hardcoding anywhere build dependencies to use long time not maintained module which was never updated for python 3.x is not good idea.

[2022-04-20 20:07] fcurella commented on #1635
If you have the time to work on it, I'll be more than happy to move to `pyproject.toml` and `setup.fcg`

[2022-04-20 20:43] kloczek commented on #1635
Issue is that I still have long queue packages to update/do from scratch 😞 .. however you can always count on me to report every possible small issue which I'm able to spot on packaging or test any even preliminary patch in my build env 😃 (best as PR or downloadable over URL patches because it is very easy to plug into my build procedures).
Sorry ..
If it is still unresolved just please keep that

[2022-04-20 21:33] fcurella opened #1636 "Move to `pyproject.toml` + `setup.cfg`"

[2022-04-20 21:34] fcurella commented on #1635
I've created https://github.com/joke2k/faker/issues/1636 to keep track of the efforts re: pakaging

[2022-04-21 02:11] #1092 closed

[2022-04-21 02:11] #1078 closed

[2022-04-21 02:11] #1068 closed

[2022-04-21 02:11] #1067 closed

[2022-04-21 02:11] #1066 closed

[2022-04-21 02:11] #1065 closed

[2022-04-21 10:25] stuaxo commented on #1067
While you can use the level parameter, this means each new domain will have an extra dot in it, which may not always be desirable.

I didn't write this before as I couldn't work out exactly what it was I didn't like about the solution, but I guess the fact you end up with domains with lots and lots of dots felt a littly "icky", but it also may not be what you want.

I think in general it would be

[2022-04-22 02:13] #1057 closed

[2022-04-22 13:58] #1633 closed

[2022-04-25 02:10] #1591 closed

[2022-05-01 10:30] sizhky opened #1647 "`en_IN` locale returns latin sentences"
* Faker version: 13.6.0
* OS: Linux

Brief summary of the issue goes here.
How to generate normal english sentence when local is 'en_IN'

### Steps to reproduce

[code]

### Expected behavior

Output should be a normal english sentence

### Actual behavior
`'Nobis quos sint alias atque voluptatibus est.'`
Seeing a latin sentence. No one speaks latin in India

[2022-05-01 16:27] zerogonal commented on #1647
Try using the `en_US` locale instead.

[2022-05-01 17:16] sizhky commented on #1647
I need to use Indian names.. should i create two faker instances? Isn't there a better way?

[2022-05-01 17:46] zerogonal commented on #1647
You can submit a pull request to add the lorem provider to the `en_IN` locale.
For now, I think you should create two faker instances.

[2022-05-02 02:13] #1575 closed

[2022-05-04 23:36] zerogonal opened #1652 "Better biology provider"
There should be a better biology provider. The `faker_biology` community provider has a lot that could be added, like specific methods for genuses, families, orders, etc.

Also, can the biology provider be incorporated into the main Faker package, so that people only need to install one package?

[2022-05-04 23:40] zerogonal commented on #1652
also, why don't we incorporate *all* of the functionality of the community providers into the main package. Wouldn't that be better?

[2022-05-05 22:34] fcurella commented on #1652
@zerogonal There are many reason why we don't want to include everything into the main package:

* It's more work for the maintainers (ie: me): I'll have to review more Pull Requests
* It makes the package bigger, which impacts:
  * infrastructure costs (in network transfers) for PyPI
  * Docker images size for anyone using the package

I'm actually evaluating moving some providers out of Faker. T

[2022-05-05 23:34] zerogonal commented on #1652
@fcurella can I make my own biology community provider?

[2022-05-06 06:20] #1519 closed

[2022-05-06 10:05] e-panourgia opened #1653 "[New Provider] Add new Sport provider."
I was thinking of implementing a new sports provider (similar to [Ruby Faker](https://github.com/faker-ruby/faker)). It would generate fake data regarding basketball teams and players. Would you be interested in a PR?

[2022-05-06 14:11] fcurella commented on #1652
@zerogonal I'd recommend you improve the existing one, but there's nothing preventing you from making your own.

[2022-05-06 14:13] fcurella commented on #1653
Thank you for your interest @e-panourgia !

Unfortunately, I don't think sports is a case common enough to be included in the main `Faker` distribution. If you want to implement it as an [External Provider](https://github.com/joke2k/faker#how-to-create-a-provider), I'll be happy to list it on our [community providers page](https://faker.readthedocs.io/en/master/communityproviders.html).

[2022-05-07 00:31] zerogonal commented on #1652
What about adding it to the official list of community providers?

[2022-05-08 02:11] #1018 closed

[2022-05-08 02:11] #1015 closed

[2022-05-08 02:11] #1014 closed

[2022-05-08 19:56] david-shiko commented on #697
Better to use `sample` to avoid duplication

[2022-05-09 07:16] tplessas commented on #1636
Hi @fcurella, mind if I take this? It should be pretty straightforward to move over, given that most of the parameters in `setup.py` can be copied almost verbatim to `setup.cfg`.

[2022-05-09 08:33] stuaxo commented on #966
Hi Stale bot,
  This feature would still be a good one to have, if not by default with some other API to say "I want choices to be unique in this scope, globally or globally across all processes.

[2022-05-09 14:03] fcurella commented on #1652
As long as it satisfies the requirements listed on the page, I have no problem adding it. But I think it would be kinder if you'd try to improve the existing repo first, rather than create a competitor.

[2022-05-10 03:42] edchelstephens commented on #1653
Would love to contribute on Sports provider as well @e-panourgia @fcurella

with providers for

Sport Name
Team Name
Player Name
and others...

[2022-05-10 07:07] princelySid opened #1656 "Faker returns one value when using multiple locales"
* Faker version: 13.11
* OS: Mac OS Monterey
Computer: MacBook Pro (14-inch, 2021)

Brief summary of the issue goes here.
If using multiple locales, faker only makes one choice. This only happens when you select multiple locales

### Steps to reproduce

[code]

### Expected behavior
returns
[code]

### Actual behavior
returns
[code]

[2022-05-10 08:16] princelySid opened #1657 "Faker produces different results when using pytest even with seed"
* Faker version: 13.11
* OS: Mac OS Monterey
* Computer: MacBook Pro (14-inch, 2021)
* pytest version: 6.2.5

When using faker with pytest it produces one result when I call the test file directly vs when I just ran pytest over all my tests.

### Steps to reproduce
In total you should have 3 test files, two in tests and one in tests/<new folder>. They should all contain the same code.

1. Create a

[2022-05-10 15:40] nstuardod opened #1658 "Add `es_CL` providers"
* Faker version: master
* OS: N/A

Currently, there is support for `es_CA`, `es_CO`, `es_ES` and `es_MX` locales. `es_CL` is not implemented.

### Steps to reproduce

1. Initialize Faker with `es_CL` locale

### Expected behavior

`Faker("es_CL")` should return localized values for person, address, color, etc.

### Actual behavior

`Faker("es_CL")` falls back to English.

[2022-05-11 01:30] luckman212 commented on #1065
Is there a solution to generate, say a random, valid RFC1918 network in CIDR notation? e.g. 172.18.204.64/28

[2022-05-11 02:11] #999 closed

[2022-05-12 15:02] Tayum opened #1661 "pydecimal provider with positive=True sometimes returns zero"
* `Faker` version: 13.3.4
* OS: Ubuntu 18.04.6

Call `pydecimal` with `positive=True`, and it'll sometimes return a zero.

### Steps to reproduce
Here's an example:
[code]

### Expected behavior

It should always print `False`.

### Actual behavior
Sometimes it's `True` with `f.pydecimal()` returning zero.

[2022-05-13 13:00] jhbuhrman commented on #1661
In an attempt to solve this issue, we've looked into the implementation. Our conclusion is that this doesn't seem to be a bug, and that `positive=True` should be interpreted as "make it a non-negative number". This happens at [these lines](https://github.com/joke2k/faker/blob/827eea82685fde9377c2e4ba28dc0df7d3bf32f0/faker/providers/python/__init__.py#L222-L225).

It seems more a matter of the docu

[2022-05-13 13:51] Tayum commented on #1661
Hey @jhbuhrman, IMO, "positive" and "non-negative" are actually two different terms which differ exactly for a reason that non-negative includes zero as well :)

In a similar [issue](https://github.com/joke2k/faker/issues/1387) for `pydecimal`, this was fixed so not to produce zero value. Please keep that in mind while picking a solution to the issue.

Moreover, if you'll specify `min_value=Decima

[2022-05-13 14:16] #1618 closed

[2022-05-13 14:49] #1658 closed

[2022-05-13 16:20] kloczek commented on #1456
gentle ping .. 😄

[2022-05-13 18:02] Tayum commented on #1661
@fcurella, I could suggest using: `Decimal('0').next_plus()` (which results in `Decimal('1E-1000026')`)

[2022-05-16 02:07] #986 closed

[2022-05-16 09:29] jhbuhrman commented on #1661
The [Dutch Wikipedia states](https://nl-m-wikipedia-org.translate.goog/wiki/Positief_getal?_x_tr_sl=nl&_x_tr_tl=en&_x_tr_hl=nl&_x_tr_pto=wapp) that a positive number does _not_ include 0 in the Netherlands, but in Belgium it does. The [English Wikipedia states](https://en.wikipedia.org/wiki/Positive_real_numbers) that 0 is _not_ included. I  mention this to illustrate that the interpretation _can_

[2022-05-16 13:26] fcurella commented on #1661
@Tayum Thanks, I wasn't aware of `Decimal.next_plus()`.

@jhbuhrman I agree with everything you said. `pydecimal` needs be locale-aware, which means we'll need an additional `python` provider for `nl_BE` and `fr_BE`, at least.

In the docs, we'll also have to mention that the meaning of `positive` is locale-dependent. I don't think most people realize that.

[2022-05-18 02:08] #1185 closed

[2022-05-19 02:14] #982 closed

[2022-05-20 02:10] #1578 closed

[2022-05-20 02:10] #1113 closed

[2022-05-20 20:28] #1652 closed

[2022-05-24 02:12] #979 closed

[2022-05-24 02:12] #977 closed

[2022-05-24 02:12] #975 closed

[2022-05-24 02:12] #966 closed

[2022-05-24 02:12] #958 closed

[2022-05-24 02:12] #932 closed

[2022-05-25 02:12] #1611 closed

[2022-05-26 02:13] #928 closed

[2022-05-28 02:08] #915 closed

[2022-05-31 02:12] #1617 closed

[2022-06-01 08:26] inkviz96 opened #1667 "AttributeError: type object 'Factory' has no attribute '_get_provider_class'"
* Faker version: all versions 13, 12, 6 etc
* OS: ubuntu

using pytest and mixer python 3.10.4
Just catch this error
AttributeError: type object 'Factory' has no attribute '_get_provider_class'

[2022-06-01 15:19] inkviz96 commented on #1667
Ok. I resolve this using faker version 12.0.0

[2022-06-01 15:19] #1667 closed

[2022-06-02 13:44] sr-verde opened #1668 "unix_time() with start_datetime crashes with OverflowError"
* Faker version: 13.12.0
* OS: Linux 5.18.1-arch1-1

I want to create two unix timestamps: One with any value and the other one with a value higher than the first one (minimal example below). Does not work but crashes with an OverflowError (Traceback below).

### Steps to reproduce

Create a minimal example:
[code]
Execute the example and get the following traceback:

[code]

### Expected behavior

[2022-06-06 15:15] allisonletts commented on #1624
I'm still planning to work on this.

[2022-06-08 10:31] terrycom9581 opened #1669 "How can I add custom locale?"
Hi,
Thank you for your contribution.

I need to add the custom locales like ps_AF, ar_IQ, etc to get the localized first and last names.
I can google and find out the common names of these locales but I am not sure how I can add it to Faker class.

Would you kindly guide me on this?

[2022-06-09 02:11] #854 closed

[2022-06-09 02:11] #851 closed

[2022-06-09 14:54] invokermain commented on #1604
I see the same problem on Python 3.9 in PyCharm. I wonder if this is just due to the high level of dynamism in Faker? I.e. attributes are added in via `__getattribute__` so static type checkers cannot resolve them?

But makes the library a pain to use as not discoverable via IDE.

[2022-06-10 02:13] #1622 closed

[2022-06-10 02:13] #847 closed

[2022-06-10 02:13] #798 closed

[2022-06-10 02:13] #778 closed

[2022-06-11 02:13] #1623 closed

[2022-06-13 02:14] #754 closed

[2022-06-14 03:06] greggles commented on #579
Cool to see the bot cleaning up the queue, but this feels like a worthwhile issue that should be pretty easy to achieve.

[2022-06-19 02:17] #702 closed

[2022-06-19 04:03] cuixiongyi commented on #1656
Same problem here,
Faker version: 13.13
OS: Ubuntu 20.04

![image](https://user-images.githubusercontent.com/8634821/174465078-1dbcff6d-e653-4c26-bea5-a764ad712475.png)

[code]
It happens both in Pycharm and in bash.
Although when I step into the code, (step into all the functions), it will produce a different result.

[2022-06-20 02:13] #689 closed

[2022-06-22 02:13] #685 closed

[2022-06-23 02:13] #1628 closed

[2022-06-24 09:50] lafeier888 opened #1676 "Very slow generation"
Why is it that when I generate a large amount of data, the speed is very slow, and I can't solve it with multithreading?

[2022-06-25 02:14] #1385 closed

[2022-06-25 02:14] #1159 closed

[2022-06-25 02:14] #681 closed

[2022-06-27 02:14] #672 closed

[2022-06-27 02:14] #660 closed

[2022-06-27 02:14] #639 closed

[2022-06-27 02:14] #607 closed

[2022-06-29 02:14] #603 closed

[2022-06-30 02:14] #564 closed

[2022-07-01 02:14] #490 closed

[2022-07-05 02:14] #457 closed

[2022-07-07 23:03] Teett opened #1679 "locale 'es_CO' not being detected by Faker() or local bundled packages usage not clear in readme"
* Faker version: Faker-13.15.0
* OS: Windows 10

Hello! I've been trying to use the [bundled locale 'es_CO'](https://faker.readthedocs.io/en/master/locales/es_CO.html) without success and getting an error, I've tried many things, but it keeps on failing. An example on the readme on how to use bundled locations would be appreciated. I'll leave my example below.

### Steps to reproduce
Run the follo

[2022-07-08 02:13] #455 closed

[2022-07-08 11:27] VladimirRybalko opened #1680 "*pyfloat* provider generates the same values for the specific set of parameters."
* Faker version: 13.14.0
* OS: Windows 10 Enterprise, x64

Brief summary of the issue goes here.
*pyfloat* method generates the same values for the specific set of parameters.

### Steps to reproduce

[code]

### Expected behavior
Output numbers should be random from the [min, max] range

### Actual behavior
Output contains only two unique values being repeating many times.

[2022-07-10 02:13] #453 closed

[2022-07-10 02:13] #427 closed

[2022-07-12 02:16] #366 closed

[2022-07-12 02:16] #346 closed

[2022-07-12 02:16] #345 closed

[2022-07-12 08:02] Hraesvelg opened #1681 "Support for async / celery"
Hi,

All is in title ! faker is not usable in celery tasks, i think it's impossible to load generator in async mode (i have got a sigkill signal 9 as soon as import module)
i know that is not the goal of this lib to generate fake data like this, but why not ?!

Thanks !

[2022-07-12 08:40] Hraesvelg commented on #1681
Sorry for my post, bad explication in fact Faker required a minimum of RAM...

[2022-07-12 14:54] #1681 closed

[2022-07-12 15:07] fcurella commented on #1679
Hi, I've just tested with faker 13.15.0 and it works. Could you check the version again with `import faker; print(faker.VERSION)`?

![Screen Shot 2022-07-12 at 10 07 27 AM](https://user-images.githubusercontent.com/89607/178523014-2e6e1038-d8ae-47ae-bd07-6f46c6b31f93.png)

[2022-07-14 02:15] #241 closed

[2022-07-14 02:15] #230 closed

[2022-07-15 02:14] #191 closed

[2022-07-15 02:14] #181 closed

[2022-07-17 02:14] #178 closed

[2022-07-17 02:14] #170 closed

[2022-07-17 23:47] Teett commented on #1679
I just tested this on a different PC and it worked perfectly, can't reproduce the bug, I guess this issue can be disregarded as some local installation issue. Thanks for the effort trying this @fcurella
![image](https://user-images.githubusercontent.com/46414320/179429713-2a2a06c3-4689-43e3-8ced-9f106a564ace.png)

[2022-07-18 13:56] #1679 closed

[2022-07-18 15:23] tony opened #1684 "What's the annotation to get completions?"
* Faker version: 13.15.0
* OS: POSIX

### Steps to reproduce

What I see often is using `faker.Faker` ([GitHub Search](https://cs.github.com/?scopeName=All+repos&scope=&q=lang%3Apython+pytest+%22faker%3A%22)):

[code]

This example above is based on [Pytest Fixture's](https://faker.readthedocs.io/en/master/pytest-fixtures.html) examples

### Expected behavior

Showing the instance methods, e.g. `f

[2022-07-18 15:58] fcurella commented on #1684
Duplicate of #1604

[2022-07-18 16:42] tony commented on #1684
@fcurella I will close this per #1604

[2022-07-18 16:42] #1684 closed

[2022-07-18 16:46] tony commented on #1604
I just filed a duplicate (missed this one) in #1684

Here's my completions as of faker [13.15.0](https://pypi.org/project/Faker/13.15.0/), example:

[code]

This example above is based on [Pytest Fixture's](https://faker.readthedocs.io/en/master/pytest-fixtures.html) examples, annotating with `faker.Faker` (as is common, see [GitHub Search](https://cs.github.com/?scopeName=All+repos&scope=&q=lang%

[2022-07-20 05:02] kloczek commented on #1635
Any progress? 🤔

[2022-07-20 12:55] saanpritom opened #1685 "I want to add bn_BD locale support to the repository"
* Faker version: Latest
* OS: Independent

I want to add Bengali (Bangladesh) language provider for the repository. The provider data will be both in the Bengali language and also in the equivalent English language.

[2022-07-22 01:30] mochi-moshi commented on #1668
Howdy! I was just looking into this bug and I noticed the OverflowError is caused because Provider._parse_date_time when taking an integer as a parameter treats it as a timedelta in days where as unix_time() returns the POSIX timestamp in seconds. Provider._parse_date_time's behavior is set to treat integer arguments as days in the tests, so would the preferred behavior be to accept integer date t

[2022-07-22 02:27] teacherSsamko opened #1686 "[Suggestion] Add a 'faker.internet.emoji' function"
I'm writing a test code with some emojis included. but there is no function for generating 'emoji' yet.

So, I suggest adding a generator for it.

FYI - one faker-js user also suggested this method, and it was added. https://github.com/faker-js/faker/issues/497

[2022-07-22 15:13] fcurella commented on #1668
Thank you for looking into this @mochi-moshi . I think integers as timestamps is what most people would expect, so I'd prefer that.

[2022-07-22 15:15] fcurella commented on #1686
I agree, this sounds pretty useful. Do you have time to work on a pull request?

[2022-07-22 15:16] fcurella commented on #1685
Sounds good! Feel free to submit a Pull Request!

[2022-07-22 17:29] teacherSsamko commented on #1686
Sure. I'll take it

[2022-07-22 19:25] mochi-moshi commented on #1680
You chose a left digit range of 14 with your min and max bounds while specifying 3 right digits, in total making a range of 17 digits. Since you only specified the right digit precision, the provider calculates the left digit precision with `sys.float_info.dig`, with on my Windows 10 Home x64 is 15. This means the calculated min and max values the provider can produce will likely have less digits

[2022-08-11 17:43] mlissner opened #1697 "Faker allows date_time_this_year with unreasonable values"
* Faker version: "13.3.1"
* OS: Linux

I just set up a faker like this (using factory boy):

[code]

Because `after_now` defaults to `False`, this sets both `after_now` and `before_now` to `False.

As a result, `date_time_this_year` winds up just picking the time right now, because that's the closest thing that makes sense.

Would it be better to just have an assertion to prevent people from havin

[2022-08-11 19:24] fcurella commented on #1697
Thank you @mlissner .

Would a warning be acceptable? That would allow backward-compatibility and break fewer people's code

[2022-08-11 21:36] mlissner commented on #1697
Sure, I can probably figure that out. Perhaps I'm too in favor of breaking things...

[2022-08-12 14:37] #1668 closed

[2022-08-12 20:01] SJT1988 opened #1699 "fake 'en_US' locale cities have identical structure to 'en_GB' despite much more varied nomenclature"
* Faker version: 13.15.1
* OS: Windows 10

cities generated with 'en_US' locale sound very, very, VERY British.

my code:

[code]

### Expected behavior

cities generated with 'en_US' locale do not almost entirely sound like "--shire", "--bury", "--port", "burgh, etc.
The most commonly repeated names for locations in the United States, according to Wikipedia, are

2.1	Washington (91)
2.2	Franklin

[2022-08-12 20:46] fcurella commented on #1699
City suffixes for `en_US` are defined [here](https://github.com/joke2k/faker/blob/master/faker/providers/address/en_US/__init__.py#L10-L30).

If you have time, feel free to submit a PR with a more American list :)

[2022-08-12 22:01] SJT1988 commented on #1699
Lol, I know, right? 😂

On Fri, Aug 12, 2022, 1:47 PM Flavio Curella ***@***.***>
wrote:

[2022-08-13 10:29] saanpritom commented on #1685
Hi @fcurella I am working on the bn_BD providers. But I need a clarification. To convert randomly generated digits from the English language to the Bengali language I have used a custom method (Given Below). This method has a dict by which it converts the English Digit to Bengali Digit. But the problem is I have to reuse this method on my other modules such as Automotive or Bank etc. What is the m

[2022-08-15 02:15] #1647 closed

[2022-08-15 18:30] saanpritom commented on #1685
The task is done and a pull request has been created (Feature/provider/locale/bn bd/1685) @fcurella

[2022-08-17 15:04] fcurella commented on #1685
Merged in https://github.com/joke2k/faker/commit/598b31a1941595c5c1d4a783c4a34fa5e3cfb1c2

Thank you!

[2022-08-17 15:04] #1685 closed

[2022-08-21 02:16] #697 closed

[2022-08-23 02:14] #1657 closed

[2022-08-23 02:14] #1653 closed

[2022-08-23 15:04] PJPRoche opened #1703 "How to use Faker's unique method with generators in multi-locale mode"
* Faker version: 13.3.1
* OS: Windows 10 / miniconda

When using the faker multi-locale, it seems like the unique function/attribute does not work when called via the individual locale generators

### Steps to reproduce

[code]

### Expected behavior

[code]

### Actual behavior

[code]

Is there a way to invoke "unique" on the individual locale instances?

[2022-08-24 04:18] martin-raven opened #1704 "faker.words with unique param set to true doesn't gurantee unique value."
* Faker version: 8.12.1
* OS: macOS Monterey Version 12.4

Brief summary of the issue goes here:

`faker.words(x, unique=True)`, where x>1 , doesn't guarantee unique value generation instead it will give a value that was already generated instead of throwing the `UniquenessException` exception

### Steps to reproduce

1. Run the following script:
[code]
2. You can observe that the value of x and w

[2022-08-25 02:34] martin-raven commented on #1704
This is not a valid issue as faker.unique.word and faker.words don't have uniqueness being shared among them.

[2022-08-25 02:34] #1704 closed

[2022-08-25 12:22] SanderFtn opened #1705 "Wrong postcode generation"
* Faker version: faker==13.14.0
* OS: Ubuntu 22.04.1 LTS

Using generate postcode() does not work properly

### Steps to reproduce

[code]

### Expected behavior

The postcode consists of five digits (01000-99999)

### Actual behavior

The postcode consist of six digits

[code]

[2022-08-26 02:14] #1636 closed

[2022-08-29 14:16] stefan6419846 opened #1707 "Allow prefix and suffix values for pystr provider"
* Faker version: 14.1.0
* OS: OpenSUSE Leap 15.3

I am trying to replace [`factory.fuzzy.FuzzyText`](https://factoryboy.readthedocs.io/en/stable/fuzzy.html#fuzzytext) with the *faker* equivalent, as the *fuzzy* implementations are going to be discontinued in the future. Unfortunately, *prefix* and *suffix* values for `Faker.pystr` are not supported at the moment.

### Expected behavior

An optiona

[2022-08-29 14:25] stefan6419846 opened #1708 "Lower bound for typing_extensions?"
* Faker version: 14.1.0
* OS: OpenSUSE Leap 15.3

For old Python versions (before Python 3.8), *faker* requires the *typing_extensions* with at least version 3.10.0.2. Due to some other dependencies inside my project, I am required to use version 3.7.4.3.

### Steps to reproduce

1. `pip install faker`

### Expected behavior

*faker* works with `typing_extensions==3.7.4.3` as well, to allow better

[2022-08-29 18:31] fcurella commented on #1708
Thank you for the report @stefan6419846 ! Would you mind submitting a Pull Request?

[2022-08-30 02:14] #1661 closed

[2022-08-30 06:42] stefan6419846 commented on #1708
Yes, no problem. Should be should use `typing_extensions>=3.7.4.3` there, or should we try to determine when the `Literal` type has been introduced and use this version?

[2022-08-30 14:18] ajinkyac03 opened #1712 "Add a postcode generator for locale 'en_IN'"

[2022-08-30 16:31] #1708 closed

[2022-08-31 17:09] #1705 closed

[2022-08-31 17:20] #1707 closed

[2022-09-04 07:14] uri-rodberg opened #1715 "Officially support Python 3.10 on PyPI"

[2022-09-05 04:05] hjkl01 opened #1716 "add parameter: platform"
* Faker version: latest
* OS: MacOS

Brief summary of the issue goes here.

### Steps to reproduce

1. [code](https://github.com/joke2k/faker/blob/c470c957c6215a39019860e0ea8519fb87118c66/faker/providers/user_agent/__init__.py#L137)
2. cloud you add parameter that I can choose platform

[2022-09-08 19:07] Artmorse commented on #1686
Hi,
I've opened a PR (#1706 ) for this issue.

[2022-09-16 13:35] vd-indriver opened #1718 "ValueError: empty range for pyfloat"
* Faker version: 14.0.0
* OS: macOS 12.5 (Monterey)

pyfloat throws ValueError when min_value and max_value have the same left digits.

### Steps to reproduce

[code]

### Expected behavior

pyfloat returns a float between min_value and max_value

### Actual behavior

pyfloat throws exception

[code]

[2022-09-19 02:14] #1624 closed

[2022-09-20 18:45] johntmyers commented on #1656
Same for version 14.2.0, here's a script I wrote that shows the behavior too:

[code]

[2022-09-21 15:28] fcurella commented on #1716
I don't really have much time nowadays to work on new features. If you can submit a Pull Request, I'll be happy to review it!

[2022-09-21 15:29] fcurella commented on #1715
If you have time to submit a Pull Request, I'll be happy to review it :)

[2022-09-21 21:05] uri-rodberg commented on #1715
You might also want to drop support for Python 3.6 (not included in this PR).

[2022-09-22 02:14] #1669 closed

[2022-09-22 13:01] duarte-pompeu opened #1722 "Feature request: allow calls to Faker instance from module"
* Faker version: 14.2.0
* OS: Windows / WSL

I wonder if we could simplify the usage of Faker to something like this:

[code]

This would allow the following behaviors:
- common users: import the module and use the methods directly
- advanced users: import the classes and instantiate them as desired

This is possible via [The Prebound Method Pattern](https://python-patterns.guide/python/prebound-m

[2022-09-22 13:05] duarte-pompeu commented on #1722
Small demo: #1723

[2022-09-22 15:13] fcurella commented on #1722
What locale would `faker` use? Should it have a method to change locales, eg something like `faker.add_locales()`?

[2022-09-22 20:06] duarte-pompeu commented on #1722
I hadn't thought about that, as I just used it for some internal tests which weren't concerned about locale.

In this demo, it's using `en_US`, which appears to be the default when `locale` is not specified when initializing `Faker`. I think that's a reasonable default.

But it could be interesting to have a `add_locales()` or `set_locales()`.Mmaybe the instance could have this new method? Then th

[2022-09-24 21:04] gotofritz opened #1726 "How to call one of the standard providers' methods from within a custom provider?"
* Faker version: 14.2.0
* OS: any

I'd like to be able to call, say, `self.words()` from within one of my own custom providers

### Steps to reproduce

I know I am supposed to inherit from BaseProvider, and I do that. But it doesn't know about `self.words`. I tried to inherit from LoremProvider, but it doesn't work either

[code]

### Expected behavior

[code]

### Actual behavior

[code]

Is ther

[2022-09-24 21:12] gotofritz commented on #1726
Oh I see, I need to import from the locale - `from faker.providers.lorem.en_US import Provider as LoremProvider`

Closing

[2022-09-24 21:12] #1726 closed

[2022-09-26 14:33] #1715 closed

[2022-09-27 06:46] stefan6419846 opened #1728 "random_element fails for dictionaries with string values"
* Faker version: 14.2.0
* OS: OpenSUSE Leap 15.3

The `random_element` provider fails if a dictionary with non-numeric values is provided for the elements.

### Steps to reproduce

[code]

### Expected behavior

No error will be thrown.

### Actual behavior

The second random choice will fail:

[code]

[2022-09-29 02:14] #579 closed

[2022-10-07 02:14] #1676 closed

[2022-10-11 06:46] arcanemachine commented on #966
I made a helper function to do this:

[code]

This function should work even if your model's `max_length` is changed or removed entirely (since it only modifies the length of the string if `max_length` is not `None`... which it will be if you remove the field's `max_length` parameter).

I lack the skill and time to do a proper pull request (for now), so hopefully this will be of use to someone.

[2022-10-12 08:14] jakobdo opened #1732 "Version 15.1.0 not working in python 3.7"
* Faker version: 15.1.0
* OS: Windows
* Python: 3.7

Brief summary of the issue goes here.

When importing Faker 15.1.0, it raises an exception:

In this line:
faker/providers/__init__.py
from typing import Any, Collection, List, Optional, OrderedDict, Sequence, TypeVar, Union
ImportError: cannot import name 'OrderedDict' from 'typing'

### Steps to reproduce

1. Install python 3.7
1. from typing

[2022-10-12 08:18] stefan6419846 commented on #1732
Which version of `typing_extensions` do you have? It seems like at least version 3.10.0.1 is required (https://github.com/python/typing_extensions/commit/b22e66916ed26e4705fa3359fda4b5a5d1af7128, as the change for 3.10.0.0 in https://github.com/python/typing_extensions/commit/c7194ebb1cb849b571332e568742ee25197dbbeb had been flawed).

[2022-10-12 08:48] karlduggan commented on #1718
Do you mind if I look into this?

[2022-10-12 08:52] stefan6419846 commented on #1718
As there is no fix for this available at the moment and this appears to be a valid bug, there should not be anything which holds you back here ;)

[2022-10-13 15:57] #1732 closed

[2022-10-14 23:59] fbaptiste commented on #1656
It looks like the problem occurs when the seed is set to a specific value.

[code]

results in this output:
[code]

However, setting the seed to a specific value produces the issue:
[code]

results in
[code]

[2022-10-17 02:15] tony commented on #1604
Everybody wants completions for faker

[2022-10-17 07:58] Dragon1573 commented on #1604
I found that there are plenties of providers in `faker.providers` and all of them have functional auto-completion. Is it possible to use these providers on our own instead of using the "Proxy Class" `faker.Faker`? How can we use it?

![image](https://user-images.githubusercontent.com/49941141/196119057-00e545f4-0119-4836-a977-50a4bbb0c79d.png)

[2022-10-20 21:03] gotofritz opened #1738 "Sentence improvements"
* Faker version: 15
* OS: any

I would like to suggest some small improvements to sentence. Happy to submit a PR myself, just checking it would be well received

- default `sentence_punctuation` should include `.`, `!`, `?`, `...`
- `sentence_punctuation` should also be an argument to the function
  - if an array of strings, the strings will replace the default `sentence_punctuation`
  - if False,

[2022-10-24 17:25] kloczek commented on #1635
Gentle ping ..

[2022-10-24 20:43] fcurella commented on #1728
The problem is not with the string values, but with `OrderedDict`. When using an `OrderedDict`, Faker assumes you're providing weighted values.

[2022-10-25 08:38] stefan6419846 commented on #1635
Having a quick look at this, it seems like it is related to the seeds leading to a different behavior for *random* and *random2*. Taking `tests.providers.test_ssn.TestEtEE.test_ssn` as an example, using the following code will generate `46808220410` with *random* and `44010044206` with *random2*, although using the same seed:

[code]

We either have to replace the target value or find the correct

[2022-10-25 08:49] stefan6419846 commented on #1728
Thanks for the hint - it actually seems to be documented, although I have not been aware of that. I assume that there is not much which could be changed about this, unless we add an explicit parameter to not handle the values as weights?

[2022-10-26 07:08] stefan6419846 commented on #1635
To add on this: I had another look at `tests.providers.test_ssn.TestEnUS.test_invalid_ssn`. Except for the second generated number, I have been able to brute-force the corresponding seeds. When checking this, I discovered that the documented numbers in the comment there are indeed not always correct - the first and the last one are correct, the middle one appears to be completely wrong and the rem

[2022-10-27 20:13] jeffwidman opened #1740 "Update repo link to correct docs domain"
The repo homepage https://github.com/joke2k/faker has a url link to [`faker.rtfd.org`](http://faker.rtfd.org/).

That should point to `faker.readthedocs.io` instead, ideally with the underlying URL hyperlinked to the httpS version: `https://faker.readthedocs.io/`

[2022-10-27 21:59] fcurella commented on #1740
Thank for noticing @jeffwidman .

This a change only @joke2k can do, as I have no permissions on the repo's settings

[2022-10-28 19:08] confuzeus commented on #1718
The random_int method cast floats to int before passing to the generator. This causes 1.25 and 1.75 to turn to both turn into 1.

Since a range of 1 to 1 isn't value, a ValueError is raised. I submitted a PR to fix this at #1741.

[2022-10-31 07:41] AssenD opened #1742 "Missing return in faker-master\faker\providers\address\en_US\__init__.py"
* Faker version: current
* OS: Windows 10 x64

Brief summary of the issue goes here.
Missing return on row 496 (def state_abbr(self, include_territories: bool = True) -> str:)

### Steps to reproduce

1. invoke state_abbr()
2. check the output

### Expected behavior
Should return an element from states_and_territories_abbr list

### Actual behavior
Returns an element from states_abbr list only

[2022-10-31 19:09] fcurella commented on #1742
thank you for the report! Would you mind submitting a Pull Request?

[2022-11-01 16:24] #1742 closed

[2022-11-01 19:24] #1718 closed

[2022-11-02 19:46] fcurella commented on #1728
An alternative would be to define a "WeightedDataset" class and update all providers to use that.

[2022-11-02 20:36] fcurella commented on #1738
To be honest.. that sounds a little complicated, and potentially a rabbit-hole. For example:

* How would we handle the cases  like, eg: Spanish, with sentences like `¿Tienes hambre?` ?
* Should quotes be considered "punctuation"? Consider curly quotes, but also some languages have quotes that [look like this `« … »`](https://en.wikipedia.org/wiki/Guillemet#Uses). Or like this `„ … “`.

[2022-11-02 20:37] #1635 closed

[2022-11-02 20:37] fcurella commented on #1635
Thank you @stefan6419846. I've removed `random2` from the tests

[2022-11-03 08:21] gotofritz commented on #1738
Well, the good news is that currently lorem has no Spanish package so I don't have to worry about that 😄
But I guess ¿ can simply be prepended to sentences which end in ?

I would avoid quotes in this iteration. Lorem has no concept of punctuation currently. Adding only the punctuation I listed above wouldn't make things _worse, it would still be an improvement. My aim is to be a bit more realisti

[2022-11-03 16:20] KaylaHood commented on #1604
Well, it didn't take long for me to find the issue that's causing our autocomplete not to work. Unfortunately it's not as easy to solve as I'd hoped.

[faker.proxy line 79](https://github.com/joke2k/faker/blob/4903111fcade3d40166b65b132196bc8fdfd77db/faker/proxy.py#L79):
[code]

Because of `self.factories` only being known at runtime (it varies with the parameters provided to `faker.proxy.Faker.__

[2022-11-03 22:32] tony commented on #1604
@KaylaHood You are correct in factories and metaclasses masking completions due to being reliant on runtime.

If you accomplish anything it'd be nice to see where it goes. But it may be too runtime-heavy to get completion and typings for.

[2022-11-04 02:13] #1680 closed

[2022-11-10 15:49] serkan-ozal opened #1747 "A CI/CD Observability Solution Suggestion"
Hi **faker** community,

This is Serkan, Co-Founder & CTO at [Thundra](https://www.thundra.io/), the company behind [Foresight](https://www.runforesight.com).

Foresight brings visibility into CI workflows and test runs, enabling developers to debug CI, build, and test failures and latencies quickly. Furthermore, Foresight’s change impact analysis helps you analyze the impact of the code changes t

[2022-11-10 16:59] #1747 closed

[2022-11-10 21:20] mlissner commented on #1697
This issue has a PR that just needs to be merged. I suggest that we do that, and that'll please the Github bot?

[2022-11-11 19:48] KaylaHood commented on #1604
@tony well I seem to have made something *helpful* but objectively not very Pythonic.
https://github.com/KaylaHood/faker-stubs

I wrote a little script that makes heavy use of the standard lib `inspect` package to generate a stub for Faker's proxy.py file so that auto-completion for `faker.Faker()` instances will contain every provider method for every locale.
It works for my use case (Windows 10,

[2022-11-11 21:09] fcurella commented on #1604
We _could_ integrate @KaylaHood 's script in our CI build and run it before every release, but that would still not cover community providers that users have installed on their own.

On one hand, that'd be better than nothing. On the other, it may set the wrong expectation on users.

[2022-11-11 22:55] KaylaHood commented on #1604
@fcurella if y'all do incorporate my script, please feel free to refactor it and optimize it. I did very little optimization, I approached this with more of an "MVP" mindset :-)

I agree with your last point, incorporating my stubs could confuse users who utilize their own providers or who select a specific locale.
The problem of external providers can easily be resolved by extending my stub gener

[2022-11-12 03:55] Dragon1573 commented on #1604
@KaylaHood I try [your repo](https://github.com/KaylaHood/faker-stubs) and it works great on my device! Thank you!

## Environments

- Microsoft Windows 11 Professional 22H2
- Ubuntu 22.04 LTS on WSL2
- Microsoft Visual Studio Code v1.73.1 (system setup)
- Python v3.10.7
- Poetry v1.2.2
- Faker v15.3.1

## Screenshots

![image](https://user-images.githubusercontent.com/49941141/201454977-27b4e2e8-

[2022-11-12 14:39] tony commented on #1604
This is a night and day difference.

## Environment

- Ubuntu 22.04 LTS on WSL2
- vim with coc.nvim + [coc-pyright](https://github.com/fannheyward/coc-pyright)
- Python 3.11.0
- Faker version: trunk @ bc56a8f
- https://github.com/KaylaHood/faker-stubs @ [`77d25e7`](https://github.com/KaylaHood/faker-stubs/commit/77d25e77ef5b2c310394032cdcdf9e74aa5dcae0)

### Instructions

[code]

You should now se

[2022-11-13 19:06] KaylaHood commented on #1604
@tony

Thanks for pointing this out, I made a quick fix for this:
https://github.com/KaylaHood/faker-stubs/tree/3e5c7260539564dd60bc71d83b8cd596d5fd6506

I had forgotten to include the mangled methods from the Faker class (__init__, __deepcopy__, etc). Now the __init__ method's signature will include the optional locale argument (as well as the other optional args).

[2022-11-13 21:58] tony commented on #1604
Follow up to https://github.com/joke2k/faker/issues/1604#issuecomment-1312496383 + https://github.com/joke2k/faker/issues/1604#issuecomment-1312799159

## Environment

- Ubuntu 22.04 LTS on WSL2
- vim with coc.nvim + [coc-pyright](https://github.com/fannheyward/coc-pyright)
- Python 3.11.0
- Faker version: trunk @ bc56a8f
- https://github.com/KaylaHood/faker-stubs @ [`5c7ffc2`](https://github.com/

[2022-11-16 14:47] edmundsj commented on #753
This is happening for me out of the box running with pytest / django even with the following lines at the top of my test file:
[code]

[2022-11-16 16:30] jaraco commented on #753
`s/factory/faker/`

[2022-11-16 18:22] edmundsj commented on #753
Ah, not "factory". "faker". Yup, that works.

[2022-11-17 18:47] mportesdev commented on #1656
Same here:

[code]

The problem occurs when the Faker instance is in multi-locale mode and at the same time `Faker.seed` was called with a value other than `None`.

Faker 15.3.2
Python 3.11.0
Ubuntu 22.04

[2022-11-17 21:33] pjgeorge09 opened #1750 "local_latlng() providing a very small subset of unique values"
* Faker version: 8.8.1
* OS: Win10

When using fake.local_latlng, it claims to pull from geonames.org, which is plentiful with locations, however at most I am getting about 150 or so unique locations, far fewer than I need or that other modules create (such as usernames, phone numbers, etc)

### Steps to reproduce

from faker import Faker
fake = Faker()
data = []
while(rows < 20000):
    data.appe

[2022-11-18 08:26] mportesdev commented on #1656
I stepped through the following script in the debugger:

[code]

and found that this line:
https://github.com/joke2k/faker/blob/v15.3.2/faker/proxy.py#L157

is executed on each iteration of the loop, i.e. the generator is re-seeded (with the same value 42) on each call to `fake.name()`. That seems to be the cause of the above shown behavior.

[2022-11-18 16:57] pjgeorge09 commented on #1750
Appreciate the clarification. I built an internal tool as a workaround.

[2022-11-18 16:57] #1750 closed

[2022-11-19 19:43] edmundsj opened #1752 "faker spamming the logs with logger set to ERROR"
* Faker version: 15.3.2
* OS: Ubuntu 22.04

Faker continues to spam the logs even when I set the logging mode to 'ERROR' with things that are definitely not errors and do not raise exceptions.

### Steps to reproduce

1. Set logging appropriately
[code]

2. Attempt to run a factory with `create` that has a `SubFactory` or `PostGenerationMethodCall`
3. Receive unwanted messages in the logs:
[code]

[2022-11-19 19:56] stefan6419846 commented on #1752
*faker* neither defines the *SubFactory* nor the *PostGenerationMethodCall* class. You are probably mixing this up with *factory_boy*, which actually defines them, but just uses *faker* as a dependency. For this reason, it seems like your issue report is at the wrong repository.

[2022-11-19 22:22] mportesdev commented on #1656
Today I found a test (added as part of #1630) that actually expects this behavior:
https://github.com/joke2k/faker/blob/v15.3.2/tests/test_proxy.py#L131

[2022-11-21 16:54] johntmyers commented on #1656
Nice find @mportesdev - I'm curious what the logic was then in this commit:
https://github.com/joke2k/faker/commit/5128ae645766d3768370758df2f5002ce0284bc4

@fcurella since you made the change could you elaborate? Is this check actually necessary since `Faker.seed()` calls `Generator.seed()` which calls `random.seed()` anyway and it's working on the same `Random` instance.

[2022-11-21 17:29] johntmyers commented on #1656
I made these changes: https://github.com/johntmyers/faker/commit/a264c268f81e803fa5ba6da3ca868be1da738b2c - which seems to work fine. I updated the test as well which basically makes sure that when seeding is used with multiple locales, you get consistent output for each method. I'm happy to open this as a PR but would still like to understand if there was some other intent that was missing.

[2022-11-21 19:16] princelySid commented on #1656
@johntmyers I'm not sure the test you wrote covers the issue raised here. If the names are all the same it'll still pass and the name should be the same maybe adding to the test that the length of a set of the output equal the length of the list?

[2022-11-21 19:52] johntmyers commented on #1656
@princelySid Yes good call. I just pushed a change. I think this test asserts two things:

1/ that the values are not all the same

2/ that the lists are the same between instances of `Faker` - which should confirm that nothing needs to be re-seeded on each call to a faker method

[2022-11-22 18:54] #1656 closed

[2022-11-24 09:46] mportesdev opened #1755 "flake8 job for tox fails with "C417 Unnecessary use of map""
* Faker version: 15.3.3
* OS: Ubuntu 22.04

When running checks locally with tox, the `flake8` job fails with multiple instances of  "C417 Unnecessary use of map". This warning is emitted by the flake8-comprehensions plugin, see [here](https://github.com/adamchainz/flake8-comprehensions#c417-unnecessary-map-usage---rewrite-using-a-generator-expressionlistsetdict-comprehension) for details.

### St

[2022-11-25 19:40] panicofr opened #1757 "ssn.it_IT.Provider generates SSNs shorter than 16 chars"
* Faker version:  tested with 13.14.0,  15.3.3
* OS: Ubuntu 22.04

Generating an Italian SSN, when the last (or first) name returned by `person.it_IT.Provider` is 3 characters long and contains latin chars, the resulting string is shorter than expected (16 chars). In this scenario:

- string is not shorter than 3 chars, so it does not get padded
- latin char is neither a vowel nor a consonant, so

[2022-11-25 19:41] panicofr commented on #1757
I'm preparing a PR for fixing this one

[2022-11-26 02:01] #1699 closed

[2022-11-28 16:17] #1755 closed

[2022-11-30 10:43] mportesdev commented on #1187
I think a simple message like this would be sufficient:

[code]

i.e. the same output you get when running e.g. `grep` without arguments.

[2022-11-30 19:05] #1757 closed