[2018-06-08 22:10] crd opened #763 "Canadian SSN Provider returns a string nothing like a Canadian SIN under python3"
Canadian SSN Provider returns a string nothing like a Canadian SIN under python3. There are also no tests for this provider -- if there were, the change would have been detected.

### Steps to reproduce

[code]
### Expected behavior

An expected result follows the pattern `### ### ###`.

### Actual behavior

Something else entirely. Here, it's `37.09 8.002.0 83.08`.

### Explanation

This is due t

[2018-06-09 13:22] crd opened #765 "Allow the user to specify a start_datetime in addition to end_datetime in unix_time()"
In addition to the `end_datetime` parameter added via PR #606 (nice work @kungfu71186) I see value in being able to generate random datetimes within a specific window -- for example, when testing behavior in response to ten-digit Unix epoch datetimes they would want to specify a start_date of `Sunday, September 9, 2001 1:46:40 AM GMT` corresponding to `1000000000`

[2018-06-10 10:20] frangiz opened #766 "Norwegian ssn returns the wrong format for the date part"
SSN for no_NO returns the wrong format of the date part.

### Steps to reproduce

As @cloveras pointed out:
Using December 31 1999 as the date of birth (YYYYMMDD):
ssn('19991231','M')

This results in SSNs like these:
99123145123
99123108724
99123127532

### Expected behavior

The correct format is DDMMYY.

### Actual behavior

These start with the date of birth in YYMMDD format.

[2018-06-11 14:38] #763 closed

[2018-06-11 14:39] #766 closed

[2018-06-15 01:50] crd opened #771 "Support United States ITIN and EIN tax identification numbers"
While United States SSNs are used by naturalized aliens and citizens, but businesses are identified by EINs and IRS issues ITINs to foreign nationals and others who have federal tax reporting or filing requirements and do not qualify for SSNs.

Each type of tax identification number follows specific rules.

[2018-06-15 17:26] #765 closed, assigned to nobody

[2018-06-17 17:56] crd opened #773 "Pipeline: Coverage report does not reflect what actually changed in a PR"
Brief summary of the issue goes here.

### Steps to reproduce

Consider https://coveralls.io/builds/17537497, which corresponds to commit 6908bad3b2056c1733fc04ceed2aad76bb8b1e27 in PR #772. Coveralls reports a drop in coverage of 1.4%, in files not touched by the PR. I suspect that state may be kept between PR coverage evaluations. Instead, coverage should be compared against the current state of

[2018-06-18 12:53] crd commented on #773
I did some digging and found this: https://github.com/lemurheavy/coveralls-public/issues/1019

[2018-06-19 15:18] #755 closed

[2018-06-19 19:23] crd opened #774 "Give the user the ability to generate adult vs. minor dates of birth"
Presently, dates of birth in the Profile provider are chosen randomly between unix epoch timestamp 0 and the present date and time. This isn't particularly useful from a testing perspective, as `0 <= age <= 48 years` isn't the most useful range.

### Expected behavior

Users should be able to explicitly generate fake dates of birth for adults or minors.

[2018-06-21 14:29] #771 closed

[2018-06-21 14:34] #349 closed

[2018-06-21 16:20] #408 closed

[2018-06-29 16:06] darrenhaken opened #778 "Example use to anonymise data"
Hi,

I would like to use this to anonymise data but maintain referential integrity in the data.
For example, if I have johndoe@gmail.com in two distinct datasets I'd like to be able to join them but anonymise the data.

Is this possible? I would absolutely love some support on this :)

[2018-06-29 16:09] kungfu71186 commented on #778
Do you have example of what you are trying to do? My interpretation is that you want to randomize the data with expected results? In which case you can use a seed. If that's not what you want, can you clarify a bit?

[2018-06-29 17:44] darrenhaken commented on #778
The seed will probably work.

The goal was to store data in a data lake and aninymise PII data but still allow joins. For example if I had a Customer data set and Customers orders dataset that I could join them based on an email address as an identity

[2018-06-29 17:56] kungfu71186 commented on #778
@darrenhaken are you talking about Factory Boy? http://factoryboy.readthedocs.io/en/latest/
https://github.com/FactoryBoy/factory_boy/

Otherwise you would need to write your own. I had written something similar myself to factory, but it was for oracle db and I wanted the raw sql inserts. I don't think Factory boy can give you the actual raw output. Faker simply randomizes data, it doesn't try to

[2018-07-02 13:23] ananthkm1 commented on #367
The below code is not working:

from faker import Faker
fk = Faker()
print(fk.name)

error:
faker has no name member.

using anaconda1.8.7 in windows8. installed faker using "conda install faker" in dedicated envi. I am unable see package in conda navigator under installed list. Unable to install packages through navigator.

[2018-07-02 13:43] ananthkm1 opened #779 "Unable to generate fake name, email etc.. using faker in python 3.6"
I am unable to produce fake details(name, email etc..) using Faker package in python 3.6. Installed faker using "Conda install feker"(unable to install via anaconda navigator1.8.7 in win8 )

Installed vscode and spyder

code:
from faker import Faker
fk = Faker()
print(fk.name)

![capture](https://user-images.githubusercontent.com/40577484/42167514-eb77613e-7e2b-11e8-993d-b7f11b0c07bd.PNG)

there i

[2018-07-02 14:47] fcurella commented on #367
@ananthkm1 Could you open a separate issue for anaconda?

[2018-07-02 14:48] fcurella commented on #367
Closing this for inactivity

[2018-07-02 14:48] #367 closed

[2018-07-02 15:07] fcurella commented on #779
@ananthkm1 I'm not well versed in conda, but from what I gather you might need to specify the channel. Would something like `conda install -c anaconda Faker` work?

[2018-07-06 15:43] crd opened #780 "_parse_end_datetime() returns incorrect datetimes for larger values"
[code]

Executing this results int:

[code]

[2018-07-06 16:29] #774 closed

[2018-07-07 13:09] crd opened #781 "Support ISO 3166-1 alpha-3 country codes"
Presently, faker only supports alpha-2 (two character) country codes. I have a need for alpha-3 (three character) country codes.

See https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3

[2018-07-07 22:23] crd commented on #780
The underlying issue is a simplistic `_parse_date_string()` function which considers one year as `365.24` days, which is a decent enough approximation but shouldn't be used for anything that requires more precise calculations based on a given date. Closing this since there's no obvious fix to be made.

[2018-07-07 22:23] #780 closed

[2018-07-08 08:16] royhananwar commented on #779
@ananthkm1 just type fk.name
IntelliSense from VSCode is not very well
i'm using python 3.6 and VS Code too :)

[2018-07-09 22:23] crd commented on #773
I think this issue is exacerbated by the fact that so many of the tests fail to specify a seed value. This means that different branches of the codebase will be exercised randomly. For example, I ran `coverage` a few times and noticed this inconsistent behavior:

[code]

A few seconds later, with no code changes:

[code]

[2018-07-11 14:39] #781 closed

[2018-07-11 19:08] emanuil-tolev opened #783 "Different results when running unit tests using Faker one by one and all together"
When I run tests on their own, the data differs than when running the entire test module. Introducing an inability to run tests on their own seems unwise. What am I missing about using this library in tests?

[code]

The test runner is nosetests. As you can see, nothing fancy is going on, like test execution in random order.

[2018-07-11 20:54] joke2k commented on #783
Hi @emanuil-tolev
You are missing how seed works.
In your code, seed is set outside of TestCase so test_01 catch the first random, test_02 the second one etc..
Try to seed into setUp method and it will be executed before each test method:
[code]

[2018-07-11 20:54] #783 closed

[2018-07-25 12:15] sevens-ef opened #787 "Haiti re-uses "alpha-2-code" from Guatemala"
In `faker.providers.date_time.Provider`, in the `countries` attribute, Haiti re-uses the "alpha-2-code" from Guatemala (both are set to `'GT'`).  The "alpha-3-code" is fine (`'HTI'` for Haiti, `'GTM'` for Guatemala).  According to https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2 , it should be `'HT'` for Haiti (and the `'GT'` for Guatemala is correct).

### Steps to reproduce
[code]

[2018-07-25 15:04] fcurella commented on #787
Thank you for the report!

[2018-07-25 15:04] #787 closed

[2018-07-30 20:32] straz opened #788 "Canada provider: should have NU, not NV, for province abbreviation"
Brief summary of the issue goes here.

### Steps to reproduce

The abbreviation "NV" (presumably for Nunavut) appears in `provinces_abbr` in
[the provider for Canada](https://github.com/joke2k/faker/blob/master/faker/providers/address/en_CA/__init__.py)

`provinces_abbr = ( .. 'NV' ..)`

### Expected behavior

The correct abbreviation for Nunavut should be `NU`
according to
[Canada Post](https://w

[2018-07-31 14:25] #788 closed

[2018-07-31 14:26] fcurella commented on #788
thank you for the report! ✨

[2018-07-31 14:53] straz opened #789 "en_CA should implement postcode, not postalcode"
All of the address providers use `postcode` to generate post codes. This is misspelled as `postalcode` by the localization for `en_CA`.

### Expected behavior

It would be easier to use faker in a multilingual context if this were spelled consistently.

Recommended fix: provide a courtesy alias definition of `postcode` so that CA works the same as everyone else. Perhaps `postalcode` should be depr

[2018-07-31 14:56] straz commented on #788
that was fast, thank you!

[2018-07-31 16:58] #789 closed

[2018-07-31 16:59] fcurella commented on #789
Thank you for the report! Should be fixed now ✨

[2018-07-31 17:02] straz commented on #789
great, thanks!

[2018-08-02 13:52] fgs-dbudwin opened #791 "Ensure words() returns a unique list of words without duplicates"
When calling `words(10)` there is no guarantee that the returned list of elements is unique.   While I could do `set(words(10))`, this may only return 9 items when I am in need of 10.

If creating a list of words with potential duplicates is a useful feature to some, maybe adding an optional parameter called `unique` to the `words` generator could prove useful.

[2018-08-02 15:42] fcurella commented on #791
Hi @fgs-dbudwin

Thanks for the report.

I have a PR up to refactor how we choose elements from list, which include optional uniqueness.

Once that's merged in, this feature will be trivial to implement

[2018-08-07 02:07] JacobM903 opened #795 "Negative pydecimal"
Should be able to enforce a pydecimal or pyfloat to be negative the same way it can be enforced to be positive

[2018-08-07 02:10] #795 closed

[2018-08-09 15:45] butla commented on #779
@ananthkm1 This is a problem with the dynamic nature of the `Generator` class. It doesn't have these methods, they somehow get added when the object is being created. I had the same issue with Pylint complaining about methods not being there, but I could disable the error in Pylint with the solution from [here](https://stackoverflow.com/a/38976257/2252728). Maybe exceptions like this can be set up

[2018-08-10 02:11] Kelledin opened #796 "test_identical_age_range: set tzinfo when generating date-of-birth"
The test_identical_age_range unit-test can fail in 0.8.17, depending on the timezone and time-of-day.  This problem was introduced in https://github.com/joke2k/faker/commit/6c83a263a589c031ef68244fa81d21c03c620100 ; pull request is coming soon.

### Steps to reproduce

1. Wait until a time of day such that the date in UTC is one day ahead of your local date.  This naturally depends on your timezon

[2018-08-10 15:05] #796 closed

[2018-08-12 01:55] erm3nda opened #798 "Custom providers not working with profile(fields)"
I've created a dead-simple fakemailgenerator provider for Faker.

I't works, i can get both email and fakemail_url for a given email using `fake.fakemail() and fake.fakemail_url(fake.fakemail())`.

My problem is that it didn't accept those custom providers as fields for `fake.profile(fields=)`.
When i tried it with `fake.profile(fields="name, fakemail")` i got "name" and "mail" instead of "fakemai

[2018-08-13 16:02] fcurella commented on #798
Hi @erm3nda ,

that would required modifying the `profile` provider to call methods on itself.

I'm +1 on the idea, but I don't know when I'll have time to work on it. Feel free to submit a PR and I'll be happy to review it :)

[2018-08-17 17:04] stephenross opened #800 "State Abbreviations for en_US have too many"
The output of the state provider in address only outputs the 50 states, but the state_abbr has 59 potential outputs

### Steps to reproduce

Generate a value using the state_abbr provider

### Expected behavior

The value should be one of the 50 US states abbreviations

### Actual behavior

The value is one of the 50 US states, Washington DC (DC), American Samoa (AS), Micronesia (FM), Guam (GU), M

[2018-08-17 17:17] fcurella commented on #800
Hi @stephenross

I agree that including US _territories_ in the `state_abbr` is confusing.

The reason they're there is that the purpose of the address provider is to generate valid(ish) postal address, and the USPS uses the territories abbreviation as a postal state abbreviation.

I think we should add an argument to `state_abbr`. Something like `states_only=False`.

The reason I would default it

[2018-08-17 17:18] stephenross commented on #800
Ya, definitely agreed. The reason I bring it up is exactly that, we are using it to do fuzzy testing and the non-state abbreviation caused some of our code to fail.

[2018-08-20 20:39] crd opened #801 "Proposed new feature: Generate fake credit scores associated with various common models"
`FICO Score 8`, `Equifax Beacon 5.0`, `Experian/Fair Isaac Risk Model V2SM`, and `TransUnion FICO Risk Score, Classic 04` are good candidates. Future expansion could include industry-specific models.

[2018-08-22 03:43] crd commented on #801
Reimplemented as a community provider: https://pypi.org/project/faker-credit-score/

[2018-08-22 14:48] #801 closed

[2018-08-24 10:08] maticomp opened #803 "Public IP blocks used with ipv4_public encompass reserved address namespaces"
The `ipv4_public` faker generates IP addresses from public blocks, excluding private blocks configured in `IPV4_PUBLIC_NETS` and `IPV4_PRIVATE_NET_BLOCKS`, however it often results in addresses coming from reserved spaces.

One example is 192.0.0.145, or in general 192.0.0.0/24 addresses from reserved space, per https://en.wikipedia.org/wiki/Reserved_IP_addresses

This clashes with many popular li

[2018-08-24 19:47] KeynesYouDigIt commented on #460
IM not sure I understand the solution proposed, I am getting the same error using `date_between(start_date='-99y', end_date='-1y'`

[2018-08-24 19:50] fcurella commented on #803
Thanks for the report @maticomp :)

It will be a little while before I get the chance to work on this, but I'll be happy to review any PR :)

[2018-08-24 19:56] kungfu71186 commented on #460
@KeynesYouDigIt can you open a new issue with the stack trace?

[2018-08-24 20:06] maticomp commented on #803
@fcurella thanks :) I'll try to post one soon, either by myself or with help of the devs working with me on the project leveraging the convenience of the faker :) Cheers!

[2018-08-24 20:08] kungfu71186 commented on #803
@maticomp can you see what netmask it's returning? I think the parameter is network=true.

[2018-08-25 08:06] kungfu71186 commented on #803
After reviewing the code for faker and the ipaddress code, i feel like we could definitely improve on this.

In faker, there are 3 classes defined, but there are also reserved ip addresses in there. I feel like we should remove those and go with the constants defined in the ipaddress class. https://github.com/python/cpython/blob/d5f017bbd65f37ac53fd3c6c439a53155eef2475/Lib/ipaddress.py#L1559

I be

[2018-08-25 08:47] maticomp commented on #803
@kungfu71186 while I agree that refactoring towards using what Python gives us in `ipaddress` is a great idea, I'm now even more confused! Things are getting interesting quickly 😄

[code]

if you see the code you have quoted, it defines:

[code]

but RFC6890 specifies a full `/24` prefix as reserved for IANA.

https://tools.ietf.org/html/rfc6890#section-2.1

The full list of reserved address space

[2018-08-25 09:05] kungfu71186 commented on #803
@maticomp I think it's actually a "bug". Needs to be updated.

https://docs.python.org/3/library/ipaddress.html#ipaddress.IPv4Address.is_private which does reference that same registry.

This is also why i suggest we just use the official library and we can fix bugs in there as well :)

Would you be able to make pull request to fix all of them? Looks like there are few others missing as well.

[2018-08-25 10:39] kungfu71186 commented on #803
https://bugs.python.org/issue20857 that was over 4 years ago, lol. Probably won't get fixed unless a pull request is created.

[2018-08-25 23:01] crd opened #804 "Commandline faker can't import community providers"
See below, where I try to invoke `foo` from `mymodule` included with tests here: https://github.com/joke2k/faker/tree/master/tests/mymodule

### Steps to reproduce

[code]

### Expected behavior

`foo` from the external module `mymodule` should be invoked.

### Actual behavior

`ModuleNotFoundError`

While I'm at it, I should call out that the mechanism for providing a path to the module to be imp

[2018-08-27 13:09] maticomp commented on #803
@kungfu71186 yes, I've seen that ;-)

On the other hand - since **faker**'s purpose is to generate viable randomized test data, do we NEED to use external libraries, and have a very broad scope of generated IPs?

Right now faker has a hardcoded list of private and reserved subnets (which is incomplete). It generates private IPs from those subnets, which is easy. However, public IPs are generated f

[2018-08-27 13:36] kungfu71186 commented on #803
@maticomp Well, this is an internal python library. So with python 3, it's just there already. So it's best to use libraries that already exist, especially for cases like this. It would be best to fix those bugs in the internal libraries, than to just forget about it.

In fact the ipaddress library already does what you are saying. There really is no such thing as public ip addresses,  it's that c

[2018-08-27 13:47] maticomp commented on #803
@kungfu71186 yes, but relying on public IPs being the inverse of private/reserved IPs makes it entirely dependent on the list of private/reserved subnets being accurate. I think we should submit a PR and hope they fix it, but I wouldn't be so sure.

It's possible we might end up with having a list of subnets here in faker too for the time being.

On the other hand, having few public/private subnet

[2018-08-27 14:03] kungfu71186 commented on #803
@maticomp I 100% agree in that we need to fix it on our end for right now. The issue right now is how that library is setup as well.

Might have to do something like this:

[code]

[2018-08-27 14:09] maticomp commented on #803
@kungfu71186 `address_exclude`  through `_constants._private_networks` works fine on `ip_network('0.0.0.0/0')` to get the full list of public subnets. It's a pity there `ipaddress` does not expose a neat way of randomizing an IP address inside a subnet. Most of those are huge, so getting a random item from `hosts()` generator would be slow, so we sill have to generate just like we do right now.

A

[2018-08-27 14:13] kungfu71186 commented on #803
@maticomp it's actually simpler than that. Don't need hosts. Just need to exclude the ranges.

privateNetwork = ip_network('0.0.0.0/0')

print(privateNetwork[0])
print(privateNetwork[4294767296])
print(privateNetwork[-1])

[2018-08-27 14:15] maticomp commented on #803
@kungfu71186 oh, right, I missed that it can't be sliced like that. Let me work on the PR for that, I'll do some refactoring too to rely on `ipaddress` for whatever we can.

[2018-08-27 14:50] fcurella commented on #804
The idea is that you're importing a Python module, not necessarily a directory from the filesystem.

I suspect `workspaces/contrib/faker` is not in your `PYTHONPATH`. Try importing the provider from the Python REPL. If Pyton can't import it, neither can Faker:

[code]

[2018-08-27 15:09] kungfu71186 commented on #803
@maticomp Yeah, let me know what you come up with. I feel like the best way is to iterate over the constants to get ranges and almost use the same code that is there now

`min_, max_ = self.generator.random.choice(net_ranges)` to get a random int. From there, you can simply get the ip address as discussed before.

To get a range, it's pretty easy with the ip_network class. Basically just:
`(int(ip

[2018-08-27 16:13] maticomp commented on #803
@kungfu71186 it's not yet ready for PR, as it still has unresolved problems (e.g. both my code and the original `faker` generates addresses from `0.0.0.0/8` pool, which are technically not valid in traffic), but if you'd like to see my proof of concept, I've already commited on my fork:

https://github.com/makimo/faker/commit/1cddc8fae8be6d4452c58a3173460b9656f6825f

my approach is to leave all ma

[2018-08-27 16:53] kungfu71186 commented on #803
Looks pretty good. I like it. My suggestion would be to keep the constants the same from the ipaddress library.

[code]

But, maybe create a special_network instead and drop in 0.0.0.0/8 and 100.64.0.0/10. Take out public_network (I agree that this isn't clearly defined) and add that back into private network. Then when you go to exclude the networks, just combine all these together into the exclu

[2018-08-28 09:16] maticomp commented on #803
@kungfu71186 I think we can move the discussion to the PR now 😄

Caveat for discussion: private IP generation chooses from all private networks from IANA list, not only from 10.0.0.0, 172.16.0.0 and 192.168.0.0 ranges. This may not be a desired effect and it's possible additional constant should be added for private IP generation to yield only IPs from general use private subnets.

I'm not convinc

[2018-08-29 18:07] marcosschroh commented on #525
Hi all,

Is someone working on this? @mhubig

[2018-09-03 23:03] maxalbert opened #806 "Multiple Faker instances are not independent (due to shared random state)"
First of all, thanks for an awesome module and all your hard work on it! :)

My issue: I'd like to create multiple Faker instances which do not share state and behave independently. In particular, when resetting them with the same seed they should produce the same output.

### Steps to reproduce

[code]

### Expected behavior

The two instances `fake1` and `fake2` should produce the same output:
[

[2018-09-04 14:34] crd commented on #804
Works fine:

[code]

This is a contrived example, I'm using `mymodule` just to illustrate the larger issue which is the commandline faker tool doesn't seem to be able to use community providers.

[code]

[2018-09-04 14:39] crd commented on #804
Is there another way I should be leveraging the `-i` parameter?

[2018-09-04 14:46] fcurella commented on #804
@crd There are two issues at people here:

1) Your provider's class name must be `Provider`, but I noticed this is not mentioned in the docs. I'll make a PR to update the docs
2) You must specify the _import_ path of the module containing the provider class. In you specific case, this would be `$ faker -i faker_wifi_essid` (not the underscores instead of the hyphens).

[2018-09-04 16:50] fcurella commented on #804
Reopening awaiting verification by OP

[2018-09-05 14:45] crd commented on #804
This works, thanks.

Requiring community providers to name things in this way feels clunky. Is there a better way for python users to leverage my provider than to do this going forward?

[code]

[2018-09-05 14:52] fcurella commented on #804
I agree the requirement feels clunky, but I think allowing any class name would require an even clunkier implementation. Instead of just accessing [the attribute](https://github.com/joke2k/faker/blob/master/faker/factory.py#L131), we'd have to iterate over the module's content, and for every name, check for subclasses of `BaseProvider`. And then we would end up with a list.

Something you could do

[2018-09-05 15:16] crd commented on #804
:smacks forehead:

Of course. Thanks @fcurella.

[2018-09-06 14:15] #694 closed

[2018-09-10 15:34] #791 closed

[2018-09-10 20:05] twkrol opened #811 "No Polish (pl-PL) company suffixes"
There are specific Polish company suffixes not present in pl-PL module for company provider.

### Steps to reproduce
1. Open file faker/providers/company/pl_PL/__init__.py
2. Search for class Provider(CompanyProvider)
3. Find there is no company_suffixes definition tuple

### Expected behavior

There should be Poland's specific company_suffixes definition tuple

### Actual behavior

Default englis

[2018-09-10 21:54] shawnohare commented on #800
I'm not entirely sure I agree. In many contexts the term "state" is used to refer to some subdivision in ISO 3166-2 for a given ISO 3166-1 entity (which need not be the US).

That being said, as far as I can tell the `state` method looks to only be available for US based address providers, whereas the `region` method is available to some non-US address providers. This tends to imply "state" is US-

[2018-09-10 22:02] fcurella commented on #800
@shawnohare

The term 'state' means different things to different people in different contexts (and don't even get me started on 'what _actually_ is a Country?' 😄 ).

In _this_ context, ie: in the context of the 'address provider for US', 'state' is intended as the 'state' part of a postal address - as defined by the USPS in https://pe.usps.com/text/pub28/28apb.htm. If USPS supports a code, so sho

[2018-09-11 04:03] royhananwar commented on #779
@but

[2018-09-11 19:21] IamJeffG opened #813 "pyfloat, pydecimal cannot be negative when left_digits=0"
I am trying to fake random floats in the range `(-1, 1)`.  Currently, `pyfloat` and `pydecimal` will never be negative as long as `left_digits=0`, even if `positive=False`.

This seems to be because [the `sign` (-1, 1) is multiplied by only the left digits](https://github.com/joke2k/faker/blob/6e32e07/faker/providers/python/__init__.py#L62) (which in this case is 0, canceling out the `sign`), rath

[2018-09-11 20:58] fcurella commented on #813
Thank you for the report!

I'm not sure when I'll have time to look into it. Feel free to submit a PR!

[2018-09-12 20:54] #800 closed

[2018-09-13 17:05] #803 closed

[2018-09-17 14:39] fcurella opened #820 "Add flake8 to the CI"
Configuration must have:
* https://pypi.org/project/flake8-commas/
* https://pypi.org/project/flake8-comprehensions/

I'd also like to flag visual indentation.

[2018-09-19 14:58] #811 closed

[2018-09-20 14:37] fcurella commented on #779
Closing the issue for now. If anyone has a way to make type hints work, a PR will be well accepted :)

[2018-09-20 14:37] #779 closed

[2018-09-24 04:14] clarmso commented on #687
I may be able to open a PR to add second level domains.  The file in question is in faker/provider/internet/zh_CN/__init__.py :)

[2018-09-25 16:09] Oxicode commented on #332
+1

[2018-10-01 15:45] #491 closed

[2018-10-02 04:17] clarmso commented on #625
I do not speak Czech, but I can tell the following output is a female name:

fake_cs_cZ.name_male()
'Emilie Poláková'

[2018-10-03 15:13] #625 closed

[2018-10-04 10:20] ricosuave73 opened #829 "OSError: [Errno 22] Invalid argument on Windows"
In some cases random dates generated by faker fail on Windows.
There was another issue on this, but it was closed and a stack trace was asked. It was issue #460
I have the stack trace included.
Unfortunately I don't have the exact line where it fails, because there are several in my code, and the stack trace doesn't say which statement is the direct cause, but here are all of the fake dates in my

[2018-10-05 15:34] #687 closed

[2018-10-09 08:38] denizdogan opened #832 "Documentation of utilities like random_choices"
Is there any online documentation of the utility functions like random_choices? I always end up looking at the source code when I forget what they're named.

[2018-10-11 08:38] andrzej3393 commented on #820
Hi, I'm working on this issue. I checked the project with flake8 without any config at all and it found 2080 errors. Most of them are `E501` (line too long) and `W191` (indentation contains tabs). What to do with this? Ignore whole errors, tune settings (like line length) or just fix code to pass flake8 on default settings?

[2018-10-11 14:29] fcurella commented on #820
Hi @andrzej3393 , thank you for volunteering!

I would set `max-line-length` to 120 _and_ fix the code. Hopefully `120` would take the number of errors down a bit.

[2018-10-12 16:59] fcurella commented on #820
@andrzej3393 don't worry about coverage, it's been flaky and reporting wrong numbers for a while, and in any case, I'm not concerned about a .02% drop.

[2018-10-12 17:02] #820 closed

[2018-10-12 17:12] fcurella commented on #86
https://github.com/joke2k/faker/pull/834/files adds PEP8 to the CI.

[2018-10-12 17:12] #86 closed

[2018-10-15 20:08] BrodyUnderwood1 commented on #832
http://lmgtfy.com/?q=python+faker

[2018-10-15 20:10] BrodyUnderwood1 commented on #832
http://lmgtfy.com/?q=python+faker

:rofl:

[2018-10-15 20:18] denizdogan commented on #832
@BrodyUnderwood1 That's what I've always been doing, but it's been difficult finding the information about e.g. `random_choices`, `random_int` or `random_letters` when you can't remember the names of them or know whether they even exist in the first place. Turns out, the documentation for them has been incorrectly placed under the `address` provider: https://faker.readthedocs.io/en/master/provider

[2018-10-15 21:03] BrodyUnderwood1 commented on #832
Ah I misunderstood the question my mistake

[2018-10-16 15:01] #760 closed

[2018-10-17 15:14] grrttedwards commented on #778
@darrenhaken

It sounds like you're looking for the kind of pattern described here:
https://medium.com/district-data-labs/a-practical-guide-to-anonymizing-datasets-with-python-faker-ecf15114c9be

e.g.

[code]

[2018-10-18 19:02] mastacheata opened #844 "How to write external provider with locale support?"
Brief summary of the issue goes here.

### Steps to reproduce

1. Build an external provider package
2. Set the locale for Faker
3. Generate a fake using your own provider

### Expected behavior

The output should adjust depending on the locale

### Actual behavior

Only the default output is produced, the localized subclasses are completely ignored

### See also
I've tried to build some european

[2018-10-18 23:01] #761 closed

[2018-10-19 19:10] cript0nauta opened #845 "ipv4 faker very slow"
Hi! We updated from Faker 0.9.0 to 0.9.2 and noticed our tests speed decreased by 5X. We tracked the bug to the changes in the ipv4 faker done in commit 3b847f48bbfc33aed3e86cffcedbcfd1c0cccec5

### Steps to reproduce

1. checkout to commit 3b847f48bbfc33aed3e86cffcedbcfd1c0cccec5
1. run the following: `time python -c 'import faker; fake = faker.Faker(); [fake.ipv4() for _ in range(100)]'`
1. Chec

[2018-10-19 21:50] mastacheata commented on #844
Let's see what happens if I try to put that right into the Faker package itself.
I actually think VAT IDs would make a great addition to the SSN provider and will definitely be of use for many more users. (especially in Europe)

[2018-10-22 11:07] championballer opened #847 "No localization available for Indian names in English"
Brief summary of the issue goes here.
I am looking for localization support for Indian names in English as well. This is just a feature request so there is no way for me to reproduce this.

[2018-10-22 22:46] fcurella commented on #845
We could add a flag to give users the choice between accuracy and speed, but I'd default it to be slow and correct.

[2018-10-23 02:09] kungfu71186 commented on #845
I think the performance hit here would when it's building the network. Because you are doing this 100 times, it could definitely impact it. I don't think I'll have time to take a look right now, but if you define a class or range instead of the whole spectrum, it should speed it up.

Unfortunately I won't even be able to take a look for a few weeks if anything

[2018-10-25 21:20] adamchainz opened #851 "Add "Null" as potential surname, plus Pythonic variants?"
I love this famous Wired article: https://www.wired.com/2015/11/null/ . Basically there's a man called Mr Null who finds computer systems breaking down for him all the time when badly written code interprets his name as literal `null`.

I think the providers should have a chance of generating strings like "Null", "None", "0" etc. so users of faker test their systems a bit more. This could be quite

[2018-10-26 13:47] andorend commented on #525
I know it is not a good thing to do to modify a library directly but there is tested workaround (I have also tried it) of the factory_boy but it is not pulled/released yet:

[FactoryBoy/factory_boy#456](https://github.com/FactoryBoy/factory_boy/pull/456
)

Hopefully it will be in the released version soon.

[2018-10-26 21:04] stephenross opened #854 "More granular control of Phone number generation"
I would like to write an improvement to the generation of random phone numbers using a few different arguments (default arguments calling a fake phone number would generate substantially the same as today).

Some of these could be ignored by certain providers by specifying empty sets for data used by that argument, or only single values. Specifically, I would like to see options for including inte

[2018-10-28 18:34] shacker opened #857 "Provider for coordinates over land"
I am willing to make a pull request, but want to get your input first.

Problem: Earth is mostly covered with water. Therefore, choosing coordinates at random results in the majority of them not being on land. Maps produced from locations faked with the current coordinate providers in faker are not very useful.

Proposal: Create a new provider that instead pulls from a list of lat/long coords know

[2018-10-28 18:37] shacker commented on #857
Also: most web mapping tools expect coordinates in decimal format, whereas most lists of global coordinates (wikipedia, infoplease) are in degree format, making them not directly useful for this project without a lot of lookup/conversion work.

[2018-10-29 11:07] ThibaultLemaire opened #858 "uuid4 should return UUID instead of str"
__Context__: I'm using faker in combination with [FactoryBoy](https://github.com/FactoryBoy/factory_boy) to test [Django](https://www.djangoproject.com/) models. I have this test to make sure some data dict generated from model data is JSON-serializable. The test passed, but not the code in production. (`Object of type UUID is not JSON serializable`).

Now, of course the fix to the offending code

[2018-10-29 15:28] fcurella commented on #858
we could add an argument to `uuid4()`, like `faker.uuid(coerce=True)`. I'd like to keep the ddefault behavior to a string, for backward compatibility reasons

[2018-10-29 16:01] fcurella commented on #857
Hi @shacker,

I think we should cover the most common case scenario, which I think is location on land. But I also want to leave the option option for applications that are expected to handle locations at see. So we could have two lists, or one list + the old behavior, and switch according to an argument.

To answer your questions:

Yes

We already have the functionality in the address provider, b

[2018-10-29 20:07] ThibaultLemaire commented on #858
Yeah, I figured you'd say that.

An argument to `uuid4` is fine by me. I might even implement it myself.

[2018-10-30 05:39] shacker commented on #857
Great! A few notes below, then I'll get started.

I think making a new `geo` provider makes sense. No intention of breaking the existing functionality - just adding a new `location_on_land` provider. I'll move the existing ones over while keeping their names (fortunately faker calls don't namespace the provider collections so nothing will break).

Fully understood about your caution wrt open sourc

[2018-10-30 06:50] shacker commented on #857
OK, I've located a good open source database at [geonames](http://www.geonames.org/export/). The [readme](http://download.geonames.org/export/dump/readme.txt) says it's Creative Commons Attribution 3.0 License, which in turn says:

[code]

I've parsed and processed one of their city lists to generate a tuple of `lat, long, placename, countrycode, timezone)`. I'm thinking that with no args, it will

[2018-10-30 13:15] ThibaultLemaire opened #860 "fake.uuid4() doesn't return a version 4 UUID"
[A UUID should have 4bits indicating its version](https://en.wikipedia.org/wiki/Universally_unique_identifier#Format). Meaning a [uuid4 isn't 128 bits of entropy, but only 122](https://en.wikipedia.org/wiki/Universally_unique_identifier#Version_4_(random)).

The current implementation of `uuid4` returns a truly random UUID, so if any code is checking the version number of the UUID it would fail.

[2018-10-30 13:20] ThibaultLemaire commented on #858
I'm on it.

[2018-10-30 15:00] ediblesushi commented on #674
Created a pull request to add a function that generates hostnames with or without a domain from predefined names. Let me know if this would work to fix this issue.

[2018-10-30 15:06] ediblesushi commented on #858
Sorry accidentally committed other changes to the previous branch I made a pull request for. Closed out the old pull request and created a new one for a seperate branch with just the uuid4 fix.

[2018-10-30 19:23] #674 closed

[2018-10-31 11:59] mindflayer opened #864 "Method .vat_id() is not working as documented"
As I mentiond in the title, `.vat_id()` is not working properly

What I get from the lib:
[code]

What the documentation says:
[code]

[2018-10-31 15:03] fcurella commented on #864
Hi @mindflayer

The `vat_id` method is only available on master, and hasn't been released to PyPI yet.

The issue is that the PyPI page points to the `latest` docs, when it should be pointing to `stable`: https://faker.readthedocs.io/en/stable/locales/it_IT.html#faker-providers-ssn.

[2018-10-31 15:04] #864 closed

[2018-11-05 16:54] #858 closed

[2018-11-05 19:48] ThibaultLemaire commented on #860
Fixed by #863

[2018-11-05 19:48] #860 closed

[2018-11-12 18:08] #857 closed

[2018-11-15 21:03] Lrcezimbra opened #870 "Enables min and max values for pydecimal"
Currently is not possible to set min or max values to `pydecimal` or `pyfloat`. It would be nice if we could pass these parameters.

If it makes senses I can open a PR.

[2018-11-19 12:40] CrispyCrafter commented on #749
I am having the same issue with Jupyter Notebooks.

Here is a screenshot of the error, in conjunction with a printout from pip list.

![image](https://user-images.githubusercontent.com/29259177/48707737-0e163f80-ec09-11e8-89fe-89cae51ba94d.png)

![image](https://user-images.githubusercontent.com/29259177/48707615-abbd3f00-ec08-11e8-8028-662cfd7b4a23.png)

With respect to the issue, I have tried th

[2018-11-19 12:59] CrispyCrafter commented on #749
I beleive the issue is based on a faulty kernel.
My bad. See below
[https://github.com/jupyter/notebook/issues/2563](url)

[2018-11-28 13:44] shmidtelson opened #873 "How to use custom phone formats"
f.phone_number()

f.formats ??

[2018-11-28 16:02] fcurella commented on #873
Hi @shmidtelson ,

Could you provide more context for your issue? We provide a simple [template](https://github.com/joke2k/faker/blob/master/ISSUE_TEMPLATE.md) that you could follow.

[2018-12-03 21:01] jocassid opened #875 "Wrong class in localization text of README.rst"
In README.rst the text under the Localization says faker.Factory, but the code example uses faker.Faker

### Steps to reproduce

1. Read localization section of README.rst

### Expected behavior

should read faker.Faker

### Actual behavior

reads faker.Factory

[2018-12-12 00:40] Mattwmaster58 commented on #829
Anything < `-(datetime.now().year - 1970)` will cause this error. Proof:
Try `fake.date_between(start_date="-48y", end_date="today")`
Now try `fake.date_between(start_date="-49y", end_date="today")`

The second one will invariably fail.

I haven't looked into it, but maybe this could be re-implemented by subtracting a `timedelta` from the current day. Thoughts?

[2018-12-12 16:14] fcurella commented on #829
Hi @Mattwmaster58 ,

What version of Python and what version/architecrure of Windows are you using?

[2018-12-12 17:22] fcurella commented on #829
I've created a branch that tests `.date_between(start_date="-49y", end_date="today")` at https://github.com/joke2k/faker/pull/881.

The build is passing on appveyor https://ci.appveyor.com/project/joke2k/faker/builds/20961012, so we'll need more detail about your system in order to find a way to reproduce this bug.

[2018-12-12 18:58] Mattwmaster58 commented on #829
Windows 10, Python 3.7.1

On Wed, Dec 12, 2018 at 10:22 AM Flavio Curella <notifications@github.com>
wrote:

--
*Either I will find a way, or I will make one.** - Phillip Sydney*

[2018-12-12 19:38] fcurella commented on #829
@Mattwmaster58 I'm assuming 64 bit architecture?

[2018-12-12 23:09] Mattwmaster58 commented on #829
It looks the error is caused by calling `datetime.fromtimestamp` with
anything < 0. On Windows 10 x64/Python 3.7.1 it throws an OS Error, but on
my linux box it works fine. Is there a way to completely factor out the use
of `fromtimestamp`?

On Wed, Dec 12, 2018 at 2:22 PM Flavio Curella <notifications@github.com>
wrote:

--
*Either I will find a way, or I will make one.** - Phillip Sydney*

[2018-12-14 05:14] Mattwmaster58 commented on #829
This almost works, but timezones strike again (The expected result is 7 hours off, my timezone is UTC-7:00)
(code from inside `date_time_between_dates`)
[code]

I don't really see another straighforward approach when `datetime.fromtimestamp` doesn't accept negative values on some systems.

[2018-12-23 08:39] thiagofigueiro commented on #873
Hi, @shmidtelson. You might be looking for [numerify]:(https://github.com/joke2k/faker/blob/d6581f58aabf1aa24fd26e9a61f4dd0af56f66c3/faker/providers/__init__.py#L204-L212)

[code]

[2019-01-08 01:33] jianbin-allseeing commented on #875
should this issue be closed?  The test failed due to deleted branch. @fcurella

[2019-01-08 16:00] fcurella commented on #875
Yes, it can be closed. Thank you @jianbin-allseeing

[2019-01-08 16:00] #875 closed

[2019-01-11 17:15] perezba opened #889 "fake.local_latlng Error"
### Summary:
I am new to github and faker. I am trying to use faker.providers.geo to generate lat and longs bounded by specific country / locale.
Following the examples listed in the documentation: https://faker.readthedocs.io/en/stable/providers/faker.providers.geo.html

### Steps to reproduce

1. I am using Ananconda Jupyter Python 3

2. I tried the following code:
[code]
Returning the following

[2019-01-11 17:51] perezba commented on #889
Thanks @fcurella the version that shows is: ['Faker==0.9.1']

[2019-01-11 18:01] fcurella commented on #889
Hi @perezba

`local_latlng` is new in `v1.0.0`, so you'll have to upgrade your version of `Faker` in order to use it.

[2019-01-11 18:19] perezba commented on #889
The update worked. I opened an Anaconda Jupyter Terminal and ran "pip install Faker --upgrade" and it worked!

Thank you @fcurella

[2019-01-11 18:19] #889 closed

[2019-01-12 18:48] butla commented on #779
@Meet-Kalariya from what I see you're getting many errors, but they are all pylint (which is a linter, that is "static code analysis") errors. Do you also get errors during execution.

Also, does my explanation from above not work for you?

[2019-01-12 18:50] Meet-Kalariya commented on #779
Yes i do get errors during execution
I am not able to understand how to solve this.

On Sun, Jan 13, 2019, 00:18 Michal Bultrowicz <notifications@github.com>
wrote:

[2019-01-12 18:58] butla commented on #779
Well, posting the execution error that you're getting could get you along in your quest of solving the problem :-)

[2019-01-13 03:12] Meet-Kalariya commented on #779
![image](https://user-images.githubusercontent.com/40663329/51081130-8b909480-170e-11e9-90f6-b207b01971c4.png)

Error
![image](https://user-images.githubusercontent.com/40663329/51081150-0c4f9080-170f-11e9-8547-68dc129ed86e.png)

[2019-01-13 03:40] butla commented on #779
Also, pasting the test related to the error, not a bunch of screenshot is a better approach. As you see, Django can't load a setting. So this has nothing to do with Faker. That's first. Second - the error tells you the direct cause of the crash -  what's wrong - Django demands the LOGGING_CONFIG variable set in a config somewhere. I see that you have config loading in your file, but you have a spe

[2019-01-13 06:58] Meet-Kalariya commented on #779
Do i have to export DJANGO_SETTINGS_MODULE in my settings.py file?

[2019-01-13 07:12] Meet-Kalariya commented on #779
I don't know why but now that file is working and able to fake data but still, there are errors showing

[2019-01-14 06:06] vin7ent opened #891 "packing with pyinstaller problems"
When I use pyinstaller to  pack the file to exe, it turns out the problem:
ImportError: No module named providers.

Then I added the hidden imports parameters, errors changes to
Invalid configuration for faker locale 'en_US'

So how to fix it?

[2019-01-16 15:37] TZanke commented on #762
I am not able to recreate my need for districts. I will add some if i require it again. Feel free to close the ticket.

[2019-01-16 16:10] #762 closed

[2019-01-16 20:30] itsfk commented on #779
There should be an issue that the module file (first_project.settings) exists and has the settings required

[2019-01-20 02:10] jianbin-allseeing commented on #845
I did a quick profiling.  It showed that calls to `_exclude_ipv4_network` are expensive.  Hope it would be helpful in later optimization.

[code]

the output is
[code]

[2019-01-25 04:39] Mattwmaster58 opened #899 "'Generator' object has no attribute 'locale' when calling user_agent()"
The user_agent method intermittently will fail with the message `AttributeError: 'Generator' object has no attribute 'locale'`

### Steps to reproduce
#### Systems bug has been reproduced on
Python: Python 3.7.0 & 3.7.1
Faker version: git and pypi 1.0.2 both tested.
Platform: Windows 10x64 & Arch Linux 4.20.0-arch1-1-ARCH

[code]
Manually specifed `locale` has no effect. The snippet below is effec

[2019-01-25 17:04] fcurella commented on #899
The issue is that the `user_agent` providers is depending on the `misc` provider, which you are not loading. I'm going to move the required methods to our base provider, but for the time being you should be able to call:
[code]

[2019-01-25 17:55] Mattwmaster58 commented on #899
Thank you for the quick response and solution.

Will these changes fix the issue of having to guess which providers depend on who, either partially or in full?
I've had issue like this before, but was always able to infer the providers that needed to imported. What's the recommended procedure for importing providers?

[2019-01-25 18:06] fcurella commented on #899
@Mattwmaster58 No, this is a fix just for that Provider.

I'd like to have a more systematic solution to inter-provider dependencies, but I need some time to think about how it would look like and how to implement it.

[2019-01-25 18:07] #899 closed

[2019-02-06 10:04] riconnon opened #906 "Can't produce a time_delta with a maximum value"
When using time_delta from the date_time provider it doesn't seem possible to provide a maximum value.
The provider takes an `end_datetime` parameter but what it does with that is beyond me, certainly not what I'd expect.

### Steps to reproduce

[code]

### Expected behavior

I'd expect to receive a `datetime.timedelta` with a value no greater than 60 minutes.

### Actual behavior

I receive a `d

[2019-02-06 16:31] fcurella commented on #906
Thnk you for reporting this, @riconnon !

I've looked into this and I've found a couple of bugs:

1. The first one is [where we parse the input](https://github.com/joke2k/faker/blob/master/faker/providers/date_time/__init__.py#L1515). For whatever reason, we're *subtracting* the timedelta to the current datetime instead of adding.
2. The second one is [where we compute the output](https://github.c

[2019-02-06 17:47] #906 closed

[2019-02-06 20:01] aramanath commented on #332
I get this error with python-testdata and Faker:

[code]

Versions info:

[code]

[2019-02-06 20:13] fcurella commented on #332
@aramanath The latest commit on [`python-testdata`](https://github.com/arieb/python-testdata) is from 2014. That makes me think it was written against an ancient version of `Faker`, probably `v0.4.2` or earlier. You should file an issue on `python-testdata`.

[2019-02-12 09:23] anneclairebrld opened #909 "Date between month implementation"
Missing implementation of months for the date_time provider. Additionally, it would be good to add information regarding the acronyms used (5y = 5 years, 5m = 5 minutes (this is very confusing => thought it was months and had to go into source code to understand that months are not actually implemented)).

### Steps to reproduce
faker.date_between(start_date = "-5M", end_date = "today")

### Expec

[2019-02-12 15:54] fcurella commented on #909
Hi @anneclairebrld ,

Thank you for reaching out! I think it's a good idea :)

Would you have time to submit an initial PR? I'll be happy to review!

[2019-02-12 15:56] anneclairebrld commented on #909
PR?

[2019-02-12 16:01] fcurella commented on #909
Sorry, I was overly terse. I meant a Pull Request

[2019-02-12 16:07] anneclairebrld commented on #909
@fcurella I'd be happy to but will not have time to get to it till mid next week.

[2019-02-12 16:28] fcurella commented on #909
@anneclairebrld That's ok, no rush :)

[2019-02-15 09:08] scarabeusiv opened #912 "Tests fail on 32bit platforms"
When running tests on 32bit platform the time check actually overflows :)

### Steps to reproduce

Run tests on 32bit platform

### Expected behavior

Tests pass

### Actual behavior

Test fail, see full build log:
[faker.txt](https://github.com/joke2k/faker/files/2868550/faker.txt)

[2019-02-15 16:40] fcurella commented on #912
Thank you for the report @scarabeusiv

Sadl, we really don't have a way to test on 32bit platforms, so we can't support it. But we will accept a Pull Request if you'd have the time to work on it :)

[2019-02-17 14:35] jayvdb commented on #912
Advice at https://github.com/travis-ci/travis-ci/issues/5770 and predecessor is to use 32bit docker images.

[2019-02-18 09:06] scarabeusiv commented on #912
Problem in this case is that 32bit clocks give up in 2038+- and the test expects "datetime_end = date(2100, 1, 1)" which overflows the container on 32bit machine.

You can either lower the check on the date, or skip those tests on 32bit.

[2019-02-19 18:23] fcurella commented on #912
@jayvdb could you submit a PR to add a 32bit build on travis?

[2019-02-22 13:45] arossert commented on #891
I have the same issue, there are some debaites regarding this on the PyInstaller github but I have not been able to make it work yet.
You can follow it here [#3465](https://github.com/pyinstaller/pyinstaller/pull/3465) and here [#3839](https://github.com/pyinstaller/pyinstaller/issues/3839).

It seems that there is a code in faker that check if the code is "frozen" or not.

Any help with making th

[2019-02-22 16:16] fcurella commented on #891
@arossert I've created a branch at https://github.com/joke2k/faker/tree/hardcode-locales that removes the dynamic loading of some values. There's still some dynamic loading happening, but hopefully hardcoding the values in `config` is enough to work. Could you give it a try?

[2019-02-23 09:28] arossert commented on #891
@fcurella Thanks, I have tested your branch and it is working with this hook:
[code]
I'm not sure that the creator will want to change this values to be hardcoded, if so it will make the like much easier.

Following this approch #704, we might need some code to detect the useage of PyInstaller (maybe check for `sys._MEIPASS` attribute) and look for the files relative to it's path, then in the PyIn

[2019-02-26 23:49] MengRS commented on #779
@ananthkm1  A workaround for your particular case (in regards to the linter / faker) - is doing something like `print(fk.format('name')`.  Something like this worked for me - ref doc [here](https://faker.readthedocs.io/en/master/)
Note it states:

[2019-02-27 17:21] sam-s opened #915 "Consistency between phones and addresses"
I would like to generate fake PII (Name/Address/Phone).
Alas, `Phone` and `Address` should be consistent (area code maps to geolocation well), but there seems to be no way to enforce it:
[code]
but area code 451 is in KS not TX.

Is it possible to enforce this level of consistency?

[2019-02-27 22:45] sam-s commented on #915
Furthermore, it appears that the zip code is not necessarily compatible with the state, which reduces plausibility of the address.

[2019-02-27 23:26] fcurella commented on #915
Hi @sam-s ,

Currently, there isn't any way to let `fake_phone_number()` know what the previous invocation of `fake_address()` returned.

We do have `faker.profile()`, but it currently doesn't relate the various fields.

If you have the time, feel free to submit a PR. You're not the first one to request this feature :)

[2019-02-27 23:28] fcurella commented on #915
Related: #697

[2019-02-27 23:32] #363 closed

[2019-02-27 23:33] #162 closed

[2019-02-28 09:49] ThibaultLemaire commented on #525
**This is not only true for FactoryBoy compat.**

I agree with @fodra: `value_types` passed as variable arguments not only forces you out of named argument passing -- which really is a shame for boolean arguments -- but also makes the syntax weird enough to be confusing (and python's syntax errors don't help you there, cf. #366).

[2019-02-28 09:55] ThibaultLemaire commented on #366
:+1: for documenting this. The valid values for `value_types` are nowhere documented.

My own testing yielded that you can pass built-in types (`int`, `str`, `float`, etc. without `""`) or names of providers (e.g. `'email'`)

[2019-02-28 17:39] fcurella commented on #525
I think it would be ok to break compatibility, as long as we release a new major version.

[2019-03-02 12:49] arossert commented on #891
@joke2k Any update regarding this? I really need to pack faker with my project using PyInstaller and don't want to use a branch.

[2019-03-04 22:41] #562 closed

[2019-03-04 22:44] fcurella commented on #702
Hi @phoebebright ,

are you loading data from a file whose extension is not included in the [Manifest](https://github.com/HorseTechInnovation/faker/blob/master/MANIFEST.in)? That would explain the different behaviour

[2019-03-04 22:47] fcurella commented on #870
Thank you @Lrcezimbra ! Sounds like a useful addition. Feel free to submit a PR

[2019-03-04 22:47] #721 closed

[2019-03-04 22:48] #686 closed

[2019-03-04 22:48] #665 closed

[2019-03-04 22:55] #448 closed

[2019-03-04 22:56] #719 closed

[2019-03-04 23:11] moggers87 commented on #727
Did something change with the license of text-unidecode?

[2019-03-05 00:10] fcurella commented on #727
Sorry, I closed it by accident

[2019-03-05 17:59] fcurella commented on #891
@arossert there's a problem with my PR.

As it's written, it would break some existing feature, specifically the command-line option to include custom providers.

The PR is a good starting point, but it needs some more work, an my time is limited. Any help would be appreciated :)

[2019-03-06 17:21] arossert commented on #891
@fcurella thanks, I would love to help with this but don't know how to make it work.
I have tried to create a hook in PyInstaller for that and got some progress until I realized that `pkgutil.iter_modules()` is not supported in the frozen version.
Is there another way that you know to load the package list dynamically? In my hook, all the providers code is available so I can iterate the directory

[2019-03-08 12:21] davizucon opened #918 "Brazilian RG (identity card)"
Add Generator to Brazilian RG (identity card)

### Steps to reproduce
fake = Faker('pt_Br')
fake.rg()

### Expected behavior
return like this rules:
https://www.ngmatematica.com/2014/02/como-determinar-o-digito-verificador-do.html
8 digits + 1 checksum digit
### Actual behavior
New feature

[2019-03-08 17:19] #918 closed

[2019-03-11 12:08] scarabeusiv opened #921 "TestDateTime.test_date_this_period fails on 32bit"
[code]

As 32bit counter expires within this century we overflow the timer storage there. As such tests using this should skip there, or alternatively different means to store these values should be used:

Following tests all fail with the same:
* TestDateTime.test_date_time_this_period_with_tzinfo
* TestDateTime.test_date_time_this_period
* TestDateTime.test_date_this_period

[2019-03-11 15:12] fcurella commented on #921
Duplicate of #912

[2019-03-11 15:12] #921 closed

[2019-03-11 15:19] fcurella commented on #912
My opinion is that if we can't test on 32bit systems on the CI, we should just be upfront and declare Faker as 64bit-only

[2019-03-11 17:23] frispete commented on #912
Well, as @scarabeusiv written before, why not either
 * skip this very test for 32bit
 * or change the date to something before 2038...

[2019-03-11 17:29] fcurella commented on #912
I'm working on skipping the test

[2019-03-11 18:38] #912 closed

[2019-03-11 19:03] frispete commented on #912
Great @fcurella, LGTM, thanks.

Let's see, how this works out with the next release... ;-)

[2019-03-12 09:30] scarabeusiv commented on #912
Apologies for the dupe, I really missed I opened this bug too. Anyway I've added the patch to openSUSE and it works^Wskips well on 32bit :)

[2019-03-13 14:46] #870 closed

[2019-03-15 19:13] tytoons commented on #851
I could see "Null" and "None" being very useful to catch some cases!

[2019-03-15 19:20] fcurella commented on #851
I'm not against if it gains enough support. My main doubt is: should we add those names to all `person` providers, regardless of locale? For example, I could see people being surprised to find `Null` when they asked for names in arabic

[2019-03-15 20:05] tytoons commented on #851
Ah yeah that is a great point. I don't think people would expect that.  Maybe a new person en_dev provider would be a better case?

[2019-03-18 09:21] arossert commented on #891
@fcurella I really need this to work, is my changes seem reasonable?

[2019-03-18 14:38] #909 closed

[2019-03-18 14:41] fcurella commented on #891
@arossert Could you submit a PR and we'll discuss it from there?

[2019-03-19 15:27] amnonkhen opened #928 "generate a fake object by a schema"
Is there a need for Generator that generates a whole fake object using a schema such as [jsonschema ](https://json-schema.org) or [marshmallow](https://marshmallow.readthedocs.io/en/stable)?

For example, given an object schema definition, such as:

[code]
it would be possible to generate random objects:

[code]

Such functionality would save boilerplate code, since the schema definition holds alm

[2019-03-19 15:38] fcurella commented on #891
closed in #927

[2019-03-19 15:38] #891 closed

[2019-03-19 15:41] fcurella commented on #928
I think it's too specific to be included by default, but it could we could list it under our [Community Providers page](https://faker.readthedocs.io/en/master/communityproviders.html).

[2019-03-19 16:27] amnonkhen commented on #928
No objection for being included as community provider.
However, I do not understand the reason it is too specific.

[2019-03-19 16:41] fcurella commented on #928
@amnonkhen the people using `sqlalchemy`, `marshmallow` or `jsonschema` represnets only a small subset of our user, when compared to how many people need an `int`, or person names, etc.

I'm not saying it's few people, just that it's not _most_ of our users.

Another issue is how should we manage dependencies. If we include a provider returning mashmallow Schemas, should we add `marshmallow` as de

[2019-03-19 16:54] amnonkhen commented on #928
Let us go with the Community Provider option for starters.

Regarding the dependencies, I guess that using a provider that uses 3rd party dependency would require that  said dependency be added to the requirements. I would not, however, add all those 3rd party dependencies to _faker_. It should stay lean.

[2019-03-19 17:26] amnonkhen commented on #928
I was also consider supporting [Django's DB Models](https://docs.djangoproject.com/en/2.1/topics/db/models/).  I guess this also would help many users.

[2019-03-20 08:36] MathynS opened #929 "Support for companies for the nl_NL locale"
I'm currently using faker in a project and would love to use Dutch company namers.
I already made changes to do this and would like to commit these.
Can you make a branch avaiable for me so I can ask for a merge request?

[2019-03-20 14:38] fcurella commented on #929
Hi @MathynS

Thank you so much! Feel free to fork the project, work on your branch, and submit from there :)

Let me know if you need help or have any question :)

[2019-03-20 21:04] adwojak opened #931 "pl_PL tasks - a lot of things to add"
Hi,

I'm using faker quite often, but there is some missing functionalities for pl_PL, like e.g. PESEL generator (Polish id for every person), car plates or some more.

Can I contribute on my own branch (e.g. pl-PL-features or something), to add missing functionalities?

[2019-03-20 21:09] fcurella commented on #931
Hi @adwojak ,

Thank for reaching out!

Feel free to fork the repo, create your branch and submit Pull Requests!

[2019-03-20 21:15] adwojak commented on #931
Thanks a lot!

[2019-03-21 15:13] #929 closed

[2019-03-21 16:55] baileyholl opened #932 "Adding multiple providers to the Faker object at a time"
Perhaps I am simply not finding the correct documentation, but to use any of the providers you must first add them via the [Generator#add_provider(provider)](https://github.com/joke2k/faker/blob/master/faker/generator.py#L23) method where provider is a single provider object.

Is there a way to add multiple providers via one method call with either an array or a varargs parameter?

My current impl

[2019-04-10 04:57] LooEv opened #935 "android ios User-Agent"
can you add  some  user-agents of android and ios?

[2019-04-10 13:19] securebean opened #936 "wrong language in faker.word() method"
### Steps to reproduce

1. from faker import Faker
1. fake = Faker('de_DE')
1. fake.word()

### Expected behavior

Generated word should be in German language

### Actual behavior

Generated word is in Latin. The same situation is with Spanish word() method.

[2019-04-10 14:15] fcurella commented on #936
The issue is that the there is no German (or Spanish) localization for the `word` method.

We usually fall back to `en_US` when a localization is missing (https://github.com/joke2k/faker#localization).

The `lorem` provider is a special case in that it falls back to "latin-ish". This is because the original point of the provider was to provide a 'lorem ipsum' kind of text, which one would expect t

[2019-04-10 14:16] fcurella commented on #935
@LooEv feel free to add them to https://github.com/joke2k/faker/blob/master/faker/providers/user_agent/__init__.py and submit a Pull Request :)

[2019-04-13 18:06] AnanthReddyGit opened #942 "Unable to import Faker"
Installed Faker Package using pip command in Ubuntu. But I was not able to import Faker and use it in code.

[2019-04-14 21:17] fcurella commented on #942
Hi @AnanthReddyGit

I've just tried installing the newest release and it's working for me. Could you tell me exactly what command did you use with pip?

[2019-04-15 18:46] navtej opened #944 "Inconsistency in unix_time handling start and end time parameters"
There is an inconsistency the way Faker handles `unix_time()` when parameter `start_datetime` is provided as 'now'. `start_datetime` is parsed using class method `_parse_start_datetime`
https://github.com/joke2k/faker/blob/6db5503cf070c0b09da8e98cd662c10230cea22f/faker/providers/date_time/__init__.py#L1374

which is eventually parsed by `_parse_date_time`, which can take argument 'now'. When 'now'

[2019-04-15 20:56] fcurella commented on #944
Thank you for the report @navtej !

Would you mind submit a Pull Request with a failing test case?

[2019-04-16 13:01] cartertemm commented on #689
If I were you, I'd start out with a look at the [open-source guide](https://opensource.guide/)

Issues are usually used as a means of discussing specific, issues, with a project as well as suggesting features and gauging community interest.

[2019-04-17 06:35] erayerdin commented on #944
I currently run across problems using `future_datetime` and `past_datetime` providers. Might be related to this.

I use faker with pytest, pytest-django and django. One of my test populates 3 different objects, two of which is created by `past_datetime` and one of which is created by `future_datetime`.

While I assert two past timed objects, I get only one object. When I queried all objects in the

[2019-04-18 07:41] ThibaultLemaire opened #945 "The doc shows no arguments for `pyint()`"
I want to use faker to generate integers for testing so I can seed it for reproducibility. But when reading the doc, there is no mention of parameters to the `pyint()` generator. At first I took it as gospel truth that `pyint()` takes no arguments, grumbled, then went ahead and used `random.randint()`. But then I went back and thought "that's impossible: there must be at least a `min` and `max` ar

[2019-04-18 08:55] ThibaultLemaire commented on #945
Oops, that was added super recently it would seem (by #937). Well then this issue only applies to the next release I guess?

[2019-04-18 14:32] fcurella commented on #945
Hi @ThibaultLemaire

Thanks for the report. Looks like for some reason ReadTheDocs hasn't kicked a build in the past 4 months. I manually kicked off one, and now it's up to date.

[2019-04-18 20:55] ThibaultLemaire commented on #945
Oh. Just a small hiccup in doc generation then.

Alright, then I'm looking forward to using this feature in the next release

[2019-04-18 20:55] #945 closed

[2019-04-20 07:21] AnanthReddyGit commented on #942
I have tried using <pip install Faker> command to install the Faker. But I am not able to use it in code.

[2019-04-21 09:40] Monstrofil opened #946 "image_placeholder_services contains dead service"
Looks like https://placeholdit.imgix.net/ does not work anymore, I propose to remove it.

### Steps to reproduce

1. use fake.image_url()
2. sometimes you get url like https://placeholdit.imgix.net/~text?txtsize=55&txt=320x320&w=320&h=32

### Expected behavior

Url must be valid

### Actual behavior

Link does not work

[2019-04-22 14:24] #946 closed

[2019-04-22 14:26] fcurella commented on #942
@AnanthReddyGit how are you importing it?

[2019-04-23 17:53] AnanthReddyGit commented on #942
_from faker import Faker_. This is how I imported Faker package and while running. This is error is thrown.
_Traceback (most recent call last):
  File "faker.py", line 1, in <module>
    from faker import Faker
  File "/home/ananthreddy/Documents/Cyber Security/faker.py", line 1, in <module>
    from faker import Faker
ImportError: cannot import name 'Faker' from 'faker'_ananthreddy

[2019-04-23 17:58] fcurella commented on #942
@AnanthReddyGit Python is getting confused because the filename of your script is `faker.py`, and so it's trying to "import itself", so to speak. Try renaming it to something else than `faker.py`

[2019-04-23 18:16] AnanthReddyGit commented on #942
Thank You. That worked

[2019-04-23 18:16] #942 closed

[2019-04-25 19:54] blairg23 opened #949 "Faker.timezone() produced timezones that can't be handled by Pytz"
Brief summary of the issue goes here.

### Steps to reproduce

[code]

### Expected behavior

Pytz should be able to handle the faked timezone.

### Actual behavior

Pytz was not able to handle the faked timezone because it wasn't a real timezone.

[2019-04-25 20:55] fcurella commented on #949
hi @blairg23 , what version of `Faker` are you using? I can't find `Asia/Shangri-La` anywhere in the code on master

[2019-04-26 19:03] blairg23 commented on #949
Hi, I think this was a mistake on my part. I think I copied part of the doc string code that showed up in output from Django-Faker that was running as part of FactoryBoy in Pytest tests. You can close this ticket.

[2019-04-26 19:08] #949 closed

[2019-05-08 11:17] pietariheinovincit opened #952 "v1.0.6 is not in PyPi"
It seems that the latest update has not been released in PyPi: https://pypi.org/project/Faker/#history

[2019-05-08 16:03] fcurella commented on #952
I'm sorry, not sure what happened. It's released now.

On Wed, May 8, 2019 at 6:17 AM pietariheinovincit <notifications@github.com>
wrote:

[2019-05-09 05:24] pietariheinovincit commented on #952
Perfect! Thanks for the prompt fix!

[2019-05-09 05:24] #952 closed

[2019-05-10 06:04] uri-rodberg opened #953 "CHANGELOG.rst - nothing for version 1.0.6"
What are the changes in version 1.0.6?

- I didn't find anything in CHANGELOG.rst

[2019-05-10 14:50] fcurella commented on #953
Somehow got missed, but it's fixed now. Sorry about that!

[2019-05-10 14:50] #953 closed

[2019-05-10 19:16] DataGreed commented on #753
well, now when I have to use debug level in my app, faker spams the logs, is there any way to disable debug logging at all for faker?

[2019-05-10 19:19] fcurella commented on #753
@DataGreed if you set `logging.getLogger('faker').setLevel(logging.ERROR)`, it should mute all logging from `faker`

[2019-05-10 19:19] DataGreed commented on #753
Oh, thanks!

[2019-05-14 14:39] #813 closed

[2019-05-16 20:57] danielhoherd opened #958 "Feature request: add randomized VIN (yanigisawa/VinGenerator)"
I've opened ticket yanigisawa/VinGenerator/issues/4 to add integrate VIN generation features of that project to faker/providers/automotive. This is the reciprocal ticket of that.

[2019-05-20 18:33] tomaszrycz opened #960 "TestPyfloat failed"
* Faker version: 1.0.7
* OS: ubuntu 16.04

I want to add a new features to a fake (`pesel` from `faker.providers.person.pl_PL.Provider`). I can't do that because `tests.providers.test_python.TestPyfloat` failed.

[code]

new version of pesel function:
[code]

tests:
[code]

### Steps to reproduce

1. download branch `pesel_new_features` from my fork `git@github.com:tomaszrycz/faker.git`
2. runs te

[2019-05-20 19:25] fcurella commented on #960
Hi @tomaszrycz ,

Can you reproduce the failure consistently? I've ran the test suite 3 times and got no failure.

[2019-05-20 19:50] tomaszrycz commented on #960
No, but for this set of test it occurred. I also didn't find any pattern
when it happened.

pon., 20 maj 2019, 21:25 użytkownik Flavio Curella <notifications@github.com>
napisał:

[2019-05-21 07:31] tomaszrycz commented on #960
https://github.com/tomaszrycz/faker/pull/1

[2019-05-22 18:29] darrylwhiting opened #961 "No function to return an invalid US format SSN."
* Faker version: v0.8.17+
* OS: N/A

When an invalid en_US format SSN is desired, there is no function to return an invalid en_US format SSN.

### Steps to reproduce

1. N/A

### Expected behavior

Along with generating valid United States' EIN, ITIN, and SSNs, there should be a function to generate an invalid US format SSN, which is also not a valid ITIN. An invalid SSN assist teams with negative

[2019-05-25 13:43] #960 closed

[2019-05-28 11:00] shmidtelson commented on #873
Thank you!

[2019-05-28 11:00] #873 closed

[2019-06-04 09:25] stuaxo opened #966 "Faker doesn't obey max_length when used with django + factoryboy"
factory_bot + faker with django is a common use-case.

It would be useful if Fakers() could pick up the max_length of the fields it fakes.

Original bug against FactoryBoy
https://github.com/FactoryBoy/factory_boy/issues/427

[2019-06-04 17:29] fcurella commented on #966
`Faker.pystr` already accepts a `max_chars` parameter: https://github.com/joke2k/faker/blob/master/faker/providers/python/__init__.py#L17

I'm against the idea of adding a `max_chars` parameter to `word()`, because it would make it occasionally return something that's not a word. Eg `Faker("en-US").word(max_chars=6)` could return `admini`, which is not an English word.

[2019-06-04 20:53] stuaxo commented on #966
Does the architecture make it difficult for it to lookup real words in this case?

[2019-06-05 12:13] fcurella commented on #966
Not really difficult, but inefficient.

We’ll have to pick words until the length is less or equal than max_chars.
Consider that many users call ‘word()’ inside loops.

 A good way would by to have a list of the words indexes by length, but
indexing in at instantiation time will make instantiation slow. Many user
to instantiation Faker inside a loop in order to generate multi-lingual
values.

On T

[2019-06-05 14:06] stuaxo commented on #966
The list could be stored indexed by length, so you have that when you load it.

Or you could have a Trie which is pretty efficent at looking up at words (also - it is much smaller, so less RAM==more speed).

This S/O post has a java-ish implementation of looking up a word in a Trie by length, though they generate an index of word frequencies, which I'm not quite convinced of the value of -

https:

[2019-06-05 15:45] anneclairebrld commented on #915
has this issue been addressed or can I give it a shot?

[2019-06-05 17:14] fcurella commented on #966
converting all the lists to somethings else that's also hardcoded will be a
lot of work.

A more practical approach is to convert the list to some other
datastructure, be it a trie or some kind of map, which could happen at
instantiation or at call time.

Whatever we decide to do, I'd like to see some before/after benchmarks.

On Wed, Jun 5, 2019 at 4:06 PM Stuart Axon <notifications@github.com> w

[2019-06-05 17:15] fcurella commented on #915
@anneclairebrld Feel free to give it a try!

[2019-06-08 20:28] mrfunnyshoes opened #967 "Missing logic for generating Mexican SSN"
The format for the Mexican SSN should be 11 digits:

* The first two digits represent the office where the person was registered.
* The next two digits are the year when the person was registered to social security.
* The next two digits are the year of birth for the person.
* The next four digits are a sequential number assigned by the registration office.
* The last digit is a checksum.

### Ste

[2019-06-15 12:27] fdemmer commented on #854
i needed more strict phone numbers generated recently and threw together this provider, creating only valid at, de phone numbers using the regex-patterns from [phonenumbers](https://pypi.org/project/phonenumbers/). maybe that is of use or an inspiration to someone :)

[code]

[2019-06-19 00:14] x-yuri opened #969 "A way to take unique values from a list on demand"
Actually, this is a question. Hopefully that's okay.

I'd like to do on back end as I've done on front end. There I have a method that returns unique names. For that it has a list that is populated and shuffled before each test.

I could probably get away with `random_sample()`, but I'd like to retrieve values on demand. Adding state to the fake (provider) is probably not a good idea. Although not

[2019-06-19 09:07] timokau opened #970 "Overly restrictive freezegun and random2 dependencies"
Currently freezegun and random2 are pinned to exact versions:

https://github.com/joke2k/faker/blob/c412d56e6a8f3681cfa1b75ef6ed47bc9798825d/setup.py#L77
https://github.com/joke2k/faker/blob/c412d56e6a8f3681cfa1b75ef6ed47bc9798825d/setup.py#L78

Is there any reason for that? Would there really be problems with `freezegun` 0.3.12? This kind of version pinning is hard to match for distribution packa

[2019-06-19 13:30] fcurella commented on #970
The reason we pin the dependencies is that we don't want to break the build in case one of them drops support for python 2.7. I think we can relax them and just pin to the minor version, so something like  `random2<1.1` and `freezegun<0.4`

[2019-06-19 17:02] x-yuri commented on #969
Now I think I know why adding state to a fake is a bad idea. The issue is out of scope of Faker. The latter can be used in a test suite, or not. It doesn't know when the tests start, to reset its state.

Well you probably can add resettable state. That is, a fake has state and provides a way to reset it. And leaves the decision of when to reset to the user (a library that uses Faker). But I'm not

[2019-06-19 17:02] #969 closed

[2019-06-19 17:41] timokau commented on #970
That would be helpful, as long as they adhere to something semver-like they shouldn't drop python2 support in a minor update.

[2019-06-19 17:44] fcurella commented on #970
@timokau I'm currently on vacation, so I don't have much time to work on this.

But if you could write a PR that passes the build, I should have enough time to merge and release

[2019-06-20 00:22] Zylatis opened #971 "Return list of n unique companies (n_unique keyword for all providers?)"
* Faker version: 1.0.7
* OS: Ubuntu 16.04

I was wondering if it is possible to generate a list of 'n'  unique company names? I saw some PR's which gave a unique keyword for 'words' but doesn't seem to extend to other providers? I understand i could just keep regenerating and dropping duplicates until I got a unique set of length n, but would be nice to just have a keyword for that (plus this may

[2019-06-20 11:56] timokau commented on #970
Sure, https://github.com/joke2k/faker/pull/972.

No big hurry though, after you vacation is also perfectly fine.

[2019-06-22 09:11] tomaszrycz opened #973 "problem with importlib_metadata"
There has been a problem with tests in python3.5's windows environment. Setup.py can't build `importlib_metadata` package for source and because of that all `appveyor` test failed.

### Steps to reproduce

1. Run `appveyor` tests

### Expected behavior

All tests should pass.

### Actual behavior

Tests for python3.5 in windows environment fail.

[2019-06-27 15:51] zd-project opened #975 "Providers are not properly decoupled?"
* Faker version: 1.0.7
* OS: MacOS 10.14.15

Brief summary of the issue goes here.

If individually loading providers rather than loading all providers by default, I can't generate random text because the literal string formatter from missing providers.

For example, if I want to generate random email address, there are times when the string interpolate {{first name}}, or {{company}}. Upon missing

[2019-06-27 15:59] zd-project opened #976 "How to change locale?"
* Faker version: 1.0.7

I don't see an API exposed to change locale for a Faker object programatically. I'm wondering if it's possible to do so.

[2019-06-29 16:28] GarridoM opened #977 "Food Faker"
Hi!

It is not an issue, it is just a question. Is any way of doing fake data related with food? (like this page: https://hexdocs.pm/faker/Faker.Food.html)

Thanks in advance!!

[2019-07-01 09:12] 153957 commented on #976
Do you mean like this? https://github.com/joke2k/faker#localization

[2019-07-04 20:38] josephwon0310 commented on #977
Looks like you can add a custom module under `faker/faker/providers` by inheriting the `BaseProvider` class.

[2019-07-04 20:45] josephwon0310 commented on #977
Adding on to this thread since I don't want to create another issue; Is there a guideline for submitting PRs regarding adding additional datasets such as food data?

[2019-07-04 21:05] josephwon0310 commented on #971
Has this issue been tackled by anyone already?

[2019-07-05 18:45] fcurella commented on #977
To propose a new provider, simply open an issue.

In this specific case, I don't think food is generic nor common enough to be included by default, but you could implement it as a [separate package](https://github.com/joke2k/faker#how-to-create-a-provider) and send a PRs to have included in our [community providers](https://github.com/joke2k/faker/blob/master/docs/communityproviders.rst) page.

[2019-07-08 22:27] adamjnichols opened #979 "Add support to fake mobile device platforms"

[2019-07-10 16:19] dmsimard commented on #727
@fcurella I came across this issue when packaging dependencies for inclusion in the Fedora distribution and wanted to mention that it is still problematic.

The "Artistic 1.0" license is explicitely listed in incompatible licenses here: https://fedoraproject.org/wiki/Licensing:Main?rd=Licensing#Bad_Licenses

It is documented on [gnu.org](http://www.gnu.org/licenses/license-list.html#ArtisticLicens

[2019-07-10 16:24] fcurella commented on #727
@dmsimard I 100% agree with you.

The problem is that we don't have any decent alternative. If you can think of any solution, please let us know (and possibly send a PR ;)

[2019-07-10 16:54] dmsimard commented on #727
@fcurella I am actually not familiar with faker but it looks like the only place where text-unidecode is used is here: https://github.com/joke2k/faker/blob/c412d56e6a8f3681cfa1b75ef6ed47bc9798825d/faker/providers/internet/__init__.py#L126

Surely there could be an alternative implementation ?
Unicode became standard in [python3](https://docs.python.org/3/howto/unicode.html) and python2 is end-of-l

[2019-07-10 17:02] fcurella commented on #727
@dmsimard

We use `text-unidecode` for transliteration, ie: taking Unicode data and trying to represent it in US-ASCII characters. For example `u'какой` -> `u'kakoi-to tekst'`

There is one, but it's not actively maintained. See https://github.com/joke2k/faker/pull/728

In 5 months, we can finally drop Python2. But we'll still need a library for transliteration.

[2019-07-12 14:46] #970 closed

[2019-07-12 14:47] #967 closed

[2019-07-12 20:20] #931 closed

[2019-07-12 20:21] fcurella commented on #973
fixed in #980

[2019-07-12 20:21] #973 closed

[2019-07-14 15:55] bluesheeptoken commented on #944
Should this be closed ?

[2019-07-15 14:16] fcurella commented on #944
Yes, closed with #965

[2019-07-15 14:16] #944 closed

[2019-07-15 14:37] navtej commented on #944
I wasn't able to find time to provide a patch.

[2019-07-15 14:45] bluesheeptoken commented on #944
No worries, I have done it, was just a notification to remember to close this issue :).

Thanks for noticing the :bug:

[2019-07-16 02:07] blackrobot opened #981 "The docs specify the wrong arguments for `pyint()`"
* Faker version: v2.0.0
* OS: Debian

Before the v1.0.8 release, the `pyint()` generator accepted the arguments `min` and `max`. The keywords for this method were changed in the v1.0.8 release to `min_value` and `max_value`.

The commit for this change is here:
https://github.com/joke2k/faker/commit/16e164c45268a2e81f600a73fb479e864306dfff

### Steps to reproduce

1. Use `fake.pyint` example from

[2019-07-16 14:13] fcurella commented on #981
Looks like the webhook to readthedocs is failing for some reason. I kicked the build manually, but I don't have access to the repo's settings. @joke2k could you take a look?

[2019-07-16 19:29] zd-project commented on #976
Sorry for not replying promptly. Similar to what you described but seems that a single Faker instance can only use one locale, which is read upon initialization. Is it possible to extend this feature so we can change locale during runtime?

[2019-07-16 21:58] joke2k commented on #981
Readthedocs webhooks updated!

There were some changes with integration between GitHub and RTD:
https://blog.readthedocs.com/webhook-deprecations/
https://docs.readthedocs.io/en/latest/webhooks.html#github

Thank you

[2019-07-17 04:52] 153957 commented on #976
Im not certain if this is currently possible. A workaround would be initializing multiple Faker instances, one for each locale. Which you could keep in a dict for easy access.

[code]

[2019-07-29 09:28] swaroop-m opened #982 "ImportError: cannot import name get_random_word"
I'm new to Python. I'm trying in import random words from words. I'm facing this issue. Help me out anyone.

ImportError: cannot import name get_random_word

[2019-07-29 12:44] fcurella commented on #982
Hi @swaroop-m,

There is no `get_random_word` function anywhere in the [code base](https://github.com/joke2k/faker/search?q=get_random_word&unscoped_q=get_random_word).

Please check the [Basic Usage](https://github.com/joke2k/faker#basic-usage) section of the Readme. In a nutshell, if you just want a random word:

[code]

[2019-07-30 05:54] swaroop-m commented on #982
thank you @fcurella ,
I checked the function faker but i got a similar import error
`from faker import Faker`
`ImportError: No module named faker`

I tried installing faker using pip,

faker is already installed, but still i get the same error.(tried uninstalling fake-factory but fake-factory was not installed either)

[2019-07-30 06:05] swaroop-m commented on #665
I got a similar error (I used faker in lower case only)

[code]
I got that error and thought I didn't have faker, tried to install faker,
[code]
It was already there, but still the same error.

[2019-07-30 18:01] fcurella commented on #982
@swaroop-m

Is it possible that you have some circular import in your code?

Another common mistake I usually make is calling the file with the same name of a module I'm importing. Is your file called `faker.py` by any chance?

[2019-07-31 05:55] swaroop-m commented on #982
@fcurella
No, i just created a new file named demo to check out this module.

[2019-08-02 10:51] Menda commented on #643
I just wanted to comment that would be good to have BIC as well.

[2019-08-08 19:28] NeolithEra opened #986 "Loosen the version constraint of text-unidecode to avoid dependency"
Hi, _**django-dynamic-preferences**_ locked the version constraint of _**text-unidecode**_ as **_text-unidecode==1.2_**, which leads to a troubling scenario that its direct downstream project **_[blaggregator,'steamers-misago', 'doccano',django-populate,elifin-okuzu,betterself,misago,psiturk]_** has to lock **_text-unidecode_**.

Could you please loosen the version constraint of _**text-unidecode*

[2019-08-08 19:30] NeolithEra commented on #986
### Dependency tree-----
[code]

_**Direct downstream project:**_

[code]

[code]

[code]
[code]

[code]

[code]

[code]

[code]

[2019-08-08 19:38] fcurella commented on #986
Do we know if `text-unidecode` uses semantic versioning?

[2019-08-09 06:12] NeolithEra commented on #986
@fcurella
Hi, thanks for your feedback.
I have checked text-unidecode and found it didn't use semantic versioning now.

So maybe we can add a upper bound for it.

I revised the solutions as follows:
Loosen text-unidecode==1.2 to be text-unidecode>=1.2, <2.
Loosen text-unidecode==1.2 to be text-unidecode<2.
Loosen text-unidecode==1.2 to be text-unidecode>=1.0, <2. (Allowing downstream projects flex

[2019-08-09 15:26] fcurella commented on #986
Without semver, there's not much meaning of an 'upper bound'. For all we know, `1.3` might break everything.

What other versions are those libraries requiring? In the dependency trees you posted I don't see anythong other than `text-unidecode(version range:==1.2)`

[2019-08-22 11:25] OJFord opened #988 "suggestion: pytimezone"
In addition to the currently available [timezone](), it would be very useful* to have a similar python object faker, something like:
[code]

For an example use-case, see:

\* FactoryBoy/factory_boy#643

[2019-08-22 14:26] fcurella commented on #988
I'm +1 on add a timezone provider. I just wonder if it should go into the `date_time` provider than the `python` one.

Either way, feel free to submit a PR and I'll review it :)

[2019-08-22 14:28] OJFord commented on #988
Oh, true, since date_time provider does already have  python `datetime` objects. 👍

Will do.

[2019-09-05 08:05] jorti commented on #727
text-unidecode has switched its license in version 1.3 to GPL+ or Artistic.

[2019-09-05 08:12] jorti commented on #986
Due to the license change in text-unidecode, it will be wise to require at least version 1.3

[2019-09-05 13:29] moggers87 commented on #727
Good to know, running tests against 1.3 and will submit a PR shortly

[2019-09-05 14:23] #727 closed

[2019-09-06 14:29] fgs-dbudwin opened #994 "pyfloat producing values above max_value"
* Faker version: 2.0.1
* OS: Windows 10

Calling `pyfloat` with the `max_value` set can produce values above `max_value` leading to issues.

### Steps to reproduce

Run my example code below.

### Expected behavior

Given my following example, I would expect to _only_ see numbers in the range `1 <= x <= 2`.

[code]

### Actual behavior

However, my example will produce values in the range `1 <= x

[2019-09-06 21:52] #994 closed

[2019-09-11 17:13] Hamidnsh commented on #655
I get the same exception with faker.isbn13

[2019-09-15 13:01] z-zafirov commented on #749
For me (on Linux Mint) the following solution worked:
1. pip uninstall Faker
2. sudo apt install python3-pip
3. pip3 install Faker

[2019-09-16 15:25] luser opened #996 "`invalid_ssn` provider doesn't yield reproducible values with the same seed"
* Faker version: 2.0.1
* OS: macOS 10.14.6

The `invalid_ssn` provider doesn't yield reproducible values when used with the same random seed. It's not immediately noticeable but it does show up if you generate a number of values.

### Steps to reproduce

[code]

### Expected behavior

With the same seed `invalid_ssn` should yield the same series of values.

### Actual behavior

The series of value

[2019-09-16 22:29] fcurella commented on #996
Thank you @luser , nice catch!

Would you mind submitting a Pull Request?

[2019-09-18 13:27] #996 closed

[2019-09-26 16:26] vijayshinva opened #999 "Suggestion: Enhance faker.providers.date_time to generate dates of a particular day_of_week"
To test systems that react differently based on day_of_week it would be really helpful if Faker can generate dates of a particular day_of_week

Something like

[code]
would generate dates that are Sundays.

[2019-09-28 11:19] zhaoyongjie opened #1000 "I can't generate random data by passing a fake instance"
* Faker version: 2.0.1
* OS: OSX 10.13.4

I can't generate random data by passing a fake instance. for after code, generate same Name value.

### Steps to reproduce

[code]

### Expected behavior
Given a way to pass random seeds

### Actual behavior
In the student.csv
[code]

[2019-09-29 08:56] jkob opened #1001 "Internet provider does not work"
* Faker version: 2.0.2
* OS: Windows 10 Home

Internet providers methods returns errors

### Steps to reproduce

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'Generator' object has no attribute 'username'

### Expected behavior

Should return a username

### Actual behavior

Errors

[2019-09-29 10:29] Pranjal1212 opened #1002 "Faker error"
![Untitled](https://user-images.githubusercontent.com/55194688/65830817-a1f87380-e2d0-11e9-931f-1efbb3f06a50.png)
* Faker version:2.0.2

* OS:windows 10 home

Brief summary of the issue goes here.

### Expected behavior

Should populate the database

### Actual behavior

Throwing an error

[2019-09-29 19:51] fcurella commented on #1002
This problem has nothing to do with Faker. Looks like your User model doesn't define a `last_name` field, but I see there's one named `second_name`. Check your User model fields.

[2019-09-29 19:53] fcurella commented on #1001
the method is `user_name()`, with an underscore. See https://faker.readthedocs.io/en/master/providers/faker.providers.internet.html

[2019-09-29 19:53] #1001 closed

[2019-09-29 19:55] fcurella commented on #1000
That's not an issue with Faker, it's just that you assigned the value out of the loop, and so it stays what you initialized with.

try this instead:

[code]

[2019-09-30 22:42] fcurella commented on #999
I'm not sure this is common enough to be worth the complexity of the change. Feel free to submit a PR. If it's simple enough, I'll get it merged :)

[2019-10-03 17:33] #1002 closed

[2019-10-05 07:54] michjnich opened #1005 "Proposal for enhancement of Swedish SSN values (Pers ID, Org ID & MOMS (VAT) ID)"
* Faker version: 2.0.2
* OS: *

I'd like to expand and correct some of the behaviour for Swedish ssn and VAT numbers, and add an option to return an organisation ID.

Some info on how these codes work in Sweden:

1. **Personal number (SSN)** - the code for this is largely correct, but I would like to add a "long=False" parameter to the call. Default behaviour would remain the same, when set to tru

[2019-10-05 07:59] michjnich commented on #1005
Just to be clear, I'm happy to take this enhancement myself if you want to assign it to me (I live in Sweden and would like to use this functionality).

[2019-10-09 06:53] michjnich commented on #1005
Excellent. I'm away for a few days now, so I'll get on this when I get back next week :)

[2019-10-09 06:58] michjnich commented on #1005
Actually, minor change to the proposal. From the new org_id method I think it wise to return 2 values - the org ID itself, and a corresponding VAT number, since these match up in reality. The vat routine can still return a random VAT number should that be required by itself.

How do you feel about 2 return values when requesting an org_id? Or would it be better to have an extra method that aligned

[2019-10-09 14:16] fcurella commented on #1005
@michjnich I'd rather have two separate methods. Seems more natural.

[2019-10-14 21:32] nkthanh98 opened #1013 "Generate master card number invalid"
* Faker version: 2.0.2
* OS: MacOS

I validate master card number with Faker prodvider but they don't match with regex ^(5[1-5][0-9]{14}|2(22[1-9][0-9]{12}|2[3-9][0-9]{13}|[3-6][0-9]{14}|7[0-1][0-9]{13}|720[0-9]{12}))$
If number begin with 2, it is one of 4 group and they generate 2610440153652. But length of string is 16, not 13

### Steps to reproduce

1. value = fake.credit_card_number(card_typ

[2019-10-15 16:38] Taxuspt opened #1014 "Available attributes should be independent of localization"
* Faker version: 2.0.3
* OS: OS X

When using localization, the available methods should be the same as the default localization.

### Steps to reproduce

[code]

### Expected behavior

If a certain localization doesn't have an attribute that exists on the default then it should revert to the default localization.

[2019-10-15 19:24] fcurella commented on #1013
Thank you for the report @nkthanh98 !

Would you be able to submit a PR?

[2019-10-15 21:41] nkthanh98 commented on #1013
Can you assign this issue for me?

[2019-10-15 21:48] fcurella commented on #1013
@nkthanh98 done!

[2019-10-16 03:53] magiskboy opened #1015 "suggestion: add provider for vietnamese locale"
I want to add new provider for vietnamese locale

[2019-10-16 14:04] fcurella commented on #1015
Thank you so much! Go for it!

[2019-10-17 10:56] magiskboy opened #1018 "[Change] Change method generate some text type"
* Faker version: 2.0.2
* OS: macos, linux, windows

As I know, some global standardized texts such as uuid, email, url, ipv4 and so on are all generated by hard code so maintenance is difficult.

Instead of hard code, we can generate text using regular expressions, python has many libraries that do this. Thus, the code will be clearer

### Steps to reproduce

1. fake = faker.Faker()
2. uuid = fake

[2019-10-17 14:41] fcurella commented on #1018
Hi @nkthanh98 ,

I'm not sure what you're trying to say.

Could you follow and fill out the issue template instead of replacing? It gives the description more structure and helps me out understanding what the problem is and how to fix it.

[2019-10-17 15:19] #1013 closed

[2019-10-18 07:14] michjnich commented on #1005
I've submitted a pull request for this - in retrospect I guess it should have been assigned to me so the pull request came for this issue number, but it's #1022

[2019-10-18 14:22] #1005 closed

[2019-10-20 15:05] djunehor commented on #1014
I agree with this suggestion. Providers (available methods) should be independent of locale. So, if I do something like:
[code]

If there's no vat method specific to en_NG locale, it should use the default vat() method instead of breaking. That makes the package more efficient and I think it's how faker package in other languages are structured.

Let's have a list of providers: person, date, phone

[2019-10-23 14:12] fcurella commented on #1014
The reason not all providers have a `vat` method is that not all countries have VAT.

Another issue with what you suggest is in defining what should the "default" `vat` method.

[2019-10-23 14:20] djunehor commented on #1014
I used VAT as an (inappropriate) example, vat won't be in the list of default providers. Default providers should be details that can be locale independent. Here's a list:
Address
Barcode
Color
Company
DateTime
File
Image
Email
Phone
Name
UserAgent
MobileCarrier

The list is not exhaustive, but those are details that are locale independent, en_US can be set as default locale.

[2019-10-23 17:06] fcurella commented on #1014
@djunehor I'm confused. Fallback to `en_US` is already the current behavior.

I think the current behavior is OK, but we need to document which methods are guaranteed to be always available.

Going back to this issue's initial example, `zipcode` is not guaranteed to be in every provider because it's a US-specific implementation (ie: it's spec is defined by the USPS). But all address providers have

[2019-10-23 17:24] djunehor commented on #1014
Sorry I confused you. Yes, the current behaviour falls back to `en_US`.

What I'm saying is instead of having to create locale folder in ~22 places [address, automotive, bank etc] as is presently, the package should be structured such that we only have to create e.g `en_NG` locale once. So, the file structure will be like
[code]

You might want to check this https://github.com/fzaninotto/Faker/tre

[2019-10-23 19:49] fcurella commented on #1014
@djunehor The code used to be structured that way, but we changed to be "provider-centric" so that people could extend Faker by writing their own providers.

[2019-10-23 19:57] djunehor commented on #1014
I didn't meet that era 😊. However, I still think we should find a way to avoid having locale folder in multiple places. Or what do you think?

[2019-10-23 20:02] fcurella commented on #1014
@djunehor I'm still unclear on what's the problem we're trying to solve. What would the new structure achieve that we currently can't do?

[2019-10-23 21:23] djunehor commented on #1014
The original problem raised is not an issue as zipcode is peculiar to the US only so the error is appropriate. In other words, there's no problem here we're trying to solve.

[2019-10-24 16:04] fcurella commented on #1014
@djunehor This would be a big change, and I don't feel like it's worth it.

@Taxuspt I'll leave it up to you close the ticket, or add to the conversation.

[2019-10-31 17:35] DanLipsitt commented on #525
As a first step, it would be great to add @fodra's workaround [above](#issuecomment-377084985) added to the documentation. What would be the right place to do that?

[2019-11-03 07:05] shmokmt opened #1035 "suggestion: support for ja_JP at faker.providers.job"
I checked items of ja_JP but they are not that perfect.
For example, `faker.providers.job` doesn't correspond.
So I'd like to send a PR which I make compatible with ja_JP.
What do you think?

[2019-11-04 15:06] #264 closed

[2019-11-04 15:10] fcurella commented on #832
@malefice Ideally. I'like to have a section with the methods shared by all providers (ie: `random_choices` et al). Then each provider would have a section with the methods that are guaranteed to be on all locales, followed by locale-specific methods.

Go ahead and see what you can come up with. Thank you so much for volunteering! :)

[2019-11-04 15:18] fcurella commented on #1035
Thank you @shmokmt ! Feel free to submit a PR :)

[2019-11-05 13:38] shmokmt commented on #1035
I've just created a PR now
#1038

[2019-11-05 13:45] shmokmt commented on #1035
@fcurella Cloud you review it?

[2019-11-05 16:16] fcurella commented on #1035
Closed in https://github.com/joke2k/faker/pull/1038

[2019-11-05 16:16] #1035 closed

[2019-11-07 11:49] Necrathex opened #1040 "BBAN for en_GB too short"
* Faker version: v2.0.3
* OS: linux

Numeric part of the en_GB BBAN needs to be 14 digits long, it currently only returns 13, failing further validation.

### Steps to reproduce

Invoke `fake.iban()` or `fake.bban()` with the en_GB locale, an IBAN or BBAN with 1 digit missing is returned.

### Expected behavior

GB ibans should be 22 chars long: https://www.xe.com/ibancalculator/sample/?ibancountr

[2019-11-07 12:05] malefice commented on #642
Duplicate of #832

[2019-11-07 13:58] malefice commented on #421
@fcurella This appears to have been resolved. My PR #1037 actually built on top of the work done here. Are there still outstanding items that need to be addressed, or can this issue be closed?

[2019-11-07 15:56] fcurella commented on #421
Thanks for pointing this out @malefice ! This issue can be closed/

Closed by #553

[2019-11-07 15:56] #421 closed

[2019-11-07 16:00] #642 closed

[2019-11-07 16:05] #832 closed

[2019-11-07 16:06] fcurella commented on #1040
Thank you for the report @Necrathex !

Feel free to submit a PR. Let me know if you have any question or need any help :)

[2019-11-07 20:01] #845 closed

[2019-11-08 19:53] #1040 closed

[2019-11-10 17:21] malefice commented on #454
@fcurella it looks like you already fixed this and closed the other issue. alright to close this as well?

[2019-11-10 17:35] malefice commented on #961
@fcurella it looks like this can be closed.

[2019-11-11 16:08] fcurella commented on #655
Thank you so much ✨

[2019-11-11 16:08] #655 closed

[2019-11-11 16:35] #961 closed

[2019-11-11 16:36] fcurella commented on #454
Thank you for keeping tabs, @malefice ❤️

[2019-11-11 16:36] #454 closed

[2019-11-11 20:43] jcardali opened #1048 "Empty range bug with pyfloat"
* Faker version: 2.0.3
* OS: macOS 10.14.6 (Mojave)

Calling `pyfloat` with `min_value` or `max_value` can result in both being set to the same thing, and causing errors. May have been introduced by #995.

### Steps to reproduce
[code]

You may have to try this a few times, or increase the range

### Expected behavior

Faker should handle this gracefully

### Actual behavior

`ValueError: empty ra

[2019-11-12 07:24] malefice commented on #58
@fcurella this looks like it can be closed as there is already an `image_url` provider method.

[2019-11-12 15:17] #362 closed

[2019-11-12 15:17] #550 closed

[2019-11-12 15:25] #484 closed

[2019-11-12 15:50] loeti82 opened #1051 "locale 'ar_Ps' provides wrong country code"
* Faker version: Faker==2.0.3
* OS: NAME="Ubuntu", VERSION="18.04.3 LTS (Bionic Beaver)"

The provider for locale ar_PS provides the telephone country code instead of the ISO country code.

### Steps to reproduce

[code]

### Expected behavior

Country Code in Letters as defined here: https://www.iso.org/obp/ui/#iso:code:3166:PS

### Actual behavior

Telephone Country Code provided

[2019-11-12 15:56] fcurella commented on #58
Thank . you @malefice !

[2019-11-12 15:56] #58 closed

[2019-11-12 15:59] #456 closed

[2019-11-12 16:22] #1048 closed

[2019-11-12 16:23] fcurella commented on #1051
Thank you for the report @loeti82 !

Feel free to submit a PR, and I'll get it merged in.

[2019-11-14 15:04] malefice commented on #935
@fcurella looks like this one can be closed as well.

[2019-11-14 15:35] malefice commented on #310
@fcurella according to this [git blame](https://github.com/joke2k/faker/blame/master/faker/generator.py#L87), you already fixed this in #567 so this should be safe to close.

[2019-11-14 15:58] malefice commented on #981
@fcurella looks like this can be closed as well as the problem was a transient one.

[2019-11-14 16:27] fcurella commented on #981
Thank you @malefice

[2019-11-14 16:27] #981 closed

[2019-11-14 16:27] #935 closed

[2019-11-14 16:27] #310 closed

[2019-11-15 10:39] Dexes opened #1056 "Company details to Russian provider"
I want to add company details to Russian provider
PR: #1054

[2019-11-15 13:06] oza4h07 opened #1057 "How to cast faked IP address string to ipaddress.IPv4Network ?"
* Faker version: 2.0.3
* Factory Boy version: 2.12.0
* Python version: 3.7.3
* OS: Debian Buster

Is there a simple way to get this:

<class 'ipaddress.IPv4Network'>

In other words, I would like to cast a Faker-generated string to something else (an IPv4Address, a IPv4Network, Phonenumbers or anything).
Is there a way to pass these casting functions as options to Faker() constructor ?

Best regar

[2019-11-18 23:28] #104 closed

[2019-11-19 14:44] arielkaluzhny opened #1060 "zipcode_in_state for NY returns only one result"
* Faker version: 2.0.2
* OS: macOS Mojave (version 10.14.6)

Brief summary of the issue goes here.

### Steps to reproduce
[code]

### Expected behavior
Results from the two calls to `zipcode_in_state` should return two different zipcodes.

### Actual behavior
`zipcode_in_state("NY")` always returns '06390'. (Other states return different zipcodes as expected)

[2019-11-19 18:38] fcurella commented on #1056
Closed in #1054

[2019-11-19 18:38] #1056 closed

[2019-11-20 05:35] malefice commented on #1060
I looked into this, and there is only one zipcode value listed for NY as shown:
https://github.com/joke2k/faker/blob/1eb101a81150b1926fb215f0b6dacd94e85886ef/faker/providers/address/en_US/__init__.py#L293

Unfortunately, I am not familiar with US zipcodes, so please consider submitting a pull request if you are.

[2019-11-20 10:23] zahessi opened #1061 "FactoryBoy: TypeError with numeric types"
* Faker version: latest FactoryBoy dependency (at the time of writing it is Faker==0.9.1)
* OS: Ubuntu 18.04

Brief summary of the issue goes here.

### Steps to reproduce

1. Create a factory with any numeric type. For e.g. we have attribute
[code]

### Expected behaviour

`amount` should be generated with respect to `min_value` and `max_value` attributes

### Actual behaviour

`TypeError` is rai

[2019-11-20 10:41] malefice commented on #1061
Upgrade your `Faker` version. A quick search for "pydecimal" in the [changelog](https://github.com/joke2k/faker/blob/master/CHANGELOG.rst) will show that you need at least the 1.0.5 version.

[2019-11-20 10:50] zahessi commented on #1061
My bad, thanks @malefice

[2019-11-20 10:50] #1061 closed

[2019-11-20 15:05] arielkaluzhny commented on #1060
Yes thank you, I looked into this as well. I'm planning on submitting one soon!

[2019-11-21 13:07] malefice commented on #603
@fcurella I will try and take a swing at this, but my main concern are the additional dependencies. Do we keep dependencies like Pillow optional?

[2019-11-25 13:25] malefice commented on #603
I am already done with fake zip and tar files, both with options to specify the number of files, the minimum file size per file, the total uncompressed size, and compression type to use. Hopefully you can give me feedback regarding additional dependencies @fcurella.

[2019-11-25 14:11] malefice opened #1063 "Python 2.7 EOL plans (Leaving feedback is encouraged)"
In a little over a month, the PSF will end support for Python 2. @fcurella, what do you intend to do with this project concerning Python 2 EOL? Do you plan to retain support for a certain duration after the EOL date?

In any case, I can help with making everything Python 3 only, but I think `Faker` should have at least one last "semi-significant", if not significant, release that is Python 2 compa

[2019-11-25 22:27] fcurella commented on #1063
Once python 2 is EOL, I would like to tag one last release supporting it
and release a new major one dropping support altogether. People stuck on
2.x can just pin to the last supported version (ie `pip install Faker<4").

I don't see the point into staying py2 compatible any longer than that.
People already had plenty of time to upgrade. If they didn't, it's because
something critical is preventin

[2019-11-26 10:44] oza4h07 opened #1065 "FactoryBoy's fake.ipv4(network=True) generates /32 network"
* Factory Boy version: 2.12.0
* Faker version: 2.0.3
* OS: Debian Buster

Brief summary of the issue goes here.

### Steps to reproduce

...
'192.168.108.253/32'

### Expected behavior

I would expect each network mask to be at most valued to 30 to deserve its network title.

If network prefix length could be passed as an optional argument, that could be even better:

Online doc mentions an addres

[2019-11-26 16:47] malefice commented on #1063
I suggest pinning this issue to maximize visibility. I will change the title as well to solicit feedback from users.

[2019-11-27 09:23] mabuelhagag commented on #603
@malefice Is there a PR for this?

[2019-11-28 05:11] malefice commented on #603
@mabuelhagag nope, it is still in my local branch. My other PR #1052 has some significant changes, and I would rather have that merged first, so that my PR for this will already be rebased properly.

I think it has been a busy last couple of days in the US because it is almost Thanksgiving and Black Friday, so I suggest checking back later.

[2019-11-28 05:35] malefice commented on #1065
I agree, but others might not. Notation-wise, it is still valid, and only the name `network` might be a bit of a misnomer.

Personally if it is okay to break backward compatibility, I would just get rid of the `network` argument, and use the aptly named `prefix_length` moving forward. A value of 0 to 32 will explicitly set the prefix length, a value of `True` will do what `network=True` already do

[2019-11-28 09:39] christoph-teichmeister opened #1066 "How to set a field as null?"
* Faker version: 2.0.4
* Django_Scrubber version: 0.4.1

I'm using django_scrubber with faker and I'm trying to intentionally "fake" a field with `null`.
I cant find anything similar to setting `null` in the docs and simply writing `my_field = None` doesnt work either.

I am aware, that I could write my own management command to null the fields but before I do that, I want to know if there is some

[2019-11-28 09:57] clintonb commented on #660
The `e164` provider generates valid phone numbers. See https://github.com/crowdcomms/faker-e164 for more information.

[2019-11-28 10:16] stuaxo opened #1067 "domain_name often generates colliding names."
* Faker version:  2.0.0
* OS:  Arch

Brief summary of the issue goes here.

### Steps to reproduce

Run faker domain_name a few times
### Expected behavior

[code]

In reality I have a test suite that generates sites in many tests, and I get collisions, I added some code to try and avoid this, but it would be nice if the domain_name faker could have less of a chance of collision.

Suggestion:  gen

[2019-11-28 19:10] maxnordlund commented on #660
Lovely, but that's not part of this package. It would be nice if either this ships with faker-e164, or the phone_number generator is deprecated with a pointer to faker-e164.

Basically, if you are using libphonenumber for validation, python-fakers phone_number generator breaks your code, most of the time (unless it happens to generate a valid phone number).

[2019-11-28 19:39] clintonb commented on #660
I see your point, but one of the benefits of making providers plug-and-play is that others can expand the offerings, as has been done. I've used faker for years, and this is the first time I have needed phone number generation. Packaging the two libraries—three when you include `phonenumbers`—seems unnecessary without data showing a majority of folks need valid phone numbers.

I like the approach

[2019-11-28 19:45] maxnordlund commented on #660
Hence the deprecation option. I rather have one way to do things, and make that the correct way, then leaving a foot gun lying around.

Having a community providers list would certainly help, and link it in the docs. But I think you also need to deprecate the existing faker since it generates invalid numbers.

I needed it at a previous job where we were sending texts, an you really want to make su

[2019-11-28 19:48] maxnordlund commented on #1063
A last point release would be nice. In addition I would like to see some sort of deprecation/unsupported warning in that versions README/docs.

I don't think a runtime warning would help though. It would only add insult to injury to those poor souls stuck on 2.x

[2019-11-29 17:27] fcurella commented on #660
I would love to replace the current phone provider with `faker-e164`, but the original author hasn't replied to the issue in more than 2 years.

The license allows us to include it, and I think we can read #564 as the author's permission to do so. We just need someone to put the work, preferably @aljp

[2019-11-29 17:47] fcurella commented on #1066
If I'm understanding correctly, you're trying to scrub some field by setting all of its values to `None`.

I'm unclear on how `Faker` could help with that. I'm not familiar with `django_scrubber`, but this looks like an issue on `django_scrubber`'s side.

[2019-12-02 07:25] christoph-teichmeister commented on #1066
You understood correctly.
`django_scrubber` merely "uses" fakers functionality as in that it allows me to use fakers providers. So instead of `fake.text()` I can write `scrubbers.Faker('text')` and get the same result - hence my reasoning that I should ask here.

What would you do in faker to null a field?

[2019-12-04 08:15] malefice commented on #1066
As far as I know, there is no way to do that, because it is very application-specific when a nullable field should have a null value, and the value of a nullable field is (usually) indicative of some state defined by your application's business logic.

I am not familiar with `django_scrubber`, but I use `factory_boy` which also uses `Faker` as its backend, and for those purposes, I take advantage

[2019-12-04 15:35] #691 closed

[2019-12-04 15:35] #976 closed

[2019-12-04 15:59] fcurella commented on #1066
I 💯 % agree with what @malefice said:

I think this is something that out of scope for Faker and should be fixed on `django_scrubber`'s side.

[2019-12-04 16:07] christoph-teichmeister commented on #1066
Thank you for your answers and input! We've [inquired] (https://github.com/RegioHelden/django-scrubber/issues/19) about this at`django_scrubber` and they've implemented a solution

[2019-12-04 18:21] raikel opened #1068 "Error when calling pyfloat provider"
* Faker version: 2.0.4
* OS: Ubuntu 19.04
* Python version: 3.7.3

There is a bug in `pyfloat` provider.

### Steps to reproduce

[code]
### Expected behavior

Above call should not raise any error.

### Actual behavior

Running the code above will raise the following error:
[code]

[2019-12-05 05:11] malefice commented on #1066
It looks like `django_scrubber` created a new `FieldFunc` for creating `None` values. I think this issue can be closed now if there is no outstanding action item.

[2019-12-05 17:06] fcurella commented on #603
I think the best approach would be to have those providers (ie: the ones requiring additional deps) as external providers, and link to them from the "community providers" page.

[2019-12-05 22:36] mabuelhagag commented on #603
I agree with @fcurella .

@malefice if you have code or pointers on how to approach this, I will help.

[2019-12-08 18:43] bontaurean opened #1074 "Faker.random_number raises exception randomly"
* Faker version: 3.0.0

I advise you to document methods parameters and add some kind of validations.

### Actual behavior
[code]

[2019-12-09 13:58] malefice commented on #1074
@bontaurean if the docs are insufficient, the next thing you should try is to check the source. It is open source after all, but admittedly, the docs can use some work, and not all methods have docstrings, but this one does.

Anyway, this happens when `random_digit()`returns a 0 in this [line](https://github.com/joke2k/faker/blob/6894660b8f6cfdd73f99fda1d60274ad9e42eb20/faker/providers/__init__.py

[2019-12-09 15:59] fcurella commented on #1074
@malefice I"m not sure how hard would it be to integrate `autodoc`, since the providers' docs are already autogenerated by our custom `documentor.py`. But we should look into that.

[2019-12-09 16:11] fcurella commented on #1063
So far, this is the plan:

1. Once python 2 is EOL, release one last version supporting py2.7
2. Clean up the codebase of py2.7-supporting code (`six` etc.)
3. Release new major version supporting only Python 3.

[2019-12-10 07:05] malefice commented on #1068
@fcurella I think the `pyfloat` provider can benefit from some changes. IMO, it is not an unreasonable expectation that a method that generates floats must be capable of accepting floats for its `min_value` and `max_value` keyword arguments.

While we can opt to rename those to imply "integers only," there are some other cases that can be confusing. For example:

[code]

At least in my experience,

[2019-12-10 15:24] fcurella commented on #1068
Hi agree that this signature is confusing (and same for `pydecimal`).

Ideally, all it should need are a `min_value`, `max_value` and `right_digits` (which could be called `precision` at this point).

I'm generally ok with changing the signature of both methods, keeping in mind that it will break back compatibility and it should trigger a new major version bump.

[2019-12-10 17:34] malefice commented on #1068
It will be weird to release another major version so soon just for this, so this overhaul probably can be done much later, alongside other items that can benefit from breaking backwards compatibility. Maybe you can just tag this issue as something to do later, so it will be easy to search and to revisit.

[2019-12-11 03:39] NamelessAshone opened #1078 "How to set args of provider `date_this_moth` using cli?"
* Faker version: faker 2.0.0
* OS: 4.19.85-1-MANJARO

I try to use provider `date_this_moth` with arg `after_today`.
### Steps to reproduce

In the document:

So, I try:

All these commands are not working.

[2019-12-12 11:51] abumalick opened #1080 "Any Upgrade documentation for 3.0"
* Faker version: 3.0
* OS: macOS using docker

Brief summary of the issue goes here.

### Steps to reproduce

Upgrade a project that is using faker 2 to 3

### Expected behavior

Have some documentation to how to migrate our code

### Actual behavior

I don't find any documentation to fix my 371 failing tests

[2019-12-12 12:21] malefice commented on #1080
Are you sure?

![Screenshot from 2019-12-12 20-19-31](https://user-images.githubusercontent.com/7114869/70711551-c59e5800-1d1c-11ea-8bac-ddf41935356e.png)

![Screenshot from 2019-12-12 20-20-27](https://user-images.githubusercontent.com/7114869/70711596-de0e7280-1d1c-11ea-8a7a-407bf1459126.png)

[2019-12-12 12:46] abumalick commented on #1080
Oh, my bad, I thought there were other breaking changes. I saw this notice and made an error while migrating the code.

Sorry about this.

Thank you very much for your work 👍

[2019-12-12 12:46] #1080 closed

[2019-12-12 15:57] #773 closed

[2019-12-17 05:35] malefice commented on #1063
The `faker.utils.datetime_safe` module looks like something that can be totally removed as part of the cleanup. Based on what I have read, this module was created to work around the limitations of `strftime()` when handling dates before 1900. This is no longer the case for the versions of Python 3 `faker` supports. At first glance, other code also does not seem to be using the `datetime_safe` modu

[2019-12-17 07:28] malefice commented on #1078
I did some digging, and none of the commands work as intended, because the current implementation only parses the optional arguments as a list of strings as shown [here](https://github.com/joke2k/faker/blob/94b166f1305cf4d9fb3611a92713403b5e64d439/faker/cli.py#L228), and this list is not processed any further and is just passed to the underlying provider method on a FIFO basis as shown [here](http

[2019-12-17 15:42] fcurella commented on #1078
I think we should be using [`Click`](https://click.palletsprojects.com/en/7.x/) to save us a lot of troubles when parsing the CLI options.

[2019-12-17 16:01] malefice opened #1083 "Revamping the Documentation"
With the current way the provider method documentation is generated, the result lacks details and examples that will showcase the flexibility and capability of each provider method. I mentioned in #1074 about the idea of using `sphinx.ext.autodoc` to generate docs, and I already have some ideas on how to implement this, but I want to hear some thoughts and get some feedback.

Since `build_docs` al

[2019-12-17 16:06] malefice commented on #1078
Interesting, I will take a look at this.

[2019-12-17 16:21] fcurella commented on #1083
Thank you so much for looking into this @malefice !

If we're going to require contributors to write docstrings, I'd like to have some kind of CI checking the PRs. Maybe we can add [`pydocstyle`](http://www.pydocstyle.org/en/5.0.1/index.html) to our linting check on travis.

[2019-12-17 16:43] malefice commented on #1083
Yeah sure, I will look into that. Here is a screenshot of what each provider class can look like (without sample invocations for now).

![image](https://user-images.githubusercontent.com/7114869/71015502-ab0a1b80-212e-11ea-9977-403cb1d7de52.png)

[2019-12-19 09:46] malefice commented on #1083
So I already have some dirty proof of concept code for this one. In this PoC, I used the `:sample:` keyword(?) followed by the arguments to be passed as the format. If the `random_int` docstring has something like this:
[code]

Our custom docstring preprocessor will remove those lines from the docstring, generate samples based on those lines, and convert them into this which will be appended at th

[2019-12-19 15:51] fcurella commented on #1083
I'd rather avoid using `eval`. I'm not against putting the expected result in the docstring as well. Maybe something like this:

[code]

[2019-12-19 15:56] fcurella commented on #1083
An alternative syntax could be:

[code]

[2019-12-19 17:01] malefice commented on #1083
I chose the `eval` route to ease the burden of both contributors and code reviewers. Not to mention, there are some methods that spew out output that is fairly long, and including the results in the docstrings will make things uglier than necessary. Personally, I also like the examples to be reproducible for a given seed, so if we do things automagically, we can ensure that the examples are seeded

[2019-12-21 17:03] macejiko opened #1085 "Generation of Country Phone Code"
I would like to generate random country phone prefix from here: https://en.wikipedia.org/wiki/List_of_country_calling_codes
Result should be: +213, +350, +56 etc.

Is there a way to do this?
Thanks

[2019-12-23 15:04] fcurella commented on #1083
@malefice  I'm ok with `eval` if we're pretty sure there's no way to break RTD, even accidentally.

[2019-12-26 06:07] malefice commented on #1083
Yeah, the validator class will definitely have tests, and I am actually already done with that. I will let you be the judge once I make the PR, though this will probably be after the Python 2.7 EOL cleanup. With the EOL just around 5 days away, it does not make sense for me to write this with Python 2.7 compatibility in mind.

[2019-12-26 15:25] malefice commented on #1083
In the current docs, each locale has links to every "provider category" module even if one has not been localized. Personal experience, I found it a bit confusing at first, since the current setup gives an impression that every "provider category" module has been localized for the listed locales.

@fcurella would you prefer the localized "provider category" modules to be presented this way? In my

[2019-12-26 21:26] reebr opened #1086 "Can we have a "non formatted" postcode for pt_BR localization?"
* Faker version: 3.0.0
* OS: Windows 10 pro (x64)

I'm using Faker to generate postcode using the pt_BR localization. The example on [`address` section](https://faker.readthedocs.io/en/latest/locales/pt_BR.html#faker-providers-address) shows a numeric sequence containing 8 numbers and that was what I expect.

[code]

Anyway, I'm getting some problems in my tests because the output of this function

[2019-12-26 21:29] reebr commented on #1086
https://github.com/joke2k/faker/blob/b0abb79a706b28260b7cfa81c23e9d6929fdb944/faker/providers/address/pt_BR/__init__.py#L104

😢 isn't cool.

[2019-12-27 17:38] dunossauro commented on #1086
I nice implementation should be `fake.postcode(formated=True)`

By default can be True, 'Cause many times you need a formatted postcode, but in other moments you need a raw postcode.

In many cases, pt_BR localization has these problems

[2019-12-27 17:46] fcurella commented on #1083
@malefice I find your solution much cleaner too. Go for it!

[2019-12-27 17:48] fcurella commented on #1086
What's the most common case use in Brazil? Do postcodes ever get printed without the hyphen?

[2019-12-27 18:41] reebr commented on #1086
I believe that the formatted postcode is just something "visual" for the user.
For manipulation and persistence, the raw postcode is typically used.

I was reading the pt_BR implementation and... the documentation is a little tricky:

https://github.com/joke2k/faker/blob/29b1b003719e889ae87140a676f7195f95d70d96/faker/providers/ssn/pt_BR/__init__.py#L28-L34

As the docstring is described in the cla

[2019-12-27 18:45] reebr commented on #1086
I think that the formatted postcode is just something "visual" for the user.
For manipulation and persistence, the raw postcode is typically used.

[2019-12-28 10:14] malefice commented on #1083
@fcurella I would like some feedback and suggestions regarding my work thus far before I proceed further. You can view the sample docs [here](https://maleficefakertest.readthedocs.io/en/docs-housekeeping/index.html).

There are a lot of methods that still do not have docstrings, and that is really the bulk of the work for this initiative, so to give you an idea of what every page should eventually

[2019-12-30 15:06] fcurella commented on #1086
For manipulation and persistence, the raw postcode is typically used.

Let me rephrase my question. Does the average person in Brazil encounter raw postcodes (ie: without the hypens) in their daily life?

[2019-12-30 15:15] fcurella commented on #1083
@malefice I've checked the code on your branch, it looks really nice ✨!

I don't really have anything I would change. LGTM 👍

[2019-12-30 15:17] #1051 closed

[2019-12-31 07:38] malefice commented on #1086
I understand where @reebr might be coming from, because in some systems, postcodes like this are only ever stored in "raw" form, i.e. no dashes, whitespaces, and what-have-you that only serve as visual aids for humans. The visual aids might only be for presentation purposes, e.g. part of the GUI/physical forms to make them easy to fill out or formatted only when displayed to end users, so formatte

[2019-12-31 08:53] Ianleeclark opened #1090 "Changelog links are backwards"
* Faker version: >=2.0
* OS:Ubuntu

In the changelog, you aren't able to see commits between tags due to the tags being in the opposite order in the URL. It should be https://github.com/joke2k/faker/compare/{FROM}...{TO}, but is instead https://github.com/joke2k/faker/compare/{TO}...{FROM}

For example: https://github.com/joke2k/faker/compare/v3.0.0...v2.0.5

### Steps to reproduce

1. Go to https

[2019-12-31 11:05] malefice commented on #1083
Alright, so I will probably start writing some docstrings, but like I said earlier, I do not plan to make this Python 2.7 compatible since EOL is tomorrow. Shall we start tackling #1063?

[2019-12-31 15:07] fcurella commented on #1090
Thank you for reporting this @Ianleeclark !

Feel free to submit a PR if you have time! :)

[2019-12-31 15:12] fcurella commented on #1086
@malefice That solution is fine short-term, but at some point we may have to decide if we want to tackle this issue (ie: outputting formatted vs non-formatted) across providers in a more generalized way.

[2019-12-31 16:14] Ianleeclark commented on #1090
I'd be happy to take a look at this, but New Years celebrations call! Will try and submit a PR before the end of the week

[2019-12-31 19:04] malefice commented on #1086
I think it will prove very difficult to generalize this for all provider methods, so the second best thing IMO is to have provider methods that are at least able to output fake data in (1) raw form, (2) simplest noncomposite form, or (3) a format that adheres to an international standard.

An example of (1) will be simple alphanumeric strings like postcodes, credit card numbers, and identity numbe

[2020-01-03 21:55] #1090 closed

[2020-01-05 07:27] NeolithEra opened #1092 "Loosen the version constraint of text-unidecode to avoid dependency conflicts"
Hi, _**faker**_ locked the version constraint of _**text-unidecode**_ as text-unidecode ==1.3, which leads a troubling scenario to its direct downstream project _**psiturk**_ which has dependency text-unidecode.

What makes the situation worse is that the downstream projects [misago]  of _**faker**_ are also have dependency text-unidecode.

Could you please loosen the version constraint of _**text

[2020-01-05 07:27] NeolithEra commented on #1092
### Dependency tree-----
[code]
[code]
[code]

[2020-01-05 15:05] fcurella commented on #1092
Thank you for the report @NeolithEra!

I think text-unidecode’s API is stable enough that we can just loosen the
few and use >=1.3.

On Sun, Jan 5, 2020 at 1:27 AM NeolithEra <notifications@github.com> wrote:

[2020-01-08 13:11] andrew-coxuatoinc opened #1099 "Implementation of person id number for cs_CZ - Czech (rodné číslo)"
Can you implement randomizer which will generate a proper person ID number (rodné číslo) for Czech local?

[2020-01-14 00:22] Dunaway-Group-LLC opened #1100 "How to use "fields=xxx" in faker.provider.profile"
* Faker version:3.0.0
* OS: Linux / Ubuntu 18.04

I want to use  faker.provider.profile(fields=

I can't find info in docs about parms for fields

### Steps to reproduce
N/A

### Expected behavior
Complete docs

### Actual behavior

Incomplete docs.

[2020-01-14 15:24] #1074 closed

[2020-01-14 18:13] #1063 closed

[2020-01-15 08:49] laurentbristiel commented on #1099
Can you give more details about what you are trying to achieve and what you tried?
Having some names in Czech locale seems available, like in:

[code]

Are you looking for something different?

[2020-01-19 11:54] valestel commented on #1085
I think these prefixes could be added to Phone Number Provider

[2020-01-22 07:33] Jengah commented on #1099
@laurentbristiel, I believe @andrew-coxuatoinc is talking about the Birth Number system rodné číslo, as described here: https://en.wikipedia.org/wiki/National_identification_number#Czech_Republic_and_Slovakia

I've put up a PR that adds this functionality to the Czech locale of the SSN Provider.

[2020-01-29 15:46] #1099 closed

[2020-02-03 16:58] ULTRAxHURRICANE commented on #749
GREAT BRO THANKS

[2020-02-03 17:04] fcurella commented on #749
Locking to prevent "thanks!", "me too!", and similar comments.

[2020-02-06 08:29] 153957 commented on #1100
Not the solution, but the answer to what you want to know can be found in the profile provider.
The options are the combination of the `simple_profile` and those in `profile`.

https://github.com/joke2k/faker/blob/master/faker/providers/profile/__init__.py#L24-L29
https://github.com/joke2k/faker/blob/master/faker/providers/profile/__init__.py#L41-L47

i.e.
[code]

[2020-02-24 09:23] zplush opened #1113 "Faker returning invalid UK postcodes"
* Faker version: 4.1.0

Is there any plan on improving this?

[2020-02-25 15:14] fcurella commented on #1113
@zplush I would love to improve, but your description of the issue is quite vague.

It would be helpful if you'd provide a description of your issue by following our [PR Template](https://github.com/joke2k/faker/blob/master/PULL_REQUEST_TEMPLATE.md).

[2020-02-26 08:30] timgates42 opened #1114 "Fix simple typo: recomended -> recommended"
There is a small typo in tests/providers/test_person.py.
Should read `recommended` rather than `recomended`.

[2020-02-26 12:55] lehtihet commented on #1067
I'll start working on this issue.

[2020-02-26 13:08] lehtihet commented on #1067
It looks like this issue has already been resolved with the ```level``` parameter.

[code]

[2020-02-26 13:59] clarissedescamps opened #1118 "Faker missing french licence plate"
I noticed that Faker was missing the implementation of French licence plates.
I would interested in adding this new feature :)

[2020-02-26 15:15] #1114 closed

[2020-02-26 15:16] fcurella commented on #1118
Thank you @clarissedescamps ! Feel free to submit a PR, and let me know if you have any question!

[2020-02-26 15:51] #1086 closed

[2020-02-26 15:53] #1085 closed

[2020-02-29 00:16] defigor opened #1123 "Faker is failing on 29th of February on the leap year"
* Faker version: 4.0.1
* OS: ubuntu 18.04

Currently, Faker fails to generate a date_of_birth on 29th of February on the leap year, due to the code in here:
https://github.com/joke2k/faker/blob/master/faker/providers/date_time/__init__.py#L1999

        start_date = now.replace(year=now.year - (maximum_age+1))
        end_date = now.replace(year=now.year - minimum_age)

### Steps to reproduce

Exe

[2020-03-01 23:04] mlevit opened #1125 "Enforce unique generated values"
* Faker version: Latest
* OS: Any

I'm wondering if there is a way of forcing Faker to generate unique values always similar to UUID V4? I'd like to utilise Faker for a tokenisation service but this would required each token to be completely unique. i.e., if I generate a name, it has to be unique each and every time I generate it.

Do you think there's a way to accomplish this? Potentially in a si

[2020-03-02 15:15] #1123 closed

[2020-03-02 15:22] #1118 closed

[2020-03-03 13:43] itsdkey opened #1126 "CHANGELOG.rst has wrong years"
* Faker version: newest
* OS: ubuntu

The years in CHANGELOG.rst do not coincide with release dates.

![image](https://user-images.githubusercontent.com/26058315/75781319-3faf0d80-5d5d-11ea-8c7f-7d68fcf222c2.png)

![image](https://user-images.githubusercontent.com/26058315/75781342-4b023900-5d5d-11ea-8956-f14e5027ae0c.png)

[2020-03-03 14:50] #1126 closed

[2020-03-11 07:51] florinlabou commented on #1068
Suggestion: It would help a lot to use for pydecimal, pyfloat argument type annotations. I try to dynamically call these methods and I cannot provide the proper argument's type.

`def pydecimal(self, left_digits: int=None, right_digits: int=None, positive: bool=False,
                  min_value: int=None, max_value: int=None) -> decimal:`

I would use it like this:
`

<class 'int'>

12
`

[2020-03-13 21:53] flpStrri opened #1129 "invalid pt_BR cellphone numbers being generated"
* Faker version: 4.0.2
* OS: Ubuntu 16.04.6 LTS

If I got [MSISDN](https://en.wikipedia.org/wiki/MSISDN) right, and it is possible I did it wrong since I know nothing about telecom, they are just meant to cellphones and not landline phones. In Brazil cellphones started now to have a 9 in front of its digits. This was implemented by @rodrigondec on 941e06693ff8771d715d2f9f37d79a7f1b8fa8f4 but he ad

[2020-03-13 21:56] karlFrascari2 commented on #1129
+1

[2020-03-13 22:02] flpStrri commented on #1129
BTW, I can definitely fix it if the main maintainers are ok with that and the MSISDN thing is correct.

[2020-03-15 02:02] vfrank66 opened #1130 "Error in Provider date_time for method fake.date() colliding with faker.date_time.date()"
* Faker version: 4.02
* OS: MAC, LINUX

Brief summary of the issue goes here.
The documenation for the date_time provider for the function

`fake.date(pattern='%Y-%m-%d', end_datetime=None)`

 Returning

Which I think is clashing with the signature for:

[code]

### Steps to reproduce

[code]

### Expected behavior

Should produce a random string
# '2000-07-13'

### Actual behavior

[2020-03-15 02:09] rodrigondec commented on #1129
I didn't know about MSISDN being only cellphones. Sorry for the mistake 😅

Want me to fix it? Since it was mine mistake

And on the [test](https://github.com/joke2k/faker/commit/941e06693ff8771d715d2f9f37d79a7f1b8fa8f4#diff-4e65b94d2877aa473ad2c2db8b7ef626R81) I did explicitly tell that it would return a 13 or 12 digit number

[2020-03-15 21:13] laurentbristiel commented on #1130
+1
I reproduce the problem with both 4.0.2 and 3.0.1 version of pytest

[2020-03-17 20:01] flpStrri commented on #1129
I think first we need to ensure that MSISDN are cell phone only. 😃

[2020-03-18 02:27] mhoonjeon commented on #966
Any updates on this topic? I'm having the same problem here; my tests break randomly d/t this issue.

[2020-03-18 06:32] lillitm opened #1131 "pydict(variable_nb_elements=False) returns dicts with varying number of elements"
* Faker version: 4.0.1
* OS: OS X 10.15.3

pydict with `variable_nb_elements=False` still has varying number of elements.

### Steps to reproduce

[code]

### Expected behavior

The length of the dictionary should always be `nb`.

### Actual behavior

It is often shorter as the keys are generated with [`self.generator.words(nb_elements)`](https://github.com/joke2k/faker/blob/master/faker/providers

[2020-03-18 14:24] fcurella commented on #966
Hi @mhoonjeon,

I'm waiting on somebody to submit a PR. Feel free to be the one! :)

[2020-03-18 14:28] fcurella commented on #1129
I'm not familiar with what this provider is supposed to output for `pt_BR`, so I'll leave it up to y'all living in Brazil. Once you reached a consensus and the PR is ready I will review it and merge.

[2020-03-18 14:37] fcurella commented on #1131
Thank you for the report @lillitm.

I think the problem is in https://github.com/joke2k/faker/blob/master/faker/providers/python/__init__.py#L166:

[code]

If we'd call `self.generator.words(nb_elements, unique=True)`, the `dict` won't any duplicate keys to drop.

Feel free to submit a PR and I'll be happy to review it :)

[2020-03-18 16:38] rodrigondec commented on #1129
I agree with you @flpStrri. MSISDN is mobile numbers only and mobile numbers on Brazil have the 9 digit and 13 length

[2020-03-18 16:40] flpStrri commented on #1129
Só if we are good we can move on and code it. I am on vacation so I have plenty of time to code it. I ping you as soon as I finish it so you can review, ok @rodrigondec?

[2020-03-18 16:52] rodrigondec commented on #1129
@flpStrri well, I actually just made the PR #1132

[2020-03-18 21:22] #1129 closed

[2020-03-19 03:33] curiousElf opened #1133 "Add support for Indian Aadhaar numbers"
* Faker version: 4.0.2
* OS: Ubuntu 18.04

Proposal to add support for Indian Aadhaar numbers. Aadhaar numbers are a 12 digit identifier for Indian residents which can be used for proving identity and for availing Government welfare benefits.

Official website: https://uidai.gov.in/my-aadhaar/about-your-aadhaar.html

[2020-03-19 03:34] curiousElf commented on #1133
I have already made the changes for this. Will be pushing the PR soon

[2020-03-19 03:50] curiousElf commented on #1133
Closing this - as I am opening another issue with the PR

[2020-03-19 03:50] #1133 closed

[2020-03-19 20:11] lillitm commented on #1131
Thank you for your response @fcurella and @mstellon for the fix!

[2020-03-19 21:37] #1131 closed

[2020-03-22 01:45] fannyhub opened #1139 "'Generator' object has no attribute ..."
* Faker version: 4.0.1
* OS: ubuntu

a number of providers causes this problem:
zipcode
postalcode
zipcode_plus4
military_ship

### Steps to reproduce

1. f = Faker('pl_PL')
1. f.zipcode()
1. f.postalcode()

### Expected behavior

I was expecting '80-358'

### Actual behavior

AttributeError: 'Generator' object has no attribute 'postalcode'

[2020-03-23 06:09] malefice commented on #1139
The provider methods you listed are exclusive to the `en_US` address provider. The `pl_PL` provider does not support those methods, so it is actually behaving as expected.

What is wrong, however, is the current documentation that gives that impression as shown in this [page](https://faker.readthedocs.io/en/master/providers/faker.providers.address.html). Because of how the docs are currently gener

[2020-03-24 22:26] bjorskog opened #1141 "Missing implementation of no_NO license plates."
* Faker version:
* OS:

no_NO license plates are not implemeted.

### Steps to reproduce

### Expected behavior

Should be of the form

### Actual behavior
#1140

[2020-03-26 18:58] luiscberrocal opened #1142 "suggestion: Add a Provider for medical information like drug names, dosages and strengths"
* Faker version: all
* OS: all

Create a new provider with medicines names, dosages and strengths. The source of the data is https://data.gov.sa/Data/en/dataset/essential-medicines-list

### Expected behavior

from faker import Faker
from faker.providers import medical

fake = Faker()
fake.add_provider(medical)

drug_name = fake.drug_name() #Acetaminophen for example
drug_dosage = fake.drug_dosage

[2020-03-27 07:18] malefice commented on #1142
IMO only healthcare-focused applications will benefit from fake data of that level of "authenticity" if that is the proper term, so I think the use case is not generic enough for it to be included in the main library.

I can definitely see how this can be important for healthcare systems, since medical data have a much larger scope than just drug names and dosages. It is probably best to implement

[2020-03-27 13:39] luiscberrocal commented on #1142
Actually I was thinking of starting with drug names and dosages and afterwards add stuff like diagnostic codes and CPT (treatment) codes. The idea would be to all healthcare providers here.

I'm currently working on a pull request for the main package. Please let me know if you will consider accepting the pull request, or should I go with a separate package.

[2020-03-27 14:24] fcurella commented on #1142
@luiscberrocal I think we should go with a separate package. Not only this is a very specific case, but I think it could receive better attention by being maintained separately by a team entirely dedicated to it.

[2020-03-27 15:29] luiscberrocal commented on #1142
@fcurella thanks. Will do that. Do you have any external repos you can recommend to look at to get an idea of the best way to implement an external provider?

[2020-03-27 16:37] fcurella commented on #1142
@luiscberrocal You can look at any of the [community providers](https://faker.readthedocs.io/en/master/communityproviders.html).

Once you're done, feel free to submit a PR to include yours in the list :)

[2020-03-31 15:20] #1083 closed

[2020-04-08 00:52] brad-engel commented on #1125
It may be helpful in your case to generate _n_ tokens up front and cycle through those. Although I think the functions here select random items _with replacement_ so the tokens still wouldn't be distinct. I have a use case that only works _without replacement_, and I think if that were added it would solve both of our needs.

[2020-04-10 06:00] bsdis opened #1151 "dk_DK output is wrong."
* Faker version: 4.0.2
* OS: MAC

Almost all providers for dk_DK output wrong data. I have attached a list which will make it possible to correct this issue.

Sorry about this danish descriptions, i could not find english versions - possibly use google translator to read.

Thanks

<pre>
#### fake.address() ####
Description:
https://www.postnord.dk/sende/praktik/udformningafbreve/adressering
https:

[2020-04-10 14:41] fcurella commented on #1151
Hi @bsdis !

The issue is that we don't have an address provider for `dk_DK` at all, and so it's falling back to `en_US`: https://github.com/joke2k/faker/tree/master/faker/providers/address

Feel free to contribute one :) The easiest way is to copy one of the existing ones and make modifications.

[2020-04-10 14:55] bsdis commented on #1151
Allright, that makes sense. I will look into creating a danish provider :)

[2020-04-11 23:46] anentropic opened #1152 "Bug in internal method _safe_random_int"
I guess maybe it is never called in an unsafe way or this would have come up already, but looking at the code for internal method `_safe_random_int` I think there is a potential problem:

https://github.com/joke2k/faker/blob/0b1f3d8cb14ee2ef051685b06589ee5238e4a084/faker/providers/python/__init__.py#L73
[code]

It appears from this code that both `min_value` and/or `max_value` could be `None`

But

[2020-04-12 12:13] anentropic opened #1153 "random_number helper method does not behave as advertised"
* Faker version: Faker 4.0.2
* OS: macOS

Docstring for `random_number` says:

...but returns an int with many digits (rather than 1) by default, and the `fix_len=False` default does not seem to work either - it always returns exactly the number of digits requested.

### Steps to reproduce

[code]

### Expected behavior

"a random number with one digit" by default (`digits=None`)

or "a random num

[2020-04-12 12:23] anentropic commented on #1068
I'm a bit skeptical about the tests here:

[code]

I think this means that every time the tests are run the same random numbers will be generated in the same order.  It's good to have reproducible, deterministic tests... but this also means that it's quite possible some of the tests only pass "by luck" and could potentially produce wrong values in normal use, but will never do so in the tests.

Wo

[2020-04-12 15:03] anentropic commented on #1068
I also agree with comments above... `pyfloat` should not have `left_digits` and `right_digits` options, it complicates the implementation a lot and does not seem very useful for idiomatic float usage

if you want exactly 2 "right digits" you should be using Decimal type

but `min_value` and `max_value` should definitely accept floats

also, `positive` arg seems a bit redundant when you could just

[2020-04-13 14:17] fcurella commented on #1153
Thank you @anentropic !

I think this is an issue of docstring being outdated. Would you mind making a PR with an updated docstring?

[2020-04-13 14:24] fcurella commented on #1068
I'd rather have tests with different known seed values. One issue we had in the past is that the same seed gives different results on python 2 vs python 3. We recently have abandoned Python 2, so that's not an issue anymore.

I'm going to create a new milestone that I will use to tag all non-backward compatibility changes.

I'm all for simplifying methods (there are plenty like this in the codebas

[2020-04-13 15:23] malefice commented on #1153
@fcurella I already changed the docstring of ``random_number`` as part of #1128, and that method's docstring was really pretty confusing

[2020-04-13 16:11] fcurella commented on #1153
Thank you @malefice !

@anentropic I believe this can be closed

[2020-04-13 16:11] #1153 closed

[2020-04-13 19:23] #525 closed

[2020-04-13 23:33] anentropic commented on #1153
I think `fix_len` still has a bug...

The new docs say:

but AFAICT it always generates exactly `digits` no of digits, regardless of `fix_len`

at least, I tried `fake.random_number(digits=30)` a bunch of times and it always had 30 digits

[2020-04-14 04:05] malefice commented on #1153
@anentropic yes, no, sort of, but not exactly. it depends on your expectation of how results should be distributed. To simplify this discussion, we only tackle `fix_len` is `False`. Off the top of my head, here are two possible implementations of this method.

1. You first randomly select the number of `digits`, and then randomly select a number that matches the required number of `digits`.
2. You

[2020-04-14 07:22] towr commented on #1125
I've used the decorator below to make functions return unique values. However many providers have a limited number of distinct values and you may run into that limit. And this approach is less efficient than if you could just generate unique values (both because I now store every value I've seen, and because I retry up to 100 times)
For example, an efficient way to generate unique first+last names

[2020-04-14 13:35] anentropic commented on #1153
sorry, my mistake!

I had also tried with `digits=3` and got a bunch of three digit numbers, but I did it again just now and the first result was `86`, so it works the second way, as you say

this is totally fine by me

[2020-04-14 13:52] malefice commented on #1153
No worries. I also thought there was a bug back then when I was rewriting the docstring for that method.

This is to be expected, because there are 900 3 digit numbers, 90 2 digit numbers, and 10 single digit numbers. With the current implementation, the method will always have a 90% chance of returning an `N` digit number if `digit` has a value of `N`, `N > 1`,  and `fix_len` is False.

Like i sa

[2020-04-18 10:16] pablofm opened #1157 "Spanish locale"
* Faker version: 4.0.3
* OS: Ubuntu linux 18.04

The spanish provider includes some mistakes related with spanish phone numbers, assuming as valid some invalid phone numbers.  (Spanish numbers must start with 6, 7, 8 and 9(special numbers). It randomly offer different values)

### Steps to reproduce
Regular use

By the way I find some providers not offered that can be easily provided.

[2020-04-20 03:32] XHG78999 opened #1159 "About Markdown support"
Can you support fake markdown in faker?

[2020-04-20 08:09] towr commented on #1152
Looking at purely the function itself, I think the unlimited recursion when min_value == max_value is worse; it leads to a `RecursionError`.
However, this function only seems to be used in one place, and there checks have been done to ensure they're not both None, or otherwise equal. Adding a docstring with some explanation could help make it clear that's a precondition.

[2020-04-20 08:54] towr commented on #1014
`zipcode()` is literally an alias in the en_US provider for `postcode()` (It adds a bunch of aliases that only work for en_US)
I'm tempted to suggest that aliases should result in a warning to please use the canonical method instead. And perhaps for methods that only exist in a specific locale could an error could mention for which locales they exist (though that's a lot more work).

[2020-04-20 14:30] malefice commented on #1141
@fcurella I think this can be closed. This was not auto-closed because the related PR's "Fixes" section was not properly written.

[2020-04-20 14:57] fcurella commented on #1141
Thank you for triaging @malefice !

[2020-04-20 14:57] #1141 closed

[2020-04-20 15:02] fcurella commented on #1159
Hi @XHG78999 !

That's probably common enough that it would be worth it, bu I'm not sure what it would look like.

Feel free to submit a PR as proof-of-concept :)

[2020-04-22 03:32] airstrike opened #1161 "Suggestion: Include "Codename" generator"
I'll steal the description from http://www.codenamegenerator.com/ since it's succinct and thorough:

This is not exactly the same as the single word generator that's already available (which can yield words like "such") but a narrower in scope as it often includes proper nouns, adjectives, mythological names, locations and more, and possibly a combination of these words.

Happy to kick start the e

[2020-04-22 10:52] malefice opened #1162 "Shall we pytestify our tests?"
Since `Faker` now has its own `pytest` plugin,  it is kind of weird if our test suite itself does not take advantage of pytest-style tests and our own plugin. The test suite currently seems like it has an identity crisis because of all the `unittest` and `pytest` stuff mixed together.  One of the things I eventually like to see is the complete switch to a pure pytest-style test suite.

I did not p

[2020-04-22 14:44] fcurella commented on #1162
Thank you @malefice !

The structure you outline makes a lot of sense to me :)

I would love to have the tests use `pytest`, but it seems a pretty tedious job to convert them all.

I personally don't have the bandwidth to do it, but I would gladly review and merge a PR if someone else is willing to write it.

[2020-04-22 14:49] fcurella commented on #1161
I think I would rather have two separate `adjective` and `noun` methods, and people can combine them to make their codenames. This would give users more flexibility while keeping the implementation simple:

[code]

[2020-04-23 01:40] airstrike commented on #1161
That works. You'd be favoring simplicity in implementation for miss out on the proper nouns which are very commonly used for codenames IRL e.g. Barbarossa, Manhattan, Longhorn, Atlantis, etc. Though arguably the user could pull from the names and addresses generators to get (some) of those as well if desired.

[2020-04-23 16:23] #1157 closed

[2020-04-23 16:23] pablofm commented on #1157
Merged

[2020-04-23 19:37] rodrigondec opened #1163 "Why does faker.misc.uuid has `cast_to=str` by default?"
# I'm willing to open PR
should this issue be accepted

* Faker version: latest
* OS: N/A

`faker.misc.uuid` has a arg `cast_to` with `str` as default.  So the returned value is always string.
https://github.com/joke2k/faker/blob/9f48a5c6a251b2b8d9f84f65472f946b85b9a923/faker/providers/misc/__init__.py#L95

I want to have the `uuid.UUID` object returned.

Calling with `cast_to=UUID` again raises a

[2020-04-23 19:58] fcurella commented on #1163
I agree, we should make it possible to retrieve a full-fledged uuid object.

I would like to keep the default `cast_to=str` in the method's signature for backward-compatibility.

We could just special-case `None`:

[code]

[2020-04-23 22:51] rodrigondec commented on #1163
After working on the PR found how it could be possible without the changes on the tests. Still better to make the None case. I'ts more explicit. Added docs too

![image](https://user-images.githubusercontent.com/3301060/80156838-41e25b00-859b-11ea-9877-080f858857aa.png)

[2020-04-24 21:03] #1163 closed

[2020-05-09 20:45] eumiro opened #1172 "Should `day_of_week()` be based on the real calendar?"
* Faker version: v4.0.3 (latest)
* OS: Linux

`day_of_week()` returns randomly one of the seven days of the week. Therefore this is currently not a bug, but the following fact might return inconsistent results in some language versions if the lists of days of the week are used elsewhere, such as complete date in the form “Saturday, 09 May 2020” in a different language, or a random `day_of_week(bet

[2020-05-10 13:40] bluefish6 commented on #1126
Hi, the same issue is for 4.0.2 and 4.0.3...

[2020-05-12 17:27] eumiro opened #1175 "black the whole code"
How about passing the whole code through https://github.com/psf/black and adding black tests to CI?

This would simplify the diffs in PRs and allow the contributors to update freely the code.

[2020-05-12 21:37] mouradmourafiq opened #1177 "Issue with latest faker version: AttributeError: 'list' object has no attribute 'replace'"
* Faker version: 4.1.0
* OS: ubuntu

Tests that used to pass are now failing, the error:

[code]

### Steps to reproduce
I just pinned faker to: `faker==4.0.3` and all tests are passing.

### Expected behavior

It should work, similarly to the previous release.

[2020-05-13 06:17] malefice commented on #1177
A new `pytest` plugin has been introduced in `4.1.0`, and based on your error log, something in your test suite and/or `flaky` might be conflicting with our `_session_faker` fixture ([source](https://github.com/joke2k/faker/blob/f930d83a85e49321437799bf19f00251143dcf47/faker/contrib/pytest/plugin.py#L9)).

I have never used `flaky`, so I cannot comment much on that front, but does your test suite

[2020-05-13 14:35] ikhomutov opened #1179 "New feature: language_name"
Hi. I want to add a new method that would return random language name (e.g. English, Spanish, Dutch). I'm not sure where I should place this method. Initially I wanted to add this to BaseProvider near the language_code method, but this provider has no locale support.
Any thoughts?

[2020-05-16 10:24] ex-nerd commented on #1179
This information is conveniently available, including percentages of natural speakers, which could allow for semi-realistic generation of data: https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers

[2020-05-16 10:28] ex-nerd opened #1182 "Feature request: safe_domain_name()"
There are methods for `safe_email()` but nothing that just returns the a  rfc6761 domain name for those cases where a user might want to provide a username generated off of other data (e.g. a faker-generated first/last name combo so it doesn't look weird that `George Smith` has an email address of `janedoe@example.com`).

I know I can get this with `fake.random_element(["example.com", "example.net

[2020-05-16 10:34] ex-nerd commented on #82
@chobeat sex (physical) and gender (cultural/societal) are not the same thing.  While there are quite a few human sexes (though only male/female recognized by most outside of medical science, and many intersex individuals don't actually know that they are anything other than male/female), there are an order of magnitude more recognized genders (just look at Facebook, which includes more than 50 op

[2020-05-18 22:18] ex-nerd opened #1183 "Please support weighted choices"
Since Python 3.6, [`random.choices`](https://docs.python.org/3/library/random.html#random.choices) has supported passing in weights for the choices, which would allow for more realistic generation of data sets like random languages (#1179).  It would be nice of `fake.random_elements` and its relations could be updated to support this.

Note that this is different than the current dependency `rando

[2020-05-19 01:27] ex-nerd opened #1184 "Fake USPTO Patent Numbers"
Feels like too much work right now to disable `black` and automatic formatting stuff I use, and downgrade this to work with python2, and not sure if it's something worthy of fitting into the core of `faker`.  So for now, if you would like a provider that generates proper USPTO patent numbers, here is some code to start with.  If this is worthy of a PR, just let me know and I'll submit it as such.

[2020-05-19 04:16] ex-nerd commented on #1179
Just for posterity, here's a quick language provider (in English names) with distribution based on real-world native speakers.

[code]

[2020-05-19 18:04] eumiro commented on #1183
As _realistic_ I understand the distribution of values when called multiple times (applicable to a few providers only):
- `last_name`: some last names are more frequent than others
- `date_of_birth`: age distribution, in the population there are more people around 20 than around 80
- `city_name`: more people are from the capital city than from a random village

[2020-05-19 21:09] ex-nerd commented on #1183
@malefice Ah, the docs/example seemed to suggest that the weights were based on a 1.0 scale.  That will make things easier to work with. If that's the case, I'll just close this and assume the move away from `OrderedDict` can be dealt with in the discussion about removing support for python2 (assuming that the issues with python 3's built-in dicts do not still require it).

But @eumiro is correct.

[2020-05-19 21:09] #1183 closed

[2020-05-19 22:06] ex-nerd commented on #1175
I've started similar on my own projects, going so far as to add both `isort` and `autoflake` in addition to `black`.  It makes diffs reallynice. especially with a pre-commit hook bash script that autoformats everything:

[code]

This is supported by a `pyproject.toml` to make `isort` and `black` play nicely together:

[code]

Anyway, hopefully the configs are helpful and save someone some time if

[2020-05-20 04:34] malefice commented on #1183
I still do not get what this issue is really about, so here are some remarks based on what was said.

1. You can use `random_elements` and its variants to perform random sampling with/without replacement, and if you use an `OrderedDict` in tandem with any of those functions, sampling will be performed based on those weights. You essentially have the ability to declare your own probability distribu

[2020-05-20 12:11] malefice commented on #1184
`Faker` has already dropped Python 2 support, so feel free to only use Python 3, but Python 3.5 is still being supported, so that means no f-strings, unfortunately. As for whether or not this can be included in `Faker` or is better implemented as a separate package, I will defer to @fcurella.

If this is to be a separate package, then at least you do not have to retool or change your settings, and

[2020-05-20 14:58] fcurella commented on #1184
Hi @ex-nerd !

I think this provider is too narrow to be included in Faker itself. Feel free to package it as an external provider, and I'll be happy to include it in our [Community Providers](https://faker.readthedocs.io/en/master/communityproviders.html) page!

[2020-05-20 16:46] Trolldemorted opened #1185 "profile/simple_profile should return a consistent set of names/usernames/emails"
* Faker version: `4.1.0`
* OS: `W10 Pro N`

The fields of `profile` and `simple_profile` don't fit together at all :(

### Steps to reproduce
- call `profile` or `simple_profile`

### Expected behavior

The username and email should be either completely fictional or depend on the name.

### Actual behavior
[code]

Related:
#296 (sex)
#915 (phone numbers)

[2020-05-24 11:57] H4CKY54CK opened #1187 "Lots of output at terminal"
If I just enter `faker` at the terminal and hit enter, is it supposed to produce nearly 50mb of output? The text flew by so fast, I piped it into a text file, and it was something like 46mb of text. I'm fairly confident this isn't intended, but I obviously can't say for sure, since I'm not the one who wrote it. If this isn't intended, I can provide more details.

[2020-05-26 07:35] martinburchell commented on #1142
@luiscberrocal we might be interested in something like this for a couple of projects - generating fake medical records and UK NHS numbers. Have you got anywhere with development?

https://github.com/RudolfCardinal/pythonlib/blob/master/cardinal_pythonlib/nhs.py
https://github.com/RudolfCardinal/crate/blob/master/crate_anon/anonymise/make_demo_database.py

[2020-05-28 05:19] mdantonio opened #1188 "Webargs email validation failed with Armenian company emails"
* Faker version: 4.1.0
* OS: Linux/Ubuntu

Brief summary of the issue goes here.

Company emails with hy_AM (Armenian) localization can contain a last_name company that is considered as invalid by Webargs/Marshmallow (email domains can not contain underscores). I verified that {{last_name}} is a token in the company name format (Is that suspicious? Is it a non-replaced token?)

### Steps to reprod

[2020-05-28 11:47] malefice commented on #1188
The `company_email` method depends on `domain_name` which depends on `domain_word` which depends on `company`. There is a localization available for the `company` method under `hy_AM`, and under this localization, one of the formats has a missing `}` character as shown [here](https://github.com/joke2k/faker/blob/53a8b4aa65471791c80b0708a0c2ae8243e9e713/faker/providers/company/hy_AM/__init__.py#L8)

[2020-05-28 12:19] malefice commented on #1187
It is sort of intended but not exactly. I am a relatively new contributor, so this is just my take. I think the original intent was to produce some docs and sample code based on the available provider methods. This part of the codebase is somewhat ancient, back when there are probably very few provider methods, but as more provider methods were added, the amount of text just increased, more so wit

[2020-05-28 15:46] H4CKY54CK commented on #1187
I'm sorta fairly knowledgeable with argparse, if you'd like me to see what I can do. But in the meantime, I think just displaying the normal argparse error would be the best solution for now, and then maybe relocating this text to a "example" subcommand, which could possibly write it to a file? At least until it gets explored more in depth. Or I can just report back with a more elaborate proposal?

[2020-05-30 21:27] hasansalimkanmaz opened #1191 "Turkish addresses don't seem to be turkish."
* Faker version: 4.1.0
* OS:Mac OS

Brief summary of the issue goes here.

Turkish addresses don't seem to be turkish.

### Steps to reproduce

<img width="357" alt="image" src="https://user-images.githubusercontent.com/49716619/83339319-025f0b00-a2cd-11ea-98fe-2df3e2fb627b.png">

### Expected behavior

they should be more similar.

### Actual behavior

"East Kanakchester, WA 45459" can't be a tur

[2020-05-31 14:34] #1188 closed

[2020-06-01 00:50] rainzee opened #1192 "About repetition rate"
* Faker version:4.1.0
* OS:MacOs
--------------------
I use faker generate email for data to test one of my project, I only generate 20000 email but after i run sort -u in shell, there are 224 duplicate data, The repetition rate up to 1.12%. For this amount of data, this is obviously too high. I want to know whether this is a problem of the algorithm or other problems. Is there a solution?

[2020-06-01 07:25] malefice commented on #1191
There is no Turkish localization for the `address` provider, so it will default to the `en_US` locale. What you are getting is actually expected behavior as mentioned in [this section of the README](https://github.com/joke2k/faker#localization). Perhaps you would be interested in making the localization.

[2020-06-01 08:02] malefice commented on #1192
Yes, no, sort of, but not exactly. Different localizations can have different implementations and different datasets of varying sizes, so I cannot tell you exactly why since you did not specify which email method and which locale you used.

What is certain is that combinatorics plus realistic-looking output plus (semi)official data sources will inevitably limit the number of possible combinations

[2020-06-01 15:09] fcurella commented on #1179
If anybody wants to submit a PR, I'll be happy to review it!

[2020-06-01 17:15] ikhomutov commented on #1179
I do want to submit pr, but I'm still not sure where to put such generator. It should support localization so the BaseProvider is not an option. I'll probably put it into person procedure if nobody come up with the better idea

[2020-06-01 17:22] fcurella commented on #1179
I'm not sure either, and I don't have a better idea. Go with `person` 👍

[2020-06-02 01:55] rainzee commented on #1192
So what you mean is that if I want a realistic email address, repetition is inevitable, unless I define more parameters, then if you simply generate an email address, what do you think is the possible upper limit for him?

[2020-06-02 02:21] rainzee commented on #1192
I just did another experiment, I added two new parameters in free_email_domains, but the repetition rate instead rose to 4%,why, more parameters means more combinations, less Repeat rate?

[2020-06-02 06:28] malefice commented on #1192
I do not know if it is the language barrier or not, but I did not mention the word "parameter" even once. I said "increasing the diversity of the **datasets**, because like I already mentioned, different localizations can have **different implementations and different datasets of varying sizes**.

So maybe you should do this, since it might be a bug specific to the locale you used. If it is not a

[2020-06-02 19:17] #1179 closed

[2020-06-08 17:09] #988 closed

[2020-06-10 07:38] m-aciek opened #1196 "Fake IBAN for Switzerland should be of 21 characters in length"
* Faker version: 4.1.0

Fake IBAN for Swiss locale should be 21 characters long, is 22 characters long now.

### Steps to reproduce

    'GB80WQBB93456553336766'

    22

### Expected behavior

    'CH4489144168326729379'

    21

### Actual behavior

    22

[2020-06-10 09:17] m-aciek commented on #1196
I made a custom provider to workaround it.

    class CHBankProvider(Provider):
        country_code = 'CH'
        bban_format = '#################'

    faker = Faker('CH')
    faker.add_provider(CHBankProvider())

    'CH4489144168326729379'

    21

[2020-06-13 06:04] 435732793 opened #1198 "poster or avatar"
* Faker version: 4.1.0

about poster or avatar

Will there be  poster or avatar integration ？

[2020-06-16 03:43] m-aciek opened #1200 "Turkish IBAN"
* Faker version: latest

Turkish IBAN should have BBAN of 22 characters in length.

### Steps to reproduce

1. `Faker("tr_TR").iban()`

### Expected behavior

Result should be "TR[24 characters]".

### Actual behavior

Result is more short.

### Patch

    class TRBankProvider(Provider):
        country_code = "TR"
        bban_format = "######################"

[2020-06-16 09:57] Rafalkufel opened #1201 "With python3.8 date_time_between_dates returns faker.utils.datetime_safe.datetime instead of datetime.datetime"
* Faker version: 4.1.0
* OS: Linux
* Python3.8

### Brief summary of the issue goes here.

`date_time_between_dates` return `faker.utils.datetime_safe.datetime` instead of `datetime.datetime`
Problem stem from solution of python bug: https://bugs.python.org/issue32417
Faker works fine with earlier version of python (eg 3.7)

### Steps to reproduce
[code]
### Expected behavior
output:
<class 'datet

[2020-06-16 13:47] m-aciek opened #1202 "estado_nome() duplicates state()"
* Faker version: latest

`pt_BR` locale has both `estado_nome` and `state` methods which ~have the same implementation~ *are synonymous*. It was confusing to me, as while reading documentation I found `estado_nome` before finding `state` documentation. Shouldn't `state` be preferred over `estado_nome`? Faker mostly use English for its providers. If yes, would `estado_nome` be deprecated and remove

[2020-06-16 14:26] fcurella commented on #1200
Thank you for the report! Could you submit a Pull Request?

[2020-06-16 14:55] fcurella commented on #1201
Hi! Thank you for reporting this.

My understanding from the Python bug is that returning a `datetime.datetime` was a bug in the first place, and returning a `datetime_safe.datetime` is what's considered expected behavior by Python.

Could be more specific about what's breaking for you?

[2020-06-16 15:25] m-aciek commented on #1200
Sure! Will try to when I will find some spare time.

[2020-06-16 21:14] Rafalkufel commented on #1201
Sorry, maybe I didn't make myself clear.

Using `date_time_between_dates` provider I would expect that the fake object which returns is the same class as the real one (eg `datetime.datetime` when it comes to date). And that is the way it works with previous version of python. But surprinsingly, with python3.8 it returns object of different type than expected. In my case `pymysql` starts receiving

[2020-06-19 23:12] crd opened #1205 "Feature Request: Support nonbinary gender options in Person Provider"
* Faker version: < Faker 4.1.1
* OS: All

Many applications support more than a straightforward binary Male/Female gender selection and require adequate test data. Presently, Faker only supports Male and Female prefixes, suffixes, and names.

[2020-06-20 12:42] crd commented on #1113
I believe this complaint gets to the general strategy of Faker, which is to simulate real-_looking_ data as opposed to real data.

@zplush, You're absolutely right: Faker generates simulated UK postcodes that satisfy regular expressions but are not actual postcodes that map to addresses in the UK. This is the same strategy used for:

* City names
* Credit card numbers
* Phone numbers
* Email addre

[2020-06-21 18:58] #1205 closed

[2020-06-29 13:52] andreymal opened #1208 "Update python_requires in setup.py"
https://github.com/joke2k/faker/blob/146f205b942d15c95160df35d3e431624697d079/setup.py#L65

[2020-06-29 14:24] #1208 closed

[2020-07-08 02:12] crd commented on #1182
Neat idea, @ex-nerd. Raised a quick PR to provide this.

[2020-07-08 02:25] crd commented on #1060
Should be considered closed by #1064

[2020-07-08 14:58] #1182 closed

[2020-07-08 14:59] fcurella commented on #1060
Thank you @crd!

[2020-07-08 14:59] #1060 closed

[2020-07-09 06:49] vintager opened #1210 "name_male() can not work properly when your locale is 'zh_CN'"
* Faker version:4.1.1
* OS:windows 10

Brief summary of the issue goes here.

### Steps to reproduce
[code]
you will get both male name and female name.

after i checked the code in `/faker/providers/person/zh_CN/__init__.py`, i found should add this in the top of this file:
[code]

`/faker/providers/person/zh_TW/__init__.py` also need be fix

[2020-07-09 14:53] fcurella commented on #1210
Thank you for the report, @vintager !

Would you mind submitting a PR with those changes?

[2020-07-10 11:13] ljubanka opened #1211 "faker fixture cannot be used when specified through @pytes.mark.usefixtures("faker")"
* Faker version: 4.1.1
* OS: Ubuntu 18.04
* Python version: 3.7.6
* pytest version: 5.3.2

When usage of 'faker' fixture is specified through @pytest.mark.usefixtures("faker") placed before the test class definition:
[code]
the next exception is thrown when the test is executed `pytest tests/my_tests/test_my_faker.py::TestMyFakerExp`:

[code]
At the same time when 'faker' fixture is passed directl

[2020-07-13 14:41] djpetti opened #1212 "`pyfloat` with `positive=True` and `max_value` produces unexpected results."
* Faker version: v4.0.3
* OS: Mac OS

When using the `pyfloat` provider with both `positive=True` and `max_value` set, it sometimes produces negative numbers.

### Steps to reproduce

[code]

### Expected behavior

Should print some number in (0, 100).

### Actual behavior

Prints `-1039.2931776`.

[2020-07-14 07:42] simonjcarr opened #1213 "Faker.seed() has no effect when used in Docker"
If I run the following python script at the command line I get the same results each time I run it, (which is what I want)

[code]
If I run it 3 times I will get
[code]
I run the same code in Docker, the result is
[code]
I have heard that better results with Pythons random module can be got by running
[code]

Anyone know how I can fix the Faker seed issue in Docker?

[2020-07-14 07:45] #1213 closed

[2020-07-14 07:46] simonjcarr commented on #1213
Looks like I have an issue outside docker as well which I had not noticed. An error has crept into my code somewhere.

[2020-07-14 19:29] aellivon opened #1214 "future_date and past_date function doesn't handle tz_info properly"
* Faker version: 4.1.1
* OS: Ubuntu 20.04 LTS

The future_date and past_date function accepts timezone parameter (tz_info) but even if it's passed with a valid timezone, it always produce a naive date time.

### Steps to reproduce

Past date
1. fake.past_date(tzinfo=valid_timezone)

Future Date
1. fake.future_date(tzinfo=valid_timezone)

### Expected behavior

The result of the future date and pas

[2020-07-14 20:14] #1214 closed

[2020-07-16 08:51] pezholio commented on #1177
Can confirm, I get the same problem:

[code]

I use Faker with FactoryBoy, so might be something to do with it?

[2020-07-16 16:24] malefice commented on #1177
@pezholio Please post your sample test, your `conftest.py` and fixtures, as well as the versions you used. The projects I handle have tests that both use `factory_boy` and the `faker` fixture without the issues you are encountering. I really cannot help any further without additional information.

I have tested both on Ubuntu 18.04 which ships with Python 3.6 and on Pop!_OS 20.04 which ships with

[2020-07-17 09:57] malefice commented on #1211
The `pytest.mark.usefixtures` marker/decorator work on the assumption that you do not need access to the fixture object as stated in the [pytest docs](https://docs.pytest.org/en/stable/fixture.html#using-fixtures-from-classes-modules-or-projects), so I do not think it is an issue of this library. Your last code excerpt is the way to do it.

By the way, your code might be doing some variable shadow

[2020-07-22 07:10] ALMP-SallaH opened #1219 "Finnish IBAN should be 18 characters of length"
* Faker version: 4.1.1

Finnish IBAN should be 18 characters of length. Currently returned Finnish IBAN has 20 characters.

### Steps to reproduce

[code]

### Expected behavior

[code]

### Actual behavior

[code]

[2020-07-22 16:29] #1212 closed

[2020-07-22 16:35] #1219 closed

[2020-07-25 00:44] stopdesign opened #1222 "How to add config for address with certain locale?"
* Faker version: 4.1.1

I'm using faker to generate addresses in several locales: fr_FR, ru_RU, en_GB...
Unfortunately there is no address provider for dk_DK and the default en_US is used.
So I have "danish" street names in the US format:
[code]
Danish address format is different:
[code]
Can I adjust the address provider for dk_DK without making my own fork of the code?
Or can I at least change de

[2020-07-25 01:33] stopdesign commented on #1222
I think I figured it out:
[code]

[2020-07-28 12:32] kingsalman99 opened #1224 "this tool is very good"
hello sir.
this tool is very good. but I can't use it.

what is the command In cli. I am using termux

"i want to make bulk Fake addres with iban with country German"

thank you

[2020-07-28 15:28] Rajmehta123 opened #1225 "AttributeError: Invalid configuration for faker locale `en_IN`"
* Faker version: 4.0.0
* OS: Mac

Brief summary of the issue goes here.

Error when I am trying to load en_IN locale
`AttributeError: Invalid configuration for faker locale en_IN`

### Steps to reproduce

1. step 1 `pip install Faker`
1. step 2 `from faker import Faker`
1. step 3 `fake = Faker('en_IN')`

### Expected behavior

en_IN should be initialized

### Actual behavior

`AttributeError: Inva

[2020-07-28 15:57] fcurella commented on #1224
Hi @kingsalman99 !

There's an example in the [README](https://github.com/joke2k/faker#command-line-usage).

Specifically for your use case, you can use something like:

[code]

Where `100` is the number of addresses you want to generate.

[2020-07-28 16:34] Rajmehta123 commented on #1225
Hey @fcurella

Thanks for the quick reply.

But I see the locale in the ssn provider.

![image](https://user-images.githubusercontent.com/22636443/88694553-b105a900-d0ce-11ea-8097-4d2ab20ef2b6.png)

[2020-07-28 16:44] Rajmehta123 opened #1227 "Validating a string with a provider"
* Faker version: 4.0.0
* OS: Mac

Brief summary of the issue goes here.

Sorry for opening 2 issues in a short time. Quick question.
#### Verify/Validate a generated provider
[code]
[code]

### Steps to reproduce
#### Verify/Validate a generated provider, in this example, ssn
1. step 1 something like: ssn_validate('008-13-4353')
1. step 2 Result: "Valid SSN"

### Expected behavior

[code]

### Act

[2020-07-28 17:03] fcurella commented on #1225
@Rajmehta123 That providers was added _after_ version 4.0.0. Specifically, it was added in [4.0.3](https://github.com/joke2k/faker/blob/master/CHANGELOG.rst#403---13-april-2020). Try upgrading Faker to a newer version.

[2020-07-28 17:10] Rajmehta123 commented on #1225
Yes. It worked. I was using pip install Faker which by default picked 4.0.0. I thought that is the latest release. Fixed it by upgrading. My bad.

Appreciate your help.

[2020-07-28 17:10] #1225 closed

[2020-07-28 18:03] kingsalman99 commented on #1224
Thanks Bro ,Good job may be useful

[2020-07-28 18:03] #1224 closed

[2020-07-29 16:50] slabko opened #1228 "Registering custom providers in the faker fixture"
* Faker version: 4.1.1
* OS: Ubuntu 20.04

This issue is not really a bug, but rather a feature request (or a question if missed the right way to do that)

I have a suite of my own providers, which I would like to add to the `faker` fixture. However, looking around I didn't find any obvious way of doing so.

### Steps to reproduce
  1. Have a custom generator `project.tests.generators.DeviceGenera

[2020-07-30 09:15] mouradmourafiq commented on #1177
After we have dropped python 2 we upgraded all packages to the latest versions, we no longer see the error. I have to mention that we had to pin some deps before because we were supporting python2/3.

For others reading this, check if your project still depends on fake-factory instead of faker.

[2020-07-30 09:15] #1177 closed

[2020-07-31 04:07] malefice commented on #1177
@mouradmourafiq Good to hear that you have solved the problem. The project has already dropped Python2 since January this year if I recall correctly (around Python2's EOL), so it was an oversight from my end to assume that you were already in Python 3 and that you have relatively modern packages installed. I will submit a PR to change the README so that users have fair warning. Thank you for your

[2020-07-31 05:20] malefice commented on #1228
All the `faker` fixture does is return an appropriate and seeded `Faker` object as per your [configuration](https://faker.readthedocs.io/en/master/pytest-fixtures.html), so if you already have an existing test suite with your custom providers, then you just perform the same operations on the object that `faker` fixture returns. So if your custom provider looks something like this:

[code]

You do

[2020-07-31 05:47] malefice commented on #1227
This library is a tool for generating fake-but-authentic-looking-enough data to be used in testing, QA, and PoC's for demo purposes to name a few, so I think what you are asking for is out of scope, at least currently. This should not be used to validate anything.

[2020-07-31 05:54] malefice commented on #1222
@stopdesign I am sorry for the late reply. Please consider submitting a PR for your localization so that in future versions, you and other folks that need Danish addresses will no longer need to go with `faker['dk_DK'].add_provider(DanishStreetAddress)`.

Create a module named `dk_DK` under `faker.providers.address`, and in that module's `__init__.py` file, use this template

[code]

[2020-07-31 17:01] Rajmehta123 commented on #1227
I generated a few regexes that can validate the string for the given provider and country. This is a great tool and can extend easily to validate some providers.

[2020-08-02 14:58] michjnich commented on #1151
@bsdis The Swedish one is decent enough and should be close enough to the Danish format to copy with minimal changes ...

[2020-08-03 14:50] slabko commented on #1228
Thank you, @malefice, for such detailed clarification. Indeed that was my first thought to use a self-made inherited fixture, but I was confused by the flexibility and the ability to register custom providers. Because of that flexibility, I could not stop thinking that I'm doing something wrong. It seemed that there was a nice and short way of registering providers without creating a separate fixt

[2020-08-03 14:50] #1228 closed

[2020-08-04 14:42] DoubleHub opened #1231 "Faker.Commerce provider is missing"
* Faker version: 4.1.1
* OS: Ubuntu 18.04 Bionic Beaver

While reading the documentation I've noticed that there is no Commerce provider (as seen [here](https://hexdocs.pm/faker/Faker.Commerce.html)). This provider would be pretty useful to implement as it allows the developer to generate fake product names, adjectives, etc...

### Steps to reproduce
There are no steps to reproduce as this is a mi

[2020-08-04 15:06] fcurella commented on #1231
Hi @DoubleHub ,

The documentation you're referring is a different package. It looks like there's a `Faker` package for Erlang, but this is the repo for the _Python_ Faker package.

[2020-08-04 21:28] bandirom opened #1232 "django.core.exceptions.ImproperlyConfigured: WSGI application 'src.wsgi.application' could not be loaded; Error importing module."
* Faker version: 4.1.1
* OS: docker image with Django server

Brief summary of the issue goes here.

### Steps to reproduce

1. step 1 docker-compose configuration with requirements.txt file
1. step 2 If I add a Faker to list I get a exception
1. step 3 If I remove Faker from list, everythink are working

### I don't have any connection between Django and Faker, only add/remove Faker to requiremen

[2020-08-05 12:18] malefice commented on #1232
It is winning-the-jackpot-unlikely that `Faker` is the cause of your issues, since as far as this library is concerned, it does not make assumptions about the software you are building. It does, however, provide a `pytest` plugin, but it is also irrelevant in this context.

If you take a closer look at your error logs, the `django.core.exceptions.ImproperlyConfigured` error you are getting is caus

[2020-08-06 10:44] malefice opened #1233 "Issues in fi_FI company_business_id method"
* Faker version: 4.1.1
* OS: Ubuntu 18.04.4 LTS

### Steps to reproduce

Run `python -c "from faker import Faker; f = Faker('fi_FI'); Faker.seed(0); assert all(len(f.company_business_id()) == 9 for _ in range(100))"` and you will get an `AssertionError`.

### Expected behavior

There should be no `AssertionError` since we expect the ids to be exactly 9 characters.

### Actual behavior

Unfortunate

[2020-08-06 14:35] fcurella commented on #1233
Thank you for digging into this @malefice ! I've added the 'help wanted' label in the hope of bigger visibility.

@kivipe Since you wrote the original implementation, would you mind weighing in?

[2020-08-07 14:50] DoubleHub commented on #1231
You are right, my bad. Closing this! Thanks for the help ^^

[2020-08-07 14:50] #1231 closed

[2020-08-07 15:46] r3gis3r opened #1234 "French IBAN should be 27 char of length"
* Faker version: 4.1.1

### Steps to reproduce

[code]

### Expected behavior

[code]

[As stated on wikipedia in France row](https://en.wikipedia.org/wiki/International_Bank_Account_Number#IBAN_formats_by_country)

### Actual behavior

[code]

[2020-08-09 14:45] kivipe commented on #1233
Nice find and excellent bug report. I found a description about business id calculation and it says "if remainder is 1, id is not allowed."

[2020-08-10 15:50] sushant23199 opened #1238 "installed faker library still getting no module named faker"
* Faker version:
* OS:

Brief summary of the issue goes here.
ModuleNotFoundError: No module named 'faker'

### Steps to reproduce

1. step 1
1. step 2
1. step 3

### Expected behavior

X should be ...

### Actual behavior

X is ...

[2020-08-10 16:00] #1234 closed

[2020-08-10 16:05] fcurella commented on #1233
Closed by #1237

[2020-08-10 16:05] #1233 closed

[2020-08-11 08:06] mondeja opened #1240 "Raise ValueError if some data don't exist for address provider?"
* Faker version: 4.1.1
* OS: All

`en_NZ` address provider does not have states, because in New Zealand there isn't states. In the current implementation, [the method `state` returns an empty string](https://github.com/joke2k/faker/blob/0dbb55eb3d2f59104abe3742ef184d713580abd4/faker/providers/address/en_NZ/__init__.py#L227-L229). I think that this is not a desired behaviour.

### Steps to reproduc

[2020-08-12 22:05] greggles commented on #1000
The solution from @fcurella generally works for me. It is missing `import csv` but otherwise is good.

I think this could be closed.

[2020-08-12 22:09] greggles commented on #579
I used `faker -h` to get help text. From that help text I figured out the syntax of the first example needs to use the `profile` argument:

I think the second and third ideas are just not possible so they would be feature requests and not a documentation request.

[2020-08-13 14:11] fcurella commented on #1000
Closing for inactivity

[2020-08-13 14:11] #1000 closed

[2020-08-13 14:12] fcurella commented on #1238
Thank you for the report @sushant23199

I really need more info to be able to help you. Specifically, I need Faker version and steps to reproduce at the very minimum.

[2020-08-13 23:20] cyril36 opened #1246 "faker.json does not work"
* Faker version: Faker==4.1.1
* OS: Debian GNU/Linux 10 (buster)
I can not use faker.json as documented in the following link :
https://faker.readthedocs.io/en/master/providers/faker.providers.misc.html#faker.providers.misc.Provider.json
such as:
`fake.json(data_columns=[('id', 'pyint', {'max_value':20})], num_rows=3)
`
I get the following error :
AttributeError: 'Generator' object has no attribut

[2020-08-16 00:57] johnbrandborg commented on #1246
JSON is currently only available on the master branch.  pip install git+https://github.com/joke2k/faker

[2020-08-16 04:38] johnbrandborg commented on #1246
JSON is currently only available on the master branch. Faker 4.1.1 is a stable release that doesn't include JSON. You can install it with 'pip install git+https://github.com/joke2k/faker'

[2020-08-17 15:33] fcurella commented on #1246
I've just released v4.1.2, which includes the `json` generator. Thank you!

[2020-08-17 15:33] #1246 closed

[2020-08-25 12:27] malefice commented on #1162
Even if #1248 gets merged, the pytestified test suite runs just as fast as, if not faster than, it used to [before](https://github.com/joke2k/faker/tree/262a5bba77b826adc695144d3bdf41d7e9b77b0f) this initiative at least on my computer, and that is despite the updated tests performing significantly more sample runs. At the very least, th

On top of adding pytest fixtures for easier writing of tests

[2020-08-26 08:44] malefice commented on #178
@fcurella, as part of the test suite housekeeping process, I was able to get a somewhat good idea of what might be needed to do this, but there are pros and cons depending on how this is implemented. This issue is almost 6 years old, and `Faker` might have been simpler with fewer localized providers back then when this was proposed, but based on what i have seen, ForgeryPy's implementation will pr

[2020-08-26 15:35] n1ngu commented on #603
I'd love to see this implemented.

@malefice Regarding additional dependencies, I think this could be addressed with setuptools "Extras" https://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies

If someone depends on, let's say, `faker[img, pdf]` that would tell pip to install whatever Faker likes to generate those blobs. Pillow and

[2020-08-26 15:51] n1ngu commented on #603
What bugs me is what should the faker return to be usable. A file-like object? A byte array?

Byte arrays can have a heavy memory footprint for big files.

If we go for file-like objects, this https://docs.python.org/3/library/tempfile.html#tempfile.SpooledTemporaryFile looks like a good default bakend to me. But then, should the file backend be pluggable? Should Faker require the user to provide

[2020-08-26 16:37] #206 closed

[2020-08-26 16:41] fcurella commented on #178
I'm not too worried about the extra dependency for YAML.

@joke2k also mentioned the possibility of some kind of common format for the different implementations of Faker (ie: PHP, Ruby, etc). I don't want to expand the scope that much, but let's also keep some level of portability in mind.

[2020-08-27 08:55] malefice commented on #603
@n1ngu, thanks for the suggestions. Currently, I am working on #1162, so if you like to take a shot at this issue, then feel free to submit a PR.

Currently, the `zip` and `tar` provider methods return `bytes`, and the assorted provider methods for creating delimiter-separated values return `string`. Internally for buffering, the former uses `io.BytesIO`, and the latter uses `io.StringIO()`, so it

[2020-08-27 22:41] #1240 closed

[2020-08-28 04:20] datadominik opened #1251 "Typo for German job description"
* Faker version: latest

I found a small typo in the job provider using German as a target language. There is no such word as "Forstwirst", it's "Forstwirt". (https://www.duden.de/suchen/dudenonline/Forstwirt , link to a German dictionary)

### Steps to reproduce

You can find the typo in line 27:
https://github.com/joke2k/faker/blob/master/faker/providers/job/de_DE/__init__.py

### Expected behav

[2020-08-28 04:26] datadominik commented on #1251
I created the following pull request for it: https://github.com/joke2k/faker/pull/1252

[2020-08-28 15:33] fcurella commented on #1251
fixed in https://github.com/joke2k/faker/pull/1252

[2020-08-28 15:33] #1251 closed

[2020-08-29 08:18] datadominik commented on #1210
@fcurella , I created the following PR for the zh_CN provider: https://github.com/joke2k/faker/pull/1255

[2020-08-31 18:38] PlutarcoII commented on #1238
Hello, I have the same issue:

Docker:
[code]

LOGS:
Collecting Faker
  Downloading Faker-4.1.2-py3-none-any.whl (1.0 MB)
Collecting python-dateutil>=2.4
  Downloading python_dateutil-2.8.1-py2.py3-none-any.whl (227 kB)
Collecting text-unidecode==1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Collecting six>=1.5
  Downloading six-1.15.0-py2.py3-none-any.whl (10 kB)
Installing co

[2020-08-31 21:07] fcurella commented on #1238
@PlutarcoII you're import the wrong module name. The module name is `faker`, all lowercase. Tthe [Readme](https://github.com/joke2k/faker#basic-usage) shows how to correctly import it:

[code]

[2020-08-31 21:20] PlutarcoII commented on #1238
@fcurella

I got the same issue, but lowercase now.

img2_1  |   File "./api.py", line 14, in <module>
img2_1  |     from faker import Faker
img2_1  | ModuleNotFoundError: No module named 'faker'

[2020-09-01 02:26] newbery commented on #928
@amnonkhen -- What is the status of this effort?  Pretty soon, I think I'll need a faker generator using jsonschema as input and would be happy to assist to get this over the line.

[2020-09-01 18:02] PlutarcoII commented on #1238
@fcurella

It was my mistake.

I was using docker command:

` docker build -t ctrdash . `

instead of:

`docker-compose build`

Now, It's working as expected.

Thanks a lot.

[2020-09-03 01:08] thehesiod commented on #170
@stephenross I think that last change was still incorrect, 001 does not seem to be a valid us format prefix per  https://en.wikipedia.org/wiki/List_of_international_call_prefixes.  I think what you want is 011-1-###-####
@kestein for finding this.  Is this list supposed to have formats for calling from us to us, or from outside us to us?  as they're different ;). probably need to differentiate bet

[2020-09-03 04:10] SyahirahWanMin opened #1257 "Generate random name based on a keyword using Faker python library"

[2020-09-03 04:14] #1257 closed

[2020-09-10 11:05] W1M0R commented on #1078
Any progress on this issue?

[2020-09-10 15:21] samcrang commented on #1201
We're also seeing a problem with this.

I'd expect the `faker.date*()` methods to return a regular Python `date`/`datetime` objects not the subtyped `date`/`datetime`s Faker uses internally. Since Python3.8 we're seeing the latter behaviour.

Regular `date`/`datetime` objects are returned when running on Python3.7 however it appears [the behaviour of arithmetic on subtyped `date`/`datetime` object

[2020-09-10 16:10] fcurella commented on #1201
I'm not sure how to make sure datetime operations return a `datetime` object. Any idea on how this could be fixed?

[2020-09-10 22:17] samcrang commented on #1201
My understanding is that Faker only supports Python >= 3.5 (from the `.travis.yml`).

If that's the case then I think it should be acceptable to remove [the workaround which subtypes `datetime`](https://github.com/joke2k/faker/blob/master/faker/utils/datetime_safe.py). According to the comment it's only needed to support `strftime` on dates before 1900. From my testing it appears that's only a pro

[2020-09-11 08:10] malefice commented on #1078
@W1M0R, give me some time.

![image](https://user-images.githubusercontent.com/7114869/92889932-3fe53f80-f449-11ea-8fa5-e34a22b001fe.png)

[2020-09-11 15:42] fcurella commented on #1201
Closed in #1258

[2020-09-11 15:42] #1201 closed

[2020-09-12 06:57] mor1989 opened #1260 "No currencies name in Hebrew"
Faker version: Latest

There are no currency names in Hebrew.

### Steps to reproduce

### Expected behavior

### Actual behavior

[2020-09-12 07:02] mor1989 commented on #1260
https://github.com/joke2k/faker/issues/1260

[2020-09-14 08:45] malefice commented on #1078
@fcurella so I pretty much implemented almost everything using `Click` (including multiple locale support) except for the `--include` option (I am still sorting out some issues), and there are some "roadblocks" I encountered. Before all that here are some screenshots!

### Running `--help` without a command:

![image](https://user-images.githubusercontent.com/7114869/93054809-85e61180-f69c-11ea-96

[2020-09-14 14:31] fcurella commented on #1078
Thank you so much @malefice , impressive work!

On 1:

It would also be really helpful to have a CI check to enforce them.

On 2:

I would add, if multiple docstrings are available, I would fallback to the first one available as specified by the user on the command line, rather than random. I've considered prioritizing an available locale that matches the user environment's `LOCALE` and `LANG`, bu

[2020-09-14 18:09] StabbarN opened #1262 "Invalid Org Id in sv_SE Provider"
Faker version: latest master

The `ORG_ID_DIGIT_1` is incorrect at https://github.com/joke2k/faker/blob/deb9e01c8c2d47b33a5d409ea7dfdef221947890/faker/providers/ssn/sv_SE/__init__.py#L45

### Expected behavior

It should be as in django-localflavor https://github.com/django/django-localflavor/blob/5808835c49bb4330a75f3cf730f70a1d8e105bb8/localflavor/se/utils.py#L90
That is, `('2', '5', '7', '8', '

[2020-09-14 18:31] #1262 closed

[2020-09-15 15:21] malefice commented on #1078
I will do this on a separate PR as well writing some basic non-comprehensive docstrings, just so that we will not get bombarded with CI errors.

Already implemented this on my local repository.

Yeah, I think this should be a separate PR as well. For now, I will just replace the current implementation with a `Click` implementation (with feature parity) and clean up related legacy code (e.g. `faker

[2020-09-15 16:02] fcurella commented on #1078
@malefice I'm ok with the breaking change, as long as we document the path forward for our users.

[2020-09-16 15:36] envil opened #1264 "Bad versioning in the repository"
* Faker version: 4.1.2
* OS: macOS 10.15.6

The versioning of 4.1.2 is not good when it's a patch from 4.1.1 but new features were added (e.g. json generator)

### Steps to reproduce

1. machine 1 installs faker==4.1.1 before 4.1.2 was released.
2. machine 2 installs faker==4.1.2 after that, developers use new features.
3. code will break in machine 1 because 4.1.2 is considered compatible with 4.

[2020-09-16 16:17] fcurella commented on #1264
I agree that `4.1.2` should've been `4.2.0`, but now we're on `4.1.3` and I don't think force-pushing is a good idea.

I can release `4.2.0` now, if that helps you.

I'd also like to set up some kind of process so we don't mess this up again, I'm open to any suggestion.

[2020-09-16 20:42] envil commented on #1264
Thank you for your quick response. If you really want to make it right then there's a solution:

1. Revoke the new features and release 4.1.4.
2. Cherry pick the changes of the new features and put them in 4.2.0

But that seems a bit too much and I think maybe it's ok to get away with it this time.
In the future I guess we can just stick to the SemVer then it will be fine. I don't know any process

[2020-09-16 20:42] #1264 closed

[2020-09-18 06:54] myicq opened #1266 "Danish address formatting in Faker"
* Faker version: 4.1.3
* OS: ubuntu 18

Faker does not produce a correctly formattet Danish address when locale da_DA is selected.

### Steps to reproduce

Get an address in Danish locale

`faker -l dk_DK address`

### Expected behavior

Output a Danish address format, like this:
`Æblerød Hovedgade 123`
`9999 Æblerød`

### Actual behavior

Output is an American format address with some Danish word

[2020-09-21 16:09] fcurella commented on #1266
We currently [don't have an address provider for `da_DK`](https://github.com/joke2k/faker/tree/master/faker/providers/address), so it falls back to `en_US` [as documented](https://github.com/joke2k/faker#localization).

Feel free to submit a PR for one and I'll be happy to include it :)