[2013-04-15 02:16] Ceasar opened #1 "Transform CamelCase to lower_case_with_underscores"
Minor problem, but inconvenient when integrating in apps that follow PEP8 more closely.

[2013-05-09 13:09] lansman opened #2 "Windows installing falls"
Executing pip install fake-factory leads to:
http://pastebin.com/Vy9erGF0

Windows 7 x64, python 2.7.4, pip 1.2.1

[2013-09-30 10:18] thedrow opened #6 "Integrate with Factory Boy"
[Factory Boy](https://github.com/rbarrois/factory_boy) provides easy replacement for fixtures. It allows for an easy definition of factories, various build factories, factory inheritance etc.
It has a FuzzyAttribute mechanism which suites perfectly for faker.

[2013-10-18 10:42] #1 closed, assigned to nobody

[2013-11-08 09:14] trojkat opened #7 "No module named faker (v 0.3)"
[code]

[code]

Version 0.2 works great.

[2013-11-09 20:45] #7 closed, assigned to nobody

[2013-11-11 09:18] #2 closed, assigned to nobody

[2014-01-22 12:36] jabbalaci opened #10 "generate username and password too"
It would be nice if one could generate random usernames and passwords too. I have a tool for that ( https://github.com/jabbalaci/jabbapylib/blob/master/jabbapylib/apps/userpass.py ) that I use for online registrations.

If you like the idea, I can make a pull request in order to integrate it to `faker`.

[2014-01-22 15:05] alasdairnicol opened #12 "Clarify using from the shell docs"
In the [using from shell](http://www.joke2k.net/faker/#using-from-shell) section of the docs, I understand how to display the result of a fake. There is an example:

[code]

However, it is not clear to me how to give a provider's name, for example 'Lorem' (should that be lowercase 'lorem'?), and display all of the provider's fakes. It would be good if there was an example provided.

[2014-01-22 15:29] deinspanjer opened #14 "Enhance random generator repeatibility"
The docs mention being able to call the seed() method so you can use a generated dataset as part of a unit test.

Due to the way Faker uses the random module, this usecase is a bit fragile.  Any modification to the data requested, or any outside uses of the random module during generation will diverge the dataset.

Here is a quick script demonstrating the problem along with a couple of potential s

[2014-01-22 19:10] ghost opened #19 "faker.providers.miscelleneous is spelt wrong"
"miscelleneous" is not a word. It should be "miscellaneous".

[2014-01-23 10:44] jabbalaci opened #25 "get ideas from http://www.fakenamegenerator.com/"
You can also check out http://www.fakenamegenerator.com/ too to get some new ideas. You can select your gender, name set and country, and it generates a complete fake identity. Maybe some parts of it could be integrated in faker too.

[2014-01-23 15:21] #19 closed, assigned to nobody

[2014-01-24 15:31] chobeat opened #34 "Random job provider"
It would be useful to have a job provider together with the company provider. If anyone could point me to a good list, i would work on it.

[2014-01-25 13:15] jabbalaci opened #39 "differentiate between male and female first names"
As I can see, `fake.first_name()` can return either a male or female first name. Do you plan to make a difference between them? Like `fake.first_name(gender='male')`, where the default value could be `'any'`.

I ask it because I want to add support for Hungarian names. I have an up-to-date list with all the Hungarian names, put in two files: males and females. I could put them in two sets, or I co

[2014-01-25 21:29] dtschirmer opened #41 "Capital O missing an umlaut"
Hello, I noticed in faker/Providers/De_de/internet.py in the _to_ascii method, the capital O is missing an umlaut.

It should be: ('Ö', 'Oe')

Currently:
replacements = (
            ('ä', 'ae'), ('Ä', 'Ae'),
            ('ö', 'oe'), ('O', 'Oe'),
            ('ü', 'ue'), ('Ü', 'Ue'),
            ('ß', 'ss')

[2014-01-26 11:19] chobeat opened #45 "Refactor Profile to be used with locale: how"
I got this idea but i'm not sure it would be the simplest: the actual profile.py becomes something like "internal_profile.py", its methods are renamed "internal_simple_profile()" and "internal_profile()", and is removed from the list of standard providers. Then we will have a standard profile.py that simply calls self.generator.internal_profile(). For each locale instead, we will be able to add mo

[2014-01-26 18:55] chobeat opened #47 "Change project name to avoid confusion"
I just received this feedback talking about the original Faker in PHP:

"I would recommend some sort of distinguishing name then. They both have the same name, that is going to be really confusing. Even something like FakerPy or something."

I think it makes sense and FakerPy is a good option.

[2014-01-29 16:48] stephnr opened #53 "Error loading faker library via pip"
I got the pip install to finish but python wont recognize anything from the faker library upon use.

[2014-02-03 16:38] wengole opened #58 "Are images outside of the scope of this project?"
Hi,

We're using this currently in our tests to generate test data. However we'd also like to use it to generate sample HTML pages (blog posts - for example). For this it would be great if faker could have an image provider (or maybe a file provider as a lower level).

Would you be averse to this idea? If not I'm more than happy to work on the provider and submit a pull request.

Cheers,
Ben

[2014-02-04 12:23] #12 closed, assigned to nobody

[2014-02-06 01:22] #41 closed, assigned to nobody

[2014-02-10 09:20] sq9mev opened #64 "Latitude range should be [90,-90] degrees assuming faker uses WGS-84 datum (ESPG:4326)"

[2014-02-10 09:23] #64 closed, assigned to nobody

[2014-02-19 20:52] makefu opened #65 "Honor Environment LANG"
I am currently using a wrapper for fake-factory to be able to choose the output but it would be great it would become part of fake-factory core.

This is the script i have in my path: https://gist.github.com/makefu/9101269

usage:
$ LANG=de_DE.utf-8 faker address
    Davide-Kaul-Weg 175
    94892 Königs Wusterhausen

[2014-02-21 17:16] bengolder opened #67 "cls.random_sample"
I wanted to add a method to BaseProvider that allows for sampling n unique elements.
There are situations in which I want to grab several random things, but I want those results to be unique. I just forked and added this to my own fork, but I wanted to run it by you before making a pull request.

[code]

[2014-03-11 17:09] #10 closed, assigned to nobody

[2014-03-12 16:28] fcurella opened #76 "clean up people names from en_US provider"
Currently, the `en_US.person` provider contains a long list of names, many of which are actually pretty rare in the US (eg: 'Eusebio' or 'Filiberto').

We can populate the list using data from http://ssa.gov/oact/babynames/decades/names2000s.html (or any other decade).

Related: #69

[2014-03-13 13:56] #76 closed, assigned to nobody

[2014-03-26 04:14] brotatos opened #81 "AttributeError: 'Generator' object has no attribute 'password'"
This error occurs when attempting to use the `password` method on a `Factory` object.

[code]

[2014-03-26 15:21] #81 closed, assigned to nobody

[2014-03-28 07:39] svenstaro opened #82 "Provide random gender"
I may be missing something but I don't think faker spits out random genders in the person provider. While trivial to write, I think this should still be included in faker.

[2014-03-28 07:41] svenstaro opened #83 "Put docs onto readthedocs"
I think that the current way of documenting everything on Github only doesn't scale very well. I suggest you put the docs onto readthedocs.

[2014-03-28 13:54] #83 closed, assigned to nobody

[2014-03-29 15:56] svenstaro opened #84 "Prepare a release"
faker has so many great new changes in git, I think you guys should release all of them onto pypi soon, perhaps after pulling in the pull request with the docs.

[2014-03-30 14:09] #65 closed, assigned to nobody

[2014-03-30 18:49] #84 closed, assigned to nobody

[2014-04-02 14:17] #6 closed, assigned to nobody

[2014-04-03 05:52] ghost opened #86 "faker coding style guide/standard?"
What do you think about adding a coding style guide/standard for this project?
I can see that style differs a lot from file to file. As a result it needs a lot of cleanup work to do.

[2014-04-06 23:32] fcurella opened #90 "Providers autodiscovery"
Currently, every time a provider is added, we need to update the lists in `__init__`.

This is error-prone and it would be more sustainable if we could discover providers automatically.

[2014-04-06 23:33] fcurella opened #91 "Make faker extensible"
Provider a way for the users to add their own custom provider on runtime.

[2014-04-07 10:44] tom-mi opened #92 "Support Python 3"
pip installation under Python 3 fails:

[code]

[2014-04-07 10:48] #92 closed, assigned to nobody

[2014-04-30 13:24] oleynikandrey opened #95 "Don't generate emails with apostrophe"
It's uncommon to use apostrophe in a email address. It would be good not to use last names with apostrophe in the generation process.

[2014-05-05 20:31] cank opened #98 "timezone() randomly throws an exception"
fake.timezone() sometimes throws an exception, possibly when a country doesn't have any timezones defined:

[code]

This is with Python 3.3 using fake-factory 0.4.0 from pypi.

[2014-05-29 12:27] mhemesath opened #103 "Default locale to language if no territory given."
It would be great that if faker was initialized with only a locale and no territory, that it would use  a sensible default.

For example I currently have to do the following if using something such as "en" instead of "en_US".

[code]

This happens when using dynamic mock data in local development where django sets the locale to "en" because we do not define territories.

[2014-06-03 14:22] joke2k opened #104 "Improve color provider"
see: https://github.com/davidmerfield/randomColor

[2014-06-03 14:28] #103 closed, assigned to fcurella

[2014-06-04 12:49] #53 closed, assigned to nobody

[2014-07-01 20:08] mdxs opened #118 "Tests fail (on Xubuntu 14.04) due to timestamp out of range issue"
Running the tests fail on my Xubuntu 14.04 virtual machine (32-bit with Python 2.7.6) due to a `ValueError: timestamp out of range for platform time_t` in L246 of `faker/providers/date_time.py`; see below for the output:

[code]

[2014-07-02 14:51] #118 closed, assigned to nobody

[2014-07-04 20:37] apiszcz opened #130 "Submit a new provider?"
How do I submit a new provider for inclusion into a future build?

[2014-07-08 12:56] mdxs opened #147 "Added fake-factory to Ohloh"
I've added `fake-factory` to ohloh.net at https://www.ohloh.net/p/fake-factory to keep some statistics on the code base and to allow contributors to claim/track their commits.

At the moment, there is no "Manager" ... Who should register as a project manager Someone who works on the project. Ideally the owner, founder, lead developer, or release manager.

So I guess either @joke2k or @fcurella sho

[2014-07-09 13:18] soobrosa opened #150 "fake.date_time_this_month()"
All date_time fakers generate within the last given time period (now month), not in 'this' time period (aka current month.)

[2014-07-09 21:08] joke2k opened #152 "Improve image_url with format parameters"
see https://github.com/joke2k/faker/pull/106#discussion-diff-13388302

[2014-07-09 22:11] #98 closed, assigned to nobody

[2014-07-10 14:49] #95 closed, assigned to fcurella

[2014-08-19 23:25] #147 closed, assigned to nobody

[2014-08-20 01:02] guykisel opened #158 "Pip install fails in 0.4.1"
[code]

[2014-08-20 01:11] #158 closed, assigned to nobody

[2014-08-21 08:04] diadara opened #159 "is faking time series data in the scope of this project ?"
I wanted some fake time series data for a project and couldn't find anything suitable for my needs.
Is something like [this](http://www.xaprb.com/blog/2014/01/24/methods-generate-realistic-time-series-data/) in the scope of this project ?

[2014-08-22 16:05] kcaylor opened #162 "US_en phone number formats"
The `US_en` phone_number() provider [includes formats](https://github.com/joke2k/faker/blob/master/faker/providers/en_US/phone_number.py#-7-8) that can generate invalid phone numbers (i.e. numbers which can't be parsed as standard US numbers by  [phonenumbers.py](https://github.com/daviddrysdale/python-phonenumbers)):

[code]

The above code will return a `NumberParseException` if the phone number

[2014-10-09 17:50] anthonyyim opened #170 "Duplicate formats in formats tuple for en_US provider"
Hi,

There are duplicate formats in https://github.com/joke2k/faker/blob/master/faker/providers/en_US/phone_number.py

E.g. `'+##(#)##########'` appears twice, as does `'0##########'`.

Will be happy to submit a PR for a fix myself. Wanted to confirm the duplicate is a bug.

Best,
Anthony

[2014-10-09 22:38] katylava opened #171 "Only getting APO addresses with system python 2.7.7"
With system python:

[code]

In virtualenv:

[code]

[2014-10-13 21:26] #171 closed, assigned to nobody

[2014-10-20 20:49] #130 closed, assigned to nobody

[2014-10-29 14:36] svenstaro opened #174 "How about a release?"
Last release was in March. Perhaps a new release would be in order to make people using pypi get it as well? Would be appreciated! Keeps the ecosystem going and all that.

[2014-10-29 22:36] pitchforks opened #175 "Feature request: add generation of random corporate bullshit"
See http://cbsg.sourceforge.net/cgi-bin/live for an example.

[2014-11-11 00:37] jeffwidman opened #178 "Extract provider logic from provider data?"
The provider data and provider logic are pretty tightly intertwined.

It'd be nice if they were separated out--then it'd be a lot easier to port some of the other provider lists out there.

For example, look at how ForgeryPy structures the data separate from the logic--ForgeryPy dictionaries are the equivalent of Faker's Providers: https://github.com/tomekwojcik/ForgeryPy/tree/master/forgery_py/di

[2014-12-10 17:35] kissarat opened #181 "Storing a data in files"
Why not to store all data in files?
See person.py in https://gist.github.com/kissarat/755a2d39546dc828ae37
You may use dump.py to make it easy
If you want to store in this way I would convert the project

There are no need to implement child classes if no specifics in implementation. May be data files only

[2015-01-10 09:10] loic commented on #174
Any updates? Just wasted a bunch of time on https://github.com/joke2k/faker/issues/171 when a fix has already been merged 3 months ago.

[2015-01-11 18:37] fcurella commented on #174
@joke2k you don't need to wait for my changes to be merged in. You can release anytime you want.

[2015-01-12 11:27] uri247 commented on #171
Until there is a release, change line 23 from:
    cdf2 = [i / normal for i in cdf]
to
    cdf2 = [float(i) / normal for i in cdf]

[2015-01-12 15:50] fcurella commented on #171
as a temporary work-around, you can always install faker from master with `pip install git+git@github.com:joke2k/faker.git`

[2015-01-13 14:45] mgedmin opened #190 "Unformatted PyPI page"
This is what a user sees on https://pypi.python.org/pypi/fake-factory:
![ekrano nuotrauka is 2015-01-13 16 44 15](https://cloud.githubusercontent.com/assets/159967/5722264/6fe5c138-9b43-11e4-8cd5-6f145c66827e.png)

This is caused by PyPI not understanding Markdown.

You can use [pandoc](http://johnmacfarlane.net/pandoc/) to convert Markdown to ReStructuredText that PyPI understands.

[2015-01-14 13:38] sloria opened #191 "Parameter for disallowed characters?"
It would be useful to have a parameter that would disallow a set of characters from a provider's output.

[code]

The use case I ran into was that we needed fake strings that could safely be put into URIs and therefore cannot contain `/`.

Thoughts on this?

[2015-01-20 19:17] justinwp commented on #150
it makes sense to me that

[code]
would include potentially all days in the current month, some options...
[code]

[2015-01-20 19:22] justinwp commented on #150
For year, decade, etc. could have the following:

[code]

[2015-02-05 14:43] pedro-teixeira opened #200 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 100: ordinal not in range(128)"
I'm having problems to install Faker `0.4.2` on Python `3.4.2`:

[code]

[2015-02-05 15:01] fcurella commented on #200
Hi @pedro-teixeira

I suspect this has already been fixed in master. Can you try running `pip install https://codeload.github.com/joke2k/faker/zip/master` ?

[2015-02-05 15:20] pedro-teixeira commented on #200
Thanks @fcurella, it works on master.

I'm looking forward for the release of `0.4.3`

[2015-02-05 15:26] #200 closed

[2015-02-16 18:52] fcurella commented on #174
v0.5 was just released today.

[2015-02-16 18:52] #174 closed

[2015-02-16 18:57] joke2k commented on #190
fixed with new version 0.5
https://pypi.python.org/pypi/fake-factory

[2015-02-16 18:57] #190 closed

[2015-02-16 19:02] joke2k commented on #47
probably the repository will change its name to `fake-factory` to match with pypi package name.

[2015-02-19 09:53] akx opened #202 "`.prefix`/`.suffix` returns a tuple instead of a single value"
`.prefix` (and `.suffix`) can occasionally return a tuple of values instead of a single value when `prefixes_male` and `prefixes_female` (or `suffixes_*`) are present in the provider.

[See here for the code responsible.](https://github.com/joke2k/faker/blob/2af330e09d84306d10921fed00ad2e5cc8e3d36f/faker/providers/person/__init__.py#L93-L94)

I wasn't sure if this was intentional (it's documented

[2015-02-19 16:09] fcurella commented on #202
Hi @akx, thanks for your report.

I believe it is a bug, but I'd like @joke2k to confirm that returning a tuple is not intended behavior

[2015-03-08 20:39] brizzbane opened #206 "Invalid Zipcodes for US returned"
I'm having an issue w/invalid zipcodes being returned.  I have a database of zipcodes w/lat & longitude, and it would be awesome if valid zipcodes were returned everytime..

[2015-03-13 11:44] gtnx opened #210 "Add requirements file"
faker needs [importlib](https://pypi.python.org/pypi/importlib) for people who uses python versions prior to 2.7.
What about a requirements.txt file?

[2015-03-13 17:40] #210 closed

[2015-03-16 03:52] zzzuzik commented on #67
+1

[2015-03-18 18:21] laruellef commented on #202
Definitely a bug, in version 0.4.x it was returning a strong and now in version 0.5.x it is returning a tuple, this is breaking our scripts... can u fix pls?

[2015-03-18 18:36] fcurella commented on #202
@akx can you submit a PR?

[2015-03-18 22:40] #202 closed

[2015-03-25 20:52] cabello commented on #206
Please provide examples of invalid US codes, this way you can help the developer to fix that.

[2015-03-25 20:54] cabello commented on #191
My suggestion would be: create your own provider which can call other providers:
[code]

[2015-03-25 21:03] fcurella commented on #206
Not every combination of digits that makes up zipcode results in a valid zipcode. Zipcodes are pretty much arbitrary numbers associate with geographical boundaries (or, in some cases, companies).

The only way to just have valid zipcodes would be to choose at random from a list of known valid zipcodes, instead of generating them from an algorithm.

I'm afraid that including such a list of valid zi

[2015-04-10 20:20] bubenkoff opened #217 "python2.6"
Can you please make a release so setup.py fixes for 2.6 support will work

[2015-04-21 13:22] foxx commented on #202
Just hit this problem, any idea when it's going to be released?

[2015-04-24 16:29] foxx opened #230 "Cannot subclass due to bad metaclass magic"
It's impossible to inherit from the Faker class due to bad metaclass magic;

[code]

[2015-04-25 10:36] simonv3 opened #232 "Should date_time_between() accept an optional timezone parameter"
If you're working with timezones, it'd be nice is these randomly generated dates had an optional parameter for adding a timezone to these dates.

Would that be a new method or just adding a new **kwargs parameter to the existing method?

[2015-04-25 15:38] fcurella commented on #230
`faker.Faker` is not a class, but a class method. `faker.Faker` is just another name for `faker.factory.Factory.create` (I agree this is confusing and a little mind-bending).

I think the solution to your issue is to subclass from `faker.factory.Factory`:

[code]

Let me know if this solution works for you.

[2015-04-28 21:20] Sunno commented on #81
I'm having this issue too, I tested with 0.4 and 0.5 version, I have this installed in two diferent projects and different environments, in one of them (I'm using in django tests) it works, in the other one it doesn't...

[2015-05-08 09:33] MarekBleschke opened #237 "Bad data from PL Person provider"
Polish person provider returns both male and female names from first_name_female and first_name_male methods:

[code]

Pull request in https://github.com/joke2k/faker/pull/238

[2015-05-08 10:09] kivipe opened #239 "Faker should provide company VAT numbers"
It would be nice if faker could provide company VAT numbers. More information about VAT codes is in Wikipedia: https://en.wikipedia.org/wiki/VAT_identification_number

[2015-05-08 13:36] d3prof3t opened #240 "Provider module resolution error of the faker module resolved working with the egg file"
I was not able to get my fake-factoy0.5.0 working in my project  and it was throwing errors.

Installation:->
============
[saurabh@d3prof3t ~] $ sudo easy_install fake_factory
[sudo] password for saurabh:
Searching for fake-factory
Reading https://pypi.python.org/simple/fake_factory/
Best match: fake-factory 0.5.0
Downloading https://pypi.python.org/packages/source/f/fake-factory/fake-factory-0.5

[2015-05-08 14:21] fcurella commented on #237
Fixed in #238

[2015-05-08 14:21] #237 closed

[2015-05-13 09:51] hingsoon opened #241 "date_time_this_year() returns dates within the last x minutes"
The provider function date_time_this_year() only randomizes dates to the last minutes. I think the issue is that regex for the time delta pattern does not contain a month pattern. The function still looks for "-%dm" which would return the number of minutes.

[code]

[2015-05-13 11:29] DRMacIver opened #242 "setup.py cannot load under Python 3 when run with LC_ALL=C"
[code]

Basically, you need to open this with an encoding parameter, as it's non-ascii. In order to make this work across Python 2 and 3 you probably want [io.open](https://docs.python.org/2/library/io.html#io.open).

[2015-05-13 18:39] DRMacIver commented on #242
Ah, I beg your pardon. I see this is fixed in the latest version (which I didn't notice, because I still can't use it until you ship a version [that actually works correctly](https://github.com/joke2k/faker/pull/204))

[2015-05-13 18:39] #242 closed

[2015-05-18 11:45] foxx commented on #230
There are some more problems, again due to the way this library has been constructed.

The following is an instruction from the README, which fails to work;

[code]

There is *far* too much import abuse and magic going on, this project is a good idea but the implementation is very broken. Are there any plans to re-structure this in a pythonic way?

[2015-05-18 14:37] fcurella commented on #230
Hi @foxx

What version of faker is giving you `ImportError: No module named providers`? I've just tried on master and it seems to work for me (I've tried Python 2.7 and Python 3.4)

[2015-05-18 14:37] fcurella commented on #230
Re: refactoring, I don't like all the magic either, and I'd like refactoring it as well, but I haven't made any plans on how to accomplish that, yet.

[2015-05-23 10:34] orrsonn commented on #91
+1

[2015-06-02 14:09] mrabbitt opened #253 "faker.geo_coordinate() should accept Decimals as arguments"
`faker.geo_coordinate()` returns a `Decimal`, but it doesn't work if you attempt to use `Decimal`'s as arguments:

[code]

[2015-06-02 14:14] fcurella commented on #239
VATs are very locale specific. We are going to rely on contributors to add locale-specific VAT providers.

Maybe you could submit a PR be the first one :)

[2015-06-02 14:15] fcurella commented on #240
hi @d3prof3t

does this still happen with the new release, v0.5.1?

[2015-06-02 14:18] #175 closed

[2015-06-02 17:28] d3prof3t commented on #240
hi @fcurella

No, its working perfectly fine. Thanks :+1:  :

[2015-06-02 17:45] fcurella commented on #240
Awesome! Closing as this is fixed.

[2015-06-02 17:45] #240 closed

[2015-06-11 18:48] fcurella commented on #91
Fixed via #235

[2015-06-11 18:48] #91 closed

[2015-06-11 18:49] fcurella commented on #217
fixed in 0.5.1

[2015-06-11 18:49] #217 closed

[2015-06-11 18:51] fcurella commented on #90
Fixed in 0.5.2

[2015-06-11 18:51] #90 closed

[2015-06-11 18:52] fcurella commented on #178
see also #181

[2015-06-11 20:07] bubenkoff commented on #217
thanks!

[2015-06-16 08:07] kivipe commented on #239
Hi,

Here is a commit I made for generating Finnish VAT Identification Numbers. I am not sure if function names are good. Could you have a look before I make a PR?

https://github.com/kivipe/faker/commit/31af7ad0279cb08fb76d9a3d10991a1ce4ea20da

[2015-06-16 14:20] fcurella commented on #239
Hi @kivipe

looks good, the only thing i'd change is renaming the `company_vatin` method to just `company_vat`

[2015-06-17 14:03] #239 closed

[2015-07-05 06:34] jschaf opened #260 "en_US SSN provider generates invalid SSNs"
There's a few limitations on United States' SSNs that prevent it from being completely random.

* No group can be all 0s
* The SSN cannot start with 666
* The SSN cannot start with a number >= 900

See http://www.ssa.gov/employer/randomization.html

Could you modify the SSN generator to avoid these issues?

[2015-07-08 12:43] Ichimonji10 opened #261 "Releases are not tagged"
Releases 0.5.2 and 0.5.3 are not included in the git history:

    [ichimonji10@beech:faker]$ git tag --list
    v0.3.2
    v0.4
    v0.4.1
    v0.4.2
    v0.5
    v0.5.1

Please add tags for these releases:

    git tag v0.5.2 383b8f73bd1d3dd69e3e5dfb2d789576f90a7ef4
    git tag v0.5.3 dabf922af72783ebd9d163611ab0f4f307156443
    git push --tags origin master

[2015-07-08 14:36] fcurella commented on #261
I've pushed the missing tags, and fixed `.bumpversion.cfg` so that will be automatically created in future.

Thank you very much for the report :)

[2015-07-08 14:36] #261 closed

[2015-07-08 14:39] fcurella commented on #260
Hi Joe,

sorry I couldn't get to you sooner, I've been swamped at work.

I'll look soon into how fix this. If you can send a pull request in the meantime, it will help a ton.

[2015-07-08 14:45] Ichimonji10 commented on #261
Thank you for the prompt and elegant fix, @fcurella.

[2015-07-08 20:09] jschaf commented on #260
Sure, I have a function that I'm using that should do the trick.  I'll send
it up as a PR.

On Wed, Jul 8, 2015 at 10:39 AM, Flavio Curella <notifications@github.com>
wrote:

[2015-07-09 17:14] RonnyPfannschmidt opened #263 "use environment markers and reactivate universal wheels + distribute wheels"
right now pip install  is broken due to the released package claiming to be universal wheel but not using environment markers

so pip makes a wheel for all pythons with the first python its run on, then its used on all other pythons,
so a pip install on python2.6 would create a broken wheel with the extra dependency which is then subsequently tried in other pythons, and will utterly break them

[2015-07-10 01:50] jeffwidman opened #264 ""Edit on Github" link broken in ReadTheDocs"
http://fake-factory.readthedocs.org/en/latest/locales.html

Clicking "Edit on Github" results in a 404 error.

EDIT:
http://fake-factory.readthedocs.org/en/latest/ has a github link to `https://github.com/joke2k/faker/blob/docs/docs/index.rst` when the correct link is
`https://github.com/joke2k/faker/blob/master/docs/index.rst`
(Note the doubled up `docs/docs` instead of `master/docs`)

[2015-07-10 01:55] jeffwidman opened #265 "ReadTheDocs spacing is off for providers"
http://fake-factory.readthedocs.org/en/latest/providers/internet.html

The spacing makes this pretty unreadable without constantly scrolling back and forth, which is annoying.

Since these are the official extended docs linked to in the project ReadMe, it'd certainly be aesthetically nicer if they used native RTD formatting, for example see the formatting for the reference page of the factory boy

[2015-07-10 14:12] fcurella commented on #264
The link results on 404 because the .rst document is autmatically generated on RTD on build. I'll look if there's a way to disable the button.

[2015-07-10 14:17] fcurella commented on #265
Hi @jeffwidman ,

Thank you very much for offering your help, I really appreciate it.

You want to look into https://github.com/joke2k/faker/blob/master/faker/build_docs.py#L25-L57 . That's the method that writes the rst lines for a single provider.

[2015-07-10 14:36] #260 closed

[2015-07-13 16:46] fcurella commented on #263
Hi @RonnyPfannschmidt ,

I'm going to look into this, but I'm not very well versed in wheels and packaging. Will you be available to review and test my PR?

[2015-07-13 16:47] RonnyPfannschmidt commented on #263
yes

[2015-07-13 16:49] RonnyPfannschmidt commented on #263
the simple solution would be not claiming to be a universal wheel,
the more complete solution would be to set up environment markers for the affected python versions

[2015-07-13 16:50] fcurella commented on #263
Thank you very much, I appreciate it.

I'm going to try using env markers, and if I can't get it to work, I'll give up on wheels for the moment.

[2015-07-13 19:04] #263 closed

[2015-07-15 07:21] derekjamescurtis opened #267 "Python Provider does not support Python 3"
The python provider uses the python 2.x basestring builtin, which is gone in 3.x.

https://docs.python.org/3/whatsnew/3.0.html

https://github.com/joke2k/faker/blob/master/faker/providers/python/__init__.py#L63

Something like the following will trigger it on python 3

[code]

[2015-07-15 13:59] fcurella commented on #267
Closed in #268

[2015-07-15 13:59] #267 closed

[2015-07-18 18:46] mapleoin opened #269 "some generated UK postcodes are invalid"
UK postcodes follow strict rules and there are a limited set of codes for each part of the postcode. Faker does not know about these rules and generates postcodes such as: `XC9E 1FL` and `U93 2ZU` which are invalid. See e.g. https://github.com/hamstah/ukpostcodeparser for more info.

[2015-07-21 14:41] #269 closed

[2015-07-29 09:32] bhanuvrat opened #273 "pip install fails with ImportError: No module named 'data'"
traceback >>

    $ pip install faker
    Collecting faker
      Downloading Faker-0.0.4.tar.gz
        Complete output from command python setup.py egg_info:
        Traceback (most recent call last):
          File "<string>", line 20, in <module>
          File "/private/var/folders/wm/sg5qm50s3tz4l0_pdgnrtqvw0000gn/T/pip-build-qzt74ti6/faker/setup.py", line 5, in <module>
            import fa

[2015-07-29 10:15] bhanuvrat commented on #273
oops, its called fake-factory .. and not faker on pip ...
feel stupid. closing the issue.

[2015-07-29 10:15] #273 closed

[2015-08-30 14:25] thedrow opened #282 "faker.pydict() sometimes fail to generate correct dates"
[code]
The stop parameter should always be higher than the start parameter.

[2015-08-31 14:51] #265 closed

[2015-08-31 14:58] fcurella commented on #282
I'm a little confused on how this could happen.

From your stracktrace, it looks like `randrange()` has been called with `(0,-10325, -10325)` from `randint(0, int(time()))`.

I don't understand how the value of `int(time())` could become `-10325` (or any value < 0). What OS are you using?

[2015-08-31 15:11] thedrow commented on #282
It's Linux. Ubuntu 15.04 and Ubuntu 12.04.
But now that I think about it, I see it way more often on Travis than on my laptop.

[2015-09-01 20:46] Miserlou opened #284 "ImportError: cannot import name rand"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/srv/api/env/lib/python2.7/site-packages/faker/__init__.py", line 12, in <module>
    import patterns
  File "/srv/api/env/lib/python2.7/site-packages/faker/patterns.py", line 4, in <module>
    from utils import rand
ImportError: cannot import name rand

Latest fake-factory from pip, CentOS.

[2015-09-01 20:49] #284 closed

[2015-09-11 17:22] wybiral commented on #253
Does #280 close this issue?

[2015-09-11 17:26] fcurella commented on #253
Yes, this should be fixed in d08fd3d12d9bd819555ee36d21e261208e6203fe. Thanks @wybiral :)

[2015-09-11 17:26] #253 closed

[2015-09-29 04:25] prasanthj commented on #284
This issue still happens with Python 2.6.6 in CentOS 6.6. Any solutions for it?

[2015-09-29 11:47] joke2k commented on #284
@Miserlou @prasanthj are you sure you install `fake-factory`?
In this package there is not `init.py` or `patterns.py`.
Post you `pip freeze` please

[2015-09-30 18:20] prasanthj commented on #284
Weird. Uninstalling and reinstalling worked for me. Will report back if I am able to repro again. Thanks!

[2015-10-29 07:58] jorti opened #291 "Faker is needed to build documentation"
Hello, I'm trying to package faker into a RPM but I cannot build the docs because faker needs to be already installed.

Is there any way to build the docs without the module faker installed?

Thank you.

[code]

[2015-10-29 14:07] fcurella commented on #291
Even if we'd move the code that's in `faker.build_docs` to somewhere in the sphinx build, we'd still need access to the `faker` module because we need to introspect `faker` in order to generate examples of the providers.

It might work to temporarily include the directory containing faker in the `PYTHONPATH`, something like:

[code]

[2015-10-29 14:10] jorti commented on #291
Thanks for the explanation

[2015-10-29 14:17] fcurella commented on #39
I think this issue is resolved. @joke2k can you confirm?

[2015-10-29 14:18] fcurella commented on #14
Fixed in #259

[2015-10-29 14:18] #14 closed

[2015-10-30 11:36] jorti commented on #291
It has worked. This is what I use:
[code]

Thank you!

[2015-10-30 12:24] jorti opened #292 "Fail to run the tests"
Another problem I have when building the RPM is when I try to run the tests. This is in a minimal build environment, so maybe some library is missing. I have tried to use PYTHONPATH like in issue #291 but with no success.

Could you help me?

[code]

[2015-10-30 15:37] #291 closed

[2015-10-30 15:41] fcurella commented on #292
My guess would be that `importlib` is not installed.

In addition to that, make you install the test requirements from  https://github.com/joke2k/faker/blob/master/faker/tests/requirements.txt

[2015-11-01 09:44] Dutcho opened #296 "Sex-specific names and Sex attribute don't match"
While person distinguisheds between name_male() and name_female(), and profile generates a random ['sex'] attribute, these do not correlate at present. So in 50% of cases (ignoring neutral names like Chris) this results in F with male names and M with female names.

[2015-11-04 15:07] #296 closed

[2015-11-09 16:13] j0hnsmith commented on #232
Implemented in https://github.com/joke2k/faker/commit/3da7fd3109e317025e033fb95260c0032668ae0e

@fcurella close?

[2015-11-09 16:16] fcurella commented on #232
yes, thank you for pointing it out :)

closed in 3da7fd3

[2015-11-09 16:16] #232 closed

[2015-11-24 04:59] okamuuu commented on #284
I found similar problem. This is my case on MacOSX.

[code]

So, unintall python_faker

[code]

Maybe I mistakenly implemnted pip install not in virtualenv once...

[2015-11-30 18:06] zdelagrange opened #302 "zh_CN email not returning valid email addresses"
When creating a fake Factory with the zh_CN or zh_TW it is not returning valid email addresses.

u'.@yahoo.com'

u'.@gmail.com'

u'76@gmail.com'

u'.@.com'

u'.@.net'

u'.@.com'

u'.@yahoo.com'

u'u@.com'

u'm@.com'

u'x@.org'

u'89@.net'

u'25@.com'

u'e@.info'

u'.@.com'

[2015-11-30 18:09] zdelagrange commented on #302
There isn't a locale for zh_* for this provider. Maybe there should be a catch if there isn't a locale for a given provider when you call the function?

[2015-11-30 18:23] zdelagrange commented on #302
Upon further investigation into this, the bg_BG locale for internet contains a _to_ascii function which replaces unicode characters with ascii characters. This might not be the best approach given the internationalization efforts underway, specifically for email addresses: https://en.wikipedia.org/wiki/Email_address#Internationalization

[2015-11-30 19:00] fcurella commented on #302
Hi @zdelagrange , thank you for the report.

The issue is in https://github.com/joke2k/faker/blob/master/faker/providers/internet/__init__.py#L95.

[code]

We should probably add some list of 'ascii company names' to use in these situations, and fall back to en_US if we don't have any.

[2015-11-30 19:34] zdelagrange commented on #302
@fcurella That does not address the possibility for unicode domain names, for example, http://☃.net/ is a valid domain.

[2015-11-30 19:46] fcurella commented on #302
@zdelagrange can we move the discussion over to #303 ?

[2015-12-01 03:49] mark-love opened #304 "date_time_this_month logic error"
The logic blows up when the current month (now.month) is December (12) as I have found out.

faker/providers/date_time/__init__.py
`next_month_start = datetime(now.year, now.month + 1 % 12, 1, tzinfo=tzinfo)`
should be
`next_month_start = datetime(now.year, (now.month + 1) % 12, 1, tzinfo=tzinfo)`

[2015-12-01 03:50] PaulLiang1 commented on #304
Had the same issue just right now...

[2015-12-01 03:51] fcurella commented on #304
Hi @mark-love , thanks for the report.

Do you mind submit a Pull Request? Really appreciate it :)

[2015-12-01 03:51] mark-love commented on #304
No problem, I can work on one right now.

[2015-12-01 04:11] #292 closed

[2015-12-01 04:20] fcurella commented on #304
@mark-love `now().month` is zero-based, so it needs to be compensated by doing something like:

[code]

[2015-12-01 04:31] mark-love commented on #304
@fcurella is it? From what I can tell in the documentation and experimenting is that it is between 1 and 12. https://docs.python.org/2/library/datetime.html#datetime.datetime.month

[2015-12-01 04:34] fcurella commented on #304
@mark-love , no you're right.

The issue is that on Nov 30th, 'next month' means December, and `12 % 12` returns `0`, when we actually need it to be `12`

[2015-12-01 04:41] fcurella commented on #304
I'll have to wait for tomorrow morning to dig deeper into this

[2015-12-01 04:41] mark-love commented on #304
@fcurella ah yes that would be it `now.month % 12 + 1` should fix it.
Do we also want/need the year to increment or is that unnecessary?

[2015-12-01 11:19] rshk commented on #304
I guess the year needs to be incremented as well, "next month" in Dec '15 is Jan '16, not Jan '15..

so better be explicit, something like:

[code]

[2015-12-01 11:22] rshk commented on #304
Btw, the current code is failing because of operator precedence (`%` has higher precedence than `+` so ``now.month + 1 % 12`` is actually ``now.month + (1 % 12)``), but anyways, ``(now.month + 1) % 12`` is broken as well, as month is one-based.

[2015-12-01 12:23] kot-behemoth commented on #304
Is there any reason to not use `relativedelta` from the `dateutil` package (https://pypi.python.org/pypi/python-dateutil)? It provides a very robust way to get "next month" and is a well-known module:

[code]

[2015-12-01 16:18] #304 closed

[2015-12-01 16:21] fcurella commented on #282
fixed in #307

[2015-12-01 16:21] #282 closed

[2015-12-01 16:38] #302 closed

[2015-12-02 10:52] thedrow commented on #282
Thanks!

[2015-12-02 20:33] luisincrespo opened #309 "date_time_this_month() tries to create a datetime on month 13, due to precendence problems in the implementation"
Hey there. I'm getting the following error

`ValueError: month must be in 1..12`

When trying to do

`faker.date_time_this_month()`

Being December the current month. It is trying to create something like:

`datetime(<year>, 13, <day>)`

Because the implementation does this:

**Line 439 /faker/providers/date_time/__init__.py**
`next_month_start = datetime(now.year, now.month + 1 % 12, 1)`

Due to

[2015-12-02 20:47] fcurella commented on #309
hi @luisincrespo

this should be fixed with https://github.com/joke2k/faker/pull/307/files. Are you running `faker` from `master`?

[2015-12-02 20:48] fcurella commented on #309
/ping @joke2k It's probably a good time for a new release on PyPI

[2015-12-02 20:53] luisincrespo commented on #309
Yeap I've just figured out you had this fixed on master. I'm using the latest version on PyPI, which is 0.5.3

[2015-12-02 21:38] #309 closed

[2015-12-03 21:37] matheuscas opened #310 "Better 'Unknown formatter' message for specific locale"
I've just tried the "bs" formatter defining my locale as 'pt_BR' and I received the following error message: **Unknown formatter "bs"**

It's not clear that "bs" formatter is unknown using a specific locale. I just discovered because I looked into source code. I think that something like **Unknown formatter "bs" for "pt_BR"**, for instance, would be more clear. Of course that the original message

[2015-12-06 10:25] jeffwidman commented on #178
This would probably help with #230, plus I suspect it'd also help with #86 because many of the contributions would be straight flat files rather than code + data. Unfortunately, it's also a lot of work, but I'd be willing to help and sounds like @kissarat would as well

[2015-12-11 16:41] thecardcheat commented on #309
@fcurella @joke2k Any plan to release this fix on PyPi soon?

[2015-12-18 15:52] craig552uk opened #313 "Param switches on faker.password() don't guarantee valid password"
The format switches on `faker.password()` (`special_chars, digits, upper_case, lower_case`) don't always return passwords matching those rules.

This is problematic as when using generated passwords in unit tests, where passwords must conform to validity rules (e.g. "must contain numbers"), tests can randomly fail.

I expected that these switches would guarantee the function returns a conforming p

[2015-12-18 20:01] fcurella commented on #313
Thanks fro the report @craig552uk :)

I've create PR #314 to track the work on a bugfix.

[2015-12-18 22:00] #313 closed

[2015-12-22 10:43] cbaines opened #315 "Tests fail for current release"
As of the current release (v0.5.3), the tests fail. This has been fixed in master, but it would be convenient for me to have a recent release (the tests fail on the 0.5.2 and 0.5.1 releases also) for which the tests pass.

Could you make a release with these fixes included?

[code]

[2015-12-22 14:58] fcurella commented on #315
/ping @joke2k

[2015-12-31 16:59] joke2k commented on #315
Hi, thank you for report.

I'm investigating the cause of this error, can you post your environment? python version and OS?

Thank you

[2015-12-31 17:06] fcurella commented on #315
@joke2k the issue is fixed in master, we just need a new release on PyPI

[2015-12-31 17:14] joke2k commented on #315
Wonderful,
we will wait new year for release new version on PyPi.

[2016-01-04 14:45] gsingers opened #317 "Access to the Generator.random"
It would be nice if one could gain access to the Generator.random variable so that one could save/set the state.  I realize I can pass in the seed, but one currently has no way of gathering what the seed/state is if using the automatically generated seed.  I don't want to use a fixed seed, but I do want to log/print the seed used _if_ the tests fail.

That is, I'd like to be able to do something l

[2016-01-04 15:22] fcurella commented on #317
we could expose the `random` instance on the generator. Something like:

[code]

[2016-01-06 15:26] fcurella opened #319 "Find a way to share providers within the community"
The final goal is put to a good use the time spent by who created a provider for this project.

Non-exhaustive list of possible options (not necessarily mutually exclusive):

* Page in the docs listing packages (easy-peasy #320 )
* Packages will contain a `faker-provider` in their `setup.py`'s `keywords` attribute, so they can easily found on PyPI. The docs will point to the search results page
*

[2016-01-06 15:53] #317 closed

[2016-01-07 18:52] danhuss commented on #319
So would the idea be to deploy those as packages on PyPI? I've never done that before, so is there anything I should be aware of while i'm hunting down a how-to tutorial for submitting those packages?

Thanks,
Daniel

[2016-01-07 19:06] fcurella commented on #319
@danhuss I'm thinking the upload on PyPI should be optional. On the page we'd list URL (could be a repo, could be your package's page on GH). On the same page, we can also have a link to the PyPI search results. If you decide not to publish your package on PyPI, your provider will simply be listed only once.

[2016-01-08 05:20] anantauprety opened #321 "Unable to run tests"
I am new to this but, I was trying to run tests using:

~/workspace/mainjoke2k/faker/faker/tests/mymodule (master) $ python -m unittest en_US

Traceback (most recent call last):
  File "/usr/lib/python2.7/runpy.py", line 162, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/usr/lib/pyth

[2016-01-08 15:30] fcurella commented on #321
hi @anantauprety

My guess is that the `faker` module is not available to the Python path.

The recommended way to run then tests is to run `python setup.py test` from the root of the repo

[2016-01-08 15:45] anantauprety commented on #321
Thanks. Will do. New to all this. If I want to add address to ne_NP should I create an issue as well. I think I have the code. Just need to run the tests and commit.

[2016-01-08 16:04] fcurella commented on #321
@anantauprety You can create a Pull Request whenever you're ready.

Thank you very much for contributing!

[2016-01-09 03:41] anantauprety commented on #321
I am still unable to run the tests.
I cloned the repository as is and tried running the following command but, I get attribute error:
           AttributeError: 'module' object has no attribute 'zh_CN'

Am I the only one getting this because of the system I have or I am still not running it correctly?
I am however, to build the it fine with python setup.py build. Thanks in advance.

anantauprety:~

[2016-01-11 15:22] fcurella commented on #321
hi @anantauprety ,

have you installed the test requirements in `faker/tests/requirements.txt`?

You may also want to take a look at the `.travis.yml` file that's used by our Continous Integration to run the tests, and try following the same steps. Hope that helps

[2016-01-13 06:55] #321 closed

[2016-01-22 19:52] gwongz opened #324 "Add ability to generate lorem characters without punctuation"
Sometimes I want to generate a string of characters of a specific length without any punctuation or capitalization but the lorem provider currently does not allow for this.

[2016-01-25 20:20] #324 closed

[2016-02-04 13:50] Daenyth opened #326 "Add a faker[hypothesis] extra"
It would be useful to be able to use Faker with [Hypothesis](http://hypothesis.readthedocs.org) for testing. It can be declared as an [optional dependency in setup.py](https://pythonhosted.org/setuptools/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies)

I can put in a PR at some point adding this if you'll accept it

[2016-02-04 15:53] fcurella commented on #326
Hi @Daenyth

I personally think it would be really useful, I'm just not sure if it should be an extra of `fake-factory`, or its own separate package.

IMHO it comes down to how much maintenance cost will it add to the project. We are already stretched pretty thin.

We'll definitely need @joke2k opinion.

[2016-02-04 16:00] Daenyth commented on #326
I *think* it should be fairly simple. I don't think it'll be hard to write one generic method that connects hypothesis's `random` to a given provider and then dynamically generates strategies for all providers. That said, I haven't dug into it yet. The benefit of it being in-repo vs as an extra package is of course that api changes would be caught by tests right away.

[2016-02-08 19:08] DRMacIver commented on #326
FWIW, there is [already support for this in Hypothesis](https://hypothesis.readthedocs.org/en/latest/extras.html#hypothesis-fakefactory).

[2016-02-08 19:52] fcurella commented on #326
Thanks for pointing that out @DRMacIver

@Daenyth since `faker` is already supported in Hypothesis, I don't see any reason to implement the same thing twice. Would `hypothesis[fakefactory]` work for you?

[2016-02-09 13:52] Daenyth commented on #326
Yeah, seems reasonable.

[2016-02-09 13:52] #326 closed

[2016-02-13 12:42] omidraha commented on #284
There is another package on `pypi` with name [faker](https://pypi.python.org/pypi/Faker).
To solve this problem do these:
[code]

[2016-02-14 07:01] okamuuu commented on #284
I see. Thank you for your helpful reply:)

[2016-02-19 15:25] fcurella commented on #319
Addresses in #320

[2016-02-19 15:25] #319 closed

[2016-02-24 11:12] kdeldycke commented on #34
This issue can be close: kob provider has been added in f2c49daf425b796e3a2d2140a8d75e4e4f00ebbd .

[2016-02-24 15:05] fcurella commented on #34
Thanks @kdeldycke !

[2016-02-24 15:05] #34 closed

[2016-02-29 11:09] jeffwidman commented on #315
@joke2k Any chance of pushing a new release?

[2016-02-29 11:12] jeffwidman opened #331 "Move to 'faker' on Pypi"
Looks like the `Faker` namespace on Pypi has been abandoned for quite a while: https://pypi.python.org/pypi/Faker

This project's owner @joke2k should file a request to have the namespace transferred to this project.

It would reduce confusion between Faker (project name) and `fake-factory` (how it gets pip installed).

The pypi team is pretty good about transferring namespaces if they're clearly

[2016-02-29 14:04] kdeldycke commented on #315
@joke2k : new year was 2 months ago. Any chance for a release? :grimacing:

[2016-02-29 14:10] kdeldycke commented on #39
This ticket can be closed. Gender was implemented in commit 4bb388fbc901b0eccd7555c403d8e4bba26ebcb7 .

[2016-02-29 14:10] kdeldycke commented on #331
Relates to #47.

[2016-02-29 15:37] fcurella commented on #39
thanks @kdeldycke , appreciate your help! :sparkles:

[2016-02-29 15:37] #39 closed

[2016-02-29 15:42] fcurella commented on #331
it's worth noticing that while the last upload on PyPI was in 2010, the GH repo had its last commit on Aug 6th, 2015 - which I would  not consider *that* long ago.

[2016-02-29 17:09] joke2k commented on #315
@fcurella @jeffwidman @kdeldycke et voilà!
https://pypi.python.org/pypi/fake-factory/

[2016-02-29 17:23] fcurella commented on #331
Alternatively, `python-faker` hasn't been updated on PyPI since since 2011 (https://pypi.python.org/pypi/python-faker/0.2.4) and the link to the repo is a 404, so it might be easier to claim.

[2016-02-29 18:14] fcurella commented on #315
:cake:

[2016-02-29 18:14] #315 closed

[2016-02-29 18:38] aldarund opened #332 "AttributeError: 'module' object has no attribute 'Provider' on Faker()"
When i create a Faker class i got following error:

[code]

[2016-02-29 18:38] EnTeQuAk commented on #332
This happened most recently in the 0.5.4 release and only in the wheel package. Somehow the locales get moved into the `providers` folder:

[code]

The tar.gz file is fine.

[2016-02-29 18:42] EnTeQuAk commented on #332
I also created a clean wheel package on my machine and it's clean, without the locale packages in the `providers` module. So maybe a new build + upload could fix this @joke2k

As a workaround for everyone else stumbling on this, try installing it from the tar.gz package - this one works fine.

[2016-02-29 19:18] smira commented on #332
+1, same problem, code is broken with 0.5.4

[2016-02-29 19:20] jeffwidman commented on #315
:+1:

[2016-02-29 19:26] jeffwidman commented on #331
I'm cool with whatever, I just think from a branding perspective, it'd be best to have the same name across Pypi/GitHub, also grab the handle on RTD just to avoid someone else grabbing it and adding confusion etc. Plus it'd be nice if it was consistent when you do `import Faker` or whatever to make sure the package/class name is also consistent.

I'm personally not too bothered by having a unique

[2016-02-29 19:58] strife25 commented on #332
+1 on this issue

[2016-02-29 20:01] fcurella commented on #332
I can confirm the issue.

Sadly I don't have access to PyPI and I can't fix the release. We'll have to wait for @joke2k to be back.

Please avoid adding more '+1' comments, as they don't add much to the conversation. We are aware of the issue and it will be fixed ASAP.

[2016-02-29 21:47] farshidce commented on #332
File "/Users/farshid/flab/careabout/server/env/lib/python3.5/site-packages/faker/factory.py", line 87, in _find_provider_class
    return provider_module.Provider
AttributeError: module 'faker.providers.bg_BG' has no attribute 'Provider'
+1 on this issue.

and the issue was resolved by using 0.5.3 for the time being.

[2016-02-29 21:49] fcurella commented on #332
I'm going to temporarily lock this issue to avoid +1 comments. Sorry for the inconvenience.

[2016-02-29 23:13] fcurella commented on #332
We just released v0.0.5. Let us know if there's any issue!

Thank you all for your patience, very much appreciated! :sparkles:

[2016-03-01 09:17] kdeldycke commented on #315
Fantastic! :+1:

[2016-03-01 23:47] jeffwidman opened #333 "point http://www.joke2k.net/faker/ at RTD"
Having docs at both http://www.joke2k.net/faker/ and http://fake-factory.readthedocs.org/en/stable/providers.html is confusing.

At first I didn't realize the RTD docs existed, then once I realized that, I assumed the joke2k.net link is a copy of the Readme. But then I realized it's different, and now I'm simply confused.

Any of the following would be better than the current state of affairs:

-

[2016-03-02 00:36] fcurella commented on #333
I think I'd rather have the docs on RTD and have everything point to that.

@joke2k what would you rather do?

[2016-03-03 16:27] Chronial opened #334 "Dates in Changelog are wrong for 2016 releases"
See https://github.com/joke2k/faker/blob/c4cabf759d17aeccdcc730064c381a45115732c2/CHANGELOG.rst :)

[2016-03-03 16:41] #334 closed

[2016-03-03 16:43] fcurella commented on #334
Nice catch!

Fixed in master, and I've updated the changelog on PyPI as well.

Thank you very much! :sparkles:

[2016-03-03 16:44] Chronial commented on #334
That was a quick fix :) :+1:

[2016-03-04 09:57] jjmurre opened #335 "Dependency on python-dateutil >= 2.4 excludes python 2.x"
The last version of python-dateutil that supports python 2.x is version 1.5
Because faker now depends on version >= 2.4 of python-dateutil, faker can only be used for python 3.x

[2016-03-04 15:04] fcurella commented on #335
Hi @jjmurre , Thanks for your report.

According to https://pypi.python.org/pypi/python-dateutil/2.5.0, `python-dateutil` v2.5.0 supports Python 2.6 and 2.7.

Moreover, the builds for Python 2.x are all installing `python-dateutil-2.5.0` and passin (eg https://travis-ci.org/joke2k/faker/jobs/113448867).

Do you have a stacktrace I could look at?

[2016-03-04 15:20] jjmurre commented on #335
@fcurella You are totally right! In the past I had to pin python-dateutil to 1.5, because 2.0 was python3 only and the story was that python2 users should keep using 1.5. This version pin was conflicting with the faker requirement of >=2.4. However, it seems that python-dateutil changed its policy, luckily. Sorry to have bothered you about this! I'll close the issue.

[2016-03-04 15:20] #335 closed

[2016-03-11 00:20] josegonzalez opened #339 "Is there a reason why the pypi package was renamed 0.5.6-proper?"
This appears to break builds for us because pypi can't find it. Just curious as to why it was pulled, and why the name had `-proper` attached.

[2016-03-11 07:37] fengdy opened #340 "the email is invalid when use locale='zh_CN'"
fake = Factory.create(locale='zh_CN')
print fake.company_email()
print fake.email()

Then output:
秀兰87@维旺明信息有限公司.org
x越@gmail.com
it's a invalid email, and the other (free_email etc) email function in the same,

[2016-03-11 16:51] fcurella commented on #339
While uploading to PyPI, the server returned a 500 so I had to re-upload manually with a different name. I'm afk ATM. @joke2k can you either remove the .tar.gz or upload a new release?

[2016-03-11 18:42] fcurella commented on #340
to expand a little, the issue here is that email addresses can only contain Latin letters.

[2016-03-11 18:47] fcurella commented on #339
Hi @josegonzalez

sorry about the issue. I've just released 0.5.7 on PyPI. It doesn't contain any changes except for the version bump.

[2016-03-11 18:47] #339 closed

[2016-03-11 18:54] josegonzalez commented on #339
<3

[2016-03-14 18:10] deepthawtz commented on #331
I'm the author of the "faker" package on PyPI. I am a crappy OSS maintainer and I can barely code Python anymore :stuck_out_tongue: I don't see the point keeping that project going and am happy to point to this package and/or give up the "faker" PyPi namespace... let me know what I can do to help

[2016-03-14 18:14] deepthawtz commented on #331
Yesterday I got around to update the "faker" PyPi package but since I've been out of the Python loop for so long had no idea about this project until I googled around

[2016-03-14 21:29] fcurella commented on #331
Hi @deepthawtz , thanks for getting in touch!

You can add 'joke2k' as owner to the package, and 'curella.org' (that's my username for historical reasons) as 'maintainer'.

As for the future of `fake-factory`, I need to check exactly how removing a package works.

If the name gets released, I don't want anyone to squat the name and potentially distribute malicious code under that name. In that cas

[2016-03-15 08:52] jeffwidman commented on #331
@deepthawtz Thanks!

@fcurella I dont have answers, but I do know the `pep8` package [is in the midst of a Pypi name change](https://github.com/PyCQA/pycodestyle/issues/466) so may be instructive to watch how they handle it.

[2016-03-15 13:31] deepthawtz commented on #331
@fcurella I pushed a new Faker release to PyPi with deprecation warning announcement and set the date for September 15, 2016 to give folks time to update. If you can mark your calendar too that'd be great. I'm now instructing everyone to use your package instead. I've marked my calendar and we'll be in touch in 6 months. I'm going to hold off transferring ownership until we actually make the packa

[2016-03-15 14:30] fcurella commented on #331
thanks @deepthawtz .

I think this is a good, but we will also need some period of time during which both names have the same package, with the warning only on the `fake-factory` side. Maybe that can start 3 months from now (ie: June 15th)?

[2016-03-15 14:34] deepthawtz commented on #331
Are you proposing I update the warning message and make the transition period 3 months instead?

[2016-03-15 14:39] fcurella commented on #331
No, I think what you've done is perfect so far.

What I'm proposing is that in 3 month we will upload the code in this repo to _both_ 'fake-factory` and `factory`, with just two small differences:

1. The `faker` package will not have any warning
2. The `fake-factory` package will have a warning

Then, on Sept. 15h, we will pull the plug on `fake-factory`. We either replace it with an 'empty' pack

[2016-03-15 14:40] fcurella commented on #331
for future reference, something like this could be helpful https://github.com/pytest-dev/pytest/blob/1f6988bdec07caa0c6488a488b390beeed32e529/extra/setup-py.test/setup.py

[2016-03-15 14:42] deepthawtz commented on #331
if the PyPi faker package changes to your package in 3 months that is different than what I've communicated in the deprecation message. I indicated that after Sept 15 the package will be your package.

[code]

Wondering if I should communicate that differently based on your proposal.

[2016-03-15 14:54] fcurella commented on #331
@deepthawtz yes, you're correct. According to my proposal, that date should say June 15th.

You can keep the message as it is, and we can move the timeline by 3 months. Basically:

* Sept. 15th: Start transition period. This repo gets uploaded to both, warning only on `fake-factory`
* Dec. 15th: End transition period. `fake-factory` gets replaced by a 'shell' package.

[2016-03-15 14:55] deepthawtz commented on #331
:+1: works for me, glad we could work together on this

[2016-03-15 14:57] fcurella commented on #331
@jeffwidman thanks for pointing out to the `pep8` case :)

Thankfully our situation is a lot simpler, since we don't need to rename the repo or the module name.

Nonetheless it's a really useful thread, we'll definitely steal something of that they do :)

[2016-03-16 02:30] fengdy commented on #340
also in the condition, fake = Factory.create(locale='zh_CN'), the  website also have the same problem, u'http://www.\u65f6\u7a7a\u76d2\u6570\u5b57\u79d1\u6280\u6709\u9650\u516c\u53f8.biz/' -----http://www.时空盒数字科技有限公司.biz/

[2016-03-17 04:53] jeffwidman commented on #333
Bump @joke2k

[2016-04-01 10:15] darklow opened #345 ""Real-looking text" generator feature"
I am using this library to generate some fake content for forums app test data.
https://github.com/hrs/markov-sentence-generator

I think it would be great addition to faker library - a feature to generate real sentences that makes sense.
I tried generating fake test data for forums with lorem ipsum, but it just doesn't give you sense and perception of reality when looking at the generated data.

[2016-04-05 19:25] coffeesippa opened #346 "Add method to generate fake text with a minimum number of characters"
Faker has methods to afford text strings with a maximum number of character, such as, `fake.text(max_nb_chars=200)`. Would like the ability to specify a minimum number of characters for a set of text or a specific length. This would allow users to easily input data into fields with minimum character input requirements. There is currently only two methods, `fake.password()` and `fake.ean()`, that a

[2016-04-15 21:36] Luckymethod commented on #284
I'm finding the same problem with Python 3.5

`import faker
print(faker)
<module 'faker' from '/Users/luca/anaconda/lib/python3.5/site-packages/faker/__init__.py'>
`

if I try

`from faker import Generator`

like the documentation suggests I get

`---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)

[2016-04-18 13:50] fcurella commented on #340
Hi @fengdy ,

we'll need to compile a list of romanized common names to use. I've been looking at https://en.wikipedia.org/wiki/List_of_common_Chinese_surnames and https://en.wikipedia.org/wiki/Chinese_given_name#Common_Chinese_names and it looks like 'Pinyin' would be the de-facto 'standard' romanization. The only issue is that those names still contain accented letters, which are outside of the

[2016-04-22 18:55] joke2k commented on #333
Hi guys, in my opinion the best option is RTD.

I'll move all the references from joke2k.net/faker to fake-factory.readthedocs.org.

[2016-04-22 21:31] jeffwidman commented on #333
Given https://github.com/joke2k/faker/issues/331 and the overall standardization on 'faker' as the namespace, probably better to point joke2k.net/faker to http://faker.readthedocs.org/ rather than http://fake-factory.readthedocs.org/

[2016-04-26 13:41] akx opened #349 "Per-Generator random seeding"
(This is an extension of #14 and #259)

So currently, if you do

[code]

the `f2` object will effectively be seeded with `123` too due to all of the generators sharing the same `faker.generator.random` `Random()` instance, which is not really optimal.

I would be happy to do the work to fix this (by making the `random` object actually per-`Generator`), if you guys think it's a good idea.

[2016-04-26 14:12] fcurella commented on #349
Thanks for pointing this out @akx

I think it should be per-Generator, since the method is called on the instance. I only worry that some people may be relying on the current (wrong) behaviour.

What would be really awesome would be to have `f1.seed()` and `Faker.seed_module()`, so that anyone relying on the per-module behaviour has a way to fall back.

[2016-04-29 12:27] crf1028 commented on #346
Hi @tamarbuata
I tried to solve the problem and is almost there except for testing part.
So I am wondering is there an enxisting function for testing `fake.text()`.
I searched the file and was unable to find one.

[2016-04-29 13:59] fcurella commented on #346
Isn't this solved by https://github.com/joke2k/faker/pull/347 ?

[2016-04-29 14:01] fcurella commented on #346
Oh I see, this is the same as #347, but for the `text` provider.

@crf1028 Take a look at the diff #347 for an example of how to test it

[2016-04-30 23:17] CaliLuke opened #351 "Installing faker from pip doesn't seem to work properly"
I'm having issues installing Faker from pip, I tried both
[code]
[code]
When I try to create a new generator using
[code]
I get
[code]

Anyone has any idea what's wrong?

[2016-05-01 15:18] joke2k commented on #351
Hi @CaliLuke the TypeError shows that you type `fake = faker()`, are you sure that you import `Faker` from `faker` module?

[2016-05-02 16:45] CaliLuke commented on #351
Thank you, that worked, I had a typo.

[2016-05-02 18:56] #351 closed

[2016-05-08 05:23] Miserlou commented on #284
Related to https://github.com/joke2k/faker/issues/331

[2016-05-18 08:39] lukemaxwell opened #355 "Specify profile gender"
As profile provider names are now gender-specific, it would be great if the class accepted a parameter to allow the user to specify the gender of the profile, e.g profile = fake.profile(sex='M').

Is this within scope? I did a rudimentary test addition to providers/profile/__init__.py, (python 3) -  there was no issue.

[2016-05-18 14:50] fcurella commented on #355
That sounds reasonable and trivial to implement, but I'd like to iron out a few issues before going forward.

The first issues I see is that, at least in you description, gender and sex are conflated, which is not a reasonable assumption under some cultures. Since the providers already use 'female' and 'male', I would go with `sex` and be consistent in using `sex`, `female` and `male` throughout c

[2016-05-18 15:01] lukemaxwell commented on #355
Thanks fcurella. I only used 'gender' arbitrarily in the issue description, that is confusing.

[2016-05-18 18:54] kmike commented on #355
A single set of constants is much better - it enables to switch language without changing source code.

[2016-05-26 10:47] sikko commented on #340
Hi,
Same issue when the locale contains characters with accents (éèàô etc...)

[2016-06-03 11:15] prokaktus commented on #67
What about random `text`s? It would be useful in factories https://github.com/rbarrois/factory_boy, where we need to generate `unique` field.

[2016-06-03 14:17] fcurella commented on #67
I've started an implementation for this on #358. @prokaktus @jamescooke let me know if it's enough for your needs

[2016-06-03 14:21] jamescooke commented on #67
`random_sample_unique` looks good to me :+1:

[2016-06-03 15:02] prokaktus commented on #67
@fcurella looks nice for me too :+1: But what about unique texts? I can implement it with generating lot of samples and remove duplicates, but it would be nice to have some kind of generator, which always return unique text (address, name, etc.). What do you think about such feature?

I want to use it in my factory for models, which have `unique` constraints.

I can try to implement this myself in

[2016-06-03 15:26] fcurella commented on #67
@prokaktus I can see how that could be useful eg. in generating usernames, but I would address that on a separate PR. Feel free to submit when you have a chance :)

[2016-06-03 15:27] fcurella commented on #67
Closed via #358

[2016-06-03 15:27] #67 closed

[2016-06-03 15:31] fcurella commented on #355
i'm OK with having the arguments `M` or `F` regardless of language. @lukemaxwell could you submit your changes with a Pull Request?

[2016-06-10 16:06] stephenross commented on #170
I have taken a look at the [North American Numbering Plan](https://en.wikipedia.org/wiki/North_American_Numbering_Plan) information and found that both of the first 2 formats (the +##(#)########## and 0########## formats) are not valid formats for the en_US locale. I have removed both and sorted the rest with comments temporarily based on the information in that page for a future enhancement to th

[2016-06-11 05:03] markalexander commented on #340
@fcurella

I would say yes. This is pretty much what Chinese people will do when confronted with an ascii-only form.  Technically you can write the tones (i.e. the accents) by appending numbers (e.g. mā  má  mǎ  -> ma1 ma2 ma3).

Also there is also the use of ü, which isn't actually a tonal mark, but indicates a change in vowel sound.  Stripping the umlaut in this case is approximately the same as

[2016-06-28 15:21] devinbarry opened #360 "The "community providers" link on PyPI is broken"
The link pointing to community providers on the PyPI page (https://pypi.python.org/pypi/fake-factory) gives the following error:

This is the current address of the link
http://fake-factory.readthedocs.org/en/latest/communityproviders.html

[2016-06-28 17:30] fcurella commented on #360
The build on read the docs is trying to build a single html file even tho I've selected 'Sphinx Html' and not 'Sphinx Sigle Page HTML', and that step is running out of memory, causing the build to fail.

I'll have to check with rfd people to see how to disable that step.

[2016-06-28 18:33] fcurella commented on #360
ok, i think I've figured it out. Fixed in https://github.com/joke2k/faker/commit/43bc86b94ee6038ee345b9a50d821d29abcf39a4

[2016-06-28 18:33] #360 closed

[2016-07-08 16:05] #340 closed

[2016-07-10 18:31] cclauss opened #362 "Would a faker.format() method make sense?"
It could enable the syntax:
`print(faker.format('{name} considers a {catch_phrase} in {country}'))`

A sample implementation show how simple it would be:

[code]

More test cases at: https://github.com/cclauss/Ten-lines-or-less/blob/master/fake_format.py

[2016-07-12 16:32] adamchainz opened #363 "Remove randomness dependency on PYTHONHASHSEED"
We're using `faker` extensively in our test suite with `factory-boy` to generate dummy data. I love it! To help with repeatability in tests, I developed the pytest plugin `pytest-randomly` to allow re-using the `random` seed between test runs, so if they fail we can reuse the seed to get back the same random data from `faker` and debug the test.

Unfortunately we're moving from Python 2 to 3 and t

[2016-07-12 16:40] fcurella commented on #363
Thank for the report @adamchainz

I think `random_element` method is good the way it currently is.

The issue is with specific providers that declare weighted elements as `dict`s instead of `OrderedDict`. We need to audit and fix them.

Additionally, I think this is something that should be mentioned in docs, including examples and docstrings.

[2016-07-12 16:46] adamchainz commented on #363
Just realized `OrderedDict` is 2.7+ but Faker still supports 2.6. Lists of tuples is probably the way to go here then? Unless you want to add a backport dependency for `OrderedDict` from somewhere.

[2016-07-12 17:33] kevin-brown commented on #363
You could always introduce a Python 2.6 dependency on the `ordereddict` package and fall back to it.

http://stackoverflow.com/q/1617078/359284

[2016-07-13 09:12] adamchainz commented on #363
Thanks @kevin-brown , probably the best solution

[2016-07-13 14:21] fcurella commented on #363
FWIW, dropping support for python 2.6 would also allows us to stop including importing `importlib` in [our requirements](https://github.com/joke2k/faker/blob/master/setup.py#L62).

[2016-07-17 19:32] JIElite opened #364 "Company Name reversed in providers/company/zh_TW"
There are a lot of company names are reversed, like: "台灣印無品良" should be "台灣無印良品" ,
"AYHOO!摩奇" should be "YAHOO!奇摩". It likes "Glegoo" should be "Google" in English.
Almost every company name in company_prefixes need to be fixed.

Is it necessary to change them? I think change their name will make it more intuitively clear for Taiwanese user.

[check this](https://github.com/joke2k/faker/blob/maste

[2016-07-18 13:16] kevin-brown commented on #364
Based on the note in https://github.com/joke2k/faker/pull/99 about "reversed character order", I think this may have been intentional.

[2016-07-18 13:47] fcurella commented on #364
I'm not sure why the character order was reversed. @keitheis could you shed some light?

[2016-07-19 10:04] keitheis commented on #364
I intentionally don't want to use real existed company here and I am not sure that I have the right to use them here directly. If it's a necessary case for @JIElite and you're sure about the right of using them, a pull-request should be welcome.

[2016-07-19 14:13] fcurella commented on #364
I would rather remove them to avoid misunderstandings in the first place.

The `en_US` provider avoids this by using a `{last_name}, {company_suffix}` pattern. Would a similar behaviour be appropriate for the `zh_TW` locale?

[2016-07-19 15:42] JIElite commented on #364
@keitheis Thank you for explanation, just remain the same.
@fcurella  I think use the current format is OK.

The only question for me is there are a lot of company names in `{company_prefixes} `which are much similar to the exactly existed company name in Taiwan (just with little reversed word). I just want to know why the character is reversed in its company name.  Instead, it use the real compan

[2016-07-22 08:40] eromoe opened #366 "TypeError: pystruct() got multiple values for keyword argument 'count' , what is the correct value_types?"
example doesn't show the value_types
http://faker.readthedocs.io/en/master/providers/faker.providers.python.html

I want generate a ramdon json with all key and value is string.
But only `fake.pystruct(count=10)` work

I look into the provider.python and find:

[code]

But still error

[code]

This `fake.pystruct(10, 'str')` work,  you should change the doc with a correct

[2016-07-23 15:40] ndanielsen opened #367 "Rand seed doesn't seem to work in 3.4+ only in 2.7.x"
I can't get the random seed to work in 3.4+ only in 2.7 with fake-factory==0.5.9

`from faker import Factory, Generator, Faker

fake = Factory.create()
fake.seed(4321)

for _ in range(10):
    print(fake.name())
`
Am I missing something?

[2016-07-27 07:42] navyad commented on #355
That is reasonable enhancement allows flexibility for creating profile.

@lukemaxwell Have PR is created for this ?  if you are busy, then i can take this up.

[2016-08-01 10:00] navyad commented on #355
Hi @fcurella

I check the source code suggested change is not there, so i have created the MR for that
https://github.com/joke2k/faker/pull/370

[2016-08-01 14:19] lukemaxwell commented on #355
Hey sorry I missed this. I'm travelling for the next few weeks so yes - by all means pick up :-) Otherwise I can when I'm back, late August.

L

L

[2016-08-01 17:08] navyad commented on #355
@lukemaxwell i have picked up.

[2016-08-02 14:15] fcurella commented on #355
closed in #370

[2016-08-02 14:15] #355 closed

[2016-08-04 13:23] jeffwidman opened #372 "Kill http://fake-factory.readthedocs.io/ since http://faker.readthedocs.io/en/master/ exists"
Kill http://fake-factory.readthedocs.io/ since http://faker.readthedocs.io/en/master/ exists and we're standardizing on `faker` as the project name.

It minimizes confusion that way.

[2016-08-04 13:25] jeffwidman commented on #333
Redirect is now in place, so this issue has been fixed.

[2016-08-04 13:25] #333 closed

[2016-08-04 13:39] jeffwidman commented on #372
#373 needs to be merged first...

[2016-08-04 13:45] jeffwidman commented on #363
+1 for dropping 2.6. Anyone who wants to stay on 2.6 at this point is most likely just maintaining an app and not writing something new, so they can just use an old version of `faker`.

[2016-08-04 13:46] jeffwidman commented on #367
Possible dupe of #363

[2016-08-04 13:52] adamchainz commented on #367
Most likely is a dupe. Try a random generator that's not backed by a dictionary (you'll have to read the source to find one).

[2016-08-04 14:50] #364 closed

[2016-08-05 08:35] iAndriy opened #375 "faker dk_DK person provider data contains leading whitespaces"

[2016-08-05 14:11] #375 closed

[2016-08-05 14:20] fcurella commented on #372
It's done, thanks for pointing it out :)

[2016-08-05 14:20] #372 closed

[2016-08-17 10:29] IlyaSemenov commented on #367
It works for me in 0.6.0 on Python 3.5. Always returning the same names.

[2016-09-05 16:05] fcurella commented on #331
Note for future self:

- [ ] submit PR with updated requirements to FactoryBoy
- [ ] submit PR with updated reqs to Hypothesis

[2016-09-07 09:36] felixhummel commented on #367
Just for future reference (workaround until #363 is fixed):
[code]

See also https://docs.python.org/3.3/using/cmdline.html#cmdoption-R for what changed since 3.3.

[2016-09-08 17:47] jeffwidman commented on #331
@fcurella I'm a maintainer on FactoryBoy and happy to merge this.

Long term, we've got a goal to get rid of some our random code stuff in favor of faker plugins.

[2016-09-09 22:34] fcurella commented on #363
I think this might have been fixed in #384. Leaving this open for now in case I've missined something. I will close next week is there's nothing wrong

[2016-09-11 20:30] adamchainz commented on #363
Awesome, thanks for the tedious PR. I started on one but there were so many dicts to convert, then I was away for a bit. One thing my local changes make is to ban `dict`s in `random_element` and only allow `OrderedDict`s, see #385.

[2016-09-11 20:39] adamchainz commented on #367
Try now after #384 ?

[2016-09-16 04:03] folz commented on #331
Happy September 15, 2016 :) Didn't notice a warning when installing/using fake-factory so figured I'd bump this thread.

[2016-09-16 05:21] fcurella commented on #331
@deepthawtz I need you to give me maintainer access to the PyPI package. Can you add `curella.org` under 'roles' ?

[2016-09-16 17:07] deepthawtz commented on #331
done, thank you

On Thu, Sep 15, 2016 at 10:21 PM, Flavio Curella <notifications@github.com>
wrote:

[2016-09-16 18:46] fcurella commented on #331
Thanks @deepthawtz

I've uploaded`Faker` on PyPI. To help with telling them apart, I'm keeping them at slight different version, with `Faker` always one patch version number higher than `fake-factory`.

* `Faker` is currently `v0.7.3`
* `fake-factory` is at `v0.7.2`

The only difference between the two codebase is the package name in `setup.py`.

[2016-09-16 18:46] #331 closed

[2016-09-16 20:37] jeffwidman commented on #331
Is there a plan to eventually no longer update the `fake-factory` namespace? It just creates extra work for the maintainers long term... maybe make it so the final release of `fake-factory` throws a runtime warning saying that the package location has moved...

[2016-09-16 20:56] fcurella commented on #331
@jeffwidman  The plan is to replace `fake-factory` with an 'empty' package that just prints out a message pointing to `Faker` on December 15th. I have no desire to keep two slighlty different branches and packages in sync for longer than 90 days

[2016-09-17 00:31] folz commented on #331
It might be a good idea to start throwing a quiet warning now (like
Django's PendingDeprecationWarninan and switch to a loud warning a month or
two before (DeprecationWarning) so that people who don't actively seek out
GH issues will be aware this change is happening. December 15 is near
Christmas break and I'd hate to see this namechange keep Ops folks from
their vacation.

On Fri, Sep 16, 2016,

[2016-09-19 11:56] michael-k opened #388 "0.7.3 on PyPI + missing Changelog"
1. https://pypi.python.org/pypi/fake-factory does not link to https://pypi.python.org/pypi/Faker.  The only hint that the name changed is `pip install Faker`.

2. There is no changelog after `0.6.1 - TBD`.

[2016-09-20 15:35] fcurella commented on #331
@folz I've tried `warnings.warn()` but it wouldn't print out the message when installing with `pip`, so I had to resort to `print()`

The Dec 15th deadline was decided so to give people 90 days to notice and switch. I don't want to keep maintaining both packages any longer, but I also want to give people enough time. Dec 15th is ~9 days from Christmas break, I'd think it's  far enough.

[2016-09-20 16:35] fcurella commented on #388
Fixed in https://github.com/joke2k/faker/commit/367cf6170f44478bb59c16745a48f12572854773 and https://github.com/joke2k/faker/commit/afa51017f9fdf29e1ae4f3c208aee193aeca1561

[2016-09-20 16:35] #388 closed

[2016-09-23 12:58] aluminiumgeek commented on #332
Please reopen the issue. I still get this error, even if installing Faker from `master`. The traceback is exactly the same as in original post.

[2016-09-23 16:41] fcurella commented on #332
@aluminiumgeek can you provide a snippet of code that triggers the error, so I can try to reproduce?

[2016-09-26 13:19] item4 opened #393 "Rep. of Korea use 5-digit postcode"
Long time a go, Korea used `###--###` format zipcode.
[But since 2015-07-31, 96% of sender in Korea use 5-digit postcode(note: it is korean news article)](http://weekly.khan.co.kr/khnm.html?mode=view&code=114&artid=201608161714581)

I want to make PR for changing from `###-###` to `#####`, but I mind old-style zipcode user.

If I was maintainer of this project, I will provide `length` parameter li

[2016-09-28 21:02] fcurella commented on #393
Hi @item4

do the two differnet standards have different names? In that case I'd rather use the standard name (via a constant) rather than the length

[2016-10-03 14:41] item4 commented on #393
@fcurella I'll research it soon

[2016-10-03 15:35] csjnl opened #396 "Issue with large interval - date_time_between"
Hello,
I have noticed that **date_time_between** seems to have when start_date is far away in the past.

`date_of_birth = factory.LazyAttribute(lambda o: fake.date_time_between(start_date='-46y', end_date='-14y', tzinfo=tzinfo))`

works fine,
but

`date_of_birth = factory.LazyAttribute(lambda o: fake.date_time_between(start_date='-47y', end_date=**'-14y'**, tzinfo=tzinfo))`

leads to errors:

 `da

[2016-10-03 15:37] fcurella commented on #331
@deepthawtz could you grant me or @joke2k the 'owner' role on PyPI?

[2016-10-03 16:08] deepthawtz commented on #331
done

On Mon, Oct 3, 2016 at 8:37 AM, Flavio Curella <notifications@github.com>
wrote:

[2016-10-03 16:14] fcurella commented on #331
Thanks!

I've removed @deepthawtz from the roles, added @joke2k as owner, and
reverted myself to maintainer.

On Mon, Oct 3, 2016 at 11:08 AM, Dylan Clendenin <notifications@github.com>
wrote:

[2016-10-03 22:31] janthony opened #397 "Create a username"
A username assosicated with the fake name would be useful

[2016-10-04 08:58] item4 commented on #393
@fcurella I had research and check with goverment department.

Reference: [Official Confirmation Prividing that Old and New Addresses are Identical (warn: cert error)](https://www.juso.go.kr/addridentity/AddrIdentityHelp.htm) (thanks to @minieetea to help)

Korea has two address and postal code system.

### Address

- Address based on land parcel numbers (`지번 주소`, OLD, but someone use consistently

[2016-10-04 14:57] fcurella commented on #393
Thank you @item4 :)

Could you include this explanation as the docstring for the provider class in #398?

[2016-10-05 06:05] item4 commented on #393
@fcurella I will.

[2016-10-05 17:41] item4 opened #399 "Decrease binary dummy length"
`fake.binary(length=1048576)` generate too huge binary data but it is useless at docs build time.

I tested two case, 1048576 and 1024.

[code]

Does docs really need 1048576 length binary?

[2016-10-05 18:23] #393 closed

[2016-10-06 20:54] vema commented on #397
In provider/internet there is a method for generating a username. Try it on the commandline with 'faker user_name'.
Does that cover what you need or do you have other requirements?

[2016-10-07 14:57] Benjamin-Setzer opened #401 "pyfloat cant have 0 as digits"
fake.pyfloat(0, 2, True)
-> 851420.54

But I expected: 0.XX

the code is as follows:
@classmethod
def pyfloat(cls, left_digits=None, right_digits=None, positive=False):
    left_digits = left_digits or cls.random_int(1, sys.float_info.dig)
    right_digits = right_digits or cls.random_int(0, sys.float_info.dig - left_digits)

compare to random_number:
@classmethod
def random_number(cls, digits=Non

[2016-10-12 02:44] janthony commented on #397
Yes that covers my requirement. Thanks.

[2016-10-12 02:44] #397 closed

[2016-10-19 11:14] htgoebel opened #408 "Tests: OverflowError on i686 and mips64el"
test_date_time_this_period and test_date_time_this_period_with_tzinfo fail on i686 and mips64el. For details please see
- http://hydra.gnu.org/build/1542859 (i686)
- http://hydra.gnu.org/build/1542830 (mips64el)
- http://hydra.gnu.org/build/1542764 (x86_64, passing)

[code]

[2016-11-03 07:40] navyad commented on #152
@joke2k  if resolved, this can be closed.

[2016-11-03 10:37] #152 closed

[2016-11-09 12:40] mfussenegger opened #421 "name provider is a lot slower than e.g. word provider"
Not sure if this is of interested, but I've noticed that the name provider is significantly slower than other providers. Which seems kind of odd:

[code]

[code]

[2016-11-18 00:46] NathanWailes commented on #408
http://stackoverflow.com/questions/2518706/python-mktime-overflow-error
https://docs.python.org/2/library/time.html#time.mktime
"The earliest date for which it can generate a time is platform-dependent."

[2016-11-18 03:52] jonzsi opened #426 "ImportError"
Any ideas why i am getting ImportError when trying to use Faker? Blow is the error dump.

[code]

[2016-11-20 12:05] dszmaj opened #427 "[pl-PL] Django model factory don't provide all methods"
I can't use all methods for pl locale for ex.
[code]
it throws that object doesn't have that, and dir() shows that it's true, but i see that provider has this implemented so there is a problem with proxying that

[2016-11-24 12:22] jchildren commented on #421
I might be wrong, but I think this is because `faker.utils.distribution.choice_provider` takes linear time due to comprehensions for the cumulative distribution function used to normalize probabilities. If probabilities were normalized in advance (or assumed to be normalised), it would be significantly faster but I can see the advantage in not assuming this for flexibility.

It might be possible t

[2016-12-01 15:05] chrisspen opened #429 "Remove duplicate PyPI registration"
I noticed this package appears to be registered twice on PyPI, under different names.

https://pypi.python.org/pypi/fake-factory
https://pypi.python.org/pypi/Faker

Is this on purpose? One appears to be slightly out-of-date, but otherwise, they refer to the identical github. I was using fake-factory at first, and when I found a bug, I stumbled across Faker, where the bug had already been fixed, bu

[2016-12-01 15:20] fcurella commented on #429
We are in the process of transitioning from `fake-factory` to `Faker`, and we plan to remove `fake-factory` later this month. See #331

The repos are supposed to be in sync, except for the version number. What bug are you referring to?

[2016-12-01 17:44] chrisspen commented on #429
A datetime provider was generating an invalid month for November, but I see that's since been fixed.

[2016-12-01 17:44] #429 closed

[2016-12-06 09:57] KarimJedda commented on #332
This is not reproducible when using a virtualenv.
Tried both python setup.py install ad pip install faker in fresh venv's and it worked.

Maybe include a pip freeze as well? Some library could be somehow intefering..

[2016-12-07 15:52] whit537 commented on #332
Are you sure that's the variable? Does it fail for you if you use your system Python on the same system that you're trying with a virtualenv?

From @EnTeQuAk's comments above it sounds like the problem is with locales. I have not yet reproduced this problem locally, but we are seeing it at Travis, which I believe has limited locales installed (cf. https://github.com/travis-ci/travis-ci/issues/2598

[2016-12-07 17:44] whit537 commented on #332
I've [confirmed](https://github.com/gratipay/gratipay.com/pull/4224#issuecomment-265513919) that the failure is attended by a wild `en_US` submodule appearing in `faker/providers/`. Nothing jumps out at me [in 0.5.4](https://github.com/joke2k/faker/compare/v0.5.3...v0.5.4) to suggest why the behavior was introduced there. Hmm ...

[2016-12-07 17:54] fcurella commented on #332
@whit537 I don't see any `en_US` module in `faker/providers/` https://github.com/joke2k/faker/tree/v0.7.3/faker/providers

[2016-12-07 18:47] whit537 commented on #332
Using Travis's caching feature with `env/lib/python2.7/site-packages` [seems](https://github.com/gratipay/gratipay.com/pull/4224#issuecomment-265521291) to be a consistent predictor of failure in our environment. But ... what the h*ck to do with Travis caching is creating the additional files in `faker/providers/`? :thinking:

![screen shot 2016-12-07 at 1 45 43 pm](https://cloud.githubusercontent

[2016-12-07 19:20] whit537 commented on #332
Okay! I think I figured it out: Travis [has](https://docs.travis-ci.com/user/caching/#Fetching-and-storing-caches) layered caching.

My hypothesis is that one of the cache layers had an old library layout with the rogue files in place. Installing the new version over the old resulted in both sets of files being present. This hypothesis is confirmed in that [clearing](https://docs.travis-ci.com/use

[2016-12-09 22:11] deogracia opened #432 "Error in running faker tests"
Hi,

I use ```Python 3.5.2```.

I downloaded v0.7.3 archive from GH.

When I ran ``` python3 setup.py test```, I get a Fail; when I run ```python3 -m unittest -v faker.tests```, I get 'OK'

Did I do something the wrong way, since ipaddress is required for python 2.x or python 3.2?

Here's the full output

[code]

[code]

[2016-12-16 16:27] fcurella commented on #47
the package name is officially `Faker`

[2016-12-16 16:27] #47 closed

[2016-12-17 07:08] felixonmars opened #433 "Missing git tags for 0.7.4 and 0.7.5"
It would be nice to keep PyPI releases and git tags in sync :)

[2016-12-17 16:38] fcurella commented on #433
Sorry about that, shouldn't happen again.

Fixed in https://github.com/joke2k/faker/commit/db029952f80fd338ba831487744bf10b27c3b8ff

[2016-12-17 16:38] #433 closed

[2016-12-19 19:49] wyattanderson opened #434 "Published packages include docs/ as a module"
The published wheel and sdist on PyPI for at least version 0.7.5 include `docs/__init__.py` as a top-level module in addition to `faker`. This conflicts with some other packages we use (PyICU) and seems like bad package hygiene, especially since the `docs` dir in this repository is definitely not a module. My guess is that a `__init__.py` made it in there on the maintainer's machine before running

[2016-12-19 20:03] fcurella commented on #434
Thank you @wyattanderson .

I've created #435 to fix setup.py. Once the CI passes, I'll get it merged in and make a new release

[2016-12-19 20:47] michaelgmiller commented on #434
Woohoo! Seems to have passed CR. Thanks for looking at this so quickly!

[2016-12-19 21:23] #434 closed

[2016-12-19 21:28] fcurella commented on #434
Faker 0.7.6 relased on PyPI: https://pypi.python.org/pypi/Faker/0.7.6

[2016-12-24 08:59] kotyara1005 opened #438 "Add a Russian language to color provider"
I will make it.

[2016-12-26 05:03] Surgo opened #442 "Is 9999.9.9 intended version number?"
https://pypi.python.org/pypi/fake-factory

[2016-12-26 05:04] #442 closed

[2016-12-27 17:24] maran0206 opened #444 "random_number(digits=10)) generates number lesser than 10 digits sometimes"
I used random_number(digits=10)) to generate 1000 random numbers and saved them in an excel. But I could able to see some numbers have only 7-9 digits in them.
My code:
`import faker
import xlwt

data = faker.Faker()

wk = xlwt.Workbook()
ws = wk.add_sheet("sheet1")

for i in range(0,1000):
    ws.write(i,0,data.first_name())
    ws.write(i,1,data.last_name())
    ws.write(i,2,data.email())
    ws

[2016-12-27 17:28] fcurella commented on #444
Hi @maran0206

that's expected. The `digits` parameter of `random_number` controls the maximum amount of digits. See the docstring for the method: https://github.com/joke2k/faker/blob/master/faker/providers/__init__.py#L77

[2016-12-27 17:42] maran0206 commented on #444
I have an use case where i have to provide exact 10 digits to an input box. Is there any way to do so? Is it possible to use phone number with 10 digit format?

[2016-12-27 18:07] maran0206 commented on #444
Hi #fcurella

I found a way to overcome this, PFB the code which works like charm.

from random import randint

def random_with_N_digits(n):
    range_start = 10**(n-1)
    range_end = (10**n)-1
    return randint(range_start, range_end)

for i in range(0,100):
    print random_with_N_digits(10)

[2017-01-03 11:52] jchildren commented on #421
As a point of interest, I tried out using `random.choices` from python 3.6 in place of `choice_distribution` and found that it was a few times faster with the same benchmark. Obviously this is to be expected given that `random.choices` is implemented in c, but is it worth adding the option to use `random.choices` instead if running python 3.6?

with random.choices
[code]
without
[code]

I'm not su

[2017-01-25 21:05] riturajtiwari opened #448 "Add Indian English Locale"
A fair amount of electronic activity in India is done in English, but with Indian names, etc. This issue is to add and Indian English locale.

[2017-01-27 16:23] stephane opened #450 "Documentation about Factory Boy"
The Factory Boy and Faker documentations don't provide the same way to use Faker in Factory Boy.

http://factoryboy.readthedocs.io/en/latest/reference.html#faker

vs

https://faker.readthedocs.io/en/master/#how-to-use-with-factory-boy

A link to Factory Boy will be great too.

[2017-01-27 18:51] #450 closed

[2017-01-27 18:52] fcurella commented on #450
@stephane I've updated the docs and added a link, let me know if there's anything else I can do :)

[2017-01-27 19:55] stephane commented on #450
That was quick (see related #451).

[2017-01-27 19:57] stephane commented on #448
@riturajtiwari If you don't provide the Indian English locale I don't see why this issue is useful?

[2017-01-27 19:58] stephane commented on #444
@fcurella could be closed...

[2017-01-27 19:59] stephane commented on #438
@kotyara1005 always on it?

[2017-01-27 20:02] stephane commented on #432
Error catched by Travis too

[2017-01-27 20:05] stephane commented on #427
Yes (and it's not related to Django,) I think the documentation must warn about this limitation, when a translation doesn't provide a faker there is not fallback to the English one.

[2017-01-27 20:14] stephane opened #453 "Two entry points: Factory vs Faker"
I think it will be clearer to have a single way to create a `fake` instance.

[code]

VS

[code]

I propose to deprecate the `Factory` class to remove it in future releases.

PS: why Faker isn't a proper class (Generator)?

[2017-01-27 21:58] riturajtiwari commented on #448
Hi Stephane:
I created this issue so I could contribute some things from that locale.

Thanks.
-Raj

[2017-01-27 22:28] fcurella commented on #444
fixed in a58490a7228b2ad4deb2f68f9dc60754e4eba64a

[2017-01-27 22:28] #444 closed

[2017-01-27 22:33] fcurella commented on #453
@stephane I'm not the original author, so I don't really have an answer.

@joke2k can you shed some light?

[2017-01-27 22:35] fcurella commented on #432
I tried to look into this but I couldn't figure out, and family commitments are preventing me from spending more time. If anyone can figure this out and submit a PR it would be great!

[2017-01-28 11:45] kotyara1005 commented on #438
It's done:
https://github.com/joke2k/faker/pull/439

[2017-01-28 14:56] fcurella commented on #438
fixed in 71471d60323f42594420b832eb21f23cd9b89583

[2017-01-28 14:56] #438 closed

[2017-01-28 22:13] brianmay opened #454 "tests fail on 32 bit platforms"
Such as i386.

See https://bugs.debian.org/849652

[code]

[2017-02-02 10:21] hvdklauw opened #455 "Faker generated an invalid email address for nl_NL"
It generated: chloëbriere@hotmail.com

The ë isn't allowed in the local part according to the spec but it is a valid ascii character so the ascii conversion isn't enough to fix this issue.

[2017-02-10 21:20] olegpidsadnyi opened #456 "EAN-13 starting with 0"
ean13 function generates codes starting with zeroes.

According to http://www.barcodeisland.com/ean13.phtml ean13 has to duplicate the leading zero.
So basically UPC-A code "075678164125" in ean13 form should be "0075678164125".

[2017-02-12 04:46] alexanderwhatley opened #457 "Create fake product name."
Does Faker have the ability to create fake product names right now? If not, this definitely seems like something you should include.

[2017-02-15 23:37] chhabrakadabra opened #459 "Support for non-ascii fake data while maintaining readability for english speakers"
**tl;dr;** I'd like to be able to run my test suite with non-ascii test data, while not using characters that most devs in the team can't read and words that most can't pronounce. The objective is to detect encoding errors in the code, while maintaining readability.

In the Bitbucket test suite, we use a [similar library](https://bitbucket.org/bitbucket/fakedata) (to faker) to generate the fake da

[2017-02-15 23:43] chhabrakadabra commented on #459
I just wanted to drop an example of a Python session with the proposed changes to better illustrate what I'm getting at:

[code]

[2017-02-16 18:12] akotulu opened #460 "Windows 10 fake.date OSError: [Errno 22] Invalid argument"
I'm generating 30000+ date entries on Windows and get a crash with traceback
[code]
Python 3.6 64bit, Windows 10 64bit
[code]

Found on Stackoverflow

[2017-02-18 23:51] chrisvoncsefalvay commented on #457
I have an algorithm for realistic sounding fake product names for four genres:

- apps (Prototronix, Futurex, Prokit)
- medications (Volvinex, Subarctone, Temexpera, Serocate)
- FMCG (Sudex, Prelox, Masic)
- 'traditional' (Uncle Ray's, Old Billie Walt's, Crab Creek)

Interested?

[2017-02-19 04:12] alexanderwhatley commented on #457
That would be awesome.

[2017-02-19 05:07] reverbc commented on #432
Hi @fcurella , I've done some experiments and found out remove `faker/tests/__init__.py:5` can run the tests via `python3 setup.py test` without problem. I also ran it without that line in python 2.7 and no problem occurred. I suspect it might has something to do with `__loader__ = None` overrides the behavior of built-in variable.

The line was added in commit [Fixed tests on PyPy3](https://githu

[2017-02-20 22:24] chrisvoncsefalvay commented on #457
@alexanderwhatley OK, I'll get onto it this week. 📦

[2017-02-21 15:24] fcurella commented on #426
Hi @jonzsi ,

sorry for the late reply. Is this still happening?

[2017-02-21 15:25] fcurella commented on #454
duple of 0f #408

[2017-02-21 15:52] #432 closed

[2017-02-21 20:43] jonzsi commented on #426
No, seems to work.

[2017-02-21 20:43] #426 closed

[2017-02-24 16:35] mbakke opened #467 "random_state.json missing in pypi release"
Running the tests from a pypi release results in this error:

[code]

[2017-02-24 16:54] #467 closed

[2017-02-24 16:55] fcurella commented on #467
Thank you for the report. This should be fixed on the next release

[2017-02-24 21:09] mbakke commented on #467
Thanks for the swift response! However, it seems `tests/__init.py__` is now missing in the pypi 0.7.8 release. Is that intentional? :)

[2017-02-26 13:34] jorti opened #468 "Test installed to /usr/lib/python3.6/site-packages/tests/"
Why are the tests now installed to /usr/lib/python3.6/site-packages/tests/ ? are they a new package called "tests"? it looks wrong to me.

[2017-02-26 14:59] fcurella commented on #468
I've moved them to a separate package, but I've also excluded it from 'find_packages', so I don't know exactly what's going on

[2017-02-26 16:36] #468 closed

[2017-02-26 16:40] fcurella commented on #468
Thanks @jorti , should be fixed on 0.7.9

[2017-02-27 14:42] barseghyanartur opened #469 "Add ISBN support"
Please, add [ISBN](https://en.wikipedia.org/wiki/International_Standard_Book_Number) support.

[2017-02-27 15:44] fcurella commented on #469
Hi @barseghyanartur ,

I think that would be a useful addition. Feel free to submit a Pull Request! :)

[2017-03-01 16:42] #459 closed

[2017-03-02 13:03] grantbachman commented on #469
Is it okay if I work on this one? Never done OSS work before but I've been looking for a project to which I can contribute, and faker looks like a great way to get started!

[2017-03-02 15:39] fcurella commented on #469
@grantbachman Absolutely! Thank you so much for volunteering :)

If you have any question, don't hesitate to ask :)

[2017-03-06 15:27] grantbachman commented on #469
Hey @fcurella I have basic ISBN-10/ISBN-13 number support working, meaning I can generate basic 10/13 digit numbers that meet the ISBN-10/13 check digit requirements. However things start to get complicated when we talk about hyphenating these numbers (e.g. turning `9783161484100` into `978-3-16-148410-0`). Doing this requires referencing the [ISBN rules](https://www.isbn-international.org/range_f

[2017-03-06 15:49] fcurella commented on #469
@grantbachman Thank you! I think we can start with just `en_US`. We can always add more countries later, if any requests come in.

[2017-03-08 21:59] thiagofigueiro opened #470 "Community providers page is blank"
https://faker.readthedocs.io/en/latest/communityproviders.html

Is it intentionally blank?

If so, what is the process to add a provider to this page?  I'd be happy to update the documentation and submit a PR.

[2017-03-08 22:01] fcurella commented on #470
hi @thiagofigueiro

it's blank because nobody has added their provider yet :)

The process is simple: just open a PR that adds your project to that table.

[2017-03-09 02:20] thiagofigueiro commented on #470
That is a great reason :-)

Does it need to be my project?  I've tested these guys and they work as advertised:

https://pypi.python.org/pypi/faker_extras
https://pypi.python.org/pypi/faker_cinema

I'm happy to include them otherwise feel free to close this.

[2017-03-09 15:40] fcurella commented on #470
Preferably. I wouldn't necessarily assume the authors want to be included.

I would either ask them to submit a PR, or ask them permission for you to open it on their behalf.

[2017-03-11 02:12] grantbachman commented on #469
What's the policy on closing issues? Should this be closed right away because it was merged or do we wait a period before doing so?

[2017-03-11 02:21] grantbachman opened #474 "Improve README for Google?"
When I search for this repo on Google, the large ASCII logo gets lumped into the description. For visibility's sake would we want to consider removing this logo, turning it into an image, or moving it down the README so it's not the very first thing listed?

My search results:
<img width="661" alt="screen shot 2017-03-10 at 9 13 36 pm" src="https://cloud.githubusercontent.com/assets/499564/2381961

[2017-03-11 15:17] fcurella commented on #469
This should be closed upon merge. Thanks @grantbachman for reminding me

[2017-03-11 15:17] #469 closed

[2017-03-11 16:16] fcurella commented on #474
Nice catch, I haven't thought of that!

I would say let's move it down, right above the CI badges (~ L17) should do :)

[2017-03-11 23:40] grantbachman opened #476 "Break up tests by provider instead of by language"
Looking through the tests directory, I see that the tests are mainly broken up by language. To me, this isn't very discoverable in that I have no idea what's actually under test in each of those directories. Would it make more sense to break them up by their individual functions?

For instance, something like this:
[code]

[2017-03-13 11:18] sblondon opened #478 "isbn10 and isbn13 do not work when downloaded from pypi.python.org"
Hello,

the methods isbn10() and isbn13() raise an AttributeError when called from a virtualenv. It's because the faker/providers/isbn/ directory is not embedded in the library. When the code is executed from a cloned repository, it works because the directory exists.
I guess that setuptools.find_packages() does not find it so it's not included when the library is built.

Examples:
When the code i

[2017-03-13 14:44] kevin-brown commented on #474
It looks like it was handled in #475 and can be closed.

[2017-03-13 14:45] #474 closed

[2017-03-13 14:49] fcurella commented on #478
The last published version on PyPI is v0.7.9, which did not include the ISBN provider yet.

I'll release a new version be EOD

[2017-03-13 14:49] #478 closed

[2017-03-13 14:51] fcurella commented on #476
yes, it would make more sense to break them down. I meant to do that, but haven't had the chance yet.

[2017-03-13 15:58] grantbachman commented on #476
I can handle it. I quite enjoy mucking with tests :) I can get started tonight.

[2017-03-14 12:49] sblondon commented on #478
It works perfectly. Thanks!

[2017-03-17 14:23] J535D165 opened #484 "Not possible to seed uuid4"
It is not possible to seed the uuid4 property.

[code]

The solution is pretty much given in:
http://stackoverflow.com/questions/41186818/how-to-generate-a-random-uuid-which-is-reproducible-with-a-seed-in-python

[2017-03-17 15:53] fcurella commented on #484
Thank you for the report, good catch!

Would you mind submit a Pull Request?

[2017-03-18 00:15] #476 closed

[2017-03-18 21:50] J535D165 commented on #349
This would be nice. Very nice actually.

[2017-03-19 08:37] J535D165 commented on #484
The same issue for ``Faker.binary()``.

I am working on a unit test for the seeding part. But there is another issue that needs a fix first.

[2017-03-19 08:45] J535D165 opened #487 "country_code found in address and misc provider"
``Faker.country_code`` is found twice in the providers (misc and address).

https://github.com/joke2k/faker/blob/master/faker/providers/misc/__init__.py#L137
https://github.com/joke2k/faker/blob/master/faker/providers/address/__init__.py#L85

Only one of them is used now (which one?). One should be removed.

This issue causes problems in making a unit test for #484.

[2017-03-20 17:18] fcurella commented on #484
Closed in #486

@J535D165 can you open a separate issue for seeding `.binary()`?

[2017-03-20 17:19] fcurella commented on #487
let's keep the one in `address`

[2017-03-20 17:20] fcurella commented on #484
reopened so I can close it when we have tests

[2017-03-20 17:29] kevin-brown commented on #484
It was [mentioned on Stack Overflow](http://stackoverflow.com/q/41186818/359284#comment69574045_41186895), but the patch [doesn't guarantee](https://en.wikipedia.org/wiki/Universally_unique_identifier#Version_4_.28random.29) that the generated UUID is version 4 (which is what `uuid4` generates).

[2017-03-20 20:01] J535D165 commented on #484
@kevin-brown I do agree that this is not a valid uuid4. Nevertheless, the format is UUID (32 alphanumeric characters and four hyphens). So I don't think there is an issue.

[2017-03-20 20:03] fcurella commented on #484
@J535D165 @kevin-brown the method is called `uuid4`, not `uuid`, so I think users might expect to get a valid `uuid4` after all.

That said, I"m still not sure if there is a way that we can fix it, or that we should. If python's `uuid4` doesn't return an uuid4 under some conditions, wouldn't this a bug in Python?

[2017-03-20 20:06] J535D165 opened #488 "Not possible to seed .binary()"
It is not possible to seed the method ``binary`` (see also issue #484)

[code]

[2017-03-20 20:38] #487 closed

[2017-03-20 20:53] kevin-brown commented on #484
It's not that Python's `uuid4` doesn't return a UUIDv4 identifier, it's that the pull request which added the ability to seed `uuid4` in Faker does not always generate a valid UUIDv4 identifier.

[2017-03-20 21:11] J535D165 commented on #484
@kevin-brown Do you know how to make it valid?

Is it correct that you can't see a difference between an (incorrect) UUID4 in Faker and a valid UUID4?

[2017-03-20 23:34] kevin-brown commented on #484
That is not correct. And 15/16 times it will produce a UUID that is not version 4.

[code]

There are a total of 8 bits that must be set manually in order for it to be properly detected as a UUIDv4.

[code]

[2017-03-22 23:13] grantbachman commented on #456
From reading the text, it says EAN-13 is a superset of UPC-A, and that EAN-13 codes with a leading 0 are also valid UPC-A codes. Are you saying `ean13()` shouldn't be generating codes that are also valid UPC-A?

[2017-03-23 08:29] olegpidsadnyi commented on #456
I'm not sure. Why I was confused is that the ean-13 that starts with 0 and rendered with the js barcode library is not being read entirely with the zxing scanning library. Somehow it strips the last (or the first,  don't remember exactly) character.
This is how I found out there are UPC-A codes.
Currently I'm working around this in my factories and trying to avoid codes that begin with 0 at all.

[2017-03-23 15:00] chrisvoncsefalvay opened #490 "Improve accuracy of hu_HU generators"
The Hungarian 🇭🇺 generator (`hu_HU`) exhibits some anomalies:

- Domains and e-mail addresses, which derive their content from the first and last name generators, contain accents. In general, it is uncommon for Hungarian domains to contain accents, and in most cases, these are simply outright skipped.
- Fake month names are capitalised. In Hungarian, month names are non-capitalised.
- Name in cred

[2017-03-23 16:58] grantbachman commented on #456
That site says that the first two digits of EAN-13s can be anything from 00-13. I also checked a few against a [validator](https://www.getnewidentity.com/validate-ean.php) I found online. Doesn't look like there's anything wrong with leading 0's in an EAN-13. It sounds like an issue with the js library you're using.

[2017-03-23 17:05] olegpidsadnyi commented on #456
Here: http://www.barcodeisland.com/ean13.phtml
Number System: The number system consists of two digits (sometimes three digits) which identify the country (or economic region) numbering authority which assigned the manufacturer code. Any number system which starts with the digit 0 is a UPC-A bar code.

I tried few online generators and android barcode scanners. They all expect 00 when the code is

[2017-03-27 18:36] ghost opened #491 "pt_BR email not returning valid email addresses"
When creating a fake Factory with the pt_BR it is not returning valid email addresses.
Example:
[code]

[2017-03-28 20:28] J535D165 commented on #491
Same kind of issue as #455. It's not a country/language specific issue.

[2017-04-05 21:32] eukreign opened #492 "REGRESSION: Test installed to /usr/lib/python3.6/site-packages/tests/"
Not sure if the bug was just not fixed previously or if this is a regression of #468 (which was supposedly fixed in 0.7.9).

When installing faker from pypi I end up with two copies of the `tests` directory, one inside of `faker` and the other globally installed (aka. poop in town square):

[code]

[code]

[code]

When removing faker (just to confirm that the two tests directories where in fact in

[2017-04-06 17:33] diegommarino opened #493 "Add a file path provider"
In the file providers would be nice to have a file_path provider who would return a path like ```/lorem/ipsum/lorem.pdf```.

[2017-04-09 08:54] #493 closed

[2017-04-09 09:23] #492 closed

[2017-04-09 09:24] fcurella commented on #492
@eukreign I've got a fix, but I don't know of a good way to test it in travis. Could you work on a PR?

[2017-04-10 01:03] timsavage commented on #399
I agree, does nothing except make docs load really slowly.

[2017-04-11 15:15] eukreign commented on #492
Thanks for looking into this problem. Unfortunately, I won't have time to work on any pull requests. I don't personally use this project, it was just a dependency installed by another package.

[2017-04-22 13:29] Newman101 commented on #490
Hi. Thanks for the feedback! I'm running some tests today and we'll see what can be improved. =)

[2017-04-23 00:20] thiagofigueiro opened #505 "Allow subdomains in domain_name()"
Sometimes it's useful to test domain names that contain subdomains.  Currently, domain_name() can only return domain names composed of domain_word + . + domain_tld.

I propose to modify domain name to accept an optional parameter to specify the domain depth.  Example:
[code]

[2017-04-23 11:18] michaelvilensky commented on #484
I think we should revert the pull request to return the original functionality for `uuid4` as it currently breaks things.
For seed support another method can be added: `uuid` or `uuid_seed` which will implement the pull request logic: `str(uuid.UUID(int=random.getrandbits(128)))`

[2017-04-23 11:26] J535D165 commented on #484
Let's revert it or use the version proposed by Kevin.

But can you explain me what breaks?

[2017-04-27 09:27] Newman101 commented on #490
```fake.company_suffix()``` returns now Hungarian results.

[2017-04-27 13:40] fcurella commented on #490
Closed By #504

[2017-04-27 13:41] fcurella commented on #490
reopening, all other Hungarian providers still have the mentioned issues

[2017-04-29 17:43] Newman101 commented on #490
Accents have been removed from domains and e-mail addresses.

[2017-05-04 12:32] paternal commented on #491
Although it is generally not advised to have "weird" characters in email address, they are not forbidden by the specification (see for instance [this](https://davidcel.is/posts/stop-validating-email-addresses-with-regex/) or [that](https://en.wikipedia.org/wiki/Email_address#Local-part)).

However, this is so rare and unsupported by a lot of platforms that faker should probably generate only ascii

[2017-05-09 20:14] Newman101 commented on #490
Months + days of the week implemented.

[2017-05-10 10:18] Bergil32 opened #511 "Using É, é (e-acute) in emails."
It looks that É, é (e-acute) symbols are not appropriate for valid email. I used https://pypi.python.org/pypi/robotframework-faker/ which uses this library and the following email was returned:
andré38@mentzel.net

But email verification was failed for this email.
Could you remove É, é and other such letters if they are present from valid email generation?

[2017-05-10 14:15] fcurella commented on #511
Thanks for the report @Bergil32 .

What version of faker are you using and what locale is having this problem?

[2017-05-10 14:36] Bergil32 commented on #511
robotframework-faker 4.0.0 that uses Faler 0.7.11
It was detected for de_DE locale.

[2017-05-10 15:10] fcurella commented on #511
The `É` and the `é` are missing from https://github.com/joke2k/faker/blob/master/faker/providers/internet/de_DE/__init__.py#L14

@Bergil32 Can you submit a PR with the appropriate replacements?

[2017-05-10 16:35] #511 closed

[2017-05-10 16:42] Bergil32 commented on #511
@fcurella thanks

[2017-05-16 18:17] Newman101 commented on #490
Task list:

- [x] E-mail addresses and domains
- [x] Month names
- [ ] Credit card generator
- [ ] Capitalize street addresses
- [ ] Capitalize addresses with a country
- [ ] Localize colors
- [x] Localize fake.company_suffix()
- [ ] Localize fake.bs() and fake.catch_phrase()
- [ ] Localize fake.street_address_with_county()
- [ ] Localize fake.currency_code()
- [ ] Localize fake.isbn()
- [ ] Local

[2017-05-16 18:44] Newman101 opened #513 "Possible bug in datetime"
Hi.

Looks like one of the unit tests is randomly failing:

[code]

If needed, I can have a look at this issue.

Thanks.

[2017-05-16 18:59] fcurella commented on #513
Thanks for the report @Newman101 . If you have time to look into, I'd definitely appreciate it :)

[2017-05-24 13:57] BLCKPSTV opened #516 "Adding locale in python script"
Where or how do I add the -l flag with the locale in a python script!? In the terminal command I get how it works but the same doesn't work for the python script way.

Anybody care to explain how this is done or how approach this?

[2017-05-24 20:32] fcurella commented on #516
Hi @BLCKPSTV ,

To explicitly set the local on the provider, you create an instance of factory with the locale string that you want:

[code]
see: https://faker.readthedocs.io/en/latest/#localization

[2017-05-25 12:34] BLCKPSTV commented on #516
Thanks!

I have following questions and not sure where else to ask them, because these are not issue's but more guidance question. I'll ask them any way and maybe they can be used as supplement example on the pypi page.

1. When fake.profile(fields=None, sex=None) => where does fields stand for? And second If I change sex in to Female or Male it gives me an error `NameError: name 'Female' is not d

[2017-05-25 14:30] fcurella commented on #516
1. the `fields` argument can be a list of strings of the fields you want. Valid values are any of the keys you see in the docs for the returned object (eg `['address', 'birthday', 'blood_group']`. The only valid values for `sex` are `'M'` or `'F'`

2. I'm not sure what you mean by 'aligned'. What you get back is a `dict`, not some string.

3. `dict`s are unsorted in python. To create a `dict` that

[2017-05-26 14:45] zgoda opened #517 "Invalid gender spec in pl_PL"
[code]

"pani" is female but "Mateusz" is male surname.

[2017-05-26 16:03] fcurella commented on #517
we need to split the prefixes in the `pl_PL` person provider by sex, and adjust the `formats` accordingly, so that we have `{{prefix_male}} {{first_name_male}} {{last_name_male}}` and `{{prefix_female}} {{first_name_female}} {{last_name_female}}`

refs:
* https://github.com/joke2k/faker/blob/master/faker/providers/person/pl_PL/__init__.py#L522
* https://github.com/joke2k/faker/blob/master/faker/pr

[2017-05-29 07:00] zgoda commented on #517
Yes, wait a sec.

[2017-05-30 08:18] BLCKPSTV commented on #516
awesome!! thanks!

Last following question, I don't get (after reading documention twice) where the romanized name method should go. Is this in the factory create? And this only works for jp_Jp or also for Persian?

[2017-05-30 08:42] BLCKPSTV commented on #516
Nevermind! Found it! :)

[2017-05-30 08:42] #516 closed

[2017-05-30 12:37] Newman101 commented on #490
@chrisvoncsefalvay: I am not native Hungarian speaker so I need some assistance. Can you point me to a decent source of colours in Hungarian language please?

Thank you.

[2017-05-30 14:24] #517 closed

[2017-06-01 09:36] mhubig opened #525 "python providers should use value_types as a keyword argument"
Some of the python providers use a slightly unusual function call signature like this:

[code]
This leads to some usage problems with factory_boy (https://github.com/FactoryBoy/factory_boy/issues/387).

IMHO it would be much more convenient to be able to call the python providers with `value_types` as a keyword argument like so:

[code]

I know this would introduce a braking change to the python p

[2017-06-07 15:02] fcurella commented on #513
Closed in #524

[2017-06-07 15:02] #513 closed

[2017-06-07 15:46] #399 closed

[2017-06-10 05:08] felixonmars opened #532 "Timezone tests failed in 0.7.16 release"
[code]

The machine is using UTC+8 locale.

[2017-06-12 20:37] #532 closed

[2017-06-16 00:03] kungfu71186 commented on #460
Python bug: https://bugs.python.org/issue29097

I suggest using timedelta instead.

where seconds is generated randomly
(datetime(1970, 1, 1) + timedelta(seconds=timestamp)).strftime('%Y%m%d%H%M%S')

[2017-06-16 00:40] kungfu71186 commented on #396
#534

[2017-06-16 06:09] kungfu71186 commented on #456
https://github.com/Redth/ZXing.Net.Mobile/issues/70

Seems to be an issue with the library. But this is also an issue in the implementation of ean13 in real world. Some scanners don't support leading 0s and mark it as UPC code.

Maybe add a flag to not generate any codes that start with 0, but default allow it

[2017-06-16 06:29] kungfu71186 commented on #525
Looks like it's already implemented. Unless I'm misunderstanding

[2017-06-16 14:54] fcurella commented on #396
Closed by #534

[2017-06-16 14:54] #396 closed

[2017-06-16 15:03] fcurella commented on #460
Closed by #534

[2017-06-16 15:03] #460 closed

[2017-06-16 16:04] kungfu71186 commented on #455
This issue lies because persons allows for special characters, but there is no localization for nl_NL for emails.

Encoding and Decoding is pretty difficult as well, although python 3 makes it a bit easier.

It looks like for dutch you can have:
 ä, ë, ï, ö, ü  and possibly acutes Éé	Èè but not sure

We can create a mapping for those at least. Not sure of any others

[2017-06-16 21:58] #488 closed

[2017-06-16 22:02] #470 closed

[2017-06-21 19:21] kungfu71186 commented on #484
Kevins solution appears to work properly. @kevin-brown can you create a pull request, I don't see any currently to update this.

[2017-06-22 16:57] swilcox opened #541 "hu_HU name provider has a bug in one of the female name formats"
When randomly generating female names, it's possible to get output that includes the text `{{last_name})}` as part of the output. The extra `)` is causing the problem.

I am preparing a PR for this issue.

[2017-06-22 17:51] fcurella commented on #541
Closed by #542

[2017-06-22 17:51] #541 closed

[2017-06-26 19:38] swilcox opened #544 "sv_SE Swedish provider does not handle gender specific first names"
This provider does not have gender specific first names.

PR coming with properly attributed source data.

[2017-06-29 15:10] swilcox commented on #544
fixed by PR #545

[2017-06-29 15:10] #544 closed

[2017-07-06 22:10] brianmay opened #547 "Problems running tests"
According to the ``README.rst`` this should work:

[code]

It doesn't. Also this should work:

[code]

EDIT: Sorry, I need to wake up. Edited back original report.

[2017-07-07 07:37] brianmay commented on #547
That second error might actually be my fault, I may not have ``email_validator`` installed. Will confirm when I am more awake and have slightly more time:

[code]

[2017-07-07 08:55] joke2k commented on #547
Hi @brianmay,
to solve the second error you have to install the `tests/requirements.txt` in your virtualenv.

I can't reproduce the first one. Probably installing the requirements.txt it will resolve..

[2017-07-07 09:07] joke2k commented on #525
Hi @mhubig, it seems reasonable.
To handle the backcompatibility we could use some signature like that:
[code]
Combining `values_types` and `allowed_types` carefully.

[2017-07-07 09:13] joke2k commented on #505
Implemented in #506

[2017-07-07 09:13] #505 closed

[2017-07-07 09:23] joke2k commented on #453
At the begining Faker class doesn't exists.
I had only Factory and Generators. Then I introduce the Faker shortcut for Factory.create.
Nothing special.

I'm agree to deprecate the Factory class in favor of new Faker class.

@stephane care about Faker, it isn't a Generator class but a shortcut for static method `Factory.create`

[2017-07-07 10:37] brianmay commented on #547
I will continue to investigate the first one from my end. Will close this ticket for now.

[2017-07-07 10:37] #547 closed

[2017-07-07 15:40] fcurella commented on #453
I'm a little worried about breaking backward compatibility with 3rd party libraries.

If we deprecate `Factory`, it should be done gradually. First we raise a warning, then we deprecate later on a major release.

[2017-07-09 08:39] catleeball commented on #421
@jchildren an alternative to hasattr might be using sys.version_info. You could do something like:

[code]

There might be a cleaner way, but I've used this solution in the past and it worked fine.

[2017-07-09 23:20] michaelkunc opened #550 "Fake Part Numbers, Names & Descriptions"
Is there any interest in adding fake part numbers, names and descriptions? I could see this used for seeding product tables. Examples:
 `fake.part_number()`
`# MHP-17854623`

`fake.part_name()`
`# MOSFET Oscillator`

`fake.part_description()`
`# Electrical Coil Sensor DC Block Type`

I recently had a project where I had to seed a product table, and I'd be happy to do a PR.

[2017-07-10 01:23] catleeball commented on #421
Started dinking with this a bit ago, tried something like this:

[code]

But it gets caught on this unit test:

[code]

I'll probably keep playing with this later. I think I might have misunderstood how the current choice_distribution works, will have to read it more closely when I have a minute. Let me know if you spot whatever silly mistake I'm making. :)

[2017-07-10 15:08] fcurella commented on #550
I'm not sure about `part_name` and `description`, since they could be already achieved with `words()`. I can see a common enough case for `part_number`, but I don't think there's enough of a common _format_ for it.

I'd rather see the `pystr()` method extended to accept a `format` parameter, so you could call `Faker.pystr(format='???-#####')`

[2017-07-11 10:11] jchildren commented on #421
@catleeball it seems you just need to change `cum_weights` to `weights` and the test passes. This logic was done by `cdf = list(cumsum(p))` in the current implementation, but the `choices` function can do this for us!

I think this could probably be submitted as a pull request now?

[2017-07-11 16:25] catleeball commented on #421
Ah, thanks for the tip @jchildren ! I just made PR #553 for this bug.

[2017-07-11 18:52] jchildren commented on #421
After trying it again it seems that the test seems to still occasionally fail, so that doesn't fix the problem but I think `weights` is still correct.

[2017-07-16 04:07] catleeball commented on #421
Weirdly, switching to using `hasattr()` made unit tests and the pipeline happy, and it's faster to boot.

[2017-07-17 09:41] VanDavv opened #556 "AttributeError: module 'faker.providers.en_US' has no attribute 'Provider'"
I started using faker in my project in python 3.6 and it works fine.
Problem is, when I want to use it from python console, here's my log:
[code]
pip freeze shows that I have `Faker==0.7.17`. I'm using running on python `3.6.1` in `Ubuntu 17.04`

[2017-07-17 17:12] fcurella commented on #556
Hi @VanDavv , I've tested using a container with Ubuntu 17.04 and python 3.6.1 and it's working for me. What are your locale settings?

[2017-07-17 18:13] VanDavv commented on #556
[code]

[2017-07-20 06:51] VanDavv commented on #556
@fcurella It also works for me on docker, but I want to run my code without it

[2017-07-20 14:11] fcurella commented on #556
@VanDavv I'm having trouble reproducing this issue. Can you check if it's still happening on the new `0.7.18` release?

[2017-07-21 10:55] VanDavv commented on #556
@fcurella nope, `0.7.18` fixed this issue, thanks ;)

[2017-07-21 10:55] #556 closed

[2017-07-24 03:45] nipponaihito opened #562 "Factory doesn't import"
`from faker import Factory` doesn't work. It says 'Cannot import Factory'. Looking at __init.py__ in the package I see `from faker.factory import Factory` to import the class. So I try that and I get `Cannot import Generator`. Changing `factory.py` to have `from faker.generator import Generator` allows the import to go through. The documentation doesn't appear to state this is neccessary.

[2017-07-24 15:18] fcurella commented on #562
Hi @nipponaihito

Is `from faker import Faker()` working for you? And what version of `Faker` are you using?

[2017-07-31 15:05] kungfu71186 opened #563 "date_time issues - Windows only?"
Could possibly be windows only. Need to debug further, but it seems like this is the windows bug where if a timestamp is generated within the first day after 1970, then there is an error. This happens anywhere when using timestamp. Will investigate further, but opening an issue to not forget.

Hard to reproduce, but you can do datetime.fromtimestamp(0) and get an error, anything above 86400, is fi

[2017-08-01 01:02] aljp opened #564 "Include faker-e164 in community providers"
[I've written a provider specifically for generating E164 formatted phone numbers](https://github.com/crowdcomms/faker-e164) called faker-e164.

I intend on building out more faker providers for different phone number formats, and potentially consolidate those providers down the line).

Two questions:
 - Would you like to include this in your community providers?
 - Do you have any changes you'd r

[2017-08-02 07:47] robkorv opened #565 "Can `Cornelia Jaceps-Coreth von und zu Coredo und Starkenberg` be deleted from `person/nl_NL`"
https://github.com/joke2k/faker/blob/03684c9659c423f689918c0054a923771f097c8f/faker/providers/person/nl_NL/__init__.py#L119 This name is absurdly long and German.... not Dutch.

Would you guys accept a pull request where this one is deleted?

[2017-08-02 08:48] vema commented on #565
Hello Robbert,

Interesting question. It  hints to "what is person/nl_NL used for" in
testdata (or what is the purpose of language dependent providers from
faker). Does it represent people living in the Netherlands, born in the
Netherlands, staying in the Netherlands? Or is it purely a collection of
Dutch names?

The testdata I'm using is more of the first category. I'm perfectly happy
to include

[2017-08-02 09:06] robkorv commented on #565
I expect a realistic test set.

I started this issue because faker was giving me that ridiculous non dutch long name and judging from the other languages they don't have a out off place name like that.

Removing that long name will make it better test set.

[2017-08-02 09:20] vema commented on #565
It depends on what you define as realistic. Does this test set represent
people *living* in the Netherlands or is it just a *collection* of Dutch
names?

If e.g., we include family names of Dutch nobles like 'von Hompesch-Rürich
<https://nl.wikipedia.org/wiki/Von_Hompesch-R%C3%BCrich>' or 'de
Preud'homme d'Hailly de Nieuport
<https://nl.wikipedia.org/wiki/De_Preud%27homme_d%27Hailly_de_Nieuport>'

[2017-08-02 09:49] robkorv commented on #565
Can you answer my first question?
I did not expect that I would be the one to judge what this repo considers a good test set.

I don't want to make that decision, I started this issue to point it out as I'm using it for testing dutch user input and I'm dutch.

When I look at the other languages like:
* https://github.com/joke2k/faker/blob/master/faker/providers/person/ko_KR/__init__.py
* https://g

[2017-08-02 17:25] fcurella commented on #565
Bearing in mind that the concept of country is fuzzy and doesn't always match the concept of locale (eg: what geographical area exactly is `it_CH`), the datasets are meant to represent a statistaclly realistic set of people living in a Country.

That means that a name shouldn't be included just because someone famous lives there. Ideally, we'd like every list to be from an official governmental st

[2017-08-02 20:41] vema commented on #565
The closest I can find for the Netherlands is this site:
http://cbg.nl/bronnen/cbg-familienamen/
It contains approx 320.000 Dutch family names (and Coreth von und zu Coredo
und Starkenberg is not one of them). I'm assuming that data from UWV or
civil registration is not openly available ...

For what it is worth:
- the family name Coreth zu Coredo und Starkenberg
<https://de.wikipedia.org/wiki/Cor

[2017-08-03 07:04] robkorv commented on #565
Ok, I look into it this weekend. I think these will be a good source:
https://www.svb.nl/int/nl/kindernamen/artikelen/top_3_achternamen/
https://www.svb.nl/int/nl/kindernamen/artikelen/zoeknaam/jongensnamen/jongens_populariteit.jsp
https://www.svb.nl/int/nl/kindernamen/artikelen/zoeknaam/meisjesnamen/meisjes_populariteit.jsp
http://www.cbgfamilienamen.nl/nfb/

[2017-08-04 17:38] alltheoptions commented on #45
+1

[2017-08-04 18:01] ndbradley730 opened #566 "Cannot seed datetime generator"
The faker lib allows you to seed Python's `random` instance, and the expected result is that all faker calls will have deterministic results every time the code is run. But the datetime generator relies on the `unix_time()` method, which drifts based on the current time:
[code]
The usage of time() as the end date means that datetime results change over time, even if random has been seeded.

I sugg

[2017-08-05 01:08] dodysw commented on #159
Interested on this also -- it's been 3 years...

[2017-08-05 20:48] an-oreo commented on #563
Ran into same issue for the datetime.fromtimestamp() function on windows. after poking about I think its due to the Cpython implemetation using  what looks to be a windows specific function call for the C localtime() function.
https://github.com/python/cpython/blob/c90e96015085784df86632b26059b19c80cbfc97/Python/pytime.c#L793

MS documentation
https://msdn.microsoft.com/en-us/library/a442x3ye.aspx

[2017-08-07 14:23] fcurella commented on #159
@dodysw It's been 3 years and we haven't received any PR for it yet. Could you prepare one?

[2017-08-07 16:32] fcurella commented on #564
Something I'd change is making it a localized provider for all locales in the region that you support, which means resolving the `region_code` argument based on the local and removing it from the provider's API.

[2017-08-07 16:34] fcurella commented on #491
I would accept a PR, if anybody is willing to work on it

[2017-08-07 16:36] fcurella commented on #401
close by #428

[2017-08-07 16:36] #401 closed

[2017-08-07 18:24] #45 closed

[2017-08-07 19:14] Benjamin-Setzer commented on #401
Thank you

[2017-08-08 15:06] dodysw commented on #159
I could invest some hours for this.

Is there a expectation for this PR? e.g. what's the input, what's the output?

Currently I have  a simple implementation that generates x number of random datetime(s) between two datetimes that follows a normal distribution. These list of datetimes then can be iterated as one of attribute or input to the the actual time series data generator.

The post above me

[2017-08-08 20:40] vema commented on #159
Don't know yet if I can help, but I'm sure interested.

One PR is certainly not enough. Referring to '[The Cathedral and the Bazaar](https://en.wikipedia.org/wiki/The_Cathedral_and_the_Bazaar)', lesson 7: **Release early. Release often. And listen to your customers**
The other lessons are great for inspiration also ...

[2017-08-08 20:49] fcurella commented on #159
What should the output be? just a list of `datetime`s?

[2017-08-08 21:22] vema commented on #159
I would prefer an iterable list instead of a 'simple' list. The applications I have in mind often need to augment (or combine) the series with other data. That way, it's easy to add more data to the items in the series.

E.g. a dateseries that represents number of (simulated) visitors of a museum/airport/... at a given moment.

[2017-08-08 22:21] fcurella commented on #159
I'm thinking of a method with this signature:
[code]

`distribution` will be the function generating the values. `precision` is basically 'how often you want a datapoint'.

For example:
[code]

The output could be an iterable of tuples, something like:
[code]

[2017-08-09 01:22] reverbc commented on #349
Hi @fcurella, I'm working on this issue as current wrong behavior impacts me, but it occurs to me that in order to make `random` obj per-Generator, we might have to change _**all**_ of the class methods under `Provider` (and its sub-classes) to instance methods so they can benefit from the `self.generator` var set in `BaseProvider` ( https://github.com/joke2k/faker/blob/master/faker/providers/__in

[2017-08-09 07:30] vema commented on #159
That seems very workable. My idea was to have a 'class' with an initializer where you could set (most) of the parameters and then have a method to generate the series. That was closer aligned to the idea description in the blog. But I don't object to your suggestion at all. First thing is to have something workable, then we can fine-tune.

[2017-08-09 16:29] reverbc commented on #349
Yes the APIs will still be the same with my proposed changes. I did ran the unit tests for ssn module and manually verify the results to make sure it won't break any existing behaviors.

I will send the PR once the work is done. Hopefully not taking too long to reduce the effort of merging other changes.

[2017-08-09 16:41] fcurella commented on #159
I've got a draft working, let me know if there's anything wrong that jumps to your eye

https://gist.github.com/fcurella/8316c3a27c322eb0e02c3d4714de15c6

[2017-08-09 20:37] vema commented on #159
Looks all fine to me. Good job.

[2017-08-09 21:42] #159 closed

[2017-08-10 04:45] narendranani opened #569 "AttributeError: module 'faker.providers' has no attribute '__file__'"
I converted my python code to .exe using cx_Freeze. While opening my .exe file I am getting this error.

Traceback (most recent call last):
  File "C:\Program Files\Python36\lib\site-packages\cx_Freeze\initscripts\__startup__.py", line 14, in run
    module.run()
  File "C:\Program Files\Python36\lib\site-packages\cx_Freeze\initscripts\Console.py", line 26, in run
    exec(code, m.__dict__)
  File

[2017-08-10 15:13] fcurella commented on #569
Hi @narendranani

Can you try the `freeze` branch (https://github.com/joke2k/faker/tree/freeze) and tell me if the fix in there is working?

[2017-08-16 07:07] narendranani commented on #569
Hi @fcurella

Thank you for quick response and sorry I didn't get you that what and where I have implement that logic.

[2017-08-25 12:08] jiming opened #579 "Add more command line example please?"
1. I wanted to generate a csv content but not work
`faker -r 30 -s ',' name,address`

2. Can I use random_element like this?
`faker -r 30 -s ',' random_element('a','b','c')`

3. Add command options like this:
`faker --list-providers`

Have a nice day!

Jiming

[2017-08-28 21:16] cvetkoff commented on #562
same problem. `from faker import Faker()` doesn't work too. Faker version 0.7.18

[2017-08-28 21:34] fcurella commented on #562
@cvetkoff could you check if it still happens on `v0.8.0`?

If so, I need more info about your environment, because I can't get to reproduce the error. In particular, I need to know OS and locale.

[2017-08-29 04:38] clarmso commented on #491
@fcurella I am tempted to work on a PR addressing this issue.  Would slugify from faker/utils/text.py be the proper place to tackle?

[2017-08-29 10:25] cvetkoff commented on #562
Yes, first environment on my iOS app Pythonista, the same problem (v.0.8.0) and on my Mac OS Sierra Python 3.6 both locale RU, UTF8

[2017-08-29 13:26] fcurella commented on #491
@clarmso thank you for volunteering! What's needed is a 'replacements' attribute on the provider, such as in https://github.com/joke2k/faker/blob/master/faker/providers/internet/fr_FR/__init__.py#L12

Could you also add the same to pt_PT? I would assume they would need the same replacements

[2017-08-29 16:13] blokfyuh opened #581 "Method randomize_nb_elements can generate 0"
Hi everyone,

Just to let you know that the method **_randomize_nb_elements_** of the BaseProvider is implemented in a way that it can returns 0 (e.g. if the randint is below 100), but this method is called from the **_sentence_** method of the LoremProvider which will break if the randomized number of elements is 0. Because it will try to generate a sentence of 0 word and access the first element

[2017-08-30 15:32] ahmedaljazzar opened #584 "Unittests command line problem."
Hello,
I'm trying to run the tests using `python -m unittest -v tests` but it run no test:
[code]

While if I tried to run them using `python setup.py test` it ran 129 tests.
[code]

I wonder if I missed something while running tests using the first command. Thanks.

[2017-08-30 15:37] fcurella commented on #584
@ahmedaljazzar you'll need to use `python -m unittest -v`, but that still would not discover all test because they're not named correctly. I'll push a fix for that.

[2017-08-30 15:56] ahmedaljazzar commented on #584
Thanks @fcurella :D

[2017-08-31 08:38] sp-1234 opened #586 "Reproducibility of results broken between Faker-0.7.18 and (Faker-0.8.0, 0.8.7)"
Faker-0.8.0 and Faker-0.7.18 generate different values when given the same `random` source.

Is the deterministic generation a goal of the project or not? I assumed that it is before… because the README specifically says that it's useful for unit testing, which is how I use it.

[2017-08-31 08:48] sp-1234 commented on #586
Hmm, it's probably because `random` was renamed to `__random` in the generator…

[2017-08-31 09:15] sp-1234 commented on #586
Seems like the `text()` generator is the offender.

I tested this code under Python 3.6.2:
[code]

Output with Faker 0.7.18:
[code]

Output with Faker 0.8.0:
[code]

Note that everything starts to diverge after number of words in first sentence got different.

Can you please roll back the formula used for default text generation? Or at least promise to not change it again in the future?

[2017-08-31 09:26] sp-1234 commented on #586
Found the culprit, it's in this commit https://github.com/joke2k/faker/commit/04f697a90df185ef8d7b2730c8e0fcab4096aeb3
Can you please roll back this change? Or it's somehow necessary to do this breaking change?

[2017-08-31 14:59] fcurella commented on #586
Hi @sp-1234

I've published `v0.8.1` as an emergency release with rolls back 04f697a.

That commit fixes an incorrect behaviour, so it will need to go in eventually. I'm investigating the best way to do it.

[2017-08-31 15:01] blokfyuh commented on #586
Hi @sp-1234,
It's funny because somehow the culprit commit you've posted is related to my issue posted few days ago #581 . Removing the "+ 1" broke things for me as well...

[2017-08-31 15:12] fcurella commented on #586
@sp-1234 @blokfyuh Could check if my solution at https://github.com/joke2k/faker/pull/587 works for your case?

[2017-08-31 15:16] blokfyuh commented on #586
Thanks @fcurella for the fix. Does your master branch is deployed to pip automatically or do I have to pip install from git ?

[2017-08-31 15:19] fcurella commented on #586
@blokfyuh it's already on pip

[2017-08-31 16:24] sp-1234 commented on #586
pip sees latest version Faker-0.8.1. Does it mean that
https://github.com/joke2k/faker/pull/587 is not available yet?

[2017-08-31 17:23] fcurella commented on #586
@sp-1234 I havent published #587 yet, since I don't have confirmation that it works, yet.

You'll have to call `pip install "git+https://github.com/joke2k/faker.git@nb-elements"`

[2017-08-31 20:21] haakenlid commented on #581
This bug broke my automated tests. A workaround is to call `sentence` with the parameter `variable_nb_words = False`.

[2017-08-31 20:26] fcurella commented on #581
@haakenlid `v0.8.1` is supposed to revert the offending change. Is it not working for you?

[2017-08-31 20:31] blokfyuh commented on #581
@haakenlid Thanks for the tips but I didn't want to change the client code.
@fcurella Yes, the rollback is working for me.

[2017-09-01 07:13] deep-42-thought commented on #408
So can you please disable the respective tests on i686?

[2017-09-01 07:43] htgoebel commented on #408
Disabling tests is a bad idea since it covers problems.

The bug is caused by [this line](https://github.com/joke2k/faker/blob/v0.7.2/faker/providers/date_time/__init__.py#L382) creating a value which not accepted at these platforms:
[code]
The same problem theoretically exists in `date_time_this_decade()` with `next_decade()` for the case the tests are run near the end of the supported year-range

[2017-09-01 07:45] htgoebel commented on #408
`datetime.MAXYEAR` is the same as `datetime.date.max.year`. You may prefer this

[2017-09-01 07:49] htgoebel commented on #408
Oh, well, this might analysis might be wrong: `MAXYEAR` [is defined to be 9999](https://docs.python.org/2/library/datetime.html#datetime.MAXYEAR).

[2017-09-01 14:37] fcurella commented on #408
I can switch behavior for 32bit system to something like solution suggested by @htgoebel. What sould the max year be on 32bit systems?

[2017-09-01 15:56] htgoebel commented on #408
Depending this on 32-bit is dangerous and wrong: [mips64el is 64-bit](https://en.wikipedia.org/wiki/MIPS_architecture#MIPS32.2FMIPS64).

I'm afraid you need to have a deeper look into your code to find out where you query the boundary.

[2017-09-01 21:27] adamchainz commented on #586
Just came on to say I also noticed the reproducibility break whilst upgrading my pytest plugin for reproducible random unit test runs, in adamchainz/pytest-randomly#72 . I don't think it's too much of a problem if you break reproducibility, but it should probably be considered semver major.

[2017-09-01 21:49] reverbc commented on #586
Sorry for causing this reproducibility issue, but IMHO, I believe faker user should not hard-coded the generated random value in their code.

The random value after seeding should be consistent within the same version, i.e. when user uses faker v0.7.18, every time he/she invokes the same code it should provide the same result, and v0.8.0 does provide this consistency.

It's possible for contributo

[2017-09-01 21:53] fcurella commented on #586
I think #587 fixes the issue retaining backwards compatibility. Can any of you @sp-1234 @blokfyuh @haakenlid or @adamchainz try it out?

[2017-09-01 22:13] blokfyuh commented on #586
@fcurella In your fixes #587, you forgot to add the keyword argument min=1 when calling randomize_nb_elements in then sentence method:

        if variable_nb_words:
            nb_words = self.randomize_nb_elements(nb_words, **_min=1_**)

        words = self.words(nb=nb_words, ext_word_list=ext_word_list)
        words[0] = words[0].title()

[2017-09-01 22:15] adamchainz commented on #586
Actually @reverbc, you're right, consistency within the same version of faker is the most important. The tests for my plugin for tests just get this problem because they're on the meta level, I guess I should expect that.

[2017-09-01 22:16] fcurella commented on #586
@blokfyuh nice catch! but let's keep the code review on #587

[2017-09-01 22:19] fcurella commented on #586
if the only problem with #587 is consistency, I think it should be ok to merge it and issue a new major version.

[2017-09-01 22:19] blokfyuh commented on #586
Yep, you're right, sorry for that. I don't have a lot of experience regarding Github processes.

[2017-09-04 20:51] adamchainz opened #591 "Reseed code broke in 0.8 unnecessarily"
Commit ea4f189bbff1925d7a7e2d7cbc6e91e2e8a9a3f3 changed the name of the `random.Random()` object in `faker.generator` from `random` to `mod_random`, re-exposing the `random` module as the name `faker.generator.random`. This broke code like:

[code]

which is basically what my `pytest-randomly` plugin does. At first I thought this was #586 but then I saw that every run was broken. The failure is si

[2017-09-04 20:59] adamchainz commented on #586
What I thought here was just a reproducibility change was actually a bug in the API of how to re-seed faker, as per #591 . So no worries about reproducibility per se from me.

[2017-09-04 21:35] fcurella commented on #591
@adamchainz I don't think we ever documented such way to seed Faker.

That said, if we can fix it the issue and keep the functionality, we should do the rename. More importantly, if Faker.generator.random is to be relied on, it should be documented somewhere

[2017-09-04 23:39] guykisel commented on #591
I actually used similar behavior that seems to have broken in 0.8.0 at https://github.com/guykisel/robotframework-faker/blob/master/robotframework-faker/FakerLibrary/keywords.py#L55-L56

For now I've just pinned to <0.8.0 but I was planning to poke around and see how to fix compatibility between my wrapper and 0.8.0.

[2017-09-05 14:36] #591 closed

[2017-09-05 14:38] adamchainz opened #593 "Make docs use an RST include"
As noted in #592 , `docs/index.rst` is basically a duplicate of `README.rst` with some headers/footers. It should be turned into an RST inline include, after checking it's 100% identical.

[2017-09-05 15:32] fcurella commented on #591
@adamchainz @guykisel FYI I've released `v0.8.3`, which includes #592

[2017-09-05 15:43] guykisel commented on #591
@fcurella thank you <3

[2017-09-05 15:45] adamchainz commented on #591
🎉 thanks🚀

[2017-09-11 08:55] sp-1234 commented on #586
0.8.3 seems to be fine, maybe it's time to close this

[2017-09-12 01:37] dvdmgl commented on #491
@clarmso @fcurella also can make a PR

Found this bug in my tests, last place that i checked was Faker, a lot of time wasted...
my 2 cents, escape all latin1 https://unicodelookup.com/#latin
[code]

[2017-09-12 18:45] patrickporto opened #595 "MSISDN provider"
I wish to add support for MSISDN.

Example on `pt_BR`:
[code]

**Reference:**
* https://en.wikipedia.org/wiki/MSISDN

[2017-09-12 18:48] fmondaini commented on #595
It would be very useful to have this provider built in the library. I work with @patrickporto and we already use this example @patrickporto mentioned on our applications.

[2017-09-14 14:50] fcurella commented on #595
Sounds good to me :) Feel free to add it to the `phone_number` provider

[2017-09-15 14:15] swizzard opened #601 "Lorempixel images requested over http"
Image urls from lorempixel are `http`, causing unnecessary security warnings when served from `https` pages.

![lorempixel](https://user-images.githubusercontent.com/1909918/30486431-23cb42dc-99f6-11e7-8307-665bdd06b207.png)

Earliest known version: 0.7.18

[2017-09-17 15:00] shahar4499 opened #603 "Feature Request: Fake Binary Content"
Let's say I want to write unit tests for my web service that has a file upload feature.
It would be great if I can fake random binary content of popular binary file types, especially images and documents, like:

- *.jpg
- *.pdf
- *.doc/docx

I think image uploading is probably the most common type of uploaded binary content, so it may be a good place to start.

**Why would someone need this?**
Thi

[2017-09-17 15:14] shahar4499 commented on #603
There's a couple of code samples I found to get an idea of how we can accomplish this for **images**.
These depend on [Pillow ](https://pypi.python.org/pypi/Pillow/3.0.0)(a fork of [Python Image Library](https://pypi.python.org/pypi/PIL) which has better support and an easier API).

- [random-image](https://github.com/tephyr/random-image)
- some [stackoverflow answer](https://stackoverflow.com/a/1

[2017-09-19 22:02] fcurella commented on #563
Closed By #604

[2017-09-19 22:02] #563 closed

[2017-09-19 22:03] kungfu71186 commented on #566
@fcurella Was this fixed? I went to go test this right now, when seeding I seem to get the same expected value.

`import unittest

class SeedTimeTestCase(unittest.TestCase):
    def test_seed_time(self):
        from time import time
        import random

        for _ in range(100):
            seedint = random.randint(0,123456789)
            random.seed(seedint)
            prev = random.randi

[2017-09-19 22:07] fcurella commented on #566
@kungfu71186 i dont think it's fixed. I'm still waiting on a PR to add the requested feature

[2017-09-19 22:12] fcurella commented on #566
@kungfu71186 I think the issue is that the range of `randint` increments by 1 every second. Try putting a `time.sleep(1)` somewhere in the loop

[2017-09-19 22:24] kungfu71186 commented on #566
I see now. It's has to be way more than a second. for instance

[code]

will be the same output.

Ok, i can do a PR for this

[2017-09-20 00:38] kungfoome opened #607 "timedelta can't set explicit time"
https://github.com/joke2k/faker/blob/1cbb8b0dd9854254c65dab86dc95b7cc8b112a74/faker/providers/date_time/__init__.py#L373

A few things from this.
1. I would have expected it to be in seconds and not days by default.
2. I can't override the behavior to set an explicit delta. Meaning, I can't parse something like '434323s' if I wanted to.

I would at least propose to switch it to seconds by default

[2017-09-20 14:50] fcurella commented on #607
@kungfu71186 https://github.com/joke2k/faker/blob/1cbb8b0dd9854254c65dab86dc95b7cc8b112a74/faker/providers/date_time/__init__.py#L370

this line should be able to parse a string `'434323s'`. Isn't it working?

[2017-09-20 15:49] #595 closed

[2017-09-20 21:09] kungfu71186 commented on #607
Let me try again. I thought I had.

[2017-09-22 17:31] jezdez opened #608 "Stop hardcoding email_validator==1.0.2 requirement"

[2017-09-22 19:45] #608 closed

[2017-09-22 19:53] fcurella commented on #608
@jezdez fixed in `v0.8.4`. Already uploaded to PyPI.

[2017-09-25 17:55] jezdez commented on #608
@fcurella Thank you!

[2017-09-29 08:57] robkorv opened #612 "dutch safe_email contains non-email characters"
I get `daniël34@example.com` as value, which doesn't validate as an email address.

A solution like https://github.com/joke2k/faker/pull/509 would be cool.

[2017-09-29 15:08] fcurella commented on #612
Thanks @robkorv ! Feel free to submit a PR for the `nl_NL` internet provider. You can just follow what it's in #509

[2017-09-29 17:39] bijanvakili opened #613 "date_time.time_series() output does not include bounds as described"
The `date_time.time_series` provider's comments indicate [here](https://github.com/joke2k/faker/blob/master/faker/providers/date_time/__init__.py#L706) that:

[code]

However, the [generator's loop](https://github.com/joke2k/faker/blob/master/faker/providers/date_time/__init__.py#L727) skips the start interval because it increments first.

[code]

@fcurella

[2017-09-29 23:46] glassresistor commented on #332
I'm getting this trying to run it on AWS lambda as well.

[2017-10-02 16:52] #601 closed

[2017-10-13 15:19] Ehmed-kino opened #622 "Uk mobile number"
It seems like the uk mobile number is not in the right format
it's completely not valid
some examples of them:
+44(0)9128 405119
(01414) 35336
01231052134

[2017-10-13 15:33] fcurella commented on #622
Hi @Ehmed-kino , thank you for reporting this.

Could you submit a PR with the correct formats?

[2017-10-13 17:04] #566 closed

[2017-10-13 17:05] #581 closed

[2017-10-13 17:29] fcurella commented on #613
closed by #614

[2017-10-13 17:29] #613 closed

[2017-10-13 17:30] fcurella commented on #612
should be fixed by #609.

[2017-10-13 17:30] #612 closed

[2017-10-15 09:41] quapka opened #625 "Locales for cs_CZ fake.name_male() shows a female name"
Looking at the very last example [here](https://faker.readthedocs.io/en/latest/locales/cs_CZ.html#faker-providers-misc). The name is actually a female name.

[code]

[2017-10-15 18:10] jacobbudin commented on #622
On second thought, #626 may not "fix" this issue since `cellphone_number` was previously unimplemented for `en_GB`. I may have misunderstood by assuming `cellphone_number` "defaults" to `phone_number` in some interfaces.

[2017-10-16 14:26] fcurella commented on #625
Thank you for the report @quapka ! could you submit a PR to fix the issue?

[2017-10-16 16:20] quapka commented on #625
Yes I can, I did no have time at the moment of writing this issue.

[2017-10-16 17:22] richardowen opened #628 "Unidecode dependency GPL license"
In commit adc1b1b a dependency on the Unidecode python package was introduced.

Unidecode is released under the GPL license while Faker is using MIT. I'm concerned that this might not be permitted by the GPL license and that users of the Faker library might not realise they are introducing GPL code into their dependencies. It could be argued that any code using the Faker library now has to be lice

[2017-10-16 19:02] #628 closed

[2017-10-16 19:05] fcurella commented on #628
Thanks for the report @richardowen .

I've switched to `text-unidecode` (which is licensed under the Artistic License), and release a new version of `Faker`

[2017-10-17 15:16] tushariyer opened #633 "Installing on macOS High Sierra"
Running `pip install Faker` results in the following:
[code]

[2017-10-17 15:34] fcurella commented on #633
hi @tushariyer

From the stacktrace, looks like a permission issue on your system. I don't recommend installing on the system Python, and I'd suggest using `virtualenv`. But if you have to, check the permissions of `/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python` nad make sure it's writable by your current user.

[2017-10-19 15:21] #622 closed

[2017-10-22 23:27] tushariyer commented on #633
That did the trick! Thank you so much!

[2017-10-22 23:27] #633 closed

[2017-10-24 18:36] quapka commented on #625
Hmm, I've forked the code and search for the problem, but could not find it. I glimpsed over `/faker/providers/person/cs_CZ/__init__.py` and it looks alright.

It can be only a mistake in the docs maybe? I'm unsure how the
[code]

[2017-10-31 07:32] Chaaang opened #638 "MacOS 10.13 OSError: [Errno 24] Too many open files"
[code]

[2017-10-31 15:19] fcurella commented on #638
Thank you for the report @Chaaang.

Could you describe how to reproduce the error?

[2017-10-31 21:29] majuscule opened #639 "support option to force unicode in person provider data generation"
Would be very helpful to add a flag to force unicode inclusion in the output of the person provider (and likely elsewhere).

[2017-10-31 21:32] majuscule commented on #639
in the meantime a workaround is to change the locale to one that uses a unicode alphabet.

[2017-11-01 10:22] Chaaang commented on #638
May it's because of using Celery on evenlet mode. Each of my task need to generate a fake User-Agent, and the concurrency is over 200.

[2017-11-02 16:05] 153957 opened #642 "Base provider methods are documented with the address provider."
In the docs the [BaseProvider methods](https://github.com/joke2k/faker/blob/master/faker/providers/__init__.py) are grouped with the [address provider](https://github.com/joke2k/faker/blob/master/faker/providers/address/__init__.py). Here is the documentation: http://faker.readthedocs.io/en/master/providers/faker.providers.address.html

I would expect those to be in their own category, and they ha

[2017-11-03 20:04] cdaller opened #643 "IBAN/BIC Provider needed"
Has someone written an IBAN and BIC provider?
Any other people interested?

[2017-11-03 20:20] kungfu71186 commented on #643
Not really interested in the data, but I can see it being beneficial.

https://en.wikipedia.org/wiki/International_Bank_Account_Number
The IBAN consists of up to 34 alphanumeric characters, as follows:
country code using ISO 3166-1 alpha-2 – two letters,
check digits – two digits, and
Basic Bank Account Number (BBAN) – up to 30 alphanumeric characters that are country-specific.[1]

The preferred a

[2017-11-04 13:41] pjsg opened #644 "fake.bs is missing for locale ja_JP"
### Steps to reproduce

from faker import Faker
Faker('ja_JP').bs()

### Expected behavior

It should return something

### Actual behavior

It throws an exception.

I think that this ticket is less about this specific case, but more about whether the tests could find all the missing methods and then generate a report. This way I could restrict my usage of faker to those generators which exist in

[2017-11-05 14:26] robkorv commented on #565
I have looked into this. The first names are sort of current.
https://www.svb.nl/int/nl//system/js/kindernamen_jongens.json
https://www.svb.nl/int/nl//system/js/kindernamen_meisjes.json

But the last names I can't check without scraping the whole of http://www.cbgfamilienamen.nl/nfb/.
I'm not gonna do this.

[2017-11-05 14:26] #565 closed

[2017-11-06 16:32] #644 closed

[2017-11-06 18:13] fcurella commented on #643
That's a good idea, but I don't have enough time to dedicate to the implementation. Feel free to submit a PR and I'll review it :)

[2017-11-07 21:03] cdaller commented on #643
PR is on the way :-)

[2017-11-13 15:34] chrisvoncsefalvay opened #651 "Summary ticket for ``hu_HU`` provider"
Summary ticket for issues with the ``hu_HU`` provider (I'm working on a PR to fix these).

- [x] ``providers.address.street_name`` (and descendants): incorrectly capitalises street/place/etc.
- [x] ``providers.address.street_address_with_county``: does not capitalise place name
- [x] ``providers.automotive.license_plate``: seems to be the UK licence plate structure, the correct Hungarian licence p

[2017-11-14 17:40] vyshaliN opened #653 "Maintain Consistency"
Need to use Faker and create anonymized values such that it is consistent across multiple faker instances.
For example,
When the faker instance is created and generates fake values for the name "vyshali" as "George Harris".I need the same fake value to be generated when I create a faker instance.
Please help me with required methods or documentation

[2017-11-14 17:42] fcurella commented on #653
Hi @vyshaliN ,

What you need to do is seeding the generator with a constant number. Take a look at http://faker.readthedocs.io/en/master/index.html#seeding-the-generator for some example

[2017-11-14 19:50] #651 closed

[2017-11-15 04:23] vyshaliN commented on #653
hi,

Thanks for the reply.I had a look at this documentation before.If we use the constant number,the same output is obtained even when the input is changed.I don't want that to happen.

for example,if I use
faker.seed_instance(1234) and obtain output for "Vyshali" as "George Harris".
I'm getting the same output "George Harris" if I change the input as "Divya"

[2017-11-15 11:13] kungfu71186 commented on #653
This is exactly what seed is for. If you convert vyshali to an int and use that as input, you get the same output no matter what. You need to randomize the seed while keeping it constant based on input. At this point it's up to your interpretation on how to do that as no one knows what your data does or how it works. Faker has implementations to allow you to do this.

[2017-11-15 11:57] vyshaliN commented on #653
My requirement is to create some mapping between the original and the fake data i.e. only "George Harris" should be generated for the input "vyshali".I don't want to randomize the seed based on the input.How can we achieve this kind of semantic relationship using Faker across multiple instances ?

[2017-11-15 12:16] kungfu71186 commented on #653
Thats up to you on how you want to implement the mapping. But the means is there. Use the seed to set a specific seed to get expected output.

You have an input that changes. Use that for the seed.

[2017-11-15 14:28] vyshaliN commented on #653
The means is there but this is not working for dataset taken as batches and given as input for anonymization. Because I would have same output (having seed constant) for different values.So,there is no consistency maintained throughout.

[2017-11-15 14:34] kungfu71186 commented on #653
I literally gave you a way to do it. `If you convert vyshali to an int and use that as input, you get the same output no matter what.` I'll quote it again. You are taking an input, converting it to some int for the seed. I don't really know what else to say.

I have the same issue that I had to solve. I took different parameters and created a seed from that. I get expected output, while getting ra

[2017-11-15 15:53] fcurella commented on #653
@vyshaliN suppose you have the following code:

[code]
and you want to convert it to something like:

[code]

Your mapping code would look something like (assuming python3):

[code]

[2017-11-15 17:26] vyshaliN commented on #653
Awesome..thank you so much!! @fcurella and @kungfu71186

[2017-11-15 18:46] kungfu71186 commented on #653
@vyshaliN

Another solution would be something like

 sum([ord(x) for x in 'vyshaliN']) which will give you a seed number.

Or you can do something like

import hashlib
int(hashlib.md5(b'vyshaliN').hexdigest(), 16)

again, this would give you a seed you can then use.

[2017-11-16 12:36] vyshaliN opened #654 "Different results"
I have written the code for anonymization  and executing the code in Nifi using executescript processor and also running as normal python script.I'm getting different results of anonymization for both the flows even though the input is same.I have made the results of anonymization to be consistent by using seed() function.So really confused and surprised on why I'm getting different results for bo

[2017-11-16 13:30] kungfu71186 commented on #654
When you opened an issue. There should be a template. It should be something like steps to reproduce. What the expected outcome is and the actual outcome. Do you mind adding all that info in the issue? Thanks!

[2017-11-16 15:19] vyshaliN commented on #654
Cool..I have taken a dataset with three values -> name,email,ssn

Sample dataset :
Sharmila,sharmismithy@redmail.com,999-12-0000
narasimha srinivasan,narasimma_srinivasan@gmail.com,222-26-789
avyukt,vysh234@redmail.com,456-89-5678

I have used seed functionality for maintaining consistency in the results of anonymization. So,I should get same results for multiple faker instances.I'm using the anon

[2017-11-16 15:35] fcurella commented on #654
@vasilcovsky I've never used Nifi, but from a quick search looks like executescript runs in Jython, while your python script is probably CPython or PyPy.

I think you may be getting different results because of the different implementation of the `random` module in CPython vs Jython.

[2017-11-16 16:03] vyshaliN commented on #654
I just checked the random module in Jython and Python.It is more or less the same implementation.Will there be any other reasons for different results ?

[2017-11-16 23:53] kungfu71186 commented on #654
Could be something similar to this issue

https://stackoverflow.com/questions/8003460/jython-random-module-produces-different-results-to-cpython

The implementation might be similar, but you may get different results even with the same seed.

[2017-11-17 00:21] kungfu71186 commented on #654
So. After reading over the python docs. Random is not guaranteed between different versions of python. Only guarantee is that a seed with produce the same results. Now with that said, it might be possible to gaurantee a result no matter the os or version. If we write a random function ourselves, it would be the same everywhere. I would suggest if going down that route, it would simply be a way to

[2017-11-17 13:05] vyshaliN commented on #654
@kungfu71186 Thanks for your suggetion

[2017-11-21 15:41] flipvrijn opened #655 "Fake ISBN10 causes "Registrant/Publication not found""
In rare cases the `fake.isbn10` method throws an exception with the following message: `Exception: Registrant/Publication not found in registrant rule list. `

A full exception message:
[code]
### Steps to reproduce

Call `faker.providers.isbn.Provider._registrant_publication` with any of the following values for the `reg_pub` param: `64799998`, `39999999`. These values are valid randomly generate

[2017-11-22 12:39] manoadamro opened #657 "Can not sub class Faker"
Was hoping to extend the Faker class with some extra fields

### Steps to reproduce

[code]

### Expected behavior

Should either give an error saying Faker is final or allow me to sub class it

### Actual behavior

[code]

**Using Factory does not work either:**

### Steps to reproduce

[code]

### Actual behavior

[code]

[2017-11-22 22:17] fcurella commented on #332
should be fixed in #649

[2017-11-22 22:17] #332 closed

[2017-11-26 04:09] kevin-brown commented on #657
This is because `Faker` is not actually a class, instead [it's a method](https://github.com/joke2k/faker/blob/0d036eed9a3c0dc2cad5329802abc00aab702fe8/faker/__init__.py#L6). So you can't use it like a class and subclass based on it.

[2017-11-27 12:52] maxnordlund opened #660 "Option for emitting safe phone numbers only"
Hi, thanks for this lovely library. The current phone number generator emits invalid ones, as pointed out by [python-phonenumbers](https://github.com/daviddrysdale/python-phonenumbers). This is a bummer, but there's hope.

[Fake Number](https://fakenumber.org/) has a list of safe phone numbers for use as example data. It's essentially a list of numbers the telephone providers have agreed to leave

[2017-11-27 15:42] fcurella commented on #657
@manoadamro as @kevin-brown points out, `Faker` is an alias to the `create` classmethod. You'll have to use your subclass' `create` as well. Try this:

[code]

[2017-11-27 15:46] #638 closed

[2017-11-27 21:20] BLCKPSTV opened #661 "NameError: name 'args' is not defined"
I'm getting an error using the *args method.

[code]
Also can I change the **kwargs with @gmail to get random@gmail.com?

[2017-12-04 09:34] sp-1234 commented on #586
Again, 0.8.7 produces different results than 0.8.3

[2017-12-04 09:39] sp-1234 commented on #586
Can you please officially state what version is correct and stick to it in the future?

[2017-12-04 16:10] #657 closed

[2017-12-05 16:07] fcurella commented on #586
@sp-1234 Since we keep updating data in the providers pretty much at every release, we'll keep breaking the reproducibility at every release.

Maybe we should just stop using semver entirely and switch to date-based versioning.

[2017-12-05 16:09] adamchainz commented on #586
I think it's fine to use semver, just add a notice that the data inside the providers is subject to change between versions, and that the only guarantee of reproducibility is when using the same faker version.

[2017-12-19 15:49] #654 closed

[2017-12-19 15:49] #653 closed

[2017-12-19 15:53] #586 closed

[2017-12-20 15:49] quintendewilde opened #665 "Import Faker - no module"
When I run following:
[code]
command line usage gives me correct response

[code]

which python = /usr/bin/python
I did install pip with brew? Could this be a path problem? And what can I do about it ?

[2017-12-20 16:59] YannickLeRoux opened #666 "Where can I find a list of the build-in generators please ?"
Can't find a list to the full list for this python version as the php version display one first page ...

[2017-12-20 17:03] #666 closed

[2017-12-28 19:19] acdha opened #667 "past_datetime() crashes when start_date is within one second of now"
I ran into a problem while generating a bunch of fake dates where I was calling `fake.past_datetime()` with the start date using the result of a previous `fake.past_datetime()` call (simulating a bunch of files being created as part of a collection). The first call could randomly return a value which is within one second of the current time, causing the second call to trigger an exception from `ra

[2018-01-05 17:01] fcurella commented on #667
@acdha Could you provide a unit test reproducing the exception?

[2018-01-05 17:42] acdha commented on #667
It'd be slow since it's a race condition but the logic was basically this:

[code]

Looking at this a bit more, my comment above wasn't quite right – `random.randint` handles the case where it's called with the same value – but the error is the same as what I get calling `fake.past_datetime(start_date='now')` so it must have been a timing race where the first call returned within a second of the c

[2018-01-05 18:03] fcurella commented on #667
@acdha take a look at https://github.com/joke2k/faker/pull/671. The test should be close enough to the scenario you're seeing.

[2018-01-06 22:48] #667 closed

[2018-01-08 13:09] quintendewilde opened #672 "Output to .JSON format"
Is there a way to output the commandline -o to a .JSON format styled document?

[2018-01-08 15:27] fcurella commented on #672
Hi @BLCKPSTV ,

There currently isn't a way to export to JSON.

If we had to write an exporter, how do you think the format should look like? Would just an `Array` of the values work?

[2018-01-08 19:09] lcd1232 opened #673 "Update user_agent chrome version"
Right now provider **user_agent** can return chrome version between 13-15 which is too small (for example latest stable version is 63). I want to create PR to fix this.

[2018-01-08 19:36] fcurella commented on #673
Thanks @lcd1232 , please go ahead and submit your PR :)

[2018-01-09 14:40] thedrow opened #674 "Generate fake hostnames"
Occasionally I find the need to generate fake hostnames for testing.
I'd like faker to be able to generate valid hostname stings.

[2018-01-09 17:07] fcurella commented on #674
Would `.domain_name()` or `domain_work()` work for your case?

[2018-01-10 09:39] thedrow commented on #674
They might, but they are not the only valid hostnames available.
I'd expect `.hostname()` to generate strings like `db01.<domain_name>` or `worker01-mycluster`.
These kind of strings are what you'd expect from hostnames.

[2018-01-11 20:49] lcd1232 commented on #661
@BLCKPSTV just try to call function without arguments: `fake.email()`

[2018-01-11 20:56] kungfu71186 commented on #661
@BLCKPSTV You don't call it with that in there. Those are there to pass  in arguments. *args would be something like fake.email(1, 2, 'somestring') and kw = keyword, so kwargs would be something like fake.email(domain='gmail.com').

In this case email doesn't have anything like that: https://github.com/joke2k/faker/blob/891e000f06fbc2f13b16331a5577a8d9952281c6/faker/providers/internet/__init__.py#

[2018-01-12 15:17] #661 closed

[2018-01-12 21:52] #673 closed

[2018-01-14 22:22] BLCKPSTV commented on #672
Yeah i'm pretty new at this but maybe an array per local? would that be possible? Sorry for the late answer.

[2018-01-14 22:26] quintendewilde opened #681 "Fake per Local in IP adresses and Lon&Lat?"
Is it possible to create fake data but still corresponding to the locale its in.
There are Databases for example that show most used ip addresses per country here [here](https://lite.ip2location.com/).

It would make the faker more precise in it's 'fakeness' . Same for lon & lat. When I check these I get global location and not local locations?

[2018-01-15 20:29] Pomax opened #683 "prune the default word list a little to prevent really wrong sentences"
Some words from the [default "lorem" word set](https://github.com/joke2k/faker/blob/d9c4e87cbba9e345285eb24815199d0c9b56d156/faker/providers/lorem/en_US/__init__.py) can lead to really bad combinations have been removed in this PR so that people don't need to worry as they show a staging/test thing to their managers and suddenly being the center of a textual scandal. Before this PR, phrases like "

[2018-01-16 00:22] mdxs commented on #643
Guess this issue is closed, as the PR has been merged.

[2018-01-16 01:14] joke2k commented on #683
You're right.

Thank you

[2018-01-16 01:14] #683 closed

[2018-01-16 02:25] Jafnee commented on #665
faker should be lower case.

[code]

If you meant to import the class `Faker`, it should be

[code]

[2018-01-16 17:14] #643 closed

[2018-01-17 19:22] levkowetz opened #684 "new locale ro_RO in 0.8.9 generates <str> names under python2.7"
Under python2.7, first_name() produces `<unicode>` results under all locales I've tested
under 0.7.*, 0.8.*, up to 0.8.8.

0.8.9 introduced the locale ro_RO, which returns `<str>` results.  In a test setup which
generates persons with names from random locales, this can create problems with
functions that expect unicode parameters.

### Steps to reproduce

test_faker_first_name_type.py:

    #!/us

[2018-01-17 19:36] Dowwie opened #685 "possible acquisition of performant faker backed by Rust"
Your project is great.  I've used it.  It can be faster, though.  I'd like to offer work that I recently did to optimize many of the common fakes.  I released the project to pypi today:  pyfakers.

I'd gladly help you integrate the work with faker.  It's got a very straightforward api.

The reason for this offer is to improve the most common library used for fake data generation (faker) rather tha

[2018-01-17 22:03] fcurella commented on #685
Hi @Dowwie

Thanks for reaching out.

I'm interested in helping improving Faker's performance, but I'm not sure we can leverage the `fake-rs` project.

Could we somehow use it but provide our own data sets? `fake-rs` dataset look very limited in its locales

[2018-01-18 12:11] quintendewilde opened #686 "TypeError: must be str, not decimal.Decimal with lat & lon"
I'm getting a weird error when trying to run both lon&lat in a print message:

`    print("coordinates" + ":" + "[ " + fake.latitude() + "," + fake.longitude() + "] ")
`

[code]

[2018-01-18 12:53] kungfu71186 commented on #686
@BLCKPSTV geo location returns a decimal. You are trying to return print a decimal. You first need to convert to string first.

Also, instead of concatenating like that, try to use formatting instead.
`print("coordinates: [{}, {}]".format(fake.latitude(), fake.longitude()))`

Another note, if you want to find out more of the reason why this occurs, you can read up on type conversion. How to go fro

[2018-01-18 15:28] Dowwie commented on #685
That sounds like a straightforward pull request to enhance fake-rs, which
is the rust library I bind to in pyfakers.

On Jan 17, 2018 5:04 PM, "Flavio Curella" <notifications@github.com> wrote:

[2018-01-18 23:12] zdelagrange opened #687 "zh_CN (and possible other providers) return invalid results for domain_name"
Brief summary of the issue goes here.

### Steps to reproduce

f = Faker('zh_CN')
f.domain_name()

### Expected behavior

it should return valid domain names

### Actual behavior

he.cn is not a valid domain. he is in the list of second-level domains (https://en.wikipedia.org/wiki/.cn#Second-level_domains_of_provinces) and will cause failures in places where domains are being validated.

it's uncl

[2018-01-22 22:03] A-Edusei opened #689 "New To GitHub / Want To Contribute"
Hi I am new to contributing and GitHub in general. I came across this repo and thought it will be a great way to get some experience and help with contributing I have a few ideas of other “fake providers” that can be included in this repo. I’m not sure who or how to contact the author of this repo or where to begin. I would like to communicate with someone before forking and starting on this repo.

[2018-01-22 23:16] fcurella commented on #689
Hi Andrew,

Welcome to GitHub!

We only accept new providers if they cover a need that's common enough. We don't really have a formal definition of what 'common enough' means, other than "yeah, that seems like it could be useful to > 100 people"

You can start by looking at any of already existing providers. Pick one, make a copy, and make your changes :)

[2018-01-23 02:12] A-Edusei commented on #689
Hi Fcurella,

Firstly thank you, for the kind welcome.

Furthermore I will take your advice on looking at the existing providers and take it from there :) To be honest my Python skills are at a beginner level however I am looking to learn and improve it in order to contribute on this project. Also I would like to add, I am more than happy to consider ways that you think I can help contribute to th

[2018-01-29 07:09] tensigh opened #690 "Faker produces prefixes and suffixes in English names - how to remove?"
When generating multiple names in Fake Factory in English, there are randomly names that include a prefix (Mr., Dr., Miss, etc), suffixes (DDS, Jr., M.D., etc) or BOTH. Is there a way to turn this off and only get first and last name output?

[2018-01-29 17:01] zdelagrange opened #691 "feature request: concat locale providers"
I would like to include a way to include multiple locales into a faker instance. For example, it would be nice to instantiate Faker with a list of locales and then faker will provide data from both locales.

### Expected behavior

from faker import Faker
fake = Faker(['en_US', 'zh_CN'])
fake.name()
u'Andrea Barnes'
fake.name()
u'\u6797\u79c0\u73cd'

### Actual behavior

Faker only allows one local

[2018-01-29 17:38] kungfu71186 commented on #691
I was thinking about this issue as well. I've had instances where I wanted multiple locales.

It would probably be nice to have an include all type of thing, maybe an exclude as well.

Example:
`fake = Faker(exclude=['en_US', 'zh_CN'])`

Where if exclude is not None, then it will include all providers.

With the way it's setup now, it makes it a little difficult to do. For instance, if you had loc

[2018-01-29 17:41] zdelagrange commented on #691
to add some more info, one of our main use cases for using faker is to make our application unicode compatible. Currently, some of the providers have very thin coverage which cause foreign key issues since we are saving objects to our database. We're basically trying to increase the pool of provider data to choose from to get unicode support and avoid foreign key constraints.

@kungfu71186 i reall

[2018-01-29 17:55] kungfu71186 commented on #691
@zdelagrange Not sure how you are using faker as of right now, but it could be possible to kinda get around it for right now. I don't see a way to set the locale after creating a Faker instance. This could be one possibility.

Another possibility is to create a list of faker objects with different locales. Then randomly select one and then generate what you want.

For example,

[code]

this could

[2018-01-29 19:06] zdelagrange commented on #691
thanks for the suggestion @kungfu71186 , a proxy type object was what i was thinking as well. that's a fairly good plan for a simple implementation.

[2018-01-30 03:27] Kazanz commented on #332
Having same problem with Faker-0.8.10

[2018-01-31 11:04] ProvoK opened #692 "Url provider schemes selection"
It could be very nice to have the possibility to generate url with control over the scheme chosen.

### Steps to reproduce
[code]
### Expected behavior
Something similar to this
[code]
obviously this signature is purely for explaining the use case. Could be something like
[code]
or with a enum
[code]

I could start working on the issue, if this behavior is acceptable 🙂

[2018-02-02 00:10] doctorlard opened #694 "Locale provider for en_NZ"
Should be a simple job to clone the en_AU provider(s), and adjust. Might be nice to add plausible looking Māori placenames too.

[2018-02-06 19:12] ProvoK commented on #692
I think this issue can be closed now @fcurella

[2018-02-06 20:42] #692 closed

[2018-02-07 12:27] prophile opened #696 "`date_time_ad` nondeterministically errors"
Occasionally, `date_time_ad` raises `OverflowError: date value out of range`.

### Steps to reproduce

1. Substitute the random offset generation in `date_time_ad` (at the time of writing, this is `ts = self.generator.random.randint(-62135600400, end_datetime)`) for the specific value `ts = -62135596801`.
2. Call `date_time_ad()`

### Expected behavior

`date_time_ad` returns a value of type `date

[2018-02-07 12:52] quintendewilde opened #697 "Faker city in Faker country"
How do I call a fake_country followed by a fake_city. Where the city belongs in that country?
I've seen it work in the faker PHP deviation of faker. But I can't figure it out for the python or the JS version of faker.

All help would be really appreciated.

[2018-02-07 15:41] fcurella commented on #696
Thanks for the report @prophile

Your fix sounds reasonable to me. Could you submit a PR?

[2018-02-07 15:46] fcurella commented on #697
Since the provider is localized, wouldn't all cities belong to the same country?

For example:
[code]

[2018-02-09 14:08] #696 closed

[2018-02-12 17:17] frangiz opened #700 "Add the ability to specify the min and max age for ssn numbers."
Some locale specific ssn numbers are dependent on the age of the person. In some use cases it is handy to be able to specify the age interval for a generated ssn number.

[2018-02-12 17:56] #700 closed

[2018-02-12 22:59] BLCKPSTV commented on #697
I mean more if I have random country I get corresponding cities in that country?
Would that be possible? Otherwise I can try your example and do it for every country, which would be a lot of work.
@fcurella

[2018-02-14 22:06] phoebebright opened #702 "Fork with new provider not pulling down data directory"
I have created a new provider and in that directory I have a directory called "data" that contains some csv files.  Although I can see the directory in github, when I load from requirements, the data directory goes away.  Is this something to do with the setup of faker or is it my problem?!

### Steps to reproduce

See the fork with the data directory: https://github.com/phoebebright/faker/tree/ma

[2018-02-15 15:45] #569 closed

[2018-02-16 13:04] levkowetz commented on #684
The cause of this seems to be that `ro_RO/__init__.py` doesn't have `first_names` defined, so things fall back to `first_names` in `providers/person/__init__.py`, where it's defined as a regular string, no `u` prefix, and no import of `unicode_literals`.

[2018-02-16 15:26] fcurella commented on #684
Thank you for figuring this out. Fixed in 5c9fb8d295167e37f0d118bedb6ea71b0981b70f

[2018-02-16 15:26] #684 closed

[2018-02-16 16:20] levkowetz commented on #684
On 2018-02-16 16:26, Flavio Curella wrote:

Thank you!

	Henrik

[2018-02-17 21:36] turbowizard commented on #690
`from faker import Faker`
`fake = Faker()`
`print fake.first_name(), fake.last_name()`

[2018-02-18 08:16] tensigh commented on #690
Okay, thanks.

[2018-02-20 03:05] #690 closed

[2018-02-22 21:47] BLCKPSTV commented on #697
Or is this not possible?

[2018-02-22 22:29] fcurella commented on #697
This is currently not possible.

If we had a way to list a provider's available locales, you could have a that creates a different instance of `faker` on runtime.

Something like:

[code]

This begs the question, which language should the country name be in? And how would you specify it?

[2018-02-27 00:49] jphalip opened #711 "Credit card numbers' validity is not enforced"
Credit card numbers generated by `credit_card_number()` are not always valid.

### Steps to reproduce

[code]

### Expected behavior

The credit card numbers generated should always be valid ones.

### Actual behavior

Some returned numbers are invalid. For example: "3337083863794024", "3337957986872777", "3088184514627042". You can verify it with http://www.validcreditcardnumber.com/

The problem

[2018-02-27 16:37] fcurella commented on #711
I'm not sure where the numbers in https://github.com/joke2k/faker/blob/master/faker/providers/credit_card/__init__.py#L33-L34 comes from, but based on https://www.regular-expressions.info/creditcard.html, they look completely wrong and need to be fixed.

[2018-02-27 18:34] #711 closed

[2018-03-03 22:16] cloveras opened #714 "Norwegian SSN: Incorrect format"
The format for Norwegian SSN is 11 digits:
- The first six digits represent the date of birth in the order date, month, year
- The next three digits are an individual number, the third digit of which indicates gender – even numbers for women and odd numbers for men
- The last two digits are control digits

More details: http://www.skatteetaten.no/en/person/National-Registry/Birth-and-name-selectio

[2018-03-05 15:00] andrewkurban opened #715 "Can't get fake values"
I have some problem with generating fake cities and not only with cities.
[code]

The problem is that I can't receive a different city. But I didn't have a problem with first_name for example

[2018-03-05 16:38] fcurella commented on #714
Thanks for reporting this @cloveras

Could you submit a PR to add the `no_NO` ssn provider?

As for the specific implementation, I"m ok with the `gender`, `year`, `month` and `day` arguments, as long as they're all optional.

I'm less inclined to have an option to get only the last 5 digits. Python already provides a convenient way with string slicing, so you could just call `Faker('no_NO').ssn()[

[2018-03-05 16:53] cloveras commented on #714
Hi!

I'm not sure how to add a pull request in that way, sorry. I have reported an issue (more of a tip, really) here: https://github.com/magnuswatn/fodselsnummer/issues/2, which looks positive: "Hi. I wasn't aware of faker, I'll see if I can create a provider real quick. Thanks for the tip!"

Optional parameters are fine, of course, but great to have them, since Norwegian SSNs depend on all of th

[2018-03-05 16:58] fcurella commented on #714
I'll wait for a PR from @magnuswatn

[2018-03-05 18:43] magnuswatn commented on #714
I'll see what I can do. But I see that the Hungarian provider takes a single `dob` date string in the format "YYMMDD" instead of separate `year`, `month` and `day` arguments. Should the Norwegian one do the same, or is it acceptable that the localized providers differ?

[2018-03-05 18:49] fcurella commented on #714
@magnuswatn I'd rather be consistent and use the `YYMMDD` string for `no_NO` as well.

[2018-03-06 06:40] #715 closed

[2018-03-07 16:47] frangiz commented on #714
I have a pull request if @magnuswatn does not have time to fix one.

[2018-03-07 18:35] magnuswatn commented on #714
Your PR looks great @frangiz!

[2018-03-07 22:05] #593 closed

[2018-03-09 22:37] sblack4 opened #719 "from faker import Faker results in error "unsupported operand type(s) for /: 'int' and 'function'""
Brief summary of the issue goes here.

### Steps to reproduce

1. write python script that imports faker with "from faker import Faker"
2. run said script

OS: Windows 10
Python: 2.7

### Expected behavior

faker should be imported

### Actual behavior
throws error " unsupported operand type(s) for /: 'int' and 'function'"

[2018-03-12 07:13] gamesbook commented on #362
Any definite plans to include this?

[2018-03-12 07:15] gamesbook commented on #345
Perhaps a source such as a public-domain book could be used?

[2018-03-12 07:17] gamesbook opened #721 "Docs: How to extend override/existing providers?"
I could not see where in the docs it explains, or gives examples, on how to extend or override existing Faker providers to create custom, project-specific ones?

Any pointers?

[2018-03-12 12:22] damirazo opened #722 "Incorrect middle name in provider Person for locale ru_RU"
I found in the list of middle names for the female the incorrect meaning of "Егоровны". The correct value for this middle name must be "Егоровна" (it is on the list).

[2018-03-12 12:25] damirazo commented on #722
PR https://github.com/joke2k/faker/pull/723

[2018-03-12 15:28] fcurella commented on #362
Hi @gamesbook ,

I'm still waiting on someone to submit a PR. Feel free to take this on :)

[2018-03-12 15:36] fcurella commented on #722
Closed in #723

[2018-03-12 15:36] #722 closed

[2018-03-12 15:38] fcurella commented on #721
There some instruction in the README: https://github.com/joke2k/faker#how-to-create-a-provider

[2018-03-12 15:41] fcurella commented on #345
Only ff there's some external markov chain lib we can use and we use a public-domain.

I'm -1 on having to maintain to our own markov chain generator.

[2018-03-12 15:54] kungfu71186 commented on #345
Just to throw my 2 cents in as well. Actually looked into this before. Few issues I ran into:
1. You would need to pregenerate the chain if you wanted it to be fast. It's quite a bit of data actually. Not sure if it would be a good idea to include something like that.
2. If you don't pregenerate, it would be slow. And if you wanted 100s or 1000s of generated text, it could take a while unless you

[2018-03-12 15:58] swizzard commented on #345
I'm -1 on this feature as well, for the reasons mentioned above. I'm also
having a hard time envisioning a use case where something like this is
clearly superior to any of the zillions of Lorem Ipsum generators currently
available.

On Mon, Mar 12, 2018 at 10:54 AM, kungfu71186 <notifications@github.com>
wrote:

--
.

[2018-03-12 23:21] relwell opened #724 "`faker.utils` missing from latest release"
[code]

I've validated that this is running the latest version of faker, released today.

[2018-03-13 14:47] kivipe opened #725 "Faker cannot create artificial SSNs for FI_fi"
Finnish SSN has identification number that is between 002 and 899. Numbers starting with 9 are reserved for temporary use or cases when SSN is not known. It would be nice to be able to create these artificial numbers. What would be the best way to add this? I am thinking of adding a third named parameter to ssn:

`def ssn(self, min_age=18, max_age=90, artificial=False):`

[2018-03-13 15:14] fcurella commented on #724
I just tried, but I can't reproduce the issue.

I've run:

[code]

[2018-03-14 18:02] moggers87 opened #727 "text-unidecode is released under the Artistic license"
`text-unidecode` is released under the Artistic license v1.0, which is considered non-free by the FSF (and therefore not compatible with the GPL). I believe this clause is also of concern to commercial users of faker too:

Not being able to charge a fee for the software is problematic for those of us who are contractors, for example.

I realise there aren't really any good alternatives (`unidecode

[2018-03-14 19:57] fcurella commented on #727
According to https://en.wikipedia.org/wiki/Artistic_License, the Artistic license allows linking from code with a different license.

I think 'this Package' in 'You may not charge a fee for this Package' refers to `text-unidecode`, not to `Faker`.

[2018-03-14 20:56] moggers87 commented on #727
That's true of the any FOSS license, surely? The problem of license compatibility comes from two licenses having conflicting terms. E.g. you can't use Apache licensed code with a GPLv2 project due to Apache's patent clause conflicting with the GPLv2's "no additional restrictions" clause.

With regard to the Artistic license v1.0, I think it's clause 5 (the restrictions on commercial use) that make

[2018-03-14 20:57] moggers87 commented on #727
Also, it appears I was wrong about `isounidecode` - it does support Python 3, it just doesn't advertise it.

[2018-03-14 21:00] fcurella commented on #727
@moggers87 Can you send a PR taht replaces `text-unidecode` with `isounidecode`? I'm ok with replacing it ff the build passes on all configurations

[2018-03-29 00:47] fodra commented on #525
I agree this confused me a little bit.

At first I was doing this
[code]

Figured out you should not use the keywords if you want to specify value_types
[code]

I hope this helps someone going through the same issue.

[2018-03-29 15:04] fcurella commented on #525
the `value_types` argument in `pydict` is a variable-lenght number, ie it's specified as `*value_types`.

The correct way to call it would be something like:
[code]

[2018-04-06 06:22] paladini opened #736 "Add job random generators for pt_BR localization"
I would like to suggest to implement random job generators for pt_BR localization.

[2018-04-06 14:10] fcurella commented on #736
Closed in #737

[2018-04-06 14:10] #736 closed

[2018-04-13 09:30] felixonmars opened #742 "Missing git tag for 0.8.13 release"
It would be nice to keep PyPI releases and git tags in sync :)

[2018-04-13 14:07] fcurella commented on #742
sorry, forgot about that. Fixed in https://github.com/joke2k/faker/commit/d01234720d7fedc26b83fdd7d0eecefe652af20c so it shouldn't happen again.

[2018-04-13 14:07] #742 closed

[2018-04-29 17:51] aditya98ak opened #749 "ModuleNotFoundError: No module named 'faker'"
I've installed faker but upon running I am getting "ModuleNotFoundError: No module named 'faker' "
Please find the screenshots attached!
![image](https://user-images.githubusercontent.com/21143936/39409353-33cf785a-4c03-11e8-81d0-b790bcc118c7.png)
My script in which I am importing Faker!
![image](https://user-images.githubusercontent.com/21143936/39409369-6046dbd0-4c03-11e8-8638-1caa1a147cad.png)

[2018-04-30 13:50] aditya98ak commented on #749
It worked by python -m pip install Faker
Sorry, My bad!

[2018-04-30 13:50] #749 closed

[2018-05-08 09:22] sanga opened #751 "new release?"
Any chance we could get a new release? We're waiting on a couple of features that have recently been merged to master

[2018-05-08 14:54] fcurella commented on #751
I usually release monthly, around the 12th of the month. If you can wait a couple of days, I can release this Friday.

[2018-05-08 20:08] sanga commented on #751
Sure, that sounds fine. Thanks for this excellent lib!

[2018-05-11 15:14] fcurella commented on #751
I've just released `v0.8.14` to PyPI

[2018-05-11 15:14] #751 closed

[2018-05-11 15:16] sanga commented on #725
Should be closed now, I suppose.

[2018-05-11 15:16] sanga commented on #751
cheers!

[2018-05-11 15:17] fcurella commented on #725
Closed in https://github.com/joke2k/faker/commit/9d1facead29c3e9488a498de388d09eb570abfaf

[2018-05-11 15:17] #725 closed

[2018-05-12 19:33] jaraco opened #753 "faker spamming the logs"
I use faker in a short running script. Every time I initialize the faker, I see this in the logs:

[code]

I expect two things differently:

1. The logging at the info level should provide useful information. These info messages should probably be at the DEBUG level or so... since it's not particularly useful information except in debugging.
2. Since the default locale is en_US, all providers prov

[2018-05-14 17:27] fcurella commented on #753
It should be lowered to `DEBUG`. Feel free to submit a PR, and I'll merge it and release.

[2018-05-14 18:03] fcurella commented on #753
I've just released `v0.8.15` with all logging  statements set to `DEBUG`

[2018-05-16 06:33] greyli opened #754 "No handlers could be found for logger "faker.factory""
When using faker in Flask application, I got the message below in command line repeatedly:
[code]
It may related with this [commit](https://github.com/joke2k/faker/commit/407932e9bba801f76c607b2b15e2bb1c0ddf5f1a).

[2018-05-22 19:54] matheussilva97 commented on #457
this issue still need to include?

[2018-05-23 15:43] shex1627 opened #755 "Visa now supports 19 digits credit card length"
reference:
https://www.freeformatter.com/credit-card-number-generator-validator.html

[2018-05-30 13:06] rubs33 opened #758 "Generating invalid cpf (brazillian ssn)"
Faker is generating invalid checksum digits for cpf (brazillian ssn).

### Steps to reproduce

1. Create fake instance using localization "pt_BR"
1. Call fake.cpf()

### Expected behavior

It should generate a valid CPF.

### Actual behavior

It is generating a CPF with invalid checksum digits, in some cases.

[2018-06-04 02:00] alefhsousa opened #760 "Add method to generate a cell phone number to pt-BR"
Faker doesn't have a function to generate a cellphone to Brazilian.

Steps to reproduce
Create fake instance using localization "pt_BR"
Call fake.msisdn() or fake.phone_number()
Expected behavior
It should generate a cell phone number.

Actual behavior
Sometimes these methods return a "residential" numbers.

Reference difference between cell phones and residential numbers:

http://www.teleco.com.b

[2018-06-08 10:47] TZanke opened #761 "German address postcode + city missing"
Missing address with postalcode in german languages

### Steps to reproduce

fake.street_name()
 'Justina-Birnbaum-Allee'
fake.building_number()
 '75'
fake.city()
 'Halberstadt'
fake.postcode()
 '25842'

### Existing combinations:
fake.address()
 'Justina-Birnbaum-Allee 75\n25842 Halberstadt'

fake.street_address()
 'Justina-Birnbaum-Allee 75'

### Missing:

fake.missing_method_for_city_with_posta

[2018-06-08 11:01] TZanke opened #762 "German "Ortsteil" (district) missing"
Would be nice if each city can have districts.

For example:
city: Berlin
district: Kreuzberg

[2018-06-08 14:34] fcurella commented on #761
I don't think we have any address provider with a method for city + postal code, so this would apply to all address providers. Some will return zip + city, while other would return city + zip, depending on the locale. German languages may have different different formats (I'm thinking Germany vs Austria vs Switzerland)

Feel free to submit a PR for the `de_DE` and/or all other locales you know :)

[2018-06-08 14:36] fcurella commented on #762
feel free to add it to the `de_DE` address provider and submit a Pull Request :)